{% extends "_layouts/two-column.njk" %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}

  <h2 class="govuk-heading-m">Client company</h2>

  <table class="table--key-value">
    <tbody>
    <tr>
      <td>{{ company.name }}</td>
    </tr>
    <tr>
      <td>{{ company.address.country.name }}</td>
    </tr>
    <tr>
      <td>{{ companyInvestments.count|default('No', true) }} investment {{ 'project' | pluralise(companyInvestments.count) }} in the UK</td>
    </tr>
    {% if company.one_list_group_tier %}
      <tr>
        <td>{{ company.one_list_group_tier.name }}</td>
      </tr>
    {% endif %}
    {% if company.one_list_group_global_account_manager %}
      <tr>
        <td>
          Relationship manager: {{ company.one_list_group_global_account_manager.first_name }} {{ company.one_list_group_global_account_manager.last_name }}
        </td>
      </tr>
    {% endif %}
    </tbody>
  </table>

  {% set fdiHintLink %}
    <a href="{{ paths.projects }}/create/investment-type/info#fdi" target="info">Is this an FDI project?</a>
  {% endset %}

  {% set nonFdiHintLink %}
    <a href="{{ paths.projects }}/create/investment-type/info#non-fdi" target="info">Is this is a Non-FDI project?</a>
  {% endset %}

  {% set commitmentToInvest %}
    <a href="{{ paths.projects }}/create/investment-type/info#cti" target="info">Is this a Commitment to Invest project?</a>
  {% endset %}

  {% call Form(form | assign({
    buttonText: 'Continue',
    hiddenFields: {
      company_id: company.id
    }
  })) %}

    {{ MultipleChoiceField({
      type: 'radio',
      name: 'investment_type',
      label: 'Investment type',
      value: form.state['investment_type'],
      error: form.errors.messages['investment_type'],
      options: [
        {
          value: form.options.investmentTypesObj.fdi.value,
          label: form.options.investmentTypesObj.fdi.label,
          hint: fdiHintLink | safe,
          children:  [
            {
              macroName: 'MultipleChoiceField',
              name: 'fdi_type',
              label: 'Type of foreign direct investment (FDI)',
              error: form.errors.messages['fdi_type'],
              value: form.state['fdi_type'],
              options: form.options.fdi,
              initialOption: '-- Select an FDI type --',
              condition: {
                name: 'investment_type',
                value: form.options.investmentTypesObj.fdi.value
              },
              modifier: 'subfield'
            }
          ]
        },
        {
          value: form.options.investmentTypesObj.non_fdi.value,
          label: form.options.investmentTypesObj.non_fdi.label,
          hint: nonFdiHintLink | safe
        },
        {
          value: form.options.investmentTypesObj.commitment_to_invest.value,
          label: form.options.investmentTypesObj.commitment_to_invest.label,
          hint: commitmentToInvest | safe
        }
      ]
    }) }}

  {% endcall %}

{% endblock %}
