{% macro taskListItem(props) %}
  {% set id = props.id or props.name %}
  {% set isComplete = props.value or false %}

  <li class="task-list__item {{ 'complete' if isComplete }}">
    <span class="task-list__item-name" aria-describedby="{{ id | kebabCase }}-incomplete">
      {{ props.name }}
    </span>
    {% if isComplete %}
      <span class="task-list__item-complete">{{ props.value }}</span>
    {% else %}
      <strong class="task-list__item-incomplete" id="{{ id | kebabCase }}-incomplete">INCOMPLETE</strong>
    {% endif %}
  </li>
{% endmacro %}
