@import "../settings";

@mixin _style-badge($colour: $text-colour, $hover: $colour) {
  border: 2px solid rgba($text-colour, .15);
  border-radius: 4px;
  color: inherit;
  transition: 60ms;
  cursor: default;

  &:link,
  &:visited {
    color: $colour;
    cursor: pointer;
    border-color: rgba($colour, .2);

    &:hover {
      border-color: rgba($hover, .4);
    }

    &:focus {
      outline: 0;
      border-color: rgba($hover, .7);
    }

    &:active,
    &.is-selected {
      background-color: $hover;
      border-color: $hover;
      color: $white;
    }
  }
}

.c-badge {
  @include _style-badge($green);
  padding: ($baseline-grid-unit / 2) $baseline-grid-unit;
  text-decoration: none;
  font-weight: 600;

  &:link,
  &:visited {
    background-color: $white;
  }
}

.c-badge--secondary {
  @include _style-badge($purple);
}
