@import "../tools";

.c-entity__title {
  @include bold-font(20);
  margin: 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include media(tablet) {
    max-width: 80%;
  }
}

@include media(tablet) {
  .c-entity__header,
  .c-entity__content {
    @include clearfix;
  }

  .c-entity__title {
    float: left;
  }

  .c-entity__badges {
    float: right;
  }
}

.c-entity__code,
.c-entity__content,
.c-entity__badges {
  @include core-font(14);
}

.c-entity__badges {
  margin: 20 - 14px 0;
}

.c-entity__code {
  color: $grey-1;
}

// modifiers

.c-entity--block-link {
  margin-top: -$default-spacing-unit;
  margin-bottom: -$default-spacing-unit;
  padding: $default-spacing-unit;
  border: 2px solid $grey-2;
  display: block;

  &:focus,
  &:hover {
    background-color: $grey-4;
    border-color: $link-hover-colour;
    color: $link-hover-colour;
  }
}
