@import "../settings/colours";
@import "../settings/layout";
@import "../tools/mixins/layout";
@import "../tools/mixins/typography";

.local-nav {
  @include core-font(20);
  margin-left: -($gutter / 2);
  margin-right: -($gutter / 2);

  @include media(tablet) {
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.local-nav__link {
  display: block;
  padding: ($default-spacing-unit / 2) $default-spacing-unit;

  &:link,
  &:visited {
    color: $link-colour;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: $grey-4;
    color: $text-colour;
    background-color: $grey-4;
  }

  &.is-active {
    background: $govuk-blue;
    color: $white;
    text-decoration: none;
    font-weight: 600;
  }
}

.local-nav--background .is-active {
  background-color: $grey-1;
}

