@import "../tools/mixins";

.c-local-header {
  padding-bottom: $default-spacing-unit * 2;

  .c-local-header__container {
    border-top: 1px solid transparent;
  }

  .c-message-list:first-child {
    margin-top: $default-spacing-unit;
  }

  .c-message-list {
    margin-bottom: $default-spacing-unit;
  }

  .c-entity-search {
    margin-top: $baseline-grid-unit * 20.5;
    font-size: 19px;
  }

  .govuk-breadcrumbs {
    margin-bottom: $default-spacing-unit * 2;

    & + .govuk-grid-row {
      .c-entity-search {
        margin-top: $baseline-grid-unit * 3;
      }
    }
  }

  .c-progress {
    margin-top: $default-spacing-unit;
    margin-bottom: $default-spacing-unit * 1.5;
  }

  .c-progress__stage {
    &::before {
      outline-color: $grey-4;
    }
  }

  .c-meta-list {
    @include core-font(16);
    @include media(tablet) {
      display: table-row;
    }
  }

  .c-meta-list__item {
    @include media(tablet) {
      display: table-cell;
    }
  }

  .govuk-details--inline {
    @include media(tablet) {
      margin-left: $default-spacing-unit;
    }
  }

  .c-entity-search__aggregations {
    position: relative;
    top: $default-spacing-unit * 2;
  }
}

.c-local-header--relative {
  .c-local-header__heading {
    @include media(tablet) {
      margin-right: 25%;
    }
  }

  .c-local-header__content {
    @include media(tablet) {
      position: relative;
    }
  }

  .c-local-header__actions {
    @include media(tablet) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}


.c-local-header--light-banner {
  background-color: $grey-4;
}

.c-local-header--dark-banner {
  background-color: $grey-3;

  .govuk-width-container {
    border-top-color: $grey-2;
  }

  &.c-local-header--keyline {
    border-bottom: 1px solid $grey-2;
  }
}

.c-local-header--keyline {
  border-bottom: 1px solid $grey-3;
}

.c-local-header__heading-before {
  @include core-font(20);
  color: $grey-1;
}

.c-local-header__heading {
  @include bold-font(36);
  margin-bottom: 0;

  .c-badge--secondary {
    @include core-font(24);
    padding: $baseline-grid-unit ($baseline-grid-unit * 2);
    background-color: $white;
    color: $fuschia;
    border-color: $fuschia;
  }
}

* + .c-local-header__heading-after {
  margin-top: $default-spacing-unit / 2;
  margin-bottom: $default-spacing-unit * .75;
}

.c-local-header__actions {
  * + & {
    margin-top: $default-spacing-unit;
  }

  a {
    text-decoration: none;

    &:not(.govuk-button):hover {
      text-decoration: underline;
    }
  }

  @include media(tablet) {
    text-align: right;

    * + & {
      margin-top: 0;
    }
  }
}

.c-local-header__action {
  @include bold-font(16);
  display: block;
  margin: 0;

  & + & {
    margin-top: $default-spacing-unit / 2;
  }
}

.c-local-header__description {
  padding: $default-spacing-unit / 2;
  background-color: $grey-3;

  * + & {
    margin-top: $default-spacing-unit;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: $default-spacing-unit / 2;
    }

    a {
      margin-left: $default-spacing-unit / 2;
    }
  }

  & + * {
    margin-top: $default-spacing-unit;
  }
}

.c-local-header__description .subsidiaries {
  margin-left: 0;
}
