@import "../tools/mixins";

$_first-element-spacing: $default-spacing-unit * 3;

.c-local-header {
  @include clearfix;

  .l-container {
    border-top: 1px solid transparent;

    > .c-local-header__heading:first-child {
      margin-top: $_first-element-spacing;
    }

    > .c-message-list:first-child {
      margin-top: $default-spacing-unit;
    }
  }

  &[class*="c-local-header--"] {
    padding-bottom: $default-spacing-unit * 2;
  }

  .c-entity-search {
    margin-top: $baseline-grid-unit * 20.5;
    padding-bottom: $baseline-grid-unit * 6.25;
  }

  .c-breadcrumb {
    margin-top: $default-spacing-unit / 2;

    & + * {
      margin-top: $_first-element-spacing;
    }

    & + .c-entity-search {
      padding-bottom: 0;
    }
  }

  .c-message-list {
    margin-bottom: $default-spacing-unit;
  }

  .c-entity-search__aggregations {
    margin-bottom: -$default-spacing-unit * 2;
  }

  .c-progress {
    margin-top: $default-spacing-unit;
  }

  .c-progress__stage {
    &::before {
      outline-color: $grey-4;
    }
  }

  .c-meta-list {
    @include core-font(16);
  }

  .c-badge {
    @include core-font(24);
    padding: $baseline-grid-unit ($baseline-grid-unit * 2);
    background-color: $white;
    color: $fuschia;
    border-color: $fuschia;
  }
}

.c-local-header__heading-before {
  @include core-font(20);
  color: $grey-1;
}

.c-local-header__heading {
  @include bold-font(36);
  margin-bottom: 0;
}

* + .c-local-header__heading-after {
  margin-top: $default-spacing-unit / 2;
  margin-bottom: 0;
}

.c-local-header__actions {
  * + & {
    margin-top: $default-spacing-unit;
  }

  a {
    text-decoration: none;

    &:not(.button):hover {
      text-decoration: underline;
    }
  }

  @include media(tablet) {
    text-align: right;

    * + & {
      margin-top: 0;
    }
  }
}

.c-local-header__action {
  @include bold-font(16);
  display: block;
  margin: 0;

  & + & {
    margin-top: $default-spacing-unit / 2;
  }
}

.c-local-header--light-banner {
  background-color: $grey-4;
}

.c-local-header--dark-banner {
  background-color: $grey-3;

  .l-container {
    border-top-color: $grey-2;
  }

  &.c-local-header--keyline {
    border-bottom: 1px solid $grey-2;
  }
}

.c-local-header--keyline {
  border-bottom: 1px solid $grey-3;
}
