@import "../settings";

.c-messages {
  // TODO: remove in favour of assemblies that handle consistent spacing
  // between elements
  margin-top: $default-spacing-unit;

  &:focus {
    outline: none;
  }
}

.c-messages__item {
  @include bold-font(20);
  border: 5px solid;
  padding: $default-spacing-unit;
  position: relative;
  background-color: $white;

  @include media(tablet) {
    .js-Messages & {
      padding-right: 90px;
    }
  }

  + * {
    margin-top: $default-spacing-unit;
  }

  * {
    margin-top: 0;
    margin-bottom: 0;

    &:not(button) {
      font-weight: 700;
    }
  }

  > *:not([type="hidden"]) + * {
    margin-top: $default-spacing-unit;
    margin-bottom: 0;
  }
}

.c-messages__close {
  @include bold-font(16);
  display: table;
  line-height: 32px;
  text-decoration: none;

  @include media(tablet) {
    position: absolute;
    line-height: 32px;
    top: $default-spacing-unit;
    right: $default-spacing-unit;
  }

  &:hover {
    text-decoration: underline;
  }
}

.c-messages__item--info {
  border-color: $govuk-blue;
  color: $govuk-blue;
}

.c-messages__item--success {
  border-color: $button-colour;
  color: $button-colour;
}

.c-messages__item--warning {
  border-color: darken($orange, 20);
  color: darken($orange, 20);
}

.c-messages__item--error {
  border-color: $error-colour;
  color: $error-colour;
}
