@import "../settings";

.c-meta-item {
  display: inline-block;
}

.c-meta-item__label {
  color: $grey-1;
  display: inline-block;
}

.c-meta-item__value {
  color: $text-colour;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
  }

  &.is-selected {
    font-weight: 600;
  }
}
