@import "../settings";
@import "../tools";

.c-meta-list {
  display: table;
}

.c-meta-list__item {
  display: inline-block;

  & + & {
    margin-left: $baseline-grid-unit;
  }
}

.c-meta-list__item-label {
  color: $grey-1;
}

.c-meta-list__item-value {
  color: $text-colour;
  display: inline-block;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
  }

  &.is-selected {
    font-weight: 600;
  }
}

// Modifiers

.c-meta-list--inline {
  .c-meta-list__item-label {
    display: inline-block;
  }

  .c-meta-list__item {
    margin-top: $baseline-grid-unit;
    margin-right: $default-spacing-unit;
  }
}

.c-meta-list__item--stacked {
  display: block;

  & + & {
    margin-left: 0;
    margin-top: $default-spacing-unit / 2;
  }

  @include media(tablet) {
    display: inline-block;

    & + & {
      margin-left: $default-spacing-unit * 2;
      margin-top: 0;
    }
  }

  .c-meta-list__item-label {
    display: block;
  }
}

.c-meta-list--split {
  @include clearfix;
  width: 100%;

  .c-meta-list__item {
    display: block;
    margin-left: 0;
  }

  @include media(tablet) {
    .c-meta-list__item:nth-child(odd) {
      float: left;
      clear: both;
      max-width: 50%;
    }

    .c-meta-list__item:nth-child(even) {
      float: right;
      margin-right: 0;
    }
  }
}

.c-meta-list--stacked {
  display: block;

  .c-meta-list__item {
    display: block;
  }

  .c-meta-list__item + .c-meta-list__item {
    margin-left: 0;
  }
}
