@import "../settings/colours";
@import "../tools/functions/typography";

.metadata-list {
  @include core-font(14);
  color: $black;
}

.metadata-list__term {
  display: inline-block;

  &::after {
    content: ":";
  }
}

.metadata-list__value {
  display: inline-block;
  padding: 0 20px 0 0;
}

.metadata-list__value--block {
  display: block;
}

.metadata-list__link:link,
.metadata-list__link:visited {
  color: inherit;

  &.is-active {
    font-weight: 600;
  }
}

.metadata-list__link:hover {
  text-decoration: none;
}
