@import "../settings";
@import "../tools";

.c-results__sort {
  @include clearfix;
  @include core-font(16);

  margin-top: $default-spacing-unit / 2;
  margin-bottom: $default-spacing-unit / 2;

  .button {
    padding: 0 ($default-spacing-unit / 2);
    line-height: 30px;
    width: auto;
  }
}

.c-results__sort-form {
  margin-top: $default-spacing-unit / 2;
  display: flex;

  .c-form-group--inline {
    display: flex;
    align-items: center;
  }

  .c-form-group__label {
    margin-bottom: 0;
    margin-right: $default-spacing-unit / 2;
  }

  @include media(tablet) {
    margin-top: 0;
    float: right;
  }

  .button {
    margin-left: $default-spacing-unit / 2;
    margin-bottom: 2px;
  }
}

.c-results__page-summary {
  color: $grey-1;
  line-height: $default-spacing-unit * 2;
}
