@import "../settings";
@import "../tools";

// Deprecated

.results-summary {
  @include core-font(20);
  margin: 0 0 $gutter;
}

.c-results-summary {
  @include core-font(16);
}

.results-summary__count {
  @include bold-font(24);
}

.results-summary__query {
  @include bold-font(20);
}

// New

.c-results-summary__row {
  @include clearfix;
  padding-bottom: ($default-spacing-unit / 2);

  &:first-child {
    border-bottom: 5px solid $text-colour;
  }
  &:not(first-child) {
    padding-top: ($default-spacing-unit / 2);
    border-bottom: 1px solid $grey-2;
  }
}

.c-results-summary__intro {
  @include core-font(24);

  @include media(tablet) {
    float: left;
  }
}

.c-results-summary__actions {
  @include media(tablet) {
    float: right;
  }
}

.c-results-summary__count {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.c-results-summary__filters {
  @include core-font(16);
  clear: both;
}

.c-results-summary__filter {
  color: $text-colour;
  display: inline-block;
  position: relative;
  margin-top: $default-spacing-unit / 2;
  padding: 0 ($baseline-grid-unit * 6) 0 ($default-spacing-unit / 2);
  background: $grey-4;
  cursor: default;
}

.c-results-summary__filter-type {
  color: $grey-1;

  &::after {
    content: ":";
  }
}

.c-results-summary__filter-name {
  font-weight: 600;
}

.c-results-summary__filter-remove {
  position: absolute;
  top: $baseline-grid-unit;
  right: $baseline-grid-unit;
  text-decoration: none;
  float: right;
  font-size: 24px;
  line-height: .7;

  &:link,
  &:visited {
    color: $text-colour;
  }

  &:hover {
    color: $red;
  }
}

.c-results-summary__filter-remove-all {
  @include core-font(16);
  margin-top: $default-spacing-unit / (3 / 2);

  &:link,
  &:visited {
    color: $link-colour;
  }
}

.c-results-summary__page-count {
  color: $grey-1;
  line-height: $default-spacing-unit * 2;
}
