@import "../settings/colours";
@import "../settings/layout";
@import "../tools/mixins/typography";
@import "../tools/mixins/addons";

$search-button-width: 50px;

.search-bar {
  margin: $gutter 0;
}

.search-bar__wrapper {
  background-color: $grey-3;
  padding: ($gutter / 2);
}

.search-bar__input-wrapper {
  position: relative;
}

.search-bar__input {
  @include core-font(20);
  background-color: $white;
  border: 1px solid $grey-1;
  color: $black;
  box-sizing: border-box;
  width: 100%;
  padding: ($gutter / 8) $search-button-width ($gutter / 8) ($gutter / 8);
}

.search-bar__submit {
  @include hide-text($search-button-width, 100%);
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 0;
  background: $govuk-blue url("/images/search-button.png") no-repeat 8px 50%; // TODO convert to SVG
}
