@import "../settings/colours";
@import "../settings/layout";

.search-nav {
  list-style: none;
  background-color: $grey-3;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  margin-top: (-$gutter);
  margin-bottom: $gutter;
}

.search-nav__item {
  display: inline-block;
  padding: ($gutter / 4);
}

.search-nav__item--selected {
  background-color: $white;
}

.search-nav__item-count {
  margin-left: ($gutter / 8);
}
