@import "../settings/colours";
@import "../settings/layout";
@import "../tools/mixins";

.status-bar {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 8px solid $grey-2;

    @include media(tablet) {
      left: ($gutter / 2);
    }
  }
}

.status-bar__section {
  &:first-child {
    @include media(tablet) {
      padding-left: ($gutter / 2) + (($gutter / 3) * 2);
    }
  }

  dt {
    @include visually-hidden;
  }

  dd {
    margin: 5px 0;
  }
}

.status-bar__section-title {
  font-weight: 700;
}
