{
  "env": {
    "mocha": true
  },
  "globals": {
    "JSDOM": true,
    "formMacros": true,
    "expect": true,
    "proxyquire": true,
    "sinon": true,
    "nock": true,
    "rootPath": true,
    "globalReq": true,
    "globalRes": true
  },
  "rules": {
    "no-unused-expressions": 0
  },
  "overrides": [
    {
      "files": ["visual/**/*.js"],
      "rules": {
        "no-undef": "off"   
      }
    }
  ]
}
