{% extends "_base.njk" %}

{% block body_main_content %}
  {% block heading %}
    <h1 class="visually-hidden">Company Details</h1>
    <h2 class="page-heading">
      {{ headingName }}
      <span class="post-header">{{ headingAddress }}</span>
    </h2>
  {% endblock %}

  <div class="grid-row">
    {% block localNav %}
      <nav class="local-nav column-one-quarter">
        <a class="local-nav__link {% if tab == 'details' %}is-active{% endif %}" href="{{companyUrl}}">Company details</a>
        {% if company.id %}
          <a class="local-nav__link {% if tab == 'hierarchy' %}active{% endif %}" href="">Company hierarchy</a>
          <a class="local-nav__link {% if tab == 'contacts' %}active{% endif %}" href="/company-contacts/{{company.id}}">Contacts</a>
          <a class="local-nav__link {% if tab == 'interactions' %}active{% endif %}" href="/company-interactions/{{company.id}}">Interactions</a>
          <a class="local-nav__link {% if tab == 'documents' %}active{% endif %}" href="">Documents</a>
          <a class="local-nav__link {% if tab == 'exports' %}active{% endif %}" href="">Export</a>
          <a class="local-nav__link {% if tab == 'investment' %}active{% endif %}" href="">Investment</a>
        {% endif %}
      </nav>
    {% endblock %}

    <article class="column-three-quarters">
      {% block mainContent %}{% endblock %}
    </article>
  </div>
{% endblock %}
