{% extends "_layouts/two-column.njk" %}

{% block main_heading %}
  <h1 class="page-heading">
    {% if formData.id %}
      Edit company
    {% else %}
      Create a company
    {% endif %}
  </h1>
{% endblock %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}
  {% include "_messages.njk" %}
{% endblock %}

{% block javascript %}
  {{ super() }}
  {% block javascript_edit %}
    <script src="/javascripts/company-edit.bundle.js"></script>
  {% endblock %}
{% endblock %}
