{% extends "_layouts/two-column.njk" %}

{% block main_heading %}
  <h1 class="page-heading">
    {% if formData.id %}
      Edit company
    {% else %}
      Add company
    {% endif %}
  </h1>
{% endblock %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}
  {% include "_messages.njk" %}
{% endblock %}
