{% extends "layouts/ukti.html" %}
{% import "macros/trade.html" as trade %}

{% block main %}
  <h1 class="page-heading">Add new company</h1>
  <div class="grid-row">
    <div class="column-three-quarters">
      <div class="key-value key-value--vertical">
        <div id="business-type" class="key-value__key form-label-bold">Business type
          <a href="/company/add-step-1" class="button-link">Change</a>
        </div>
        <div class="key-value__value" aria-labelledby="business-type">{{companyTypeOptions[business_type]}}</div>
      </div>

      <form class="searchbar searchbar--show-label" action="/company/add-step-2/" method="get" role="search">
        <input type="hidden" name="business_type" value="{{business_type}}">
        <input type="hidden" name="country" value="{{country}}">

        <div class="form-group">
          <label class="form-label-bold" for="search-term">
            Find the parent company's Companies House record
            <span class="form-hint">Search for the registered company name, company number or address</span>
          </label>
          <div class="searchbar__wrapper">
            <input class="searchbar__input form-control" id="search-term" type="search" name="term" value="{{term}}" placeholder="Search for company">
            <input class="searchbar__submit" type="submit" value="Search">
          </div>
        </div>
      </form>

      {% if hits %}
        <ol class="results-list result-list--expandable">
          {% for hit in hits %}
            <li class="results-list__result">
              {% if hit.selected %}
                <a class="open" href="{{closeLink}}">
                  <h3 class="result-title">{{hit.name}}</h3>
                </a>
              {% else %}
                <a class="closed" href="{{hit.url}}">
                  <h3 class="result-title">{{hit.name}}</h3>
                </a>
              {% endif %}
              {% if hit.selected and chDetails %}
                <div class="panel panel-border-wide">
                  {{ trade.keyvaluetable(
                    chDetails,
                    labels=chDetailsLabels,
                    keyorder=chDetailsDisplayOrder,
                    class="table--small"
                  ) }}
                  <div class="table_footnote">Data from <strong>Companies House</strong></div>
                  <a class="button" href="{{addLink.url}}">{{addLink.label}}</a>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ol>

        <p class="infostrip">if you can't find the company you're looking for, try a different search term. check
          the company's website or any email correspondence that contains company registration details</p>

      {% endif %}
    </div>
    <div class="column-one-quarter"></div>
  </div>
{% endblock %}
