
{% if company.archived %}
  <p className='panel panel-border-narrow'>
    This company has been archived on {{company.archived_on | formatDate}} by {{company.archived_by.first_name}} {{company.archived_by.last_name}}. <br />
    Reason: {{company.archived_reason}}
  </p>
{% elif company.id %}
  <div class="archive-panel js-hidden">
    <p class="hidden archive-panel__show-button" aria-hidden="true">
      <a href="#">Archive company</a>
    </p>
    <form action="/company/archive/{{company.id}}" class="section archive-panel__form " method="POST">
      <input type="hidden" name="_csrf_token" value="{{csrfToken}}">
      <div class='form-group {% if query.archiveerror %}form-group-error{% endif %}' id="archived_reason-wrapper">
        <label class='form-label-bold' For='archived_reason'>
          Reason for archiving company
          {% if query.archiveerror %}
            <span class="error-message">{{query.archiveerror}}</span>
          {% endif %}
        </label>

        <select class='form-control' name='archived_reason'>
          <option value=''>Select a value</option>
          <option value='Company is dissolved'>Company is dissolved</option>
          <option value='Other'>Other</option>
        </select>
      </div>
      {{ trade.textbox("archived_reason_other", label="Other", error=errors.archived_reason_other) }}
      {{ trade.save(buttonText="Archive", backUrl=companyUrl) }}
    </form>
  </div>
  <script src="/javascripts/archiveform.bundle.js"></script>
{% endif %}
