{# Render the company number and address for a company entry #}
<div class="meta meta--ch">
  {{ hit.company_number }} -
  {% if hit.trading_address_1 %}
    {{hit.trading_address_1}},
    {% if hit.trading_address_2 %}
      {{hit.trading_address_2}},
    {% endif %}
    {% if hit.trading_address_town %}
      {{hit.trading_address_town}},
    {% endif %}
    {% if hit.trading_address_postcode %}
      <span class="meta--address__postcode">{{hit.trading_address_postcode}}</span>
    {% endif %}
  {% else %}
    {% if hit.registered_address_1 %}
      {{hit.registered_address_1}},
    {% endif %}
    {% if hit.registered_address_2 %}
      {{hit.registered_address_2}},
    {% endif %}
    {% if hit.registered_address_town %}
      {{hit.registered_address_town}},
    {% endif %}
    {% if hit.registered_address_postcode %}
      <span class="meta--address__postcode">{{hit.registered_address_postcode}}</span>
    {% endif %}
  {% endif %}
</div>
