{% extends "./index.html" %}
{% import "macros/trade.html" as trade %}

{% block tabmain %}
{% if contactTableData.length > 0 %}
  {{ trade.datatable(contactTableData, stripey=true, headings=tableLabels, columnorder=tableFieldOrder)}}
{% endif %}
<p class="actions">
  <a class="button button-secondary" href="/contact/add?companyId={{company.id}}">Add new contact</a>
</p>

{% if archivedContactTableData.length > 0 %}
  <h2 class="heading-large">Archived</h2>
  {{ trade.datatable(archivedContactTableData, stripey=true, headings=tableLabels, columnorder=tableFieldOrder)}}
{% endif %}

{% endblock %}
