{% extends "./index.html" %}
{% import "macros/trade.html" as trade %}

{% block tabmain %}
  <h2 class="heading-medium">Company contacts</h2>
{% if contacts.length > 0 %}
  <ul id="contact-list" class="lined-list">
    {% for contact in contacts %}
      <li class="lined-list__item">
        <div class="card contact">
          <a class="card__metadata" href="{{contact.url}}">{{contact.name}}</a>
          <div class="split-data">
            <div>
              <div class="card__metadata">{{contact.job_title}}</div>
              <div class="card__metadata">Added on {{contact.added}}</div>
            </div>
            <div>
              <div class="card__metadata">{{contact.telephone_number}}</div>
              <div class="card__metadata">{{contact.email}}</div>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p id="no-contact-warning" class="infostrip">There are no contacts at this time.</p>
{% endif %}

<p class="actions">
  <a id="add-contact-link" class="button button-secondary" href="{{addContactUrl}}">Add new contact</a>
</p>

{% if contactsArchived.length > 0 %}
  <h2 id="archived-title" class="heading-medium">Archived contacts</h2>
  <ul id="archived-contact-list" class="lined-list">
    {% for contact in contactsArchived %}
      <li class="line-list__item">
        <div class="card contact">
          <a class="card__metadata" href="{{contact.url}}">{{contact.name}}</a>
          <div class="card__metadata">{{contact.job_title}}</div>
          <div class="card__metadata">{{contact.reason}}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
