{% extends "./index.njk" %}
{% import "macros/trade.html" as trade %}

{% block tabmain %}
{% include "messages.njk" %}
<div class="split-header">
  <h2 class="heading-medium">Company contacts</h2>
  <a id="add-contact-link" class="button" href="{{addContactUrl}}">Add new contact</a>
</div>
{% if contacts.length > 0 %}
  <ul id="contact-list" class="lined-list">
    {% for contact in contacts %}
      <li class="lined-list__item">
        <div class="card expanding-card contact" id="{{contact.id}}">
          <a class="card__metadata expanding-card__button" href="#{{contact.id}}">
            <div class="expanding-card__indicator"></div>
            {{contact.name}}
          </a>
          <div class="split-data">
            <div>
              <div class="card__metadata"><strong>Job title:</strong> {{contact.job_title}}</div>
              <div class="card__metadata"><strong>Telephone:</strong> {{contact.telephone_number}}</div>
              <div class="card__metadata"><strong>Email:</strong> {{contact.email}}</div>
            </div>
            <div>
              <div class="card__metadata"><strong>Added on:</strong> {{contact.added}}</div>
            </div>
          </div>
          <div class="expanding-card__reveal">
            <table class="table--key-value table--plain">
              <tbody>
                <tr>
                  <th>Address</th>
                  <td>{{contact.address}}</td>
                </tr>
                <tr>
                  <th>Alternate phone</th>
                  <td>{{contact.telephone_alternative}}</td>
                </tr>
                <tr>
                  <th>Alternate email address</th>
                  <td>{{contact.email_alternative}}</td>
                </tr>
                <tr>
                  <th>Notes</th>
                  <td>{{contact.notes | safe}}</td>
                </tr>
              </tbody>
            </table>
            <p><a class="button button-secondary" href="{{contact.url}}">View contact details</a></p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if contacts.length == 0 and contactsArchived.length == 0 %}
  <p id="no-contact-warning" class="infostrip">There are no contacts at this time. <a href="{{addContactUrl}}">Add a new contact</a></p>
{% endif %}

{% if contactsArchived.length > 0 %}
  <h2 id="archived-title" class="heading-medium">Archived contacts</h2>
  <ul id="archived-contact-list" class="lined-list">
    {% for contact in contactsArchived %}
      <li class="lined-list__item">
        <div class="card contact">
          <a class="card__metadata" href="{{contact.url}}">{{contact.name}}</a>
          <div class="split-data">
            <div>
              <div class="card__metadata"><strong>Job title:</strong> {{contact.job_title}}</div>
              <div class="card__metadata"><strong>Reason:</strong> {{contact.reason}}</div>
              <div class="card__metadata"><strong>Archived on:</strong> {{contact.archived_on}}</div>
            </div>
            <div>
              <div class="card__metadata"><strong>Archived by:</strong> {{contact.archived_by}}</div>
            </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}


<script src="/javascripts/expanding-cards.bundle.js"></script>
{% endblock %}
