{% extends "./_base.njk" %}
{% import "macros/trade.html" as trade %}

{% block mainContent %}
  {% include "_messages.njk" %}

  <h2 class="heading-medium">Company summary</h2>

  <div class="dark-panel">
    {{ trade.keyvaluetable(chDetails, labels=chDetailsLabels, keyorder=chDetailsDisplayOrder, readonly=true) }}
    <p class="footnote">Powered by data from <strong>Companies House</strong></p>
  </div>

  <p><a href="{{addUrl}}" class="button">Add</a></p>
{% endblock %}
