{% extends "company/_layout-view.njk" %}

{% block main_grid_right_column %}
  {{ super() }}

  <h2 class="heading-medium">Company summary</h2>

  <div class="dark-panel">
    {{ keyvaluetable(chDetails, labels=chDetailsLabels, keyorder=chDetailsDisplayOrder, readonly=true) }}
    <p class="footnote">Powered by data from <strong>Companies House</strong></p>
  </div>

  <p><a href="{{addUrl}}" class="button">Add</a></p>
{% endblock %}
