{% extends "./index.html" %}
{% import "macros/trade.html" as trade %}

{% block tabmain %}
  {% include "messages.html" %}

  <h2 class="heading-medium">Company summary</h2>

  {% if chDisplay %}
    <div class="dark-panel">
      {{ trade.keyvaluetable(chDisplay, labels=chDetailLabels, keyorder=chDetailsDisplayOrder, readonly=true) }}
      <p class="footnote">Powered by data from <strong>Companies House</strong></p>
    </div>
  {% endif %}

  {% if companyDisplay %}
    {{ trade.keyvaluetable(companyDisplay, stripey=true, labels=companyDetailLabels, keyorder=companyDetailsDisplayOrder, id="cdms-details") }}
  {% endif %}

  <p><a href="/company/{{source}}/{{company.id}}/edit" class="button">Edit</a></p>
{% endblock %}
