{% extends "layouts/ukti.html" %}

{% block main %}
<h1 class="visually-hidden">Company Details</h1>
<h2 class="page-heading">
    {{ headingName }}
    <span class="post-header">{{ headingAddress }}</span>
</h2>

{% if query.archive %}
  {% include "company/archive.html" %}
{% else %}
  {% if company.id %}
    <p>
      <a href="{{archiveUrl}}">Archive company</a>
    </p>
  {% endif %}
{% endif %}
<div class="left-nav-container">
  <div class="left-nav">
    <nav>
      <a class="{% if tab == 'details' %}active{% endif %}" href="{{companyUrl}}">Company details</a>
      <a class="{% if tab == 'hierarchy' %}active{% endif %}" href="">Company hierarchy</a>
      <a class="{% if tab == 'contacts' %}active{% endif %}" href="/company-contacts/{{id}}">Contacts</a>
      <a class="{% if tab == 'interactions' %}active{% endif %}" href="/company-interactions/{{id}}">Interactions</a>
      <a class="{% if tab == 'documents' %}active{% endif %}" href="">Documents</a>
      <a class="{% if tab == 'exports' %}active{% endif %}" href="">Export</a>
      <a class="{% if tab == 'investment' %}active{% endif %}" href="">Investment</a>
    </nav>
  </div>
  <div class="right-content">
    {% block tabmain%}{% endblock %}
  </div>
</div>

{% endblock %}
