{% extends "layouts/ukti.html" %}
{% block head_script %}
<script>
    window.company = {{ company | dump | safe }}
    window.csrfToken= '{{ csrfToken }}'
</script>
{% endblock %}

%}
{% block main %}
<h1 class="visually-hidden">Company Details</h1>
<h2 class="page-heading">
    {% if company.id %}<span class="pre-header">Company ref: TBD</span>{% endif %}
    {{ headingName }}
    <span class="post-header">{{ headingAddress }}</span>
</h2>
{{ company | log | safe }}

<div class="left-nav-container">
  <div class="left-nav">
    <nav>
      <a class="{% if tab == 'details' %}active{% endif %}"
         href="/company/{{source}}/{{id}}/details">Details</a>
      <a class="{% if tab == 'contacts' %}active{% endif %}"
         href="/company/{{source}}/{{id}}/contacts">Contacts</a>
      <a class="{% if tab == 'interactions' %}active{% endif %}" href="/company/{{source}}/{{id}}/interactions">Interactions</a>
      {% if company.id %}
          <a class="{% if tab == 'exports' %}active{% endif %}" href="/company/{{source}}/{{id}}/export">Export</a>
      {% endif %}
    </nav>
  </div>
  <div class="right-content">
    {% block tabmain%}{% endblock %}
  </div>
</div>

{% endblock %}
