@mixin flexWrap() {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav.sub-navigation {
  border-bottom: 1px solid #c6c8c8;
  @include govuk-responsive-margin(4, "bottom");
  ol {
    display: flex;
    justify-content: space-around;
    li {
      a {
        color: $govuk-blue;
        text-decoration: none;
      }
      &.active {
        padding-bottom: 7px;
        border-bottom: 7px solid $govuk-blue;
      }
    }
  }
}

nav.govuk-tabs {
  margin-bottom: 15px;
}

.large-capital-profile {
  details:last-child {
    border-bottom: 2px solid lightgray;
  }
}

form {
  &.investor-details-edit {
    label {
      font-weight: bold;
    }
    .investor-description {
      span {
        display: block;
      }
    }
  }
  &.investor-requirements-edit {
    .asset-classes-of-interest {
      border: 1px solid $govuk-border-colour;
      position: relative;
      padding: 20px 15px 0 10px;
      .label {
        position: absolute;
        top: -10px;
        left: 7px;
        color: $govuk-secondary-text-colour;
        background: $govuk-body-background-colour;
        padding-left: 10px;
        padding-right: 10px;
      }
      .email {
        text-decoration: underline;
        color: $govuk-blue;
      }
    }
  }
}

@include govuk-media-query($from: tablet) {
  form {
    &.investor-details-edit {
      width: 75%;
    }
    &.investor-requirements-edit  {
      .restrictions,
      .deal-ticket-sizes {
        @include flexWrap;
        width: 660px;
        height: 152px;
      }
      .types-of-investment {
        @include flexWrap;
        height: 205px;
      }
      .energy-and-infrastructure {
        @include flexWrap;
        border-left: 7px solid $govuk-border-colour;
        padding-left: 10px;
        padding-top: 12px;
        margin-bottom: 15px;
        width: 654px;
        height: 414px;
        .label {
          top: -14px;
        }
      }
    }
  }
}
