@mixin flexWrap() {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav.sub-navigation {
  border-bottom: 1px solid #c6c8c8;
  @include govuk-responsive-margin(4, "bottom");
  ol {
    display: flex;
    justify-content: space-around;
    li {
      a {
        color: $govuk-blue;
        text-decoration: none;
      }

      &.active {
        padding-bottom: 7px;
        border-bottom: 7px solid $govuk-blue;
      }
    }
  }
}

nav.govuk-tabs {
  margin-bottom: 15px;
}

.large-capital-profile {
  details:last-child {
    border-bottom: 2px solid #d3d3d3;
  }
}

form {
  &.investor-details-edit {
    label {
      font-weight: bold;
    }

    .investor-description {
      span {
        display: block;
      }
    }
  }

  &.investor-requirements-edit {
    .asset-classes-of-interest {
      border: 1px solid $govuk-border-colour;
      position: relative;
      padding: 25px 0 0 10px;
      .label {
        position: absolute;
        top: -10px;
        left: 7px;
        color: $govuk-secondary-text-colour;
        background: $govuk-body-background-colour;
        padding-left: 10px;
        padding-right: 10px;
      }

      .notice {
        margin-top: 10px;
        span {
          text-decoration: underline;
          color: $govuk-blue;
        }
      }

      .govuk-form-group {
        margin-bottom: 10px;
      }

      .real-estate,
      .energy-and-infrastructure {
        border-left: 7px solid $govuk-border-colour;
        padding-left: 10px;
      }
    }
  }

  &.location-edit {
    label {
      font-weight: bold;
    }

    .c-form-fieldset__add-another {
      margin-top: $default-spacing-unit;
    }

    .govuk-form-group {
      margin-top: $default-spacing-unit;
    }
  }
}

@include govuk-media-query($from: tablet) {
  form {
    &.investor-details-edit {
      width: 75%;
    }

    &.investor-requirements-edit  {
      .deal-ticket-sizes {
        @include flexWrap;
        width: 34.7em;
        height: 8em;
      }

      .asset-classes-of-interest {
        .real-estate,
        .energy-and-infrastructure {
          @include flexWrap;
          padding-top: 12px;
          margin-bottom: 10px;
          width: 34em;
          height: 22em;
          .label {
            top: -14px;
          }
        }

        .real-estate {
          height: 24.5em;
        }

        .govuk-form-group {
          margin-bottom: 0;
        }
      }
    }
  }
}
