nav.sub-navigation {
  border-bottom: 1px solid #c6c8c8;
  @include govuk-responsive-margin(4, "bottom");
  ol {
    display: flex;
    justify-content: space-around;
    li {
      a {
        color: $govuk-blue;
        text-decoration: none;
      }
      &.active {
        padding-bottom: 7px;
        border-bottom: 7px solid $govuk-blue;
      }
    }
  }
}

nav.govuk-tabs {
  margin-bottom: 15px;
}

.large-capital-profile {
  details:last-child {
    border-bottom: 2px solid lightgray;
  }
}

@include govuk-media-query($from: tablet) {
  form.investor-details-edit {
    width: 75%;
  }
}
