{% extends "_layouts/form-wizard-step.njk" %}

{% block fields %}
  {% if not assignees.length %}

    {% call Message({ type: 'info', element: 'div' }) %}
      <p>Advisers in the market must be added before hours can be estimated.</p>

      <p>
        <a href="assignees">Add advisers</a>
      </p>
    {% endcall %}

  {% else %}

    {% set key = 'assignee_time' %}
    {% set defaultProps = options.fields[key] %}
    <p>Estimated hours will be used to calculate the cost of the order.</p>

    <p>All work will be charged at £55 per hour.</p>

    <table class="c-answers-summary">
      <thead>
        <tr>
          <th class="c-answers-summary__control" colspan="2">Estimated hours</th>
        </tr>
      </thead>
      <tbody>
        {% for assignee in assignees %}
          {% set props = {} | assign(defaultProps, {
            name: key,
            idSuffix: assignee.adviser.id,
            label: translate(defaultProps.label) + ' for ' + assignee.adviser.name,
            value: values[key][loop.index0] or (assignee.estimated_time | formatDuration('hh:mm') if assignee.estimated_time),
            error: errors[key].message,
            isLabelHidden: true
          }) %}
          <tr>
            <th class="c-answers-summary__title">{{ assignee.adviser.name }}</th>
            <td class="c-answers-summary__control">
              {{ callAsMacro(props.fieldType)(props) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td class="c-answers-summary__title c-answers-summary__title--unstyled">
            <a href="assignees">Edit advisers</a>
          </td>
        </tr>
      </tfoot>
    </table>

  {% endif %}
{% endblock %}
