{% extends "_layouts/form-wizard-step.njk" %}

{% block fields %}
  {% if assignees.length %}

    <p>Send completed work described in the quote directly to the client by email.</p>

    <p>Complete the order after all work and reports have been delivered to the client.</p>

    <h2 class="heading-medium">Recording actual hours worked on the order</h2>

    <p>This information will not be used to analyse individual performance.</p>

    <p>The actual hours worked can be different to those in the original estimate.</p>

    <p>This information won’t be shared with the client, and won’t change how much the client has to pay for the work.</p>

    {% set key = 'assignee_actual_time' %}
    {% set defaultProps = options.fields[key] %}

    <table class="c-answers-summary">
      <thead>
        <tr>
          <th></th>
          <th class="c-answers-summary__content">Original estimate</th>
          <th class="c-answers-summary__control">Hours spent</th>
        </tr>
      </thead>
      <tbody>
        {% for assignee in assignees %}
          {% set props = {} | assign(defaultProps, {
            name: key,
            idSuffix: assignee.adviser.id,
            label: translate(defaultProps.label) + ' for ' + assignee.adviser.name,
            value: values[key][loop.index0] or (assignee.actual_time / 60 if assignee.actual_time),
            error: errors[key].message,
            isLabelHidden: true
          }) %}
          <tr>
            <th class="c-answers-summary__title">
              {{ assignee.adviser.name }}
            </th>
            <th class="c-answers-summary__content">
              {{ assignee.estimated_time | humanizeDuration }}
            </th>
            <td class="c-answers-summary__control">
              {{ callAsMacro(props.fieldType)(props) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}
{% endblock %}
