{% extends "_layouts/form-wizard-step.njk" %}

{% block fields %}
  {% set billingAddress = [
    order.billing_address_1 | escape,
    order.billing_address_2 | escape,
    order.billing_address_town | escape,
    order.billing_address_county | escape,
    order.billing_address_postcode | escape,
    order.billing_address_country.name | escape
  ] | removeNilAndEmpty %}

  {% set address = company.registered_address if company.registered_address else company.address %}

  <div class="c-form-group">
    <p class="c-form-group__label">
      <span class="c-form-group__label-text">
        Billing address
      </span>
    </p>

    <div>
      {% if billingAddress | length %}
        {{ billingAddress | join('<br>') | safe }}
        <br>
        <a href="billing-address?returnUrl={{ CURRENT_PATH }}">Change address</a>
      {% else %}
        {{ address | formatAddress('<br />') | safe }}
        {% call Message({ type: 'muted' }) %}
          The company’s address is currently being used for the invoice.
          <br>
          <a href="billing-address?returnUrl={{ CURRENT_PATH }}">Add a different billing address</a>
        {% endcall %}
      {% endif %}
    </div>
  </div>

  {{ super() }}
{% endblock %}
