{% extends "_layouts/form-wizard-step.njk" %}

{% block fields %}
  {% set billingContact = [
    order.billing_contact_name | escape,
    order.billing_email | escape,
    order.billing_phone | escape
  ] | removeNilAndEmpty %}

  {% if billingContact | length %}
    <div class="c-form-group">
      <p class="c-form-group__label">
        <span class="c-form-group__label-text">
          Billing contact
        </span>
      </p>

      <p>
        {{ billingContact | join('<br>') | safe }}
      </p>
    </div>
  {% endif %}

  {% set billingAddress = [
    order.billing_address_1 | escape,
    order.billing_address_2 | escape,
    order.billing_address_town | escape,
    order.billing_address_county | escape,
    order.billing_address_postcode | escape,
    order.billing_address_country.name | escape
  ] | removeNilAndEmpty %}

  {% set registeredAddress = [
    company.registered_address_1 | escape,
    company.registered_address_2 | escape,
    company.registered_address_town | escape,
    company.registered_address_county | escape,
    company.registered_address_postcode | escape,
    company.registered_address_country.name | escape
  ] | removeNilAndEmpty %}

  {% set tradingAddress = [
    company.trading_address_1 | escape,
    company.trading_address_2 | escape,
    company.trading_address_town | escape,
    company.trading_address_county | escape,
    company.trading_address_postcode | escape,
    company.trading_address_country.name | escape
  ] | removeNilAndEmpty %}

  <div class="c-form-group">
    <p class="c-form-group__label">
      <span class="c-form-group__label-text">
        Billing address
      </span>
    </p>

    <div>
      {% if billingAddress | length %}
        {{ billingAddress | join('<br>') | safe }}
        <br>
        <a href="billing-address?returnUrl={{ CURRENT_PATH }}">Change address</a>
      {% else %}
        {{ (tradingAddress if tradingAddress|length else registeredAddress) | join('<br>') | safe }}
        {% call Message({ type: 'muted' }) %}
          The company's {{ 'trading' if tradingAddress|length else 'registered' }} address is currently being used for the invoice.
          <br>
          <a href="billing-address?returnUrl={{ CURRENT_PATH }}">Add a different billing address</a>
        {% endcall %}
      {% endif %}
    </div>
  </div>

  {{ super() }}
{% endblock %}
