{% extends "_layouts/form-wizard-step.njk" %}

{% block fields %}
  {% call Message({ type: 'info', element: 'div' }) %}
    <p>The billing country has been changed.</p>
    <p>Confirm the VAT status for {{ order.billing_address_country.name }}.</p>
  {% endcall %}

  {{ super() }}
{% endblock %}
