@import "../tools/mixins/layout";

.l-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $default-spacing-unit;
  padding-right: $default-spacing-unit;
  max-width: $site-width;

  @include media(tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.column-two-quarters,
.column-three-quarters {
  > h1,
  > h2 {
    &:first-child {
      @include media(tablet) {
        margin-top: 0;
      }
    }
  }
}
