@import "../tools/mixins/addons";

.u-visually-hidden {
  @include visually-hidden;
}

.u-hidden {
  display: none !important;
}

.u-js-hidden {
  .js-enabled & {
    display: none !important;
  }
}

.u-no-js-hidden {
  .no-js & {
    display: none !important;
  }
}

.u-print-hide {
  @media print {
    display: none !important;
  }
}

.u-highlight {
  background-color: $yellow-25;
  padding: 2px;
  margin: -2px;
}

.u-clearfix {
  @include clearfix;
}

.u-float-left {
  @include media(tablet) {
    float: left !important;
  }
}

.u-float-right {
  @include media(tablet) {
    float: right !important;
  }
}

.u-loading {
  &::before {
    animation: growRight 3s;
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-top: 2px solid $light-blue;
    border-bottom: 1px solid rgba($white, .6);
  }
}

@keyframes growRight {
  0% {
    right: 100%;
  }
  20% {
    right: 60%;
  }
  100% {
    right: 0;
  }
}
