@import "../tools/mixins/addons";

.u-visually-hidden {
  @include visually-hidden;
}

.u-hidden {
  display: none !important;
}

.u-js-hidden {
  .js-enabled & {
    display: none !important;
  }
}

.u-no-js-hidden {
  .no-js & {
    display: none !important;
  }
}

.u-print-hide {
  @media print {
    display: none !important;
  }
}

.u-highlight {
  font-weight: bold !important;
}

.u-clearfix {
  @include clearfix;
}

.u-float-left {
  @include media(tablet) {
    float: left !important;
  }
}

.u-float-right {
  @include media(tablet) {
    float: right !important;
  }
}
