version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: "monday"
    time: "00:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: govuk-colours
    versions:
    - ">= 0"
  - dependency-name: govuk-frontend
    versions:
    - ">= 0"
  - dependency-name: image-webpack-loader
    versions:
    - ">= 0"
  - dependency-name: "@storybook/addon-a11y"
    versions:
    - ">= 0"
  - dependency-name: "@storybook/addon-actions"
    versions:
    - ">= 0"
  - dependency-name: "@storybook/addon-knobs"
    versions:
    - ">= 0"
  - dependency-name: "@storybook/addons"
    versions:
    - ">= 0"
  - dependency-name: "@storybook/react"
    versions:
    - ">= 0"
  - dependency-name: cypress
    versions:
    - 6.1.0
  # ignore all GitHub linguist patch updates
  - dependency-name: "github-linguist"
    update-types: ["version-update:semver-patch"]

  # The latest versions of these dependencies cause issues with IE
  - dependency-name: core-js
    versions:
    - "> 3.9.1"
  - dependency-name: react-markdown
    versions:
    - "> 5.0.3"
  rebase-strategy: disabled
