version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: "weekly"
    day: "monday"
    time: "00:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  ignore:
# When updating this list please ensure that a ticket for unblocking the update has been added to the TechEx backlog.
  - dependency-name: govuk-frontend # TET-219
    versions:
    - ">= 0"
  - dependency-name: react-redux # TET-154
    versions:
    - "> 7.2.8"
  - dependency-name: react-router-dom # TET-34
    versions:
    - "> 5.3.0"
  - dependency-name: redis # TET-131
    versions:
    - "> 3.1.2"
  - dependency-name: axios # TET-354
    versions:
    - "> 0.27.2"
  - dependency-name: cypress # TET-372
    versions:
    - "> 11.2.0"
  - dependency-name: jsdom # TET-371
    versions:
      - "> 20.0.3"
  - dependency-name: formidable 
    versions:
      - "> 2.1.2"

  # These are part of dependency groups and should be updated via the relevant script.
  - dependency-name: "@storybook/addon-a11y"
    versions:
    - ">= 0"
  - dependency-name: "@storybook/addon-essentials"
    versions:
    - ">= 0"
  - dependency-name: "@storybook/react"
    versions:
    - ">= 0"
  - dependency-name: "@storybook/builder-webpack5"
    versions:
    - ">= 0"
  - dependency-name: "@storybook/manager-webpack5"
    versions:
    - ">= 0"
  - dependency-name: "@sentry/node"
    versions:
    - ">= 0"
  - dependency-name: "@sentry/react"
    versions:
    - ">= 0"
  - dependency-name: "@sentry/tracing"
    versions:
    - ">= 0"
  # ignore all GitHub linguist patch updates
  - dependency-name: "github-linguist"
    update-types: ["version-update:semver-patch"]
  rebase-strategy: disabled
