<!DOCTYPE html>
<html lang=en class=no-js>
<head>
  <title>Prototypes</title>
  <!--[if IE]>
  <link rel="shortcut icon" href="http://localhost:3000/images/favicon.ico" type="image/x-icon"><![endif]-->
  <link rel=apple-touch-icon href=http://localhost:3000/images/apple-touch-icon.png>
  <link rel=icon href=http://localhost:3000/images/favicon-192x192.png type=image/png>
  <link href=http://localhost:3000/css/styles.css media="screen, print" rel=stylesheet>
  <!--[if lt IE 9]>
  <script src="http://localhost:3000/html5shiv.min.js"></script>
  <![endif]-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
</head>
<body>
<header class=global-header aria-label="global header">
  <div class=global-header__inner>
    <div class=global-header__site-title>
      <a href=/ class=global-header__link><span class=global-header__logo><span class=global-header__site-name>Department for International Trade</span><span class=global-header__service-name>Data Hub</span></span></a><span class=phase-badge>BETA</span>
    </div>
    <nav aria-label="global nav">
      <ul class=proposition-menu>
        <li class=proposition-menu__item><a href=/support class=proposition-menu__link>Support</a></li>
        <li class=proposition-menu__item><a href=/profile class=proposition-menu__link>DIT Staff</a></li>
        <li class=proposition-menu__item><a href=/oauth/sign-out class=proposition-menu__link>Sign out</a></li>
      </ul>
    </nav>
  </div>
</header>
<nav class=c-global-nav aria-label="global navigation" id="global-nav">
  <div class="c-global-nav__container l-container">
    <a href="" class="c-global-nav__link" v-for="item in [
      { text: 'Companies', active: true },
      { text: 'Contacts' },
      { text: 'Events' },
      { text: 'Interactions and services' },
      { text: 'Investment projects' },
      { text: 'Orders (OMIS)' },
      { text: 'MI dashboards' },
    ]" :class="{ 'is-active': item.active }">{{ item.text }}</a>
  </div>
</nav>
<main class=main-content id=main-content>
  <header class="c-local-header c-local-header--light-banner" aria-label="local header">
    <div class=l-container>
      <nav class=c-breadcrumb aria-label=Breadcrumbs>
        <ul class=c-breadcrumb__list itemscope itemtype=http://schema.org/BreadcrumbList>
          <li class=c-breadcrumb__list-item itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a
            href=/ class=c-breadcrumb__link itemprop=url><span itemprop=name>Home</span></a></li>
          <li class=c-breadcrumb__list-item itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a
            href=/companies class=c-breadcrumb__link itemprop=url><span itemprop=name>Companies</span></a></li>
          <li class=c-breadcrumb__list-item itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a
            href=#main-content class="c-breadcrumb__link is-active" itemprop=url><span
            itemprop=name>Fancy Dress Construction Ltd</span></a></li>
        </ul>
      </nav>
      <div class=grid-row>
        <div class=column-full>
          <h1 class=c-local-header__heading>Add a location for Fancy Dress Construction Ltd</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="main-content__inner l-container">
    <div class=grid-row>
      <article class=column-three-quarters id="blah">
        <p>Blah blah blah</p>
        <form @submit.prevent="moveToNextStep('set-type.html')">
          <div id="group-field-registered_address_pcode_lookup" class="c-form-group c-form-group--short c-form-group--PostcodeLookup">
            <label class="c-form-group__label"
                   for="field-registered_address_pcode_lookup"><span class="c-form-group__label-text">Postcode</span></label>
            <div class="c-form-group__inner">
              <input type="text"
                     id="field-registered_address_pcode_lookup"
                     ref="postcode"
                     class="c-form-control c-form-control--short c-form-control--PostcodeLookup">
              <button class="button button--secondary postcode-lookup-button"
                      type="button"
                      v-on:click="populateDropdown(addresses)">Find UK address</button>
            </div>
          </div>
          <div id="group-field-registered_address_pcode_result" class="c-form-group c-form-group--PostcodeLookupResult">
            <label class="c-form-group__label"
                   for="field-registered_address_pcode_result"><span class="c-form-group__label-text">Select an address</span>
            </label>
            <div class="c-form-group__inner">
              <select id="field-registered_address_pcode_result"
                      ref="address"
                      class="c-form-control c-form-control--PostcodeLookupResult"
                      v-on:change="setAddressFields">
                <option value="">Enter a postcode to lookup your address</option>
                <option v-for="option in options" :value="option.id" v-on:click="">{{ option.display }}</option>
              </select>
            </div>
          </div>
          <div class="c-form-group">
            <label class="c-form-group__label" for="address-1"><span class="c-form-group__label-text">Address line 1</span></label>
            <div class="c-form-group__inner"><input name="address-1" type="text" id="address-1" ref="address-1" class="c-form-control"></div>
          </div>
          <div class="c-form-group">
            <label class="c-form-group__label" for="address-2"><span class="c-form-group__label-text">Address line 2 (optional)</span></label>
            <div class="c-form-group__inner"><input name="address-2" type="text" id="address-2" ref="address-2" class="c-form-control"></div>
          </div>
          <div class="c-form-group">
            <label class="c-form-group__label" for="town-or-city"><span class="c-form-group__label-text">Town or city</span></label>
            <div class="c-form-group__inner"><input name="town-or-city" type="text" id="town-or-city" ref="town-or-city" class="c-form-control"></div>
          </div>
          <div class="c-form-group">
            <label class="c-form-group__label" for="county"><span class="c-form-group__label-text">County (optional)</span></label>
            <div class="c-form-group__inner"><input name="county" type="text" id="county" ref="county" class="c-form-control"></div>
          </div>
          <div class="c-form-group">
            <label class="c-form-group__label" for="country"><span class="c-form-group__label-text">Country</span></label>
            <div class="c-form-group__inner">United Kingdom<input type="hidden" ref="country" value="United Kingdom" /></div>
          </div>
          <div class="c-form-actions">
            <button class="button">Continue</button>
            <a href="locations.html">Cancel</a>
          </div>
        </form>
      </article>
    </div>
  </div>
</main>
<!--[if gt IE 8]><!-->
<script src=http://localhost:3000/js/app.js></script>
<!--<![endif]-->
<script src="/prototypes/js/lib.js"></script>
<script src="/prototypes/js/p.js"></script>
</body>
</html>
