<!DOCTYPE html>
<html lang=en class=no-js>
<head>
  <title>Prototypes</title>

  <link href="/prototypes/css/styles.css" media="screen, print" rel=stylesheet>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
</head>
<body>
<header class=global-header aria-label="global header" id="global-header">
  <div class=global-header__inner>
    <div class=global-header__site-title>
      <a href=/ class=global-header__link><span class=global-header__logo><span class=global-header__site-name>Department for International Trade</span><span class=global-header__service-name>Data Hub</span></span></a><span class=phase-badge>BETA</span>
    </div>
    <nav aria-label="global nav">
      <ul class=proposition-menu>
        <li class=proposition-menu__item><a href=/support class=proposition-menu__link>Support</a></li>
        <li class=proposition-menu__item><a href=/profile class=proposition-menu__link>DIT Staff</a></li>
        <li class=proposition-menu__item><a href=/oauth/sign-out class=proposition-menu__link>Sign out</a></li>
        <li class=proposition-menu__item><span class="proposition-menu__link" v-on:click="reset" style="cursor: pointer;">Reset</span></li>
      </ul>
      </ul>
    </nav>
  </div>
</header>
<nav class=c-global-nav aria-label="global navigation" id="global-nav">
  <div class="c-global-nav__container l-container">
    <a href="" class="c-global-nav__link" v-for="item in [
      { text: 'Companies', active: true },
      { text: 'Contacts' },
      { text: 'Events' },
      { text: 'Interactions and services' },
      { text: 'Investment projects' },
      { text: 'Orders (OMIS)' },
      { text: 'MI dashboards' },
    ]" :class="{ 'is-active': item.active }">{{ item.text }}</a>
  </div>
</nav>
<main class=main-content id=main-content>
  <header class="c-local-header c-local-header--light-banner" aria-label="local header">
    <div class=l-container>
      <nav class=c-breadcrumb aria-label=Breadcrumbs>
        <ul class=c-breadcrumb__list itemscope itemtype=http://schema.org/BreadcrumbList>
          <li class=c-breadcrumb__list-item itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a
            href=/ class=c-breadcrumb__link itemprop=url><span itemprop=name>Home</span></a></li>
          <li class=c-breadcrumb__list-item itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a
            href=/companies class=c-breadcrumb__link itemprop=url><span itemprop=name>Companies</span></a></li>
          <li class=c-breadcrumb__list-item itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a
            href=#main-content class="c-breadcrumb__link is-active" itemprop=url><span
            itemprop=name id="breadcrumb"></span></a></li>
        </ul>
      </nav>
      <ul class="c-message-list js-Messages" tabindex="-1" role="alert" id="messages">
        <li class="c-message c-message--success" v-if="canShow()">{{ getMessage() }}</li>
      </ul>
      <div class=grid-row>
        <div class=column-full>
          <h1 class=c-local-header__heading id="name"></h1>
          <p class="c-local-header__heading-after" id="address"></p>
        </div>
      </div>
    </div>
  </header>
  <div class="main-content__inner l-container">
    <div class=grid-row>
      <div class=column-one-quarter id="local-nav">
        <nav class=c-local-nav aria-label="local navigation">
          <a class="c-local-nav__link" v-for="item in [
            { text: 'Details', active: true },
            { text: 'Subsidiaries' },
            { text: 'Locations', href: 'locations.html?id=1' },
            { text: 'Contacts', href: 'contacts.html?id=1' },
            { text: 'Advisers' },
            { text: 'Interactions' },
            { text: 'Investment' },
            { text: 'Export' },
            { text: 'Orders (OMIS)' },
            { text: 'Documents' },
            { text: 'Audit history' },
          ]" :class="{ 'is-active': item.active }" :href="item.href">{{ item.text }}</a>
        </nav>
      </div>
      <article class=column-three-quarters id="blah">
        {{ setDataFields('subsidiaries', [ 'breadcrumb', 'name', 'address' ]) }}
        <h2 class="heading-medium">Company summary</h2>
        <table class="table--key-value table--striped">
          <tbody>
            <tr v-for="field in getTableDataFields('subsidiaries', [
              { label: 'Registered company address', key: 'address' },
              { label: 'UK region', key: 'ukRegion' },
              { label: 'Headquarter type', key: 'headquarterType' },
              { label: 'Global HQ', key: 'globalHq', href: '/prototypes/subsidiaries.html' },
              { label: 'Sector', key: 'sector' },
              { label: 'Website', key: 'website' },
              { label: 'Business description', key: 'businessDescription' },
            ])">
              <th>{{ field.label }}</th>
              <td v-if="field.href"><a :href="field.href">{{ field.value }}</a></td>
              <td v-else>{{ field.value }}</td>
            </tr>
          </tbody>
        </table>
        <p><a href="" class="button button--secondary">Edit company details</a></p>
      </article>
    </div>
  </div>
</main>
<script src="/prototypes/js/global-header.js"></script>
<script src="/prototypes/js/global-nav.js"></script>
<script src="/prototypes/js/lib.js"></script>
<script src="/prototypes/js/local-nav.js"></script>
<script src="/prototypes/js/messages.js"></script>
<script src="/prototypes/js/p.js"></script>
</body>
</html>
