.grid-row > .column-one-third > .filters {

  display: none;

  @include media(tablet) {
    display: block;
  }

}

.meta--address {
  text-transform: capitalize;
}

.meta--address .meta--address__postcode {
  text-transform: uppercase;
}

.result-summary {
  padding-top: 5px;
  padding-bottom: 5px;
}
