@import 'colours/palette';
@import 'conditionals';
@import 'elements/helpers';
@import 'measurements';
@import 'shims';

.status-bar {
  @extend %contain-floats;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 8px solid $grey-2;

    @media(min-width: 640px) {
      left: $gutter-one-third;
    }
  }
}

.status-bar__section {
  &:first-child {
    @media(min-width: 640px) {
      padding-left: $gutter;
    }
  }

  dt {
    @include visually-hidden;
  }

  dd {
    margin: 5px 0;
  }
}

.status-bar__section-title {
  font-weight: 700;
}
