#cdms-details.table--key-value {
  margin-top: 0;
}

.table--data {
  margin-bottom: 20px;
}

table.contact-table {
  [data-key='name'] {
    width: 20%;
  }

  [data-key='role'] {
    width: 25%;
  }

  [data-key='phone'] {
    width: 20%;
  }

  [data-key='email'] {
    width: 25%;
  }
}

table.interaction-table {

  [data-key='date'] {
    width: 10%;
    white-space: nowrap;
  }

  [data-key='type'] {
    width: 15%;
  }

  [data-key='advisor'] {
    width: 25%;
  }

  [data-key='contact'] {
    width: 25%;
  }

  [data-key='subject'] {
    width: 25%;
  }
}

.table-summary {
  .actions {
    margin: em(20) 0;

    @include media(desktop) {
      text-align: right;
    }
  }
}

table.investment-project-summary-table {
  tr {
    td:last-child,
    th:last-child {
      text-align: right;
    }

    [data-key='name'] {
      width: 45%;
    }

    [data-key='value'] {
      width: 20%;
    }

    [data-key='state'] {
      width: 20%;
    }

    [data-key='land_date'],
    [data-key='state_date'] {
      width: 15%;
    }

  }
}

table.table--related-companies {
  th {
    width: 50%;
  }
}
