$images-dir: '/images/';

@import 'trade-elements';
@import 'font-awesome';

// application specific
@import 'address';
@import 'cardlist';
@import 'dashboard';
@import 'facets';
@import 'flash';
@import 'leftnav';
@import 'login-bar';
@import 'option-select';
@import 'search';
@import 'shame';
@import 'splitheader';
@import 'tables';

.button-link {
  @include core-19;
  border: 0;
  background-color: $white;
  color: $link-colour;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.table--readonly {
  border-left-width: 5px;
}
