{
  "extends": "standard",
  "parser": "babel-eslint",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "mocha/no-exclusive-tests": "error"
  }
}
