{
  "extends": ["standard", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "dot-notation": "error",
    "mocha/no-exclusive-tests": "error",
    "import/newline-after-import": ["warn", { "count": 1 }]
  },
  "overrides": [
    {
      "globals": {
        "JSDOM": true,
        "formMacros": true,
        "expect": true,
        "proxyquire": true,
        "sinon": true,
        "nock": true,
        "rootPath": true,
        "globalReq": true,
        "globalRes": true,
        "helpers": true
      },
      "rules": {
        "no-unused-expressions": 0
      },
      "files": [
        "**.test.{js,jsx}"
      ],
      "env": {
        "mocha": true,
        "browser": true
      }
    }
  ]
}
