version: '3'
services:
  frontend:
    depends_on:
      - mock-sso
    entrypoint: dockerize -wait tcp://api:8000 -timeout 3m -wait-retry-interval 5s
    environment:
      POSTCODE_KEY: ${POSTCODE_KEY}
      OAUTH2_TOKEN_FETCH_URL: http://mock-sso:8080/o/token
      OAUTH2_USER_PROFILE_URL: http://mock-sso:8080/api/v1/user/me
      # When running locally change to
      # OAUTH2_AUTH_URL: http://localhost:8080/o/authorize
      OAUTH2_AUTH_URL: http://mock-sso:8080/o/authorize
      OAUTH2_REDIRECT_URL: http://localhost:3000/oauth/callback
      OAUTH2_LOGOUT_URL: http://mock-sso:8080/o/logout
      OAUTH2_BYPASS_SSO: 'False'
      OAUTH2_CLIENT_SECRET: youAintSeenMyRight
      OAUTH2_CLIENT_ID: randomClientId

  mock-sso:
    image: gcr.io/sre-docker-registry/github.com/uktrade/mock-sso:latest
    ports:
      - 8080:8080
    environment:
      MOCK_SSO_SCOPE: data-hub:internal-front-end
      MOCK_SSO_TOKEN: 123
      MOCK_SSO_EMAIL_USER_ID: test@gov.uk
      MOCK_SSO_USERNAME: test@gov.uk
    logging:
      driver: none

