version: '3'
services:
  storybook:
    build:
      context: .
    volumes:
      - ./:/usr/src/app:delegated
      # Ensures that the local node_modules dir is not used in the container
      - /usr/src/app/node_modules
    ports:
      - "65200:65200"
    env_file: .env
    command: npm run storybook -- -p 65200
