version: '3'
services:
  storybook:
    build:
      context: .
      dockerfile: Storybook.Dockerfile
      args:
        CURRENT_UID: ${CURRENT_UID}
        CURRENT_GID: ${CURRENT_GID}
    ports:
      - "65200:65200"
      - "8080:8080"
    env_file: .env
    command: npx http-server storybook-static -p 65200

