version: '3'
services:
  frontend:
    depends_on:
      - api

  api:
    image: gcr.io/sre-docker-registry/github.com/uktrade/data-hub-api:develop
    env_file: .env
    environment:
      DEBUG: 'False'
      RESOURCE_SERVER_AUTH_TOKEN: sso-token
      STAFF_SSO_BASE_URL: http://mock-sso:8080/
      STAFF_SSO_AUTH_TOKEN: sso-token
      ES_APM_ENABLED: 'False'
      COLUMNS: 80
      DJANGO_SUPERUSER_SSO_EMAIL_USER_ID: test@gov.uk
      ALLOW_TEST_FIXTURE_SETUP: 'True'
    ports:
      - 8000:8000
    depends_on:
      - postgres
      - opensearch
      - redis
      - celery
      - mock-sso
    entrypoint: dockerize -wait tcp://postgres:5432 -wait tcp://opensearch:9200 -wait tcp://redis:6379 -timeout 5m
    command: /app/setup-uat.sh || echo "all good"

  celery:
    image: gcr.io/sre-docker-registry/github.com/uktrade/data-hub-api:develop
    env_file: .env
    depends_on:
      - postgres
      - opensearch
      - redis
    entrypoint: dockerize -wait tcp://postgres:5432 -wait tcp://opensearch:9200 -wait tcp://redis:6379 -timeout 5m
    command: celery -A config worker -l info -Q celery -B

  postgres:
    image: postgres:12
    environment:
      POSTGRES_DB: datahub
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password

  opensearch:
    image: opensearchproject/opensearch:1.2.4
    environment:
      - plugins.security.disabled=true
      - cluster.name=cluster-001
      - node.name=node-001
      - discovery.type=single-node
      - bootstrap.memory_lock=true
