{% extends "_layouts/two-column.njk" %}

{% block local_header %}{% endblock %}

{% block main_grid_right_column %}
  {% set summaryAction %}
    {% if actionButton.url %}
      <a id="add-contact-link" class="button button-secondary" href="{{ actionButton.url }}">{{ actionButton.text }}</a>
    {% endif %}
  {% endset %}

  {{
    Collection(results | assign({
      summaryActionsHTML: summaryAction
    }))
  }}
{% endblock %}
