{% extends "_layouts/two-column.njk" %}

{% block local_header %}
  {% call LocalHeader({ modifier: 'dark-banner' }) %}
    {{ EntitySearchForm({
      inputName: 'term',
      modifier: 'global',
      searchTerm: searchTerm,
      entityType: searchEntity,
      inputLabel: 'Search for company, contact, event, investment project or OMIS order',
      aggregations: results.aggregations
    }) }}
  {% endcall %}
{% endblock %}

{% block main_grid_right_column %}
  {% set summaryAction %}
    {% if actionButton.url %}
      <a id="add-contact-link" class="button button-secondary" href="{{ actionButton.url }}">{{ actionButton.text }}</a>
    {% endif %}
  {% endset %}

  {{
    Collection(results | assign({
      summaryActionsHTML: summaryAction
    }))
  }}
{% endblock %}
