{% extends "_layouts/form-wizard-step.njk" %}

{% block form %}
  <h2 class="heading-medium">Find the company that will pay for the order</h2>

  {{ EntitySearchForm({
    method: 'GET',
    inputName: 'term',
    inputLabel: 'Search for a company',
    searchTerm: QUERY.term,
    hiddenFields: {
      search: QUERY.search
    }
  }) }}

  {% if searchResult %}
    {{ CollectionContent(searchResult | assignCopy({
      highlightTerm: QUERY.term,
      countLabel: 'company',
      listModifier: 'block-links',
      query: QUERY
    })) }}
  {% endif %}
{% endblock %}
