{% extends "_layouts/form-wizard-step.njk" %}

{% block fields %}
  {% call Message({ type: 'muted' }) %}
    {{ company.name }}
    <br>
    {% set address = company.registered_address if company.registered_address else company.address %}

    {{ address | formatAddress }}
    <br>
    <a href="?search=true">Change company</a>
  {% endcall %}
{% endblock %}
