{% extends "_layouts/form-wizard-step.njk" %}

{% block fields %}
  {{ super() }}

  {% call HiddenContent({ summary: 'Contact you are looking for is not listed' }) %}
    {% call Message({ type: 'muted' }) %}
      If the contact you are looking for is not listed you can <a href="/contacts/create?company={{ company.id }}">add a new contact</a>.
    {% endcall %}
  {% endcall %}

  {% if order.canEditContactDetails and order.status !== 'draft' %}
    {% call Message({ type: 'info', element: 'div' }) %}
      <p>Changing the contact will change who notifications are sent to.</p>
      <p>It will not change the contact details on the quote.</p>
    {% endcall %}
  {% endif %}
{% endblock %}
