{% extends "_layouts/form-wizard-step.njk" %}

{% block fields %}
  {% if not options.fields.contact.options | length %}
    {% call Message({ type: 'muted' }) %}
      This company currently has no contacts. You can <a href="/contacts/create?company={{ company.id }}">add a new contact</a>.
    {% endcall %}
  {% else %}
    {{ super() }}

    {% call HiddenContent({ summary: 'Is the contact you are looking for not listed?' }) %}
      {% call Message({ type: 'muted' }) %}
        If the contact you are looking for is not listed you can <a href="/contacts/create?company={{ company.id }}">add a new contact</a>.
      {% endcall %}
    {% endcall %}
  {% endif %}

  {% if order.canEditContactDetails and order.status !== 'draft' %}
    {% call Message({ type: 'info', element: 'div' }) %}
      <p>Changing the contact will change who notifications are sent to.</p>
      <p>It will not change the contact details on the quote.</p>
    {% endcall %}
  {% endif %}
{% endblock %}
