{% extends "_layouts/form-wizard-step.njk" %}

{% block form %}
  {% call MultiStepForm({
    buttonText: 'Start'
  }) %}
    <p>You will need the following to create a new order:</p>

    <ul class="list-disc">
      <li>a contact for the contact record in data hub</li>
      <li>the market the client is interested in</li>
      <li>at least one post adviser assigned to the order</li>
    </ul>
  {% endcall %}
{% endblock %}
