{% extends "_layouts/form-wizard-step.njk" %}

{% block form %}
  {% set contactValue %}
    {{ values.contact.first_name | escape }} {{ values.contact.last_name | escape }}
    {%- if values.contact.job_title -%}
      , {{ values.contact.job_title | escape }}
    {%- endif -%}
    <br>
    {{ values.contact.email | escape }}
  {% endset %}

  {% set address = company.registered_address if company.registered_address else company.address %}

  {% set companyValue %}
    {{ values.company.name | escape }}
    <br>
    {{ address | formatAddress }}
  {% endset %}

  {% call MultiStepForm({
    buttonText: 'Continue'
  }) %}

    {{ AnswersSummary({
      heading: 'Company',
      actions: [{
        url: 'company/edit'
      }],
      items: [companyValue | safe]
    }) }}

    {{ AnswersSummary({
      heading: 'Contact',
      actions: [{
        url: 'contact/edit'
      }],
      items: [contactValue | safe]
    }) }}

    {{ AnswersSummary({
      heading: 'Country',
      actions: [{
        url: 'market/edit'
      }],
      items: [values.primary_market.name]
    }) }}

    {{ AnswersSummary({
      heading: 'Sector',
      actions: [{
        url: 'sector/edit'
      }],
      items: [values.sector.name]
    }) }}

    <h2 class="heading-medium">What happens next</h2>

    <p>
      Continuing with the order will notify the post manager for {{ values.primary_market.name }}
      {%- if company.uk_region -%}
        &nbsp;and the region manager for {{ company.uk_region.name }}
      {%- endif -%}
      .
    </p>

    <p>You will not be able to edit the company or country after this point.</p>

  {% endcall %}
{% endblock %}
