{% extends "_layouts/form-wizard-step.njk" %}

{% block form %}
  {% set contactValue %}
    {{ values.contact.first_name }} {{ values.contact.last_name }}
    {%- if values.contact.job_title -%}
      , {{ values.contact.job_title }}
    {%- endif -%}
  {% endset %}
  {% call MultiStepForm({
    buttonText: 'Continue'
  }) %}

    {{ AnswersSummary({
      heading: 'Client details',
      actions: [{
        url: 'client-details/edit'
      }],
      items: [{
        label: 'Company',
        value: values.company.name
      }, {
        label: 'Contact',
        value: contactValue
      }]
    }) }}

    {{ AnswersSummary({
      heading: 'Market (country)',
      actions: [{
        url: 'market/edit'
      }],
      items: [values.primary_market.name]
    }) }}

    {{ AnswersSummary({
      heading: 'Sector',
      actions: [{
        url: 'sector/edit'
      }],
      items: [values.sector.name]
    }) }}

    <h2 class="heading-medium">What happens next</h2>

    <p>
      Continuing with the order will notify the post manager for {{ values.primary_market.name }}
      {%- if company.uk_region -%}
        &nbsp;and the region manager for {{ company.uk_region.name }}
      {%- endif -%}
      .
    </p>

    <p>You will not be able to edit the company or market (country) after this point.</p>

  {% endcall %}
{% endblock %}
