{% extends "_layouts/template.njk" %}

{% block local_header %}
  {% call LocalHeader({ heading: 'Edit exports' }) %}{% endcall %}
{% endblock %}

{% block body_main_content %}

  {% component 'react-slot', {
      id: 'company-exports-edit',
      props: props
      }
    %}

{% endblock %}
