{% extends "_layouts/template.njk" %}

{% block local_header %}
  {% call LocalHeader({ heading: 'Edit export countries' }) %}{% endcall %}
{% endblock %}

{% block body_main_content %}

  {% component 'react-slot', {
      id: 'company-exports-edit-countries',
      props: props
    }
  %}

{% endblock %}
