{# This template is for full React pages(except navigation) #}
{% extends "./_layouts/template.njk" %}

{% block header %}{% endblock %}
{% block local_header %}{% endblock %}

{% block main %}
      {% block body %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
