{# This template is for full React pages(except navigation) #}
{% extends "./_layouts/template.njk" %}

{% block head %}
  {#
  The base tag is needed for react-router's basename configuration.
  The basePath is set in the spa-fallback middleware which is applied per route.
  #}
  {% if basePath -%}
    <base href="{{ basePath }}" />
  {% endif -%}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="version" content="{{ APP_VERSION }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% if description -%}
    <meta name="description" content="{{ description }}">
  {% endif -%}

  <!--[if IE]>
  <link rel="shortcut icon" href="{{ getAssetPath('favicon.ico') }}" type="image/x-icon"><![endif]-->
  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <link rel="apple-touch-icon" href="{{ getAssetPath('apple-touch-icon.png') }}">
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
  <link rel="icon" href="{{ getAssetPath('favicon-192x192.png') }}" type="image/png">

  <!-- styles -->
  <link href="{{ getAssetPath('shared.css') }}" media="screen, print" rel="stylesheet">

  {% include "_includes/google-tag-manager/consent-not-needed.njk" %}
  {% include "_includes/csp-nonce.njk" %}
{% endblock %}

{% block header %}{% endblock %}
{% block local_header %}{% endblock %}

{% block main %}
      {% block body %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
