{% extends "_layouts/dit-base.njk" %}

{% block head %}
  {{ super() }}

  <!--[if lt IE 9]>
    <script src="{{ asset_path }}javascripts/ie.bundle.js?{{ startTime }}"></script>
  <![endif]-->

  {% include "_includes/google-tag-manager-snippet.njk" %}

  {% if user %}
    <script>
      if (!window.DIT) window.DIT = {};
      window.DIT.user = {{ user | stringify | safe }};
    </script>
  {% endif %}
{% endblock %}

{% block header_menu %}
  <nav>
    <ul class="proposition-menu">
      {% if user %}
        <li class="proposition-menu__item">
          <a href="/" class="proposition-menu__link{{ ' is-active' if currentPath == '/' }}">Dashboard</a>
        </li>
      {% endif %}
      {% if feedbackLink %}
        <li class="proposition-menu__item">
          <a href="{{ feedbackLink }}" class="proposition-menu__link{{ ' is-active' if '/support' in currentPath }}">Support</a>
        </li>
      {% endif %}
      {% if user %}
        <li class="proposition-menu__item">
          <a href="/myaccount" class="proposition-menu__link{{ ' is-active' if currentPath == '/myaccount' }}">{{ user.name }}</a>
        </li>
      {% endif %}
      <li class="proposition-menu__item">
        {% if user %}
          <a href="/login/signout" class="proposition-menu__link">Sign out</a>
        {% else %}
          <a href="/login" class="proposition-menu__link">Sign in</a>
        {% endif %}
      </li>
    </ul>
  </nav>
{% endblock %}

{% block body %}
  {% include "_includes/google-tag-manager-no-script.njk" %}
  {{ super() }}
  <!--[if gt IE 8]><!-->
    {% block javascript %}
      <script src="{{ asset_path }}javascripts/trade-elements-components-ebe253002f.js"></script>
      <script src="{{ asset_path }}javascripts/app.bundle.js?{{ startTime }}"></script>
    {% endblock %}
  <!--<![endif]-->
{% endblock %}
