@import "../../tools/mixins";

.autocomplete__container {
  position: relative;

  .autocomplete__suggestions {
    box-sizing: border-box;
    border: 1px solid $border-colour;
    position: absolute;
    z-index: 99;
    width: 100%;

    @include media(tablet) {
      width: 66%;
    }
  }

  .autocomplete__suggestion {
    @include core-font(20);
    padding: 0 5px;
    background: $white;


    a {
      text-decoration: none;
      color: $black;
      display: block;
      cursor: pointer;
    }

    strong {
      @include bold-font(20);
    }

    &.autocomplete__suggestion--active,
    &:hover {
      background: $light-blue-25;
    }
  }

  .loading {
    box-sizing: border-box;
    position: absolute;
    z-index: 99;
    font-size: 6px;
    display: inline-block;
    background: $white;
    left: 92%;
    bottom: 7px;

    @include media(tablet) {
      font-size: 7px;
      left: 61%;
    }
  }

}
