@import "../../settings";

.back-link {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  margin-bottom: $default-spacing-unit / 2;

  &::before {
    content: "<";
    left: 0;
    position: absolute;
  }

}
