@import "~govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

.button-secondary {
  @include button ($grey-2);

  &:link,
  &:visited {
    background-color: $grey-2;
    color: $black;
  }
}

// modifiers
.button--destructive {
  @include button($red);
}

.button--link {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: $link-colour;
  cursor: pointer;
  padding: .4em 0;
  text-align: left;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    background: transparent;
    color: $link-colour;
    top: 0;
  }

  &:hover {
    color: $link-hover-colour;
  }
}

.button--compact {
  padding: 0;
}
