@import "~govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss";

.button-secondary {
  @include button ($grey-2);

  &:link,
  &:visited {
    background-color: $grey-2;
    color: $black;
  }
}

.button-warning {
  @include button ($mellow-red-50);
}

.button-disabled {
  @include button ($grey-3);

}

.button-link {
  line-height: 2.5;
  margin-left: 15px;
  top: 1px;
  position: relative;
}

.button-bar.button-bar--top {
  text-align: right;
  float: right;
  margin: 0 0 20px 10px;
}

.button-bar {
  float: none;
  clear: both;
  margin: 30px 0;
}
