.page-heading {
  @extend .heading-large;
  margin: 30px 0;

  .pre-header,
  .post-header {
    @include core-16;
    padding-top: 9px;
    padding-bottom: 6px;
    display: block;
  }

  .pre-header {
    color: $secondary-text-colour;
  }

  .post-header {
    color: $black;
  }
}
