// ==========================================================================
// Tabs
// ==========================================================================


.tabs.tabs--inline {
  margin-bottom: 20px;

  // Tab list
  .tabs-nav {
    @extend %contain-floats;
    border-top: 1px solid $grey-2;
    list-style: none;
    margin: 0;

    @include media(tablet) {
      border-top: 0 none;
      border-bottom: 1px solid $grey-2;
      margin-bottom: 40px;
    }

    li {
      border-bottom: 1px solid $grey-2;
      font-size: em(19);
      margin: 0;

      @include media(tablet) {
        border-bottom: 0 none;
        float: left;
        margin: 0 0 -1px;
        padding: 0;
      }

      a {
        background-color: $white;
        display: block;
        padding: em(9);
        text-decoration: none;

        &:focus {
          outline: 3px;
        }

        @include media(tablet) {
          background-color: $grey-3;
          border: 0 none;
          float: left;
          margin: em(5) em(5) em(5) 0;
          padding: em(9) em(19);
          text-align: center;
        }
      }

      // Active tab
      [aria-selected="true"],
      .selected {
        background-color: $white;
        color: $text-colour;
        cursor: default;
        text-decoration: none;

        @include media(tablet) {
          border: 1px solid $grey-2;
          border-bottom: 1px solid transparent;
          margin-bottom: 0;
          margin-top: 0;
          padding: em(13) em(18) em(14);
        }
      }
    }
  }
}

.js-enabled .js-tabs {
  .tabs-panel {
    // initially hide to avoid flashes waiting for js to load and render.
    display: none;

    &.selected {
      display: block;
    }
  }
}
