p.infostrip,
.infostrip {
  @include core-19;
  border-left: 8px solid $border-colour;
  background: $panel-colour;
  padding: 15px 20px;

  &.infostrip--information {
    background-color: #E5EEF6;
    border-left-color: #005EA5;
  }
}
