.pagination {

  @extend %contain-floats;
  display: block;
  margin: 40px auto;
  padding-top: 20px;
  border-top: 1px solid $border-colour;
  list-style: none;
  text-align: center;

  > div {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }

  .pagination__page {
    display: inline-block;
    padding: 5px 7px;
    margin: 5px;
    @include core-19;
    color: $link-colour;
  }

  &:first-child {
    margin-right: 15px;
  }

  &:last-child {
    margin-left: 15px;
  }
}
