.panel.panel-border-narrow.error,
.panel.panel-border-wide.error {
  .form-group.error {
    border-left: 0;
    padding-left: 0;
    margin-right: 0;
  }
}

.form-group .panel-border-narrow {
  padding-bottom: 15px;
}
