.result-summary {
  @include core-19;
  margin: 0 0 20px;

  .result-summary--result-count {
    @include bold-27;
  }

  .result-summary--result-query {
    @include bold-19;
  }

}

.results-list {
  list-style: none;
  margin: 0;
  padding: 0;

  strong {
    @include bold-19;
  }

  .results-list__result {
    margin: 30px 0 0;

    position: relative;

    &:first-child {
      margin-top: 0;
    }

    .result-title {
      @include core-19(1.5);
      margin: 0 0 5px;
      padding: 0;
      text-transform: capitalize;

      strong {
        @include bold-19;
      }

      a.close-link {
        float: right;
        padding-right: 20px;
      }
    }

    .meta {
      margin: 0;
    }

  }
}

.actions + .results-list {
  padding-top: 0;
}

.results-list.results-list--lined {
  margin-bottom: 40px;

  .results-list__result {
    border-bottom: 1px solid $border-colour;
    margin: 0;
    padding: 15px 0;

    &:first-child {
      border-top: 1px solid $border-colour;
    }
  }

  .result-title a {
    color: $black;
  }
}
