@import "../../tools/mixins";

.searchbar {
  margin: 20px 0 25px;

  @include media(tablet) {
    margin: 30px 0;
  }

  .form-label,
  .form-label-bold {
    display: none;
  }

  .searchbar__wrapper {
    position: relative;
    background: $white;
  }

  .searchbar__input {
    box-sizing: border-box;
    font-size: 19px;
    width: 100%;
    padding: 10px 15px;
    margin: 0;
    z-index: 3;
    background: transparent;
    position: relative;
    border-right: 0;
    border-radius: 0;
    -webkit-appearance: none;
    text-overflow: ellipsis;
  }

  .searchbar__submit {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border: 0;
    text-indent: -5000px;
    color: $white;
    cursor: pointer;
    background: $govuk-blue url("../../../images/_deprecated/search-button.png") no-repeat 8px 50%;
    border-radius: 0;
  }
}

.searchbar.searchbar--header {
  width: 90%;
  margin: 10px 0;
  padding: 0;

  @include media(tablet) {
    float: right;
    max-width: 250px;
    margin: 0 auto;
  }

  .searchbar__wrapper {
    margin: 0;
  }

  .searchbar__input {
    border: 0;
    font-size: 16px;
    padding: 6px 15px;
  }

  .searchbar__submit {
    background-position: 0 50%;
    border-left: 1px solid $black;
    width: 34px;
  }

  .form-group {
    margin-bottom: 0;
  }

}

.searchbar.searchbar--show-label {
  .form-label,
  .form-label-bold {
    display: block;
  }
}
