@import "../../tools/mixins/typography";

.status-badge {
  @include core-font(20);
  border-radius: 5px;
  display: inline-block;
  font-weight: normal;
  border: 2px solid $black;
  padding: 2px 10px 2px;
  margin-left: 10px;
  white-space: nowrap;
}

.status-badge--fuschia {
  color: $fuschia;
  border-color: $fuschia;
}
