@import "../../tools/mixins";

.table--key-value {

  margin: 20px 0;

  tbody {
    th {
      vertical-align: top;
      width: 40%;

      @include media(tablet) {
        width: 30%;
      }
    }

    tr:first-child {
      td,
      th {
        border-top: 1px solid $border-colour;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.table--striped {
  tr:nth-child(odd) {
    background: $highlight-colour;
  }
}

table.table--key-value.table--small {
  th {
    @include core-font(16);
    color: $secondary-text-colour;
  }

  td {
    @include core-font(16)
  }
}

.table--key-value.table--plain {
  tr {
    th, td {
      border-bottom: 0;
    }

    th {
      color: $secondary-text-colour;
    }

    &:first-child {
      td,
      th {
        border-top: 0;
      }
    }
  }
}

.table__actions {
  float: right;
}

.table__action {
  padding-left: $default-spacing-unit / 2;
}
