{% extends "../../../views/template.njk" %}

{% block body_main_content %}

  {% set props = props or {} %}

  <div id="activity-feed-app" data-props="{{ props | dump }}">
    <noscript>Please enable JavaScript in your browser to see the activity feed.</noscript>
  </div>

{% endblock %}
