{% from './meta-list.njk' import MetaList %}

{##
 # Render entity component
 # @param {object} props
 # @param {string} props.name - entity name
 # @param {string} props.type - entity type (e.g. 'date' to format dates)
 # @param {string} [props.id] - entity id, used to create a link to the entity if provided
 # @param {string} [props.url] - entity URL, defaults to props.urlPrefix + props.id
 # @param {string} [props.urlPrefix] - base URL for linking to an entity, by default it will pluralise props.type
 # @param {array}  [props.metaBadges{}] - an array of metadata item objects
 # @param {array}  [props.metaItems{}] - an array of metadata item objects
 # @param {string} [props.highlightTerm] - text to use to apply highlight filter
 # @param {sting|array} [props.contentMetaModifier] - A modified to apply to metadata to control it's display
 #}
{% macro Entity (props) %}
  {% if props.name and props.type %}
    {% set urlPrefix = props.urlPrefix or props.type | pluralise + '/' %}
    {% set url = props.url | default('/' + urlPrefix + props.id) %}
    {% set metaBadges = props.meta | filter(['type', 'badge']) %}
    {% set contentMetaModifier = props.contentMetaModifier| default(['inline', 'split']) %}
    {% set metaItems = props.meta
      | reject(['type', 'badge'])
    %}
    {% set highlightedName = props.name | highlight(props.highlightTerm) %}

    <div class="c-entity c-entity--{{ props.type }}">
      {% if props.code %}
        <div class="c-entity__code">{{ props.code | highlight(props.highlightTerm, true) }}</div>
      {% endif %}

      <div class="c-entity__header">
        <h3 class="c-entity__title">
          {% if props.id %}
            <a href="{{ url }}">{{ highlightedName }}</a>
          {% else %}
            {{ highlightedName }}
          {% endif %}
        </h3>

        {% if metaBadges | length %}
          <div class="c-entity__badges">
            {{
              MetaList({
                items: metaBadges,
                highlightTerm: props.highlightTerm
              })
            }}
          </div>
        {% endif %}
      </div>

      {% if metaItems | length %}
        <div class="c-entity__content">
          {{
            MetaList({
              items: metaItems,
              highlightTerm: props.highlightTerm,
              modifier: contentMetaModifier
            })
          }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
