{% from './meta-list.njk' import MetaList %}
{% from './cta-list.njk' import CtaList %}

{##
 # Render entity component
 # @param {object} props
 # @param {string} props.name - entity name
 # @param {string} props.type - entity type (e.g. 'date' to format dates)
 # @param {string} [props.id] - entity id, used to create a link to the entity if provided
 # @param {string} [props.url] - entity URL, defaults to props.urlPrefix + props.id
 # @param {string} [props.urlPrefix] - base URL for linking to an entity, by default it will pluralise props.type
 # @param {string|object} [props.subTitle] - sub-title below the main link/title
 # @param {array}  [props.metaBadges{}] - an array of metadata item objects
 # @param {array}  [props.metaItems{}] - an array of metadata item objects
 # @param {string} [props.highlightTerm] - text to use to apply highlight filter
 # @param {boolean} [props.isBlockLink] - whether the entity container should be link
 # @param {sting|array} [props.contentMetaModifier] - A modified to apply to metadata to control it's display
 #}
{% macro Entity (props) %}
  {% if props.name and props.type %}
    {% set urlPrefix = props.urlPrefix or props.type | pluralise + '/' %}
    {% set url = props.url | default('/' + urlPrefix + props.id) %}
    {% set metaBadges = props.meta | filter(['type', 'badge']) %}
    {% set metaItems = props.meta | reject(['type', 'badge']) %}
    {% set highlightedName = props.name | highlight(props.highlightTerm) %}
    {% set containerElement = 'a' if props.isBlockLink and not props.isLinkDisabled else 'div' %}

    <{{ containerElement }}
      class="c-entity c-entity--{{ props.type }}
      {{ 'c-entity--block-link' if props.isBlockLink }}
      {{ 'c-entity__link' if props.isBlockLink and not props.isLinkDisabled }}
      {{ 'disabled' if props.isLinkDisabled }}
      {{ 'js-prevent-double-click' if props.preventDoubleClick }}
      "
      {% if props.isBlockLink and not props.isLinkDisabled %}href="{{ url }}"{% endif %}
    >
      <div class="c-entity__header">
        {% if metaBadges | length %}
          <div class="c-entity__badges">
            {{
              MetaList({
                items: metaBadges,
                highlightTerm: props.highlightTerm,
                modifier: ['inline', 'condensed']
              })
            }}
          </div>
        {% endif %}

        <h2 class="c-entity__title">
          {% if props.id and not props.isBlockLink %}
            <a href="{{ url }}" class="c-entity__link">{{ highlightedName }}</a>
          {% else %}
            {{ highlightedName }}
          {% endif %}
        </h2>

        {% if props.subTitle %}
          {{ SubTitle(props.subTitle) }}
        {% endif %}
      </div>

      {% if metaItems | length %}
        <div class="c-entity__content">
          {{
            MetaList({
              items: metaItems,
              highlightTerm: props.highlightTerm,
              modifier: props.contentMetaModifier
            })
          }}
        </div>
      {% endif %}

      {% if props.type === 'proposition'%}
        {{
          CtaList({
            items: metaBadges,
            url: url,
            modifier: ['inline', 'condensed']
          })
        }}
      {% endif %}

    </{{ containerElement }}>
  {% endif %}
{% endmacro %}

{% macro SubTitle (props) %}
  <h4 class="c-entity__subtitle">
    {% if props.value %}
      {% if props.type === 'date' %}
        {% set value = props.value | formatDate %}
      {% elif props.type === 'dateMonthYear' %}
        {% set value = props.value | formatDate('MMMM YYYY') %}
      {% elif props.type === 'datetime' %}
        {% set value = props.value | formatDateTime %}
      {% elif props.type === 'fromNow' %}
        {% set value = FromNow({ datetime: props.value }) %}
      {% else %}
        {% set value = props.value %}
      {% endif %}
      {{ props.label }} {{ value }}
    {% else %}
      {{ props }}
    {% endif %}
  </h4>
{% endmacro %}
