{% from './meta-item.njk' import MetaItem %}

{##
 # Render meta list
 # @param {object} props
 # @param {array}  props.items - meta items
 # @param {string, array} [props.modifier] - meta container modifier (e.g. inline)
 # @param {string, array} [props.itemModifier] - meta item modifier (e.g. stacked)
 #}
{% macro MetaList (props) %}
  {% if props.items | length %}
    <div class="{{ 'c-meta-list' | applyClassModifiers(props.modifier) }}">
      {% for metaItem in props.items %}
        {{ MetaItem(metaItem | assignCopy({ features: props.features, highlightTerm: props.highlightTerm, modifier: metaItem.modifier or props.itemModifier })) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
