{##
 # Render global nav
 # @param {object} props
 # @param {string} [props.modifier] - nav modifier
 # @param {string} [props.items] - nav items
 #
 #}
{% macro GlobalNav(props) %}
  {% set modifier = props.modifier | concat('') | reverse | join(' c-global-nav-') if props.modifier %}
  {% set items = [] %}

  {% if props|length %}
    <div class="global-nav-pane{{ modifier }}">
      <nav class="global-nav govuk-clearfix" aria-label="global navigation">
        <div class="govuk-width-container">
          <ul class="global-nav__list">
            {% for item in props.items %}
              {% if item %}
                <li class="global-nav__list-item" data-auto-id="{{ item.label }}">
                  <a href="{{ item.url }}" class="global-nav__link govuk-link {{ 'active' if item.isActive }}">
                    {{ item.label }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  {% endif %}
{% endmacro %}
