{% from './messages.njk' import MessageList %}

{##
 # Render page local header
 # @param {object} props - An object containing local header properties
 # @param {string} [props.heading] - page heading
 # @param {string} [props.heading] - page heading
 # @param {string} [props.headingBefore] - a string before heading (safe to render HTML)
 # @param {string} [props.headingSuffix] - a string suffix for heading (safe to render HTML)
 # @param {object} [props.actions] - an area to display actions for an entity (safe to render HTML)
 # @param {object} [props.breadcrumbs] - an object containing page breadcrumbs
 # @param {object} [props.messages] - an object containing flash messages
 # @param {function} [props.caller] - Optional inner contents
 #}
{% macro LocalHeader(props) %}
  {% set breadcrumbs = props.breadcrumbs | default(getBreadcrumbs()) %}
  {% set messages = props.messages | default(getMessages() if getMessages) %}
  {% set modifier = props.modifier | concat('') | reverse | join(' c-local-header--') if props.modifier %}

  {% if props %}
  {# Using <div> as there is already a <header> on the page - role="region" gives the element significance as a landmark #}
    <div class="c-local-header {{ modifier }}{{ ' c-local-header--relative' if props.fullWidthContent }}" aria-label="local header" data-auto-id="localHeader" role="region">
      <div class="govuk-width-container c-local-header__container">
        {% if breadcrumbs|length > 1 %}
          {{ govukBreadcrumbs({
            items: breadcrumbs,
            attributes: {
              'data-auto-id': 'breadcrumbs'
            }
          }) }}
        {% endif %}

        <div id="flash-messages" class="react-slot">
          <noscript>Please enable JavaScript in your browser to see the content.</noscript>
        </div>

        {% if messages|length %}
          {{ MessageList({ items: messages }) }}
        {% endif %}

        <div class="govuk-grid-row c-local-header__content">
          <div class="govuk-grid-column-{{ 'two-thirds' if props.actions and not props.fullWidthContent else 'full' }}">
            {% if props.headingBefore %}
              <div class="c-local-header__heading-before">
                {{ props.headingBefore | safe }}
              </div>
            {% endif %}

            {% if props.heading %}
              <h1 class="c-local-header__heading">
                {{ props.heading }} {{ props.headingSuffix | safe }}
              </h1>
            {% endif %}
            {{ caller() if caller }}
          </div>
          {% if props.actions %}
            <div class="c-local-header__actions govuk-grid-column-one-third">
              {{ props.actions | safe }}
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  {% endif %}
{% endmacro %}
