{% from './messages.njk' import MessageList %}

{##
 # Render page local header
 # @param {object} props - An object containing local header properties
 # @param {string} [props.heading] - page heading
 # @param {string} [props.heading] - page heading
 # @param {string} [props.headingBefore] - a string before heading (safe to render HTML)
 # @param {string} [props.headingSuffix] - a string suffix for heading (safe to render HTML)
 # @param {object} [props.actions] - an area to display actions for an entity (safe to render HTML)
 # @param {object} [props.breadcrumbs] - an object containing page breadcrumbs
 # @param {object} [props.messages] - an object containing flash messages
 # @param {function} [props.caller] - Optional inner contents
 #}
{% macro LocalHeader(props) %}
  {% set breadcrumbs = props.breadcrumbs | default(BREADCRUMBS) %}
  {% set messages = props.messages | default(getMessages()) %}
  {% set modifier = props.modifier | concat('') | reverse | join(' c-local-header--') if props.modifier %}

  {% if props %}
    <header class="c-local-header {{ modifier }}" aria-label="local header">
      <div class="l-container">
        {{ Breadcrumbs({ items: breadcrumbs }) }}

        {% if messages|length %}
          {{ MessageList({ items: messages }) }}
        {% endif %}

        <div class="grid-row">
          <div class="column-{{ 'two-thirds' if props.actions else 'full' }}">
            {% if props.headingBefore %}
              <div class="c-local-header__heading-before">
                {{ props.headingBefore | safe }}
              </div>
            {% endif %}

            {% if props.heading %}
              <h1 class="c-local-header__heading">
                {{ props.heading }} {{ props.headingSuffix | safe }}
              </h1>
            {% endif %}

            {{ caller() if caller }}
          </div>

          {% if props.actions %}
            <div class="column-one-third c-local-header__actions">
              {{ props.actions | safe }}
            </div>
          {% endif %}
        </div>
      </div>
    </header>
  {% endif %}
{% endmacro %}
