{##
 # Render tabbed local nav
 # @param {object} props
 # @param {string} [props.items] - nav items
 #
 #}
{% macro TabbedLocalNav(props) %}
  {% if props %}
    <nav class="govuk-tabs" data-test="tabbedLocalNav">
      <ul class="govuk-tabs__list govuk-tabs__list--full" role="tablist">
        {% for item in props.items %}
          <li class="govuk-tabs__list-item govuk-tabs__list-item--full" aria-label="Local navigation" >
            <a class="govuk-tabs__tab {{ 'govuk-tabs__tab--selected' if item.isActive }}"
              href="{{ item.url }}"
              role="tab"
              {% if item.ariaDescription %} aria-label="{{ item.ariaDescription }}" {% endif %}
            >
              {{ item.label }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}
