{% extends "_layouts/template.njk" %}

{% block local_header %}
  {{
    LocalHeader({
      heading: "Send these business details to our third party data supplier for verification",
      modifier: 'light-banner'
    })
  }}
{% endblock %}

{% block body_main_content %}
  {% component 'react-slot', {
    id: 'cannot-find-match',
    props: props
  } %}

{% endblock %}
