{% extends "_layouts/template.njk" %}

{% block local_header %}
  {{
    LocalHeader({
      heading:
        'These verified business details have already been matched to another company record'
        if props.dnbCompanyIsMatched
        else 'Send request for verification',
      modifier: 'light-banner'
    })
  }}
{% endblock %}

{% block body_main_content %}
  {% component 'react-slot', {
    id: 'match-confirmation',
    props: props
  } %}

{% endblock %}
