{% extends "_layouts/template.njk" %}

{% block local_header %}
  {{
    LocalHeader({
      heading:
        'This verified third party record has already been matched to a different Data Hub company record'
        if props.dnbCompanyIsMatched
        else 'Update the company record',
      modifier: 'light-banner'
    })
  }}
{% endblock %}

{% block body_main_content %}
  {% component 'react-slot', {
    id: 'match-confirmation',
    props: props
  } %}

{% endblock %}
