@import "colours/palette";
@import "typography";

.metadata-list {
  @include core-14;
  color: $black;
}

.metadata-list__term {
  @include visually-hidden;

  &::after {
    content: ":";
  }
}

.metadata-list__term--visible {
  display: inline-block;
}


.metadata-list__value {
  display: inline-block;
  padding: 0 20px 0 0;
  text-transform: capitalize;

  strong {
    @include bold-14;
    text-transform: inherit;
  }
}

.metadata-list__value--block {
  display: block;
}
