@import "colours/palette";

.search-result {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}

.search-result__link {
  border: 1px solid $grey-2;
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus {
    background: $grey-4;
    border-color: $grey-1;
  }
}

.search-result__title {
  color: $link-colour;
  margin: 0 0 10px;
  text-decoration: underline;
}
