{% extends "investment/_layout.njk" %}
{% import "macros/trade.html" as trade %}

{% block main_heading %}
  {{ super() }}
  {{ trade.errorPanel(form.errors) }}
{% endblock %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Create Investment Interaction</h2>
  {% include './_form.njk' %}
{% endblock %}
