{% extends "investment/_layout.njk" %}
{% import "macros/trade.html" as trade %}

{% block main_heading %}
  <h1 class="page-heading">Create Investment Interaction</h1>
  {{ trade.errorPanel(
    form.errors)
  }}
{% endblock %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}
  {% include './_form.njk' %}
{% endblock %}
