{% extends "investment/_layout.njk" %}
{% import "macros/trade.html" as trade %}

{% block main_heading %}
  <h1 class="page-heading">Investment Interaction Details</h1>

  {% if projectData %}
    <h2 class="page-heading">{{ projectData.name }}</h2>
    {% component 'project-status', projectStatus %}
  {% endif %}

{% endblock %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}
  {{ trade.keyvaluetable(
    data=details,
    stripey=true)
  }}
  <a class="button button-secondary" href="/investment/{{ projectData.id }}/interaction/{{ interaction.id }}/edit">Edit interaction</a>
{% endblock %}
