{% extends "investment/_layout.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Investment Interactions</h2>
  <p>
    <a href="/investment/{{ projectStatus.id }}/interaction/create" class="button-secondary">Create new interaction</a>
  </p>
  <p>
    An interaction could be a meeting, call, email or another activity associated ith this investment.
  </p>

  {% if interactions | length %}
    <ul class="lined-list">

      {% for interaction in interactions %}

        {# TODO this has been set do to the interaction.url property pointing to the central interaction location
           this needs to be aligned in the API ideally #}
        {% set interactionDetailsUrl = '/investment/' + projectData.id + '/interaction/' + interaction.id + '/details'  %}

        <li class="lined-list__item">
          <div class="card card--expandable" id="{{ interaction.id }}">
            <a class="card__title" href="{{ interactionDetailsUrl }}">{{ interaction.subject }}</a>
            <div class="split-data">
              <div>
                <div class="card__metadata">
                  <strong>Type:</strong>
                  {{ interaction.interaction_type }}
                </div>
                <div class="card__metadata">
                  <strong>Adviser:</strong>
                  {{ interaction.adviser | safe }}
                </div>
                <div class="card__metadata">
                  <strong>Adviser team:</strong>
                  {{ interaction.dit_team }}
                </div>
                <div class="card__metadata">
                  <strong>Contact:</strong>
                  {{ interaction.contact | safe }}
                </div>
              </div>
              <div>
                <div class="card__metadata">
                  <strong>Date:</strong>
                  {{ interaction.date }}
                </div>
              </div>
            </div>
            <div class="card__subsection">
              <table class="table--key-value table--plain">
                <tbody>
                <tr>
                  <th>Interaction notes</th>
                  <td>{{ interaction.notes | safe }}</td>
                </tr>
                </tbody>
              </table>
              <p><a class="button button-secondary" href="{{ interactionDetailsUrl }}">View interaction details</a></p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p id="no-interaction-warning" class="infostrip">You currently have no interactions for this company.</p>
  {% endif %}
{% endblock %}

{% block javascript %}
  {{ super() }}
  <script src="/javascripts/expandable-card.bundle.js"></script>
{% endblock %}
