{% extends "_layouts/template.njk" %}

{% block body_main_content %}
  <h2 class="heading-medium">Add event attendee</h2>

  {{
    EntitySearchForm({
      inputLabel: "Find the contact",
      inputPlaceholder: "Contact or company name to search for",
      searchTerm: searchTerm,
      isLabelHidden: true
    })
  }}

  {% if contacts %}
    {% if contacts.count > 0 %}
      {{ Message({
        type: "muted",
        text: "Select the contact to show they attended the event. If you can't find the contact, you should check they have been added to the company record before returning to this event to record their attendance."
      }) }}
    {% else %}
      {{ Message({
        type: "muted",
        text: "If you can't find the contact, you should check they have been added to the company record before returning to this event to record their attendance."
      }) }}
    {% endif %}

    {{ CollectionContent(contacts) }}
  {% else %}
    {{ Message({
      type: "muted",
      text: "Enter the name of the contact, or company, into the search box and press enter to search."
    }) }}
  {% endif %}

{% endblock %}
