{% extends "_layouts/left-nav.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Event Attendees</h2>
  {% if event.disabled_on %}
    <p class="c-message c-message--info">
      You cannot add an event attendee because the event
      has been disabled.
    </p>
  {% elif incompleteEvent %}
    <p class="c-message c-message--info">
      You cannot add an event attendee on this page because the event
      record is incomplete. You can create a service delivery interaction
      from the company record to add an event attendee.
    </p>
  {% endif %}

  {% block xhr_content %}
    <article id="xhr-outlet">
      {{ CollectionContent(attendees) }}
    </article>
  {% endblock %}
{% endblock %}
