{% extends "_layouts/left-nav.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Event Attendees</h2>
  {% block xhr_content %}
    <article id="xhr-outlet">
      {{ CollectionContent(attendees) }}
    </article>
  {% endblock %}
{% endblock %}
