{# TODO spilt these forms into create and edit forms rather than using conditionals to show hide things #}

{% if investmentData %}
  {% set returnLink = '/investment-projects/' + investmentData.id %}
{% else %}
  {% set returnLink = '/investment-projects/create/investment-type/' + clientCompanyId %}
{% endif %}

{% call Form(form | assign({
  buttonText: 'Save',
  returnLink: returnLink,
  hiddenFields: {
    investor_company: equityCompany.id
  }
})) %}

{% if not investmentData %}
  {# If on the create journey this information has already been asked so here we just send it along with the create form #}
  {% for key, data in form.options.investmentDetails %}
    {% if data %}
      {{ HiddenField({
        name: key,
        value: data.value
      }) }}
    {% endif %}
  {% endfor %}
{% endif %}

  {{ TextField({
    name: 'name',
    label: 'Project name',
    placeholder: 'e.g project zeus',
    error: form.errors.messages.name,
    value: form.state.name
  }) }}

  {{ TextField({
    name: 'description',
    label: 'Project description',
    type: 'textarea',
    error: form.errors.messages.description,
    value: form.state.description
  }) }}

  {{ TextField({
    name: 'anonymous_description',
    label: 'Anonymised description of the project',
    hint: 'Do not include company names, financial details or address details',
    type: 'textarea',
    optional: true,
    error: form.errors.messages.anonymous_description,
    value: form.state.anonymous_description
  }) }}

{% if investmentData.id %}
  {{ MultipleChoiceField({
    type: 'radio',
    name: 'investment_type',
    label: 'Type of investment',
    value: form.state.investment_type,
    error: form.errors.messages.investment_type,
    options: form.options.investmentTypes
  }) }}

  {{ MultipleChoiceField({
    name: 'fdi_type',
    label: 'Type of foreign direct investment (FDI)',
    error: form.errors.messages.fdi_type,
    value: form.state.fdi_type,
    options: form.options.fdi,
    initialOption: '-- Select an FDI type --',
    condition: {
      name: 'investment_type',
      value: form.options.investmentTypesObj.fdi.value
    },
    modifier: 'subfield'
  }) }}

  {{ MultipleChoiceField({
    name: 'non_fdi_type',
    label: 'Type of non-foreign direct investment (Non-FDI)',
    error: form.errors.messages.non_fdi_type,
    value: form.state.non_fdi_type,
    options: form.options.nonFdi,
    initialOption: '-- Select a Non-FDI type --',
    condition: {
      name: 'investment_type',
      value: form.options.investmentTypesObj.non_fdi.value
    },
    modifier: 'subfield'
  }) }}
{% endif %}

  {{ MultipleChoiceField({
    name: 'sector',
    label: 'Primary sector',
    initialOption: '-- Choose a sector --',
    options: form.options.primarySectors,
    error: form.errors.messages.sector,
    value: form.state.sector
  }) }}

  {% call Fieldset({ legend: 'Business activities' }) %}
    {% if form.errors.messages.business_activities %}
      <span class="c-form-group__error-message">{{ form.errors.messages.business_activities }}</span>
    {% endif %}

    <div class="js-AddItems"
      data-item-selector=".c-form-group"
      data-add-button-selector=".js-AddItems__add">

      {% for business_activity in form.state.business_activities %}
        {{ MultipleChoiceField({
          name: 'business_activities',
          label: 'Business activity',
          isLabelHidden: true,
          initialOption: '-- Choose a business activity --',
          options: form.options.businessActivities,
          error: form.errors.messages.business_activities,
          value: business_activity
        }) }}
      {% endfor %}

      <p class="c-form-fieldset__add-another">
        <button class="button button-secondary js-AddItems__add" type="submit" name="add-item" value="business_activities" data-persist-values="true">Add another activity</button>
      </p>
    </div>

    {{ TextField({
      name: 'other_business_activity',
      label: 'Other business activity (if not on list)',
      placeholder: 'e.g meet and greet dinner',
      error: form.errors.messages.other_business_activity,
      value: form.state.other_business_activity
    }) }}
  {% endcall %}

  {% call Fieldset({ legend: 'Client contact' }) %}

    {% if form.errors.messages.client_contacts %}
      <span class="c-form-group__error-message">{{ form.errors.messages.client_contacts }}</span>
    {% endif %}

    <div class="js-AddItems"
      data-item-selector=".c-form-group"
      data-add-button-selector=".js-AddItems__add">

      {% for client_contact in form.state.client_contacts %}
        {{ MultipleChoiceField({
          name: 'client_contacts',
          label: 'Client contact',
          isLabelHidden: true,
          initialOption: '-- Pick a contact --',
          options: form.options.contacts,
          error: form.errors.messages.client_contacts,
          value: client_contact
        }) }}
      {% endfor %}


      <p class="c-form-fieldset__add-another">
        <button class="button button-secondary js-AddItems__add" type="submit" name="add-item" value="client_contacts" data-persist-values="true">Add another contact</button>
      </p>
    </div>
  {% endcall %}

{% if not investmentData.id %}
  {{ MultipleChoiceField({
    type: 'radio',
    name: 'is_relationship_manager',
    label: 'Are you the client relationship manager for this project?',
    value: form.state.is_relationship_manager,
    modifier: 'inline',
    error: form.errors.messages.is_relationship_manager,
    options: [
      {
        value: user.id,
        label: 'Yes'
      }, {
        value: 'false',
        label: 'No'
      }
    ],
    children: [
      {
        macroName: 'MultipleChoiceField',
        name: 'client_relationship_manager',
        label: 'Client relationship manager',
        error: form.errors.messages.client_relationship_manager,
        value: form.state.client_relationship_manager,
        options: form.options.advisers,
        initialOption: '-- Select client relationship manager --',
        condition: {
          name: 'is_relationship_manager',
          value: 'false'
        },
        modifier: 'subfield'
      }
    ]
  }) }}
{% endif %}

  {{ MultipleChoiceField({
    type: 'radio',
    name: 'is_referral_source',
    label: 'Are you the referral source for this project?',
    value: form.state.is_referral_source,
    modifier: 'inline',
    error: form.errors.messages.is_referral_source,
    options: [
      {
        value: user.id,
        label: 'Yes'
      }, {
        value: 'false',
        label: 'No'
      }
    ],
    children: [
      {
        macroName: 'MultipleChoiceField',
        name: 'referral_source_adviser',
        label: 'Referral source adviser',
        error: form.errors.messages.referral_source_adviser,
        value: form.state.referral_source_adviser,
        options: form.options.advisers,
        initialOption: '-- Select referral source adviser --',
        modifier: 'subfield',
        condition: {
          name: 'is_referral_source',
          value: 'false'
        }
      }
    ]
  }) }}

  {{  MultipleChoiceField({
    name: 'referral_source_activity',
    label: 'Referral source activity',
    initialOption: '-- Choose referral source activity --',
    options: form.options.referralSourceActivities,
    error: form.errors.messages.referral_source_activity,
    value: form.state.referral_source_activity,
    children: [
      {
        macroName: 'MultipleChoiceField',
        name: 'referral_source_activity_marketing',
        label: 'Marketing',
        error: form.errors.messages.referral_source_activity_marketing,
        value: form.state.referral_source_activity_marketing,
        options: form.options.referralSourceMarketing,
        initialOption: '-- Choose a marketing type --',
        modifier: 'subfield',
        condition: {
          name: 'referral_source_activity',
          value: form.options.referralSourceActivities[3].value
        }
      },
      {
        macroName: 'MultipleChoiceField',
        name: 'referral_source_activity_website',
        label: 'Website',
        error: form.errors.messages.referral_source_activity_website,
        value: form.state.referral_source_activity_website,
        options: form.options.referralSourceWebsite,
        initialOption: '-- Choose a website --',
        modifier: 'subfield',
        condition: {
          name: 'referral_source_activity',
          value: form.options.referralSourceActivities[9].value
        }
      },
      {
        macroName: 'MultipleChoiceField',
        name: 'referral_source_activity_event',
        label: 'Event',
        placeholder: 'e.g conversation at conference',
        error: form.errors.messages.referral_source_activity_event,
        value: form.state.referral_source_activity_event,
        modifier: 'subfield',
        condition: {
          name: 'referral_source_activity',
          value: form.options.referralSourceActivities[2].value
        }
      }
    ]
  }) }}

  {{ DateFieldset({
    name: 'estimated_land_date',
    label: 'Estimated land date',
    hint: 'When activities planned under the investment project will have fully commenced',
    error: form.errors.messages.estimated_land_date,
    value: {
      year: form.state.estimated_land_date_year,
      month: form.state.estimated_land_date_month
    }
  }) }}

{% endcall %}
