{% call Form({
  method: 'get',
  class: 'c-filters',
  buttonText: 'Refresh results',
  hiddenFields: selectedSorting | assign({ custom: true })
}) %}
  <header class="u-clearfix">
    <h2 class="c-filters__heading">Filter results</h2>
  </header>

  {{ MultipleChoiceField({
    type: 'radio',
    name: 'stage',
    label: form.labels.stage,
    value: form.data.filters.stage,
    initialOption: 'All stages',
    options: form.options.stage,
    modifier: ['small', 'light']
  }) }}

  {{ MultipleChoiceField({
    type: 'radio',
    name: 'investment_type',
    label: form.labels.investment_type,
    value: form.data.filters.investment_type,
    options: form.options.investment_type,
    initialOption: 'All types',
    modifier: ['small', 'light']
  }) }}

  {{ MultipleChoiceField({
    name: 'sector',
    label: form.labels.sector,
    value: form.data.filters.sector,
    options: form.options.sector,
    initialOption: 'All sectors',
    modifier: ['small', 'light']
  }) }}

  {{ TextField({
    label: form.labels.estimated_land_date_before,
    name: 'estimated_land_date_before',
    placeholder: 'e.g. 2018-07-18',
    hint: 'YYYY-MM-DD',
    value: form.data.filters.estimated_land_date_before,
    modifier: ['small', 'light']
  }) }}

  {{ TextField({
    label: form.labels.estimated_land_date_after,
    name: 'estimated_land_date_after',
    placeholder: 'e.g. 2017-09-01',
    hint: 'YYYY-MM-DD',
    value: form.data.filters.estimated_land_date_after,
    modifier: ['small', 'light']
  }) }}
{% endcall %}
