{% extends "_layouts/two-column.njk" %}

{% block body_main_header_content %}
  {% if investmentData %}
    <h1 class="u-visually-hidden">Investment details</h1>
    <h2 class="page-heading">{{ investmentData.name }}</h2>
    {% component 'investment-status', investmentStatus %}

    {% if investmentData.archived %}
      <p class="infostrip">
        This investment project was archived on {{ investmentData.archived_on | formatDate }} by {{ investmentData.archived_by.first_name }} {{ investmentData.archived_by.last_name }}. <br>
        <strong>Archive reason:</strong> {{ investmentData.archived_reason }}<br>
        <br>
        <a href="unarchive">Unarchive</a>
      </p>
    {% endif %}

  {% endif %}
{% endblock %}

{% block main_grid_left_column %}
  {% if localNavItems %}
    <nav class="local-nav {{ 'local-nav--background' if variant in ['edit', 'create'] }}">
      {% for item in localNavItems %}
        {% set isSelected = currentNavItem == item.slug %}
        <a
          href="{{ item.slug }}"
          class="local-nav__link {{ 'is-active' if isSelected}}"
        >
          {{ item.label }}
        </a>
      {% endfor %}
    </nav>
  {% endif %}
{% endblock %}
