{% extends "_layouts/two-column.njk" %}

{% block local_header %}
  {% set headingBefore %}
    <a href="{{ investmentStatus.company.url }}">{{ investmentStatus.company.name }}</a>
  {% endset %}

  {% call LocalHeader({
    headingBefore: headingBefore,
    heading: investmentData.name,
    modifier: 'light-banner'
  }) %}

  {{ MetaList({
    items: investmentStatus.meta,
    itemModifier: 'stacked'
  }) }}

  {{ Progress({
    stageNames: investmentProjectStages,
    currentStageName: investmentStatus.currentStage.name
  }) }}

  {% if investmentData.archived %}
      {% call Message({ type: 'info' }) %}
        This investment project was archived on {{ investmentData.archived_on | formatDate }} by {{ investmentData.archived_by.first_name }} {{ investmentData.archived_by.last_name }}. <br>
        <strong>Archive reason:</strong> {{ investmentData.archived_reason }}<br>
        <br>
        <a href="unarchive">Unarchive</a>
      {% endcall %}
    {% endif %}
  {% endcall %}

{% endblock %}

{% block main_grid_right_column %}
  {% if investmentStatus.nextStage %}
    {% call Message({ type: 'info', element: 'div' }) %}
      {% call Form({
        buttonText: 'Move to ' + investmentStatus.nextStage.name + ' stage',
        action: 'change-project-stage',
        disableFormAction: true if not investmentStatus.currentStage.isComplete,
        hiddenFields: {
          next_project_stage: investmentStatus.nextStage.id
        }
      }) %}
          {% if investmentStatus.currentStage.isComplete %}
            <p>You have added all required information to complete this stage.</p>
          {% else %}
            <p>To move to the {{ investmentStatus.nextStage.name }} stage complete the following:</p>
            <ul class="list-disc">
              {% for form in investmentStatus.currentStage.incompleteFields  %}
                <li>
                  <a href="{{ form.url }}">{{ form.text }} form</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
      {% endcall %}
    {% endcall %}
  {% endif %}
{% endblock %}

{% block main_grid_left_column %}
  {{ LocalNav({ items: localNavItems }) }}
{% endblock %}
