{% extends "./template.njk" %}

{% block main_grid_right_column %}
  <h2 class="govuk-heading-m">Audit history</h2>

  <ul class="event-list ">
    {% for logEntry in auditLog %}      <li class="event-list__item">
      <h4 class="event-list__item__heading govuk-heading-s">{{ logEntry.timestamp }} <span class="event-list__item__heading__recede">at {{ logEntry.timestamp | formatDateTime('h:mma') }}  by {{ logEntry.name | default('Unknown adviser') }} </span></h4><!-- at {{ logEntry.timestamp | formatDateTime('h:mma')  }} (GMT) -->
      <p class="event-list__item_text">
        <span class=""><strong>{{ logEntry.changes }} {{ 'item' | pluralise(logEntry.changes) }}</strong> changed by {{ logEntry.name | default('Unknown adviser') }} </span>
      </p>

    </li>
    {% endfor %}
  </ul>
{% endblock %}
