{% extends "./template.njk" %}

{% block main_grid_right_column %}
  <h2 class="govuk-heading-m">Audit history</h2>

  <ul class="event-list ">
    {% for logEntry in auditLog %}
    <li class="event-list__item">
      <h4 class="event-list__item__heading govuk-heading-s">{{ logEntry.timestamp | formatDate }} <span
        class="event-list__item__heading__recede">at {{ logEntry.timestamp | formatDateTime('h:mma') }}  by {{ logEntry.name | default('Unknown adviser') }} </span></h4>

      <dl class="govuk-summary-list">

        {%  for changeItem in logEntry.changes %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <strong>{{ changeItem.ChangeName | replace('_', ' ') | sentenceCase | replace('di', 'DI') }}
            </dt>
            <dd class="govuk-summary-list__value">
              Changed to <strong>{{ changeItem.ChangeToDesc | humanizeBoolean }}</strong> from &#39;{{ changeItem.ChangeFromDesc | humanizeBoolean }}&#39;
            </dd>
          </div>
        {% endfor %}
      </dl><!-- /.govuk-summary-list -->

    </li>
    {% endfor %}
  </ul>
{% endblock %}
