{% extends "./_layout.njk" %}

{% macro renderButton(endpoint, label, isSecondary) %}
  <p>
    <a href="edit-{{ endpoint }}" class="button{{ '--secondary' if isSecondary }}">
      {{ label }}
    </a>
  </p>
{% endmacro %}

{% set details = details | removeNilAndEmpty %}
{% set values = values | removeNilAndEmpty %}
{% set requirements = requirements | removeNilAndEmpty %}

{% block main_grid_right_column %}
  {{ super() }}

  <h2 class="heading-medium">Investment project summary</h2>
  {% component 'key-value-table', items=details, variant='striped' %}
  {{ renderButton('details', 'Edit summary', true) }}

  <h2 class="heading-medium">Requirements and location</h2>
  {% component 'key-value-table', items=requirements, variant='striped' %}

  {% if isRequirementsStarted %}
    {{ renderButton('requirements', 'Edit requirements', true) }}
  {% else %}
    {{ Message({
      type: 'muted',
      text: 'Please complete this section to move to Assign PM stage'
    }) }}

    {{ renderButton('requirements', 'Add requirements') }}
  {% endif %}

  <h2 class="heading-medium">Value</h2>
  {% if values | length > 1 %}
    {% component 'key-value-table', items=values, variant='striped' %}
    {{ renderButton('value', 'Edit value', true) }}
  {% else %}
    {{ Message({
      type: 'muted',
      text: 'Please complete ‘Total investment’ and ‘Number of new jobs’ to move to Assign PM stage'
    }) }}
    {{ renderButton('value', 'Add value') }}
  {% endif %}

{% if not investmentData.archived %}
  <h2 class="heading-medium">Archive project</h2>
  <p>Archive this project if it has been lost or abandoned</p>

  {% component 'archive-form', {
    label: 'Archive reason',
    options: ['Abandoned', 'Lost'],
    csrfToken: csrfToken,
    error: form.errors.reason
  } %}
{% endif %}

{% endblock %}
