{% extends "./_layout.njk" %}

{% macro renderButton(endpoint, label, isSecondary) %}
  <p>
    <a href="/investment/{{ projectData.id }}/edit-{{ endpoint }}" class="button{{ '-secondary' if isSecondary }}">
      {{ label }}
    </a>
  </p>
{% endmacro %}

{% set details = details | removeNilAndEmpty %}
{% set values = values | removeNilAndEmpty %}
{% set requirements = requirements | removeNilAndEmpty %}

{% block main_grid_right_column %}
  {{ super() }}

  <h2 class="heading-medium">Investment project summary</h2>
  {% component 'key-value-table', items=details, variant='striped' %}
  {{ renderButton('details', 'Edit summary', true) }}

  <h2 class="heading-medium">Value</h2>
  {% if values | length %}
    {% component 'key-value-table', items=values, variant='striped' %}
    {{ renderButton('value', 'Edit value', true) }}
  {% else %}
    <p class="infostrip">
      Please complete ‘Total investment’ and ‘Number of new jobs’ to move to Assign PM stage
    </p>
    {{ renderButton('value', 'Add value') }}
  {% endif %}

{% if not projectData.archived %}
  <h2 class="heading-medium">Archive project</h2>
  <p>Archive this project if it has been lost or abandoned</p>

  {% component 'archive-form', {
    label: 'Archive reason',
    options: ['Abandoned', 'Lost'],
    csrfToken: csrfToken,
    error: form.errors.reason
  } %}
{% endif %}

  <h2 class="heading-medium">Requirements and location</h2>
  {% if requirements | removeNilAndEmpty | length %}
    {% component 'key-value-table', items=requirements, variant='striped' %}
    {{ renderButton('requirements', 'Edit requirements', true) }}
  {% else %}
    <p class="infostrip">
      Please complete this section to move to Assign PM stage
    </p>
    {{ renderButton('requirements', 'Add requirements') }}
  {% endif %}
{% endblock %}
