{% extends "./_layout.njk" %}


{% block local_header %}
  {{ LocalHeader({ pageHeading: 'Edit investment project', breadcrumbs: BREADCRUMBS, modifier: 'light-banner' }) }}
{% endblock %}

{% block main_grid_right_column %}
  {{ errorPanel(form.errors) }}
  {% include './_details-form.njk' %}
{% endblock %}
