{% extends "_layouts/two-column.njk" %}

{% from "_macros/entities.njk" import Entity with context %}

{% block main_grid_left_column %}
  {{
    ResultsFilters({
      sort: sort,
      filters: filterMacroConfig | applyMacro
    })
  }}
{% endblock %}

{% block main_grid_right_column %}
  {{
    Results(results | assign({
      el: 'header',
      sort: sort,
      filters: filters,
      countLabel: 'project',
      query: QUERY
    }))
  }}
{% endblock %}
