{% extends "_layouts/two-column.njk" %}

{% from "_macros/entities.njk" import Entity with context %}

{% block main_grid_left_column %}
  {{
    CollectionFilters({
      query: QUERY,
      filtersFields: filtersFields
    })
  }}
{% endblock %}

{% block main_grid_right_column %}
  {{
    Collection(results | assign({
      sortForm: sortForm,
      selectedFilters: selectedFilters,
      countLabel: 'project',
      query: QUERY
    }))
  }}
{% endblock %}
