{% extends "./_layout.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Investment Propositions</h2>
  <p>
    An proposition could be a suggestion.
  </p>

  {{
    CollectionContent(propositions | assignCopy({
      countLabel: 'proposition',
      actionButtons: actionButtons
    }))
  }}
{% endblock %}
