{% extends "./_layout.njk" %}


{% block main_grid_right_column %}
  <h2 class="heading-medium">Edit value</h2>

  {% call Form({
    buttonText: 'Save',
    errors: form.errors
  }) %}

    {% call MultipleChoiceField({
        name: 'client_cannot_provide_total_investment',
        type: 'radio',
        modifier: 'inline',
        label: form.labels.client_cannot_provide_total_investment,
        value: form.state.client_cannot_provide_total_investment,
        error: form.errors.messages.client_cannot_provide_total_investment,
        options: [
          { label: 'Yes', value: 'false' },
          { label: 'No', value: 'true' }
        ]
      })
    %}
      {{ TextField({
        name: 'total_investment',
        label: form.labels.total_investment,
        value: form.state.total_investment,
        error: form.errors.messages.total_investment,
        modifier: 'subfield',
        condition: {
          name: 'client_cannot_provide_total_investment',
          value: 'false'
        }
      }) }}
    {% endcall %}

    {% call MultipleChoiceField({
        name: 'client_cannot_provide_foreign_investment',
        type: 'radio',
        modifier: 'inline',
        label: form.labels.client_cannot_provide_foreign_investment,
        value: form.state.client_cannot_provide_foreign_investment,
        error: form.errors.messages.client_cannot_provide_foreign_investment,
        options: [
          { label: 'Yes', value: 'false' },
          { label: 'No', value: 'true' }
        ]
      })
    %}
      {{ TextField({
        name: 'foreign_equity_investment',
        label: form.labels.foreign_equity_investment,
        value: form.state.foreign_equity_investment,
        error: form.errors.messages.foreign_equity_investment,
        modifier: 'subfield',
        condition: {
          name: 'client_cannot_provide_foreign_investment',
          value: 'false'
        }
      }) }}
    {% endcall %}

    {{ TextField({
      name: 'number_new_jobs',
      label: form.labels.number_new_jobs,
      value: form.state.number_new_jobs,
      error: form.errors.messages.number_new_jobs
    }) }}

    {{ MultipleChoiceField({
      name: 'average_salary',
      type: 'radio',
      label: form.labels.average_salary,
      value: form.state.average_salary,
      error: form.errors.messages.average_salary,
      options: form.options.averageSalaryRange
    }) }}

    {{ TextField({
      name: 'number_safeguarded_jobs',
      label: form.labels.number_safeguarded_jobs,
      value: form.state.number_safeguarded_jobs,
      error: form.errors.messages.number_safeguarded_jobs
    }) }}

    {{ MultipleChoiceField({
      name: 'government_assistance',
      type: 'radio',
      modifier: 'inline',
      optional: true,
      label: form.labels.government_assistance,
      value: form.state.government_assistance,
      error: form.errors.messages.government_assistance,
      options: [
        { label: 'Yes', value: 'true' },
        { label: 'No', value: 'false' }
      ]
    }) }}

    {{ MultipleChoiceField({
      name: 'r_and_d_budget',
      type: 'radio',
      modifier: 'inline',
      optional: true,
      label: form.labels.r_and_d_budget,
      value: form.state.r_and_d_budget,
      error: form.errors.messages.r_and_d_budget,
      options: [
        { label: 'Yes', value: 'true' },
        { label: 'No', value: 'false' }
      ]
    }) }}

    {{ MultipleChoiceField({
      name: 'non_fdi_r_and_d_budget',
      type: 'radio',
      modifier: 'inline',
      optional: true,
      label: form.labels.non_fdi_r_and_d_budget,
      value: form.state.non_fdi_r_and_d_budget,
      error: form.errors.messages.non_fdi_r_and_d_budget,
      options: [
        { label: 'Yes', value: 'true' },
        { label: 'No', value: 'false' }
      ]
    }) }}

    {{ MultipleChoiceField({
      name: 'new_tech_to_uk',
      type: 'radio',
      modifier: 'inline',
      optional: true,
      label: form.labels.new_tech_to_uk,
      value: form.state.new_tech_to_uk,
      error: form.errors.messages.new_tech_to_uk,
      options: [
        { label: 'Yes', value: 'true' },
        { label: 'No', value: 'false' }
      ]
    }) }}

    {{ MultipleChoiceField({
      name: 'export_revenue',
      type: 'radio',
      modifier: 'inline',
      optional: true,
      label: form.labels.export_revenue,
      value: form.state.export_revenue,
      error: form.errors.messages.export_revenue,
      options: [
        { label: 'Yes', value: 'true' },
        { label: 'No', value: 'false' }
      ]
    }) }}

  {% endcall %}
{% endblock %}
