version: 2.1

ignore_ghpages: &ignore_ghpages
  filters:
    branches:
      ignore:
        - gh-pages

jobs:
  lint:
    machine:
      image: ubuntu-2004:2024.01.1
      docker_layer_caching: false
    steps:
      - checkout
      - run_make:
          label: Run linter
          target: lint
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports

  unit_tests:
    machine:
      image: ubuntu-2004:2024.01.1
      docker_layer_caching: false
    steps:
      - checkout
      - run_make:
          label: Run unit tests
          target: unit-tests
      - store_test_results:
          path: junit
      - store_artifacts:
          path: junit
      - store_test_results:
          path: coverage
      - store_artifacts:
          path: coverage
      - run:
          name: Prepare coverage report
          command: |
            mkdir -p unit-coverage
            cp coverage/coverage-final.json unit-coverage/unit-coverage.json
      - persist_to_workspace:
          root: ~/
          paths:
            - "project/unit-coverage/*"

  unit_client_tests:
    machine:
      image: ubuntu-2004:2024.01.1
      docker_layer_caching: false
    steps:
      - checkout
      - run_make:
          label: Run unit tests
          target: unit-client-tests
      - store_test_results:
          path: junit
      - store_artifacts:
          path: junit
      - store_test_results:
          path: coverage
      - store_artifacts:
          path: coverage

  functional_tests:
    machine:
      image: ubuntu-2004:2024.01.1
      docker_layer_caching: true
    parallelism: 9
    resource_class: xlarge
    steps:
      - checkout
      - run:
          name: Determine specs to run
          command: ./test-parallel.sh test/functional/cypress/specs
      - run_make:
          label: Run functional tests
          target: start-mock functional-tests
          spec_files: $SPECS_TO_RUN
      - store_cypress_artifacts
      - run:
          name: Prepare coverage report
          command: |
            mkdir -p partial-coverage
            touch partial-coverage/.placeholder
            if [ -f cypress-coverage/coverage-final.json ]; then
              cp cypress-coverage/coverage-final.json partial-coverage/cypress-coverage-$CIRCLE_WORKFLOW_JOB_ID-index-$CIRCLE_NODE_INDEX.json
            fi

      - persist_to_workspace:
          root: ~/
          paths:
            - "project/partial-coverage/*"

  a11y_tests:
    machine:
      image: ubuntu-2004:2024.01.1
      docker_layer_caching: true
    resource_class: xlarge
    steps:
      - checkout
      - run_make:
          label: Run a11y tests
          target: start-mock a11y-tests
      - store_artifacts:
          path: cypress/videos

  e2e_tests_dit:
    machine:
      image: ubuntu-2004:2024.01.1
      docker_layer_caching: true
    parallelism: 1
    resource_class: xlarge
    parameters:
      staff:
        type: string
    steps:
      - checkout
      - run_make:
          label: Run e2e tests
          target: start-e2e-<< parameters.staff >> e2e-tests-<< parameters.staff >>
      - store_cypress_artifacts

  e2e_tests:
    machine:
      image: ubuntu-2004:2024.01.1
      docker_layer_caching: true
    parallelism: 1
    resource_class: xlarge
    parameters:
      staff:
        type: string
    steps:
      - checkout
      - run_make:
          label: Run e2e tests
          target: start-e2e-<< parameters.staff >> e2e-tests-<< parameters.staff >>
      - store_cypress_artifacts

  component_tests:
    machine:
      image: ubuntu-2004:2024.01.1
      docker_layer_caching: true
    steps:
      - checkout
      - run_make:
          label: Run component tests
          target: component-tests
      - store_cypress_artifacts

  release-storybook:
    docker:
      - image: node:20.11.0-buster
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "0b:88:e7:46:60:b5:25:b1:fb:10:49:1b:8d:7f:c7:b0"
      - run: npm install storybook
      - run:
          name: Release storybook
          command: npm run storybook:release

  merge-and-publish-coverage:
    docker:
      - image: node
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run: npm i -g add nyc
      - run: cp unit-coverage/unit-coverage.json partial-coverage
      - run: nyc merge partial-coverage
      - run: mkdir .nyc_output || true
      - run: mv coverage.json .nyc_output/out.json
      - run:
          command: |
            nyc report \
            --reporter lcov --reporter text \
            --reporter=html --report-dir coverage
      - store_artifacts:
          path: coverage
      - run:
          name: Publish coverage to Codecov
          command: bash <(curl -s https://codecov.io/bash)

commands:
  run_make:
    description: Run makefile target with some setup
    parameters:
      label:
        type: string
        default: Execute make << parameters.target >>
      target:
        type: string
      spec_files:
        type: string
        default: ""
    steps:
      - run:
          name: Copy config
          command: cp sample.env .env
      - run:
          name: << parameters.label >>
          command: make << parameters.target >> SPEC_FILES="<< parameters.spec_files >>"
          environment:
            - NODE_ENV: test
  store_cypress_artifacts:
    description: Store Cypress artifacts like screenshots and videos
    steps:
      - store_test_results:
          path: cypress-coverage
      - store_artifacts:
          path: cypress-coverage
      - store_artifacts:
          path: cypress/screenshots
      - store_artifacts:
          path: cypress/videos

workflows:
  version: 2
  datahub:
    jobs:
      # - lint: *ignore_ghpages
      # - unit_tests: *ignore_ghpages
      # - unit_client_tests: *ignore_ghpages
      - functional_tests: *ignore_ghpages
      # - a11y_tests: *ignore_ghpages
      # - component_tests: *ignore_ghpages
      # - e2e_tests:
      #     <<: *ignore_ghpages
      #     name: e2e_tests_<< matrix.staff >>
      #     matrix:
      #       parameters:
      #         staff: [da, lep]
      # - e2e_tests_dit:
      #     <<: *ignore_ghpages
      #     name: e2e_tests_dit
      #     matrix:
      #       parameters:
      #         staff: [dit]
      # - release-storybook:
      #     <<: *ignore_ghpages
      #     filters:
      #       branches:
      #         only:
      #           - main
      # - merge-and-publish-coverage:
      #     <<: *ignore_ghpages
      #     requires:
      #       - functional_tests
      #       - unit_tests
