@import "~govuk_frontend_toolkit/stylesheets/design-patterns/buttons";
@import "../tools/mixins";

.fieldset--address {

  .form-group.form-group--postcode {
    .form-control.postcode-lookup-value  {
      width: 100%;
      @include media(tablet) {
        width: 50%;
      }
    }

    .button {
      @include button ($grey-2);
      @include core-font(16);
      margin: 10px 0 0;
      width: 100%;

      @include media(tablet) {
        margin: 1px 0 0 5px;
        width: auto;
      }
    }
  }
}

.form-group.form-group--postcode,
.form-group.form-group--address-suggestions {
  display: none;
}

.js-enabled {
  .form-group.form-group--postcode,
  .form-group.form-group--address-suggestions  {
    display: block;
  }
}
