@import "../tools/mixins/typography";

.dashboard-section {
  @include core-font(16);

  .dashboard-section-title {
    @include bold-font(24);
    margin: 0 0 20px;
  }

  .dashboard-section-intro {
    margin-top: -15px;
  }

  .dashboard-list {

    margin-bottom: 1.5em;

    li {

      padding-bottom: 1em;
    }
  }
}

.clipped-hide {
  display: none;
}
