@import "../tools/mixins/typography";
@import "../settings";

.dashboard-section {
  @include core-font(16);
  border-top: 5px solid $black;
  padding-top: $default-spacing-unit;

  .dashboard-section-title {
    @include bold-font(24);
    margin: 0;
  }

  .dashboard-section-intro {
    margin-top: $default-spacing-unit / 2;
  }

  .dashboard-list {
    margin-bottom: $default-spacing-unit;

    li + li {
      padding-top: $default-spacing-unit / 2;
    }
  }
}
