@import "../tools/mixins/typography";
@import "../settings";

.dashboard-section {
  @include core-font(14);
  border-top: 4px solid $grey-2;
  padding-top: $default-spacing-unit;
  position: relative;
  margin-bottom: $default-spacing-unit * 2;


  .dashboard-section-title {
    @include bold-font(20);
    line-height: normal;
  }

  .dashboard-list {
    li + li {
      padding-top: $default-spacing-unit / 2;
    }
  }

  a:visited{
    color: $link-colour;
  }

  &__link {
    top: 21px;
    position: absolute;
    right: 0;
  }

  &__top-link {
    position: absolute;
    right: 0
  }

  &__subheading {
    @include core-font(14);
    color: $grey-5;
    margin-top: -$default-spacing-unit;
    margin-bottom: $default-spacing-unit;
  }

  &__info-feed-link{
    text-decoration: none;
  }

  &__info-feed-date {
    display: block;
    margin: 0;
  }

  &__info-feed-link-note {
    color: $grey-1;
  }

}
