@import "../settings/layout";
@import "../tools/mixins/typography";

.stack-trace {
  margin-bottom: $gutter;
}

.stack-trace__heading {
  @include core-font(24);
  margin-bottom: $gutter / 2;
}

.stack-trace__details {
  @include core-font(16);
  font-family: monospace;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
