@import "../tools/mixins/typography";

.facets {
  .controls {
    float: right;
  }

  input:focus {
    outline: 0;
  }

  .facet-value-label {
    text-transform: capitalize;
  }

  .clear-filter-button {
    @include core-font(20);
    color: $black;
    cursor: pointer;
    margin-right: 10px;
  }

  .collapse-filter {
    cursor: pointer;
    color: $grey-1;
    height: 19px;
    width: 19px;
    display: inline-block;
  }

  .govuk-option-select .options-container {
    overflow-y: visible;
    max-height: 900px;
    box-sizing: border-box;
    width: 100%;
  }

  .govuk-option-select .option-select-label {
    margin-right: 10px;
    margin-left: 5px;
  }

  .govuk-option-select.collapse .options-container {
    display: none;
  }

  .filter-title {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 2.3;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 5px;
  }
}
