@import "../tools/mixins/layout";

.left-nav-container {

  @extend %contain-floats;
  clear: both;

  .left-nav {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include media(tablet) {
      border-right: 1px solid $grey-2;
      width: 25%;
      float: left;
    }

    nav a {
      @include core-font(20);
      display: block;
      color: $black;
      text-decoration: underline;
      padding: 15px;

      &.active {
        background: $govuk-blue;
        color: $white;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  .right-content {
    box-sizing: border-box;
    padding: 0 15px;
    clear: both;
    margin: 20px 0 0;
    @include media(tablet) {
      width: 75%;
      float: left;
      clear: none;
      margin-top: 0;
    }

    > .heading-xlarge,
    > .heading-large,
    > .heading-medium,
    > .heading-small {
      margin-top: 0;
    }

    > .heading-xlarge ~ .heading-xlarge {
      margin-top: em(15, 32);
      @include media(tablet) {
        margin-top: em(30, 48);
      }
    }

    > .heading-large ~ .heading-large {
      margin-top: em(25, 24);
      @include media(tablet) {
        margin-top: em(45, 36);
      }
    }

    > .heading-medium ~ .heading-medium {
      margin-top: em(25, 20);
      @include media(tablet) {
        margin-top: em(45, 24);
      }
    }

    > .heading-small ~ .heading-small {
      margin-top: em(10, 16);
      @include media(tablet) {
        margin-top: em(20, 19);
      }
    }


  }


}


