@import "../tools/mixins/layout";

.login-bar {

  @include core-font(20);
  line-height: 2;
  border-bottom: 1px solid $border-colour;
  overflow: hidden;
  padding: .5em 0 .25em;

  @include media(tablet) {
    line-height: 1.8;
  }

  .user-name {
    color: $grey-1;
  }

  .login-links {

    margin: 0;
    padding: 0;

    a {
      margin: 0 .5em;
    }

  }

  .login-links-left {
    float: left;
    margin-left: -.5em;
  }

  .login-links-right {
    margin-right: -.5em;
    float: right;
    text-align: right;
  }
}
