@import "../tools/mixins/typography";

.section {
  margin-bottom: 30px;
}

.actions {
  margin: 20px 0;
}

strong {
  font-weight: 700;
}

.column-three-quarters {
  @include grid-column(3 / 4, tablet);
}
