{##
 # @param {string} action Search forms action attribute value
 # @param {string} [method=get] Search forms method attribute value
 # @param {string} label Search forms label text
 # @param {string} searchTerm Search term used for search forms input value
 # @param {string} [placeholder=label] Text used for Search inputs placeholder
 # @param {string} [submitText=Search] Text used for Search submit
 #
 # @return {string} HTML for search bar
 #
 # @example
 #   {% component 'search-bar', {
 #    action: '/search/company',
 #    method: 'get',
 #    label: 'Search...',
 #    searchTerm: 'example search term'
 #   } %}
 #}

{% set method = method | default('get') %}
{% set placeholder = placeholder | default(label) %}
{% set submitText = submitText | default('Search') %}

<form
  class="search-bar"
  action="{{ action }}"
  method="{{ method }}"
  role="search"
>
  <div class="search-bar__wrapper">
    <label class="visually-hidden" for="search">
      {{ label }}
    </label>
    <div class="search-bar__input-wrapper">
      <input
        class="search-bar__input"
        id="search"
        type="search"
        name="term"
        value="{{ searchTerm }}"
        placeholder="{{ placeholder }}"
      >
      <input class="search-bar__submit" type="submit" value="{{ submitText }}">
    </div>
  </div>
</form>
