{% extends "_layouts/left-nav.njk" %}

{% block local_header %}
  {% call LocalHeader({
    heading: event.name,
    modifier: 'light-banner'
  }) %}

    {% if event.disabled_on %}
      {% call Message({ type: 'info' }) %}
        This event was disabled on {{event.disabled_on | formatDate}} and can no longer be edited.
      {% endcall %}
    {% endif %}
  {% endcall %}
{% endblock %}
