{% extends "_layouts/two-column.njk" %}

{% block main_grid_right_column %}
  {% component 'key-value-table', variant='striped', items=eventViewRecord %}
  <a class="button button-secondary" href="{{ eventId }}/edit">Edit Event</a>
{% endblock %}
