{% extends "collection.njk" %}

{% block collection_results %}
  {% set summaryActionsHTML %}
    <a id="add-event-link" class="button button--secondary" href="/events/create">Add event</a>
  {% endset %}

  {{ Collection(results | assign({
    countLabel: countLabel,
    sortForm: assign({}, sortForm, { action: CURRENT_PATH }),
    selectedFilters: selectedFilters,
    query: QUERY,
    highlightTerm: highlightTerm,
    summaryActionsHTML: summaryActionsHTML
  })) }}
{% endblock %}
