{% extends "_layouts/two-column.njk" %}

{% block main_grid_right_column %}
   {% component 'key-value-table', variant='striped', items=propositionViewRecord %}
      <a class="button button--secondary" href="{{proposition.id}}/abandon">
        Abandon
      </a>
      <a class="button custom-class" href="{{proposition.id}}/complete">
        Complete
      </a>
{% endblock %}
