@import "../settings/colours";
@import "../settings/layout";
@import "../tools/mixins/typography";

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: ($baseline-grid-unit * 4) 0 ($baseline-grid-unit * 8);
  width: 100%;

  caption {
    @include core-font(24);
    margin: 0 0 $baseline-grid-unit * 4;
    text-align: left;

    @include media(tablet) {
      margin-bottom: $baseline-grid-unit * 8;
    }
  }

  th,
  td {
    @include core-font(16);
    border-bottom: 1px solid $grey-2;
    padding: ($baseline-grid-unit * 2);
    vertical-align: top;
  }

  th {
    @include bold-font(16);
    text-align: left;
  }

  [align="right"] {
    text-align: right;
  }
}


.table__cell--plain {
  border-bottom: 0;
}

.table--filename-truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.table__list {
  padding-left: $default-spacing-unit;
  margin-bottom: $default-spacing-unit;
}

.table__list-item {
  display: inline-block;
  padding: 5px 0;
  &:before {
    content: '\25CF';
    margin-right: 10px ;
    position: relative;
    font-size: 0.8em;
    top: -2px;
  }
}

