{% extends "_layouts/datahub-base.njk" %}

{% block body_main_content %}
  {{ Form({
    buttonText: 'Continue',
    errors: errors,
    hiddenFields: {
      company: companyId,
      contact: contactId
    },
    children: [
      {
        macroName: 'MultipleChoiceField',
        type: 'radio',
        modifier: 'columns',
        label: 'Select interaction type',
        name: 'interaction_type',
        options: interactionTypeOptions
      }
    ]
  }) }}
{% endblock %}
