{% extends "_layouts/two-column.njk" %}

{% set kindWord = interaction.kind | lowerCase %}
{% set returnLink = interactions.returnLink if interactions else '/interactions' %}
{% set themePath = interaction.theme | kebabCase if interaction.theme else 'other' %}
{% set kindPath = interaction.kind | kebabCase %}

{% block main_grid_right_column %}
  {% component 'key-value-table', variant='striped', items=interactionViewRecord, dataTest='interactionDetails' %}

  <div class="c-form-actions">
    {% if canComplete %}
      {{ govukButton({
        text: 'Complete ' + kindWord,
        href: [ returnLink, interaction.id, 'complete' ] | joinPaths
      }) }}
    {% endif %}

    {% if canEdit %}
      {{ govukButton({
        text: 'Edit ' + kindWord,
        href: [ returnLink, interaction.id, 'edit' ] | joinPaths,
        classes: 'govuk-button govuk-button--secondary'
      }) }}
    {% endif %}
  </div>

  {% if referral %}
    {% component 'react-slot', {
      id: 'interaction-referral-details',
      props: referral
    } %}
  {% endif %}

  {% if not canComplete and not canEdit and not interaction.archived %}
    {{ govukDetails({
      summaryText: 'Why can I not complete this interaction?',
      html: '<p>
          This is an upcoming interaction, once the meeting has taken place, you will see a button that will allow you to complete the interaction.</a>.
        </p>
        <p>
          If you think the information is incomplete or incorrect, <a href="/support">get in touch using the support form</a>.
        </p>',
      attributes: {
        'data-test': 'interactionDetailsWhyCanINotComplete'
      }
    }) }}
  {% endif %}

{% endblock %}
