{% extends "_layouts/two-column.njk" %}

{% block main_grid_right_column %}
   {% component 'key-value-table', variant='striped', items=interactionViewRecord %}
  <a class="button button-secondary" href="{{interaction.id}}/edit">
    Edit {{ interaction.kind | lowerCase }}
  </a>
{% endblock %}
