{% extends "_layouts/two-column.njk" %}

{% block main_grid_right_column %}
  {{ keyvaluetable(interactionDetails, stripey=true, labels=interactionLabels, keyorder=interactionDisplayOrder) }}
  <a class="button button-secondary" href="{{interaction.id}}/edit">Edit interaction</a>
{% endblock %}
