{% extends "_layouts/two-column.njk" %}

{% block main_grid_right_column %}
  {{
    Collection(results | assign({
      countLabel: 'interaction',
      sortForm: sortForm,
      query: QUERY
    }))
  }}
{% endblock %}
