{% extends "./template.njk" %}

{% macro renderButton(endpoint, label, isSecondary) %}
  <p>
    <a 
      href="edit-{{ endpoint }}"
      class="govuk-button{{ ' govuk-button--secondary' if isSecondary }}"
      data-test="investment-{{ endpoint }}-link"
    >
      {{ label }}
    </a>
  </p>
{% endmacro %}

{% set details = details | removeNilAndEmpty %}
{% set values = values | removeNilAndEmpty %}
{% set requirements = requirements | removeNilAndEmpty %}

{% block main_grid_right_column %}
  {{ super() }}

  {% call DetailsContainer({ heading: 'Investment project summary', dataAutoId: 'summaryContainer' }) %}
    {% component 'key-value-table', items=details, variant='striped' %}
    {{ renderButton('details', 'Edit summary', true) }}
  {% endcall %}

  {% call DetailsContainer({ heading: 'Requirements and location' }) %}
    {% component 'key-value-table', items=requirements, variant='striped' %}

    {% if isRequirementsStarted %}
      {{ renderButton('requirements', 'Edit requirements', true) }}
    {% else %}
      {{ Message({
        type: 'muted',
        text: 'Please complete this section to move to Assign PM stage'
      }) }}

      {{ renderButton('requirements', 'Add requirements') }}
    {% endif %}

  {% endcall %}

  {% call DetailsContainer({ heading: 'Value', dataAutoId: 'valueContainer' }) %}
    {% if values | length > 1 %}
      {% component 'key-value-table', items=values, variant='striped' %}
      {{ renderButton('value', 'Edit value', true) }}
    {% else %}
      {{ Message({
        type: 'muted',
        text: 'Please complete ‘Total investment’ and ‘Number of new jobs’ to move to Assign PM stage'
      }) }}
      {{ renderButton('value', 'Add value') }}
    {% endif %}
  {% endcall %}

{% endblock %}
