{% extends "./template.njk" %}

{% block main_grid_right_column %}
  <h2 class="govuk-heading-m">Edit history</h2>

{% component 'react-slot', {
    id: 'investment-edit-history',
    props: props
  } %}
{% endblock %}
