{% extends "_layouts/template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ TabbedLocalNav({ items: investmentTabItems }) }}
    </div>
  </div>
  <h1>Profiles</h1>
{% endblock %}
