{% extends "_layouts/collection.njk" %}

{% block content %}
  <div id="investors-profiles-tab">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ TabbedLocalNav({ items: investmentTabItems }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% component 'react-slot', {
            id: 'large-capital-profile-collection',
            props: props
          }
          %}
      </div>
    </div>
  </div>
</div>
{% endblock %}