{% extends "_layouts/two-column.njk" %}

{% block local_header %}
  {% set headingBefore %}
    <a href="{{ investmentStatus.company.url }}">{{ investmentStatus.company.name }}</a>
  {% endset %}

  {% call LocalHeader({
    headingBefore: headingBefore,
    heading: investment.name,
    modifier: 'light-banner'
  }) %}

  {{ MetaList({
    items: investmentStatus.meta,
    modifier: 'inline',
    itemModifier: 'stacked'
  }) }}

  {{ Progress({
    stageNames: investmentProjectStages,
    currentStageName: investmentStatus.currentStage.name
  }) }}

  {% if investmentStatus.currentStage.name === 'Won' and not investment.archived %}
      {% call Message({ type: 'info' }) %}
        This project has been verified as won. You should not make any changes to this project.<br>
        If you would like to make changes, please contact the Investment Promotion Performance team.
      {% endcall %}
  {% endif %}

  {% if investment.archived %}
      {% call Message({ type: 'info' }) %}
        This investment project was archived on {{ investment.archived_on | formatDate }} by {{ investment.archived_by.first_name }} {{ investment.archived_by.last_name }}. <br>
        <strong>Archive reason:</strong> {{ investment.archived_reason }}<br>
        <br>
        <a href="unarchive">Unarchive</a>
      {% endcall %}
    {% endif %}
  {% endcall %}

{% endblock %}

{% block main_grid_right_column %}
  {% if investmentStatus.nextStage %}
    {% call Message({ type: 'info', element: 'div' }) %}
      {% call Form({
        buttonText: 'Move to ' + investmentStatus.nextStage.name + ' stage',
        action: 'change-project-stage',
        disableFormAction: true if not investmentStatus.currentStage.isComplete,
        hiddenFields: {
          next_project_stage: investmentStatus.nextStage.id
        }
      }) %}
          {% if investmentStatus.currentStage.isComplete %}
            {% if investmentStatus.currentStage.messages | length %}
              <p>Before you move to the {{ investmentStatus.nextStage.name }} stage:</p>
              <ul class="list-disc">
                {% for message in investmentStatus.currentStage.messages  %}
                  <li>
                    {% if message.html %}
                      {{ message.html | safe }}
                    {% else %}
                      {{ message.text }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>You have added all required information to complete this stage.</p>
            {% endif %}
          {% else %}
            <p>To move to the {{ investmentStatus.nextStage.name }} stage complete the following:</p>
            <ul class="list-disc">
              {% for form in investmentStatus.currentStage.incompleteFields  %}
                <li>
                    <a href="{{ form.url }}?returnUrl={{ ORIGINAL_URL }}">{{ form.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
      {% endcall %}
    {% endcall %}
  {% endif %}
{% endblock %}

{% block main_grid_left_column %}
  {{ LocalNav({ items: localNavItems }) }}
{% endblock %}
