{% extends "../../../views/_layout.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Evidence</h2>
  <table class="table--data">
    <tr>
      <th>
        Tags
      </th>
      <th>
        Comment
      </th>
      <th>
        Filename
      </th>
      <th>
        File State
      </th>
      <th>
        Edit
      </th>
    </tr>
  {{ evidence.results | log | safe }}
    {% for item in evidence.results %}
      <tr>
        <td>
          {% for tag in item.tags %}
            <span class="c-badge" data-id="{{ tag.id }}">{{ tag.name }}</span>
          {% endfor %}
        </td>
        <td>
          {{ item.comment }}
        </td>
        <td>
          {{ item.original_filename }}
        </td>
        <td>
          {% if item.av_clean and item.status == 'virus_scanned' %}
            <a href="/investment-projects/{{ item.investment_project.id }}/evidence/{{ item.id }}/download">Download</a>
          {% else %}
            <span>File scan failed</span>
          {% endif %}
        </td>
        <td>
          <a href="/investment-projects/{{ item.investment_project.id }}/evidence/{{ item.id }}/delete">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <br>
  <a href="evidence/add-new" class="button">Add new evidence</a>
{% endblock %}
