{% extends "../_layout.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Client relationship management</h2>

  {% component 'data-table', {
    columns: clientRelationshipManagementLabels.view,
    data: clientRelationshipManagementData
  } %}

  <a href="edit-client-relationship-management" class="button button--secondary">Change</a>

  <h2 class="heading-medium">Project management</h2>

  {% if stage == 'Prospect' %}
    {{ Message({
      type: 'muted',
      text: 'Will be assigned during "Assign PM" stage.'
    }) }}
  {% elif projectManagementData %}
    {% component 'data-table', {
      columns: projectManagementLabels.view,
      data: projectManagementData
    } %}
    <p><a href="edit-project-management" class="button button--secondary">Change</a></p>
  {% else %}
    {{ Message({
      type: 'muted',
      text: 'Once both a Project Manager and a Project Assurance have been assigned, the project will move to "Active" stage.'
    }) }}
    <p><a href="edit-project-management" class="button">Assign</a></p>
  {% endif %}

  <h2 class="heading-medium">Project specialist and team members</h2>

  {% component 'data-table', {
    columns: teamMembersLabels.view,
    data: teamMembersData
  } %}

  <a href="edit-team-members" class="button button--secondary">Change</a>

  <h2 class="heading-medium">Success verifier</h2>

  {{ Message({
    type: 'muted',
    text: 'Will be assigned during "Verify win" stage.'
  }) }}
{% endblock %}
