{% extends "../_layout.njk" %}

{% set phase = investmentData.phase.name %}
{% set crm = investmentData.client_relationship_manager %}
{% set rsa = investmentData.referral_source_adviser %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Assign Project Manager</h2>
{% endblock %}
