{% extends "../_layout.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Assign project specialist and team members</h2>

  {% call Form(form) %}
    <div class="js-AddItems"
      data-item-selector=".c-form-fieldset"
      data-item-name="team member"
      data-can-remove-all
    >
      <div>
        {% for teamMember in form.fields.teamMembers %}
          {% call Fieldset({ legend: 'Team member' }) %}
            {{ MultipleChoiceField({
              name: 'adviser',
              label: form.labels.adviser,
              options: teamMember.options,
              value: teamMember.adviser,
              idSuffix: loop.index,
              initialOption: '-- Select an adviser --'
            }) }}

            {{ TextField({
              name: 'role',
              label: form.labels.role,
              value: teamMember.role,
              idSuffix: loop.index0,
              error: form.errors.messages['role-' + loop.index0]
            }) }}
          {% endcall %}
        {% endfor %}
      </div>
    </div>
  {% endcall %}
{% endblock %}
