{% extends "_layouts/template.njk" %}

{% block body_main_content %}

  {% set props = props or {} %}

  {% component 'react-slot', {
    id: 'create-company-list-form',
    props: props
  } %}

{% endblock %}
