{% extends "_layouts/template.njk" %}

{% block local_header %}
  {% call LocalHeader({ heading: 'Edit list name' }) %}{% endcall %}
{% endblock %}

{% block body_main_content %}
  {% component 'react-slot', {
    id: 'edit-company-list',
    props: props
  } %}

{% endblock %}
