{% macro autocomplete(name, label, value='', displayvalue, hint, id, class, error, url, options) %}

  {% if not id %}
    {% set id = name.replace('.','-') %}
  {% endif %}

  {% if options %}
    {{ dropdown(name,
        label=label,
        emptyLabel="Pick an option",
        hint=hint,
        value=value,
        error=error,
        options=options,
        class="select-autocomplete-js")
      }}
  {% else %}
    <div class="form-group{% if error %} error{% endif %} {{ class }}" id="{{ id }}-wrapper">
      <label class="form-label-bold" for="{{ id }}">
        {{ label }}
        {% if hint %}<span class="form-hint">{{ hint }}</span>{% endif %}
        {% if error %}<span class="error-message">{{ error }}</span>{% endif %}
      </label>
      <input
        id="{{ id }}"
        class="form-control ajax-autocomplete-js"
        name="{{ name }}"
        type="text"
        data-lookup-url="{{url}}"
        {% if displayvalue %}data-display-value="{{displayvalue}}"{% endif %}
        {% if value %}value="{{ value }}"{% endif %}
      />
    </div>
  {% endif %}
{% endmacro %}
