{% macro keyvaluetable(data, readonly, stripey, labels, class, id, keyorder, variation, shownull) %}
{% if not class %}
  {% set class="" %}
{% endif %}
{% if readonly == true %}
  {% set variation='readonly' %}
{% endif %}
{% if not shownull %}
  {% set shownull = false %}
{% endif %}

{% set className = "table--key-value " + class %}

{% if stripey == true %}
  {% set className = className + ' table--striped' %}
{% endif %}

{% if variation %}
  {% set className = className + ' table--' + variation %}
{% endif %}

{% if not keyorder %}
  {% set keyorder = data | keys %}
{% endif %}
<table class="{{ className }}" id="{{ id }}">
  <tbody>
    {% for key in keyorder %}
      {% if labels and labels[key] %}
        {% set forLabel = labels[key] %}
      {% else %}
        {% set forLabel = key %}
      {% endif %}

      {% if shownull == true or (data | hasKey(key)) %}
        <tr>
          <th>{{ forLabel }}</th>
          <td>{{ data[key] | cellValue | safe }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endmacro %}
