{% macro statusbadge(text, variation, size) %}

  {% if variation %}
    {% set variation = 'status-badge--' + variation %}
  {% endif %}

  {% if size %}
    {% set size = 'status-badge--' + size %}
  {% endif %}

  <span class="status-badge {{ variation }} {{ size }}">{{ text }}</span>

{% endmacro %}
