{% extends "_layouts/datahub-base.njk" %}

{% block body_main_header_content %}
  <h2 class="heading-xlarge">Sign in</h2>
{% endblock %}

{% block body_main_content %}
  <form action="" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ textbox('username', label="Email address", error=errors.username, autofocus=true) }}
    {{ textbox('password', label="Password", error=errors.password, type='password', autocomplete=false) }}
    {{ save(buttonText='Sign in') }}
  </form>
{% endblock %}
