{% extends "_layouts/datahub-base.njk" %}

{% block body_main_content %}
  {% call Form(form | assign({ buttonText: 'Sign in' })) %}
    {{ TextField({
      autofocus: true,
      name: 'username',
      label: 'Email address'
    }) }}
    {{ TextField({
      type: 'password',
      name: 'password',
      label: 'Password'
    }) }}
  {% endcall %}
{% endblock %}
