@import "../../../../node_modules/govuk-frontend/govuk/helpers/all";
@import "../../../../node_modules/govuk-frontend/govuk/settings/all";

.c-details-container {
  display: flex;
  flex-flow: row wrap;

  &:not(:first-child) {
    margin-top: govuk-spacing(8);
  }
}

.c-details-container__action {
  @include govuk-font($size: 19, $weight: bold);

  margin-left: auto;
}

.c-details-container__content {
  width: 100%;

  & > :not(table):first-child {
    margin-top: govuk-spacing(4);
  }
}
