<div class="c-details-container"
  {% if props.dataAutoId %}
    data-auto-id="{{ props.dataAutoId }}"
  {% endif %}
>
  {% if props.heading %}
    <h2 class="govuk-heading-m" style="margin-bottom: 0"
    {% if props.dataAutoId %}
      data-auto-id="{{ props.dataAutoId }}-heading"
    {% endif %}
    >{{ props.heading }}</h2>
  {% endif %}

  {% if props.editUrl %}
    <a href="{{ props.editUrl }}" class="c-details-container__action">Edit</a>
  {% endif %}

  {% if caller %}
    <div class="c-details-container__content"
    {% if props.dataAutoId %}
      data-auto-id="{{ props.dataAutoId }}-content"
    {% endif %}
    >
      {{ caller() }}
    </div>
  {% endif %}
</div>
