{% extends "_layouts/two-column.njk" %}

{% block local_header %}
  {% set actions %}
    <p class="c-local-header__action">
      <a href="quote" class="button button--small">Generate quote</a>
    </p>
  {% endset %}

  {% call LocalHeader({
    actions: actions,
    heading: order.reference
  }) %}

    {{ MetaList({
      items: [
        { "label": "Created on", "value": order.created_on | formatDateTime },
        { "label": "Status", "value": "Draft" }
      ],
      itemModifier: "stacked"
    }) }}

  {% endcall %}
{% endblock %}

{% block main_grid_left_column %}
  {{ LocalNav({ items: localNavItems }) }}
{% endblock %}
