{% extends "./_layout.njk" %}

{% block body_main_content %}
  {% call Example() %}
    {{ Breadcrumbs({
      items: [{
          url: '/',
          name: 'Home'
        }, {
          url: '/second-level',
          name: 'Second level'
        }, {
          url: '/second-level/third-level',
          name: 'Third level'
        }]
    }) }}
  {% endcall %}
{% endblock %}
