{% extends "./_layout.njk" %}

{% from "_macros/collection/collection-header.njk" import CollectionHeader %}

{% block body_main_content %}
  {% call Example('CollectionFilters') %}
    {{
      CollectionFilters({
        filtersFields: [
          {
            macroName: 'MultipleChoiceField',
            type: 'checkbox',
            name: 'stage',
            label: 'Stage',
            value: 'assign-pm',
            initialOption: 'All stages',
            options: [
              { label: 'Prospect' },
              { label: 'Assign PM', value: 'assign-pm' },
              { label: 'Active' }
            ],
            modifier: ['smaller', 'light']
          },
          {
            macroName: 'MultipleChoiceField',
            type: 'radio',
            name: 'investment_type',
            label: 'Investment type',
            value: form.data.filters.investment_type,
            options: [
              { label: 'Commitment to invest' },
              { label: 'FDI' },
              { label: 'Non-FDI' }
            ],
            initialOption: 'All types',
            modifier: ['smaller', 'light']
          },
          {
            macroName: 'MultipleChoiceField',
            name: 'sector',
            label: 'Sector',
            value: form.data.filters.sector,
            options: [
              { label: 'Advanced engineering' },
              { label: 'Automotive' },
              { label: 'Creative and media' }
            ],
            initialOption: 'All sectors',
            modifier: ['smaller', 'light']
          },
          {
            macroName: 'TextField',
            label: 'Estimated to land before',
            name: 'estimated_land_date_before',
            placeholder: 'e.g. 2018-07-18',
            hint: 'YYYY-MM-DD',
            value: form.data.filters.estimated_land_date_before,
            modifier: ['small', 'light']
          }
        ],
        action: CURRENT_PATH
      })
    }}
  {% endcall %}

  {% call Example('CollectionHeader') %}
    {{
      CollectionHeader({
        count: 10,
        filters: {
          stage: {
            label: 'Stage',
            value: 's1',
            valueLabel: 'Prospect'
          },
          investment_type: {
            label: 'Investment type',
            value: 'i1',
            valueLabel: 'Assign PM'
          }
        }
      })
    }}
  {% endcall %}

  {% call Example('Collection') %}
    {{
      Collection(results | assign({
        filters: form.data.filters,
        sort: form.data.sort
      }))
    }}
  {% endcall %}
{% endblock %}
