{% extends "./_layout.njk" %}

{% from "_macros/details-container/macro.njk" import DetailsContainer %}

{% block body_main_content %}

  {% call DetailsContainer({ heading: 'Example with Edit link', editUrl: '/components' }) %}
    <p>Example content</p>
  {% endcall %}

  {% call DetailsContainer({ heading: 'Example without Edit link' }) %}
    <p>Example content</p>
  {% endcall %}

{% endblock %}
