{% extends "./_layout.njk" %}

{% block body_main_content %}
  <h2 class="page-heading">Entity search</h2>

  {% call Example('Simple') %}
    {{ EntitySearchForm({
      inputName: 'term',
      inputLabel: 'Search for a company name or contact',
      searchTerm: entitySearch.searchTerm
    }) }}
  {% endcall %}

  {% call Example('Global') %}
    {{ EntitySearchForm({
      inputName: 'term',
      modifier: 'global',
      inputLabel: 'Search for a company name or contact',
      searchTerm: entitySearch.searchTerm,
      aggregations: entitySearch.searchEntityResultsData
    }) }}
  {% endcall %}

  <h2 class="page-heading">Standard</h2>
  {% call Example('Normal size') %}
    {% call Form(form) %}
      {{ TextField({
        name: 'name',
        label: 'Company name',
        placeholder: 'e.g. Hooli',
        error: form.errors.messages.name,
        value: form.state.name
      }) }}

      {{ TextField({
        name: 'description',
        label: 'Describe yourself',
        placeholder: 'Lorem ipsum',
        type: 'textarea',
        hint: 'A few words about yourself',
        optional: true,
        error: form.errors.messages.description,
        value: form.state.description
      }) }}

      {{ MultipleChoiceField({
        name: 'country',
        label: 'Country',
        error: form.errors.messages.country,
        options: form.options.countries,
        value: form.state.country
      }) }}

    {{ MultipleChoiceField({
        name: 'sectors',
        label: 'Sectors',
        options: form.options.sectors,
        value: form.state.sectors,
        initialOption: '-- Select sector --'
      })
    }}

      {{ MultipleChoiceField({
          type: 'checkbox',
          name: 'strategicDrivers',
          label: 'Strategic drivers',
          options: form.options.strategicDrivers,
          value: form.state.strategicDrivers
        })
      }}

      {{ MultipleChoiceField({
          type: 'radio',
          name: 'averageSalary',
          label: 'Average salary range',
          options: form.options.averageSalaryRange,
          error: form.errors.messages.averageSalary,
          value: form.state.averageSalary
        })
      }}

      {{ MultipleChoiceField({
          type: 'radio',
          name: 'feedbackType',
          modifier: 'inline',
          label: 'Inline inputs',
          error: form.errors.messages.feedbackType,
          options: [
            { value: 'yes', label: 'Yes' },
            { value: 'no', label: 'No' }
          ],
          value: form.data.feedbackType
      }) }}

      {% call Fieldset({ legend: 'Inline text fields' }) %}
        {{ TextField({
          name: 'firstName',
          label: 'First name',
          value: form.state.firstNameInline,
          modifier: 'inline'
        }) }}

        {{ TextField({
          name: 'lastName',
          label: 'Last name',
          value: form.state.lastNameInline,
          modifier: 'inline'
        }) }}
      {% endcall %}

      {% call Fieldset({
        legend: 'A conditional set of fields',
        modifier: 'subfield',
        condition: {
          name: 'averageSalary',
          value: '2943bf3d-32dd-43be-8ad4-969b006dee7b'
        }
      }) %}
        {{ TextField({
          name: 'firstName',
          label: 'First name',
          value: form.state.firstName
        }) }}

        {{ TextField({
          name: 'lastName',
          label: 'Last name',
          value: form.state.lastName
        }) }}
      {% endcall %}

      {{ MultipleChoiceField({
          type: 'radio',
          name: 'businessType',
          label: 'Company type',
          value: form.state.businessType,
          error: form.errors.messages.businessType,
          options: [
            {
              value: 'ltd',
              label: 'UK private or public limited company',
              hint: 'Must be a company registered with Companies House'
            }, {
              value: 'ukother',
              label: 'Other type of UK organisation',
              hint: 'UK organisation not registered with Companies House',
              children:  [
                MultipleChoiceField({
                  name: 'foreignOtherCompany',
                  label: 'Type of organisation',
                  error: form.errors.messages.foreignOtherCompany,
                  value: form.state.foreignOtherCompany,
                  options: form.options.foreignOtherCompany,
                  initialOption: '-- Select company --',
                  condition: {
                    name: 'businessType',
                    value: 'ukother'
                  },
                  modifier: 'subfield'
                })
              ]
            }, {
              value: 'foreign',
              label: 'Foreign organisation'
            }
          ]
        })
      }}

      {% call Fieldset({ legend: 'A set of fields' }) %}
        {{ TextField({
          name: 'firstName',
          label: 'First name',
          value: form.state.firstName
        }) }}

        {{ TextField({
          name: 'lastName',
          label: 'Last name',
          value: form.state.lastName
        }) }}
      {% endcall %}
    {% endcall %}
  {% endcall %}

  {% call Example('Small size') %}
    {% call Form(form) %}
      {{ TextField({
        name: 'name-small',
        label: 'Company name',
        placeholder: 'e.g. Hooli',
        error: form.errors.messages.name,
        value: form.state.name,
        modifier: 'small'
      }) }}

      {{ MultipleChoiceField({
          type: 'checkbox',
          name: 'strategicDrivers-small',
          label: 'Strategic drivers',
          options: form.options.strategicDrivers,
          selected: form.state.strategicDrivers,
          modifier: 'small'
        })
      }}

      {{ MultipleChoiceField({
          type: 'radio',
          name: 'averageSalary-small',
          label: 'Average salary range',
          options: form.options.averageSalaryRange,
          error: form.errors.messages.averageSalary,
          selected: form.state.averageSalary,
          modifier: 'small'
        })
      }}
    {% endcall %}
  {% endcall %}

  {% call Example('Light version') %}
    <p>
      {{ EntitySearchForm({
        inputName: 'term-light',
        inputLabel: 'Search for a company name or contact',
        inputPlaceholder: '',
        searchTerm: entitySearch.searchTermLight,
        isLabelHidden: false,
        fieldModifier: 'light'
      }) }}
    </p>

    {% call Form(form) %}
      {{ TextField({
        name: 'name-small',
        label: 'Company name',
        placeholder: 'e.g. Hooli',
        error: form.errors.messages.name,
        value: form.state.name,
        modifier: 'light'
      }) }}

      {{ MultipleChoiceField({
          type: 'radio',
          name: 'gender',
          label: 'Gender',
          initialOption: 'Unspecified',
          options: [
            { label: 'Male' },
            { label: 'Female' }
          ],
          selected: form.state.gender,
          modifier: 'light'
        })
      }}

      {{ MultipleChoiceField({
          type: 'checkbox',
          name: 'filterBy',
          label: 'Filter by',
          options: [
            { label: 'Quality' },
            { label: 'Quanitity' }
          ],
          selected: form.state.filterBy,
          modifier: 'light'
        })
      }}

      {{ MultipleChoiceField({
          name: 'averageSalary-light',
          label: 'Average salary range',
          options: form.options.averageSalaryRange,
          error: form.errors.messages.averageSalaryLight,
          selected: form.state.averageSalaryLight,
          modifier: 'light'
        })
      }}
    {% endcall %}
  {% endcall %}

  {% call Example('Compact version') %}
    {% call Form(form) %}
      {{ TextField({
        name: 'name-small',
        label: 'Company name',
        placeholder: 'e.g. Hooli',
        error: form.errors.messages.name,
        value: form.state.name,
        modifier: 'compact'
      }) }}

      {{ MultipleChoiceField({
          type: 'radio',
          name: 'gender',
          label: 'Gender',
          initialOption: 'Unspecified',
          options: [
            { label: 'Male' },
            { label: 'Female' }
          ],
          selected: form.state.gender,
          modifier: 'compact'
      }) }}

      {{ MultipleChoiceField({
          name: 'averageSalary-light',
          label: 'Average salary range',
          options: form.options.averageSalaryRange,
          error: form.errors.messages.averageSalaryLight,
          selected: form.state.averageSalaryLight,
          modifier: 'compact'
      }) }}
    {% endcall %}
  {% endcall %}

{% endblock %}
