{% extends "./_layout.njk" %}

{% block body_main_content %}
  <h2 class="page-heading">Entity search</h2>

  {% call Example('Simple') %}
    {{ EntitySearchForm(macros.entitySearchForm) }}
  {% endcall %}

  {% call Example('Global') %}
    {{ EntitySearchForm(macros.entitySearchFormGlobal) }}
  {% endcall %}

  <h2 class="page-heading">Standard</h2>
  {% call Example('Normal size') %}
    {{ Form(macros.standardForm) }}
  {% endcall %}

  {% call Example('Small size') %}
    {{ Form({
      children: [
        {
          macroName: 'TextField',
          name: 'name-small',
          label: 'Company name',
          placeholder: 'e.g. Hooli',
          modifier: 'small'
        },
        assign({}, macros.globalFields.strategicDrivers, {
          name: 'strategicDrivers-small',
          type: 'dropdown',
          modifier: 'small'
        }),
        macros.globalFields.averageSalary | assignCopy({
          type: 'dropdown',
          name: 'averageSalary-small',
          initialOption: '-- Select range --',
          modifier: 'small'
        })
      ]
    }) }}
  {% endcall %}

  {% call Example('Light version') %}
    {{ EntitySearchForm({
      inputName: 'term-light',
      inputLabel: 'Search for a company name or contact',
      inputPlaceholder: '',
      searchTerm: entitySearch.searchTermLight,
      isLabelHidden: false,
      fieldModifier: 'light'
    }) }}

    {{ Form({
      children: [
        {
          macroName: 'TextField',
          name: 'name-small',
          label: 'Company name',
          placeholder: 'e.g. Hooli',
          error: form.errors.messages.name,
          value: form.state.name,
          modifier: 'light'
        }, {
          macroName: 'MultipleChoiceField',
          type: 'radio',
          name: 'gender',
          label: 'Gender',
          initialOption: 'Unspecified',
          options: [
            { label: 'Male' },
            { label: 'Female' }
          ],
          selected: form.state.gender,
          modifier: 'light'
        }, {
          macroName: 'MultipleChoiceField',
          type: 'checkbox',
          name: 'filterBy',
          label: 'Filter by',
          options: [
            { label: 'Quality' },
            { label: 'Quanitity' }
          ],
          selected: form.state.filterBy,
          modifier: 'light'
        },
        assign({}, macros.globalFields.averageSalary, {
          type: 'dropdown',
          name: 'averageSalary-light',
          initialOption: '-- Select range --',
          modifier: 'light'
        })
      ]
    }) }}
  {% endcall %}

  {% call Example('Compact version') %}
    {% call Form(form) %}
      {{ TextField({
        name: 'name-small',
        label: 'Company name',
        placeholder: 'e.g. Hooli',
        error: form.errors.messages.name,
        value: form.state.name,
        modifier: 'compact'
      }) }}

      {{ MultipleChoiceField({
          type: 'radio',
          name: 'gender',
          label: 'Gender',
          initialOption: 'Unspecified',
          options: [
            { label: 'Male' },
            { label: 'Female' }
          ],
          selected: form.state.gender,
          modifier: 'compact'
      }) }}

      {{ renderAsMacro(macros.globalFields.averageSalary, { type: 'dropdown', modifier: 'compact' }) }}
   {% endcall %}
  {% endcall %}

  {% call Example('Fields with actions') %}
    {% set removeButton %}
      <button class="button button--link c-form-group__action">Remove</button>
    {% endset %}

    {% call Form(form) %}
      {{ renderAsMacro(macros.globalFields.averageSalary, { innerHTML: removeButton }) }}

      {{ renderAsMacro(macros.globalFields.strategicDrivers, { innerHTML: removeButton }) }}

      {{ TextField({
        name: 'name-small-actions',
        label: 'Company name',
        placeholder: 'e.g. Hooli',
        error: form.errors.messages.name,
        value: form.state['name-small-actions'],
        innerHTML: removeButton
      }) }}

      {{ TextField({
        type: 'textarea',
        name: 'about-small-actions',
        label: 'About yourself',
        placeholder: 'e.g. Tell us about your holiday',
        error: form.errors.messages.name,
        value: form.state['about-small-actions'],
        innerHTML: removeButton
      }) }}
    {% endcall %}
  {% endcall %}

  {% call Example('Add another (default)') %}
    {% call Form(form) %}
      <div class="js-AddItems" data-item-selector=".c-form-group--AddItems">
        {{ TextField({
          name: 'name-repeatable',
          label: 'Country',
          modifier: 'AddItems',
          error: form.errors.messages.name,
          value: form.state['name-repeatable'],
          innerHTML: removeButton
        }) }}
      </div>
    {% endcall %}
  {% endcall %}

  {% call Example('Add another (custom actions)') %}
    {% set removeButton %}
      <button class="button button--link c-form-group__action js-AddItems__remove">Remove</button>
    {% endset %}

    {% call Form(form) %}
      <div class="js-AddItems" data-item-selector=".c-form-group--AddItems" data-item-name="country" data-can-remove-all>
        <div>
          {{ TextField({
            name: 'name-repeatable-custom',
            label: 'Country',
            modifier: 'AddItems',
            error: form.errors.messages.name,
            value: form.state['name-repeatable-custom'],
            innerHTML: removeButton
          }) }}
        </div>

        <p class="c-form-group c-form-group--compact">
          <button class="button button-secondary js-AddItems__add" name="add-item">
            Add item
          </button>
        </p>
      </div>
    {% endcall %}
  {% endcall %}

{% endblock %}
