{% extends "_layouts/datahub-base.njk" %}

{% block body_main_header_content %}
  <h1 class="heading-xlarge">{{ title }}</h1>
{% endblock %}

{% block body_main_content %}
  <ul>
    <li>
      <a href="components/form">Form elements</a>
    </li>
  </ul>
{% endblock %}
