{% extends "./_layout.njk" %}

{% block body_main_content %}
  <ul>
    <li>
      <a href="components/form">Form elements</a>
    </li>
    <li>
      <a href="components/messages">Application messages</a>
    </li>
    <li>
    <li>
      <a href="components/entity-list">Entity list</a>
    </li>
    <li>
      <a href="components/meta-list">Meta list</a>
    </li>
    <li>
      <a href="components/pagination">Pagination</a>
    </li>
    <li>
      <a href="components/progress">Progress</a>
    </li>
    <li>
      <a href="components/local-header">Local header</a>
    </li>
    <li>
      <a href="components/collection">Collection</a>
    </li>
    <li>
      <a href="components/keyvaluetables">Key value tables</a>
    </li>
    <li>
      <a href="components/hidden-text">Hidden text</a>
    </li>
    <li>
      <a href="components/details-container">Details container</a>
    </li>
    <li>
      <a href="components/tabbed-local-nav">Tabbed local nav (horizontal navigation)</a>
    </li>
  </ul>
{% endblock %}
