{% extends "./_layout.njk" %}

{% block body_main_content %}
  <ul>
    <li>
      <a href="components/form">Form elements</a>
    </li>
    <li>
      <a href="components/messages">Application messages</a>
    </li>
    <li>
    <li>
      <a href="components/entity-list">Entity list</a>
    </li>
    <li>
      <a href="components/breadcrumbs">Breadcrumbs</a>
    </li>
    <li>
      <a href="components/pagination">Pagination</a>
    </li>
    <li>
      <a href="components/progress">Progress</a>
    </li>
    <li>
      <a href="components/local-header">Local header</a>
    </li>
    <li>
      <a href="components/results">Results</a>
    </li>
  </ul>
{% endblock %}
