{% extends "./_layout.njk" %}

{% block body_main_content %}
  {% call Example('Individual message') %}
    {{ Message({
      text: 'An information message',
      type: 'info'
    }) }}
  {% endcall %}

  {% call Example('Message list (dismissable)') %}
    {{ MessageList({
      items: {
        info: ['An information message'],
        success: ['A success message'],
        warning: ['A warning message'],
        error: ['An error message']
      }
    }) }}
  {% endcall %}

  {% call Example('Message list (not dismissable)') %}
    {{ MessageList({
      isDismissable: false,
      items: {
        info: ['An information message'],
        success: ['A success message'],
        warning: ['A warning message'],
        error: ['An error message']
      }
    }) }}
  {% endcall %}
{% endblock %}
