{% extends "./_layout.njk" %}

{% block body_main_content %}
  {% component 'messages', {
    messages: {
      info: ['An information message'],
      success: ['A success message'],
      warning: ['A warning message'],
      error: ['An error message']
    }
  } %}
{% endblock %}
