{% extends "./_layout.njk" %}

{% block body_main_content %}
  {% call Example('`meta-list`') %}
    {{ MetaList({
      items: meta
    }) }}
  {% endcall %}

  {% call Example('`meta-list` with `stacked` item modifier') %}
    {{ MetaList({
      items: meta,
      itemModifier: 'stacked'
    }) }}
  {% endcall %}

  {% call Example('`meta-list` with `inline` modifier') %}
    {{ MetaList({
      items: meta,
      modifier: 'inline'
    }) }}
  {% endcall %}

  {% call Example('`meta-list` with `inline` modifier and `stacked` item modifier') %}
    {{ MetaList({
      items: meta,
      modifier: 'inline',
      itemModifier: 'stacked'
    }) }}
  {% endcall %}

  {% call Example('`meta-list` with `split` modifier') %}
    {{ MetaList({
      items: meta,
      modifier: 'split'
    }) }}
  {% endcall %}

  {% call Example('`meta-list` with `split` modifier and `stacked` item modifier') %}
    {{ MetaList({
      items: meta,
      modifier: 'split',
      itemModifier: 'stacked'
    }) }}
  {% endcall %}
{% endblock %}
