{% extends "./_layout.njk" %}

{% block body_main_content %}
  {% call Example('Standard') %}
    {{
      Pagination({
        totalPages: 2,
        currentPage: 1,
        prev: null,
        next: '?term=samsung&page=2',
        pages: [
          { label: 1, url: '?term=samsung&page=1' },
          { label: 2, url: '?term=samsung&page=2' }
        ]
      })
    }}
  {% endcall %}

  {% call Example('Showing truncation') %}
    {{
      Pagination({
        totalPages: 5,
        currentPage: 1,
        prev: null,
        next: '?term=samsung&page=2',
        pages: [
          { label: 1, url: '?term=samsung&page=1' },
          { label: 2, url: '?term=samsung&page=2' },
          { label: '…' },
          { label: 5, url: '?term=samsung&page=5' }
        ]
      })
    }}
  {% endcall %}

  {% call Example('Pageless') %}
    {{
      Pagination({
        totalPages: 5,
        currentPage: 4,
        prev: '?term=samsung&page=3',
        next: '?term=samsung&page=5',
        pages: [
          { label: 1, url: '?term=samsung&page=1' },
          { label: '…' },
          { label: 4, url: '?term=samsung&page=4' },
          { label: 5, url: '?term=samsung&page=5' }
        ]
      }, showPages=false)
    }}
  {% endcall %}
{% endblock %}
