{% macro date(name, label, value, id, class, error) %}

{% set day = value | dateParseDay %}
{% set month = value | dateParseMonth %}
{% set year = value | dateParseYear %}

{% if not id %}
  {% set id = name.replace('.','-') %}
{% endif %}

<div id="{{id}}-wrapper" class="form-group form-date{% if error %} error{% endif %} {{ class }}">
  <fieldset>
    <legend class="form-label-bold">{{ label }}</legend>
    <span class="error-message">{{ error }}</span>

    <div class="form-group form-group-day">
      <label for="{{id}}_day"><span class="form-hint">DD</span></label>
      <input type="text"
             id="{{id}}_day"
             class="form-control"
             name="{{ name }}_day"
             value="{{ day }}"
             maxlength="2"
             autocomplete="dd" />
    </div>

    <div class="form-group form-group-month">
      <label for="{{id}}_month">
        <span class="form-hint">MM</span>
      </label>
      <input type="text"
             id="{{id}}_month"
             class="form-control"
             name="{{ name }}_month"
             value="{{ month }}"
             maxlength="2"
             autocomplete="mm"/>
    </div>

    <div class="form-group form-group-year">
      <label for="{{id}}_year">
        <span class="form-hint">YYYY</span>
      </label>
      <input type="text"
             id="{{id}}_year"
             class="form-control"
             name="{{ name }}_year"
             value="{{ year }}"
             maxlength="4"
             autocomplete="yyyy"/>
    </div>
  </fieldset>
</div>
{% endmacro %}
