{% extends "_layouts/template.njk" %}
{# For the accessibility work, the search bar has been amended to have hint text and placeholder text.
It seems to be that the label and hint are coupled up somewhere, so a label is required to show a hint.
As nunjucks is on it's way out, a label of an empty space has been used as a work around for this issue. #}
{% block local_header %}
{% endblock %}

{% block body_main_content %}
<div class="grid-row dashboard">
  <div class="govuk-grid-column-full" data-test="dashboard">
    New dashboard starts here...
  </div>
</div>
{% endblock %}
