{% extends "_layouts/template.njk" %}

{% block local_header %}
{% endblock %}

{% block body_main_content %}
  {% component 'react-slot', {
    id: 'dashboard',
    props: props
  } %}
{% endblock %}
