{% extends "_layouts/datahub-base.njk" %}

{% block local_header %}
  {% call LocalHeader({ modifier: 'dark-banner' }) %}
    {{ EntitySearchForm({
      inputName: 'term',
      modifier: 'global',
      action: '/search/companies',
      inputLabel: 'Search for company, contact, investment project or OMIS order'
    }) }}
  {% endcall %}
{% endblock %}

{% block body_main_content %}
  <div class="grid-row dashboard">
    <div class="column-half">
      <div class="dashboard-section">
        <h2 class="dashboard-section-title">Interactions</h2>
        {% if interactions.length %}
          <p class="dashboard-section-intro">
            You have added {{ interactionsCount }} {{ 'interaction' | pluralise(interactions.length) }} in the last {{ totalDays }} {{ 'day' | pluralise(totalDays) }}
          </p>

          <ol class="dashboard-list">
            {% for interaction in interactions %}
              <li>
                {% if interaction.company.name %}
                  <a href="{{ interaction.company.url }}">{{ interaction.company.name }}</a>
                  &ndash;
                {% endif %}
                <a href="{{ interaction.url }}">{{ interaction.subject }}</a>
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <p class="dashboard-section-intro">
            No interactions have been added in the last {{ totalDays }} {{ 'day' | pluralise(totalDays) }}
          </p>
        {% endif %}

        <p><a href="/interactions">See all interactions</a></p>
      </div>
    </div>

    <div class="column-half">
      <div class="dashboard-section">
        <h2 class="dashboard-section-title">Contacts</h2>

        {% if contacts.length %}
          <p class="dashboard-section-intro">
            You have added {{ contactsCount }} {{ 'contact' | pluralise(contacts.length) }} in the last {{ totalDays }} {{ 'day' | pluralise(totalDays) }}
          </p>

          <ol class="dashboard-list">
            {% for contact in contacts %}
              <li>
                <a href="{{ contact.url }}">{{ contact.name }}</a> from <a href="{{ contact.company.url }}">{{ contact.company.name }}</a>
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <p class="dashboard-section-intro">
            No contacts have been added in the last {{ totalDays }} {{ 'day' | pluralise(totalDays) }}
          </p>
        {% endif %}

        <p><a href="/contacts">See all contacts</a></p>
      </div>
    </div>
  </div>
{% endblock %}
