{% extends "_layouts/template.njk" %}

{% block local_header %}
{% endblock %}

{% block main %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    {% component 'react-slot', {
      id: 'dashboard',
      props: props
    } %}
  </div>
</div>
{% endblock %}
