{% extends "_layouts/template.njk" %}
{% block local_header %}
{% endblock %}

{% block body_main_content %}
<div class="grid-row dashboard">
  <div class="govuk-grid-column-full" data-test="dashboard">
    New dashboard starts here...
  </div>
</div>
{% endblock %}
