{% extends "_layouts/datahub-base.njk" %}

{% block local_header %}
  {% call LocalHeader({ modifier: 'dark-banner' }) %}
    {{ EntitySearchForm({
      inputName: 'term',
      modifier: 'global',
      action: '/search/companies',
      inputLabel: 'Search for company, contact, event, investment project or OMIS order'
    }) }}
  {% endcall %}
{% endblock %}

{% block body_main_content %}
  <div class="grid-row dashboard">
    <div class="column-half">
      <div class="dashboard-section">
        <h2 class="dashboard-section-title">My latest interactions</h2>
        {% if interactions.length %}
          <ol class="dashboard-list">
            {% for interaction in interactions %}
              <li>
                {% if interaction.company.name %}
                  <a href="/companies/{{ interaction.company.id }}">{{ interaction.company.name }}</a>
                  &ndash;
                {% endif %}
                <a href="/interactions/{{ interaction.id }}">{{ interaction.subject }}</a>
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <p>No interactions have been added.</p>
        {% endif %}
        <p><a href="/interactions">See all interactions</a></p>
      </div>
    </div>

    <div class="column-half">
      <div class="dashboard-section">
        <h2 class="dashboard-section-title">My latest contacts</h2>

        {% if contacts.length %}
          <ol class="dashboard-list">
            {% for contact in contacts %}
              <li>
                <a href="/contacts/{{ contact.id }}">{{ contact.first_name }} {{ contact.last_name }}</a> from <a href="/companies/{{ contact.company.id }}">{{ contact.company.name }}</a>
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <p>No contacts have been added.</p>
        {% endif %}

        <p><a href="/contacts">See all contacts</a></p>
      </div>
    </div>
  </div>
{% endblock %}
