{% extends "./dit-base.njk" %}

{# // TODO remove these as they are refactored #}
{% from "_macros/_deprecated/trade-elements/autocomplete.njk" import autocomplete %}
{% from "_macros/_deprecated/trade-elements/date.njk" import date %}
{% from "_macros/_deprecated/trade-elements/dropdown.njk" import dropdown %}
{% from "_macros/_deprecated/trade-elements/errorpanel.njk" import errorPanel %}
{% from "_macros/_deprecated/trade-elements/save.njk" import save %}
{% from "_macros/_deprecated/trade-elements/statusbadge.njk" import statusbadge %}
{% from "_macros/_deprecated/trade-elements/keyvaluetable.njk" import keyvaluetable %}
{% from "_macros/_deprecated/trade-elements/textarea.njk" import textarea %}
{% from "_macros/_deprecated/trade-elements/textbox.njk" import textbox %}

{% from "_macros/form.njk" import Form with context %}
{% from "_macros/form.njk" import TextField, MultipleChoiceField %}

{% set pageTitle = [title, 'DIT Data Hub'] | flatten | removeNilAndEmpty | join(' - ') %}

{% block head %}
  {{ super() }}

  {% include "_includes/google-tag-manager-snippet.njk" %}

  {% if user %}
    <script>
      if (!window.DIT) window.DIT = {};
      window.DIT.user = {{ user | stringify | safe }};
    </script>
  {% endif %}
{% endblock %}

{% block header_menu %}
  <nav>
    <ul class="proposition-menu">
      {% if user %}
        <li class="proposition-menu__item">
          <a href="/" class="proposition-menu__link{{ ' is-active' if currentPath == '/' }}">Dashboard</a>
        </li>
      {% endif %}
      {% if feedbackLink %}
        <li class="proposition-menu__item">
          <a href="{{ feedbackLink }}" class="proposition-menu__link{{ ' is-active' if currentPath and '/support' in currentPath }}">Support</a>
        </li>
      {% endif %}
      {% if user %}
        <li class="proposition-menu__item">
          <a href="/profile" class="proposition-menu__link{{ ' is-active' if currentPath == '/profile' }}">{{ user.name }}</a>
        </li>
      {% endif %}
      <li class="proposition-menu__item">
        {% if user %}
          <a href="/sign-out" class="proposition-menu__link">Sign out</a>
        {% else %}
          <a href="/sign-in" class="proposition-menu__link">Sign in</a>
        {% endif %}
      </li>
    </ul>
  </nav>
{% endblock %}

{% block body %}
  {% include "_includes/google-tag-manager-no-script.njk" %}
  {{ super() }}
  <!--[if gt IE 8]><!-->
    {% block javascript %}
      <script src="{{ getAssetPath('trade-elements-components.js') }}"></script>
      <script src="{{ getAssetPath('app.js') }}"></script>
    {% endblock %}
  <!--<![endif]-->
{% endblock %}

{% block body_footer %}{% endblock %}
