{# // TODO remove these as they are refactored #}
{% from "_macros/_deprecated/trade-elements/keyvaluetable.njk" import keyvaluetable %}

{% from "_macros/form.njk" import Fieldset, TextField, AddAnother, MultipleChoiceField, HiddenField, DateFieldset %}
{% from "_macros/form.njk" import EntitySearchForm, Form, MultiStepForm with context %}
{% from "_macros/common.njk" import LocalHeader with context %}
{% from "_macros/common.njk" import Message, MessageList, Breadcrumbs, Pagination, GlobalNav, LocalNav, Progress, FromNow, AnswersSummary %}
{% from "_macros/collection.njk" import Collection, CollectionFilters %}
{% from "_macros/entity.njk" import MetaList %}

{% if IS_XHR %}
  {% extends "./xhr.njk" %}
{% else %}
  {% extends "./dit-base.njk" %}
{% endif %}

{% set pageTitle = [getPageTitle(), 'DIT Data Hub'] | flatten | join(' - ') %}

{% block head %}
  {{ super() }}

  {% include "_includes/google-tag-manager-snippet.njk" %}

  {% if user %}
    <script>
      if (!window.DIT) window.DIT = {};
      window.DIT.user = {{ user | stringify | safe }};
    </script>
  {% endif %}
{% endblock %}

{% block header_menu %}
  <nav aria-label="global nav">
    <ul class="proposition-menu">
      {% if feedbackLink %}
        <li class="proposition-menu__item">
          <a href="{{ feedbackLink }}"
             class="proposition-menu__link {{ 'is-active' if CURRENT_PATH and '/support' in CURRENT_PATH }} qa-support">Support</a>
        </li>
      {% endif %}
      {% if user %}
        <li class="proposition-menu__item">
          <a href="/profile" class="proposition-menu__link {{ 'is-active' if CURRENT_PATH == '/profile' }}">{{ user.name }}</a>
        </li>
      {% endif %}
      <li class="proposition-menu__item">
        {% if user %}
          <a href="/sign-out" class="proposition-menu__link qa-sign-out">Sign out</a>
        {% else %}
          <a href="/sign-in" class="proposition-menu__link qa-sign-in">Sign in</a>
        {% endif %}
      </li>
    </ul>
  </nav>
{% endblock %}

{% block body_site_header %}
  {{ super() }}

  {{ GlobalNav({ items: GLOBAL_NAV_ITEMS }) if user }}
{% endblock %}

{% block body_main_header %}
  {{ super() }}

  {% block local_header %}
    {% set pageTitle = getPageTitle() %}
    {% set heading = heading or pageTitle[0] %}
    {{ LocalHeader({ heading: heading, modifier: 'light-banner' }) }}
  {% endblock %}
{% endblock %}

{% block body %}
  {% include "_includes/google-tag-manager-no-script.njk" %}
  {{ super() }}
  <!--[if gt IE 8]><!-->
    {% block javascript %}
      <script src="{{ getAssetPath('trade-elements-components.js') }}"></script>
      <script src="{{ getAssetPath('app.js') }}"></script>
    {% endblock %}
  <!--<![endif]-->
{% endblock %}

{% block body_footer %}{% endblock %}
