{%- set titleDefault = 'Department for International Trade' -%}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {% block head %}
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{% block head_title_content %}{{ pageTitle | default(titleDefault) }}{% endblock %}</title>
      {% if description -%}
        <meta name="description" content="{{ description }}">
      {% endif -%}

      {% block head_content %}
        <!--[if IE]><link rel="shortcut icon" href="{{ getAssetPath('images/favicon.ico') }}" type="image/x-icon"><![endif]-->
        <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
        <link rel="apple-touch-icon" href="{{ getAssetPath('images/apple-touch-icon.png')}}">
        <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
        <link rel="icon" href="{{ getAssetPath('images/favicon-192x192.png') }}" type="image/png">

        <!-- opengraph -->
        <meta property="og:url" content="{{ CANONICAL_URL }}">
        <meta property="og:site_name" content="{{ [siteTitle, serviceTitle] | removeNilAndEmpty | join(' ') }}">
        <meta property="og:title" content="{{ title | default(titleDefault) }}">
        {% if description  -%}
          <meta property="og:description" content="{{ description }}">
        {% endif -%}
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_GB">
        <meta property="og:image" content="{{ getAssetPath('images/opengraph-image.png') }}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="1200">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:domain" content="{{ BASE_URL }}">
        <meta name="twitter:title" content="{{ title | default(titleDefault) }}">
        {% if description  -%}
          <meta name="twitter:description" content="{{ description }}">
        {% endif -%}
      {% endblock %}

      {% block head_stylesheets %}
        <link href="{{ getAssetPath('styles.css') }}" media="screen" rel="stylesheet">
      {% endblock %}
    {% endblock %}
    <script>(function(d){d.className=d.className.replace(/\bno-js\b/,'js-enabled')})(document.documentElement)</script>
    <!--[if lt IE 9]>
      <script src="{{ getAssetPath('html5shiv.min.js') }}"></script>
    <![endif]-->
  </head>

  <body>
    {% block body %}
      {% block body_skiplinks %}
        <div class="skip-links">
          <div class="skip-links__inner">
            <a href="#main-content" class="skip-links__link">Skip to main content</a>
          </div>
        </div>
      {% endblock %}

      {% block body_notifications %}
        <div class="notification-banner u-js-hidden u-print-hide" id="global-cookies-banner" role="alert">
          <p class="notification-banner__inner">
            GOV.UK uses cookies to make the site simpler.
            <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>
          </p>
        </div>
      {% endblock %}

      {% block body_site_header %}
        <header class="global-header" aria-label="global header">
          <div class="global-header__inner">
            {% block header_site_title %}
              <div class="global-header__site-title">
                <a href="/" class="global-header__link">
                  <span class="global-header__crest"></span>
                  <span class="global-header__logo">
                    <span class="global-header__site-name">{{ siteTitle|default(titleDefault) }}</span>
                    {% if serviceTitle %}
                      <span class="global-header__service-name">{{ serviceTitle }}</span>
                    {% endif %}
                  </span>
                </a>
                {% if not phaseBanner and projectPhase|lower in ['alpha', 'beta'] %}
                  <span class="phase-badge">{{ projectPhase.toUpperCase() }}</span>
                {% endif %}
              </div>
            {% endblock %}
            {% block header_menu %}{% endblock %}
          </div>
        </header>
      {% endblock %}

      {% block body_main %}
        <main class="main-content" id="main-content">
          <div class="main-content__header {{ mainContentModifier }}">
            {% block body_main_header %}
              {% block body_main_phase_banner %}
                {% if phaseBanner and (projectPhase|lower in ['alpha', 'beta'] or feedbackLink) %}
                  <div class="phase-banner">
                    <div class="l-container">
                      <span class="phase-badge">{{ projectPhase.toUpperCase() }}</span>
                      <span class="phase-banner__message">
                        This is a new service
                        {% if feedbackLink %}
                        – your <a href="{{ feedbackLink }}">feedback</a> will help us to improve it.
                        {% endif %}
                      </span>
                    </div>
                  </div>
                {% endif %}
              {% endblock %}
            {% endblock %}
          </div>
          <div class="main-content__inner l-container" id="xhr-outlet">
            {% block body_main_content %}{% endblock %}
          </div>
        </main>
      {% endblock %}

      {% block body_footer %}
        <footer class="global-footer" role="contentinfo">
          <div class="global-footer__inner">
            {% block body_footer_content %}
              <div class="global-footer__links">
                <h2 class="u-visually-hidden">Support links</h2>
                <ul class="list-inline">
                  <li>
                    <a href="https://www.gov.uk/help/cookies">Cookies</a>
                  </li>
                </ul>
                <div class="global-footer__open-government-licence">
                  <a
                    class="global-footer__ogl-logo"
                    href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                    rel="license"
                  >Open Government Licence</a>

                  All content is available under the
                  <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>,
                  except where otherwise stated
                </div>
              </div>
              <div class="global-footer__copyright">
                <a
                  href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/"
                  rel="Copyright"
                >© Crown copyright</a>
              </div>
            {% endblock %}
          </div>
        </footer>
      {% endblock %}
    {% endblock %}
  </body>
</html>
