{% extends "_layouts/two-column.njk" %}

{% block local_header %}
  {% set pageTitle = getPageTitle() %}
  {% set heading = heading or pageTitle[0] %}
  {{ LocalHeader({ heading: heading }) }}
{% endblock %}

{% block main_grid_right_column %}
  {% block form %}
    {% call MultiStepForm({
      buttonText: 'Continue',
      returnLink: backLink,
      errors: errors
    }) %}

      {% block fields %}
        {% for key, props in options.fields %}
          {% if props.fieldType %}
            {{ callAsMacro(props.fieldType)(props | assign({
              name: key,
              label: trans(props.label),
              hint: trans(props.hint),
              value: values[key],
              error: errors[key].message
            })) }}
          {% endif %}
        {% endfor %}
      {% endblock %}

    {% endcall %}
  {% endblock %}
{% endblock %}
