{% extends "./datahub-base.njk" %}

{% block body_main_content %}
  <div class="grid-row">
    <div class="column-full">
      {% block main_column %}{% endblock %}
    </div>
  </div>
{% endblock %}
