{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "_macros/form.njk" import FormGroup, Fieldset, TextField, AddAnother, Link, FormSubHeading, MultipleChoiceField, PreviouslySelected, HiddenField, DateFieldset, DateField, UneditableField %}
{% from "_macros/form.njk" import EntitySearchForm, Form, MultiStepForm with context %}
{% from "_macros/common.njk" import LocalHeader with context %}
{% from "_macros/common.njk" import Message, MessageList, Pagination, LocalNav, TabbedLocalNav %}
{% from "_macros/collection.njk" import CollectionContent, CollectionFilters %}
{% from "_macros/entity.njk" import MetaList %}

{% if IS_XHR %}
  {% extends "./xhr.njk" %}
{% else %}
  {# This one: https://github.com/alphagov/govuk-frontend/blob/master/src/govuk/template.njk #}
  {% extends "govuk/template.njk" %}
{% endif %}

{# Remove the skipLink from the base template #}
{% block skipLink %}{% endblock %}

{% set pageTitle = [getPageTitle() if getPageTitle, 'DBT Data Hub'] | removeNilAndEmpty | flatten | join(' - ') %}
{%- set titleDefault = 'Department for Business and  Trade' -%}
{%- set htmlClasses = 'no-js' -%}

{% block pageTitle %}
  {{ pageTitle or titleDefault }}
{% endblock %}

{% block head %}
  {#
  The base tag is needed for react-router's basename configuration.
  The basePath is set in the spa-fallback middleware which is applied per route.
  #}
  {% if basePath -%}
    <base href="{{ basePath }}" />
  {% endif -%}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="version" content="{{ APP_VERSION }}">
  <meta name="robots" content="noindex">

  {% if description -%}
    <meta name="description" content="{{ description }}">
  {% endif -%}

  {% if CANONICAL_URL %}
    <link rel="canonical" href="{{ CANONICAL_URL }}">
  {% endif %}

  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <link rel="apple-touch-icon" href="{{ getAssetPath('apple-touch-icon.png') }}">
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
  <link rel="icon" href="{{ getAssetPath('favicon-192x192.png') }}" type="image/png">

  <!-- opengraph -->
  <meta property="og:url" content="{{ CANONICAL_URL }}">
  <meta property="og:site_name" content="{{ [siteTitle, serviceTitle] | removeNilAndEmpty | join(' ') }}">
  <meta property="og:title" content="{{ title | default(titleDefault) }}">
  {% if description -%}
    <meta property="og:description" content="{{ description }}">
  {% endif -%}
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_GB">
  <meta property="og:image" content="{{ getAssetPath('opengraph-image.png') }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="1200">

  <!-- styles -->
  <link href="{{ getAssetPath('shared.css') }}" media="screen, print" rel="stylesheet">

  <!-- Google Tag Manager (GTM) -->
  {% include "_includes/google-tag-manager/consent-not-needed.njk" %}

  <script nonce="{{ cspNonce }}">
    (function (d) {d.className = d.className.replace (/\bno-js\b/, 'js-enabled')}) (document.documentElement)
  </script>

  {% include "_includes/csp-nonce.njk" %}
{% endblock %}

{% block bodyStart %}
  {% include "_includes/google-tag-manager/no-script.njk" %}

  <div class="notification-banner u-js-hidden u-print-hide" id="global-cookies-banner" role="alert">
    <p class="notification-banner__inner">
      GOV.UK uses cookies to make the site simpler.
      <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>
    </p>
  </div>
{% endblock %}

{% block header %}
  {% component 'react-slot', {
    id: 'data-hub-header',
    props: props
  } %}

  {% block local_header %}
    {% set pageTitle = getPageTitle() if getPageTitle %}
    {% set heading = heading or pageTitle[0] %}
    {{ LocalHeader({ heading: heading, subHeading: props.subHeading,  modifier: 'light-banner' }) }}
  {% endblock %}

{% endblock %}

{% block content %}
  {% block local_nav %}{% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" data-test="bodyMainContent">
      {% block body_main_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}<div id="footer"></div>{% endblock %}

{% block bodyEnd %}
  <div id="react-app" data-props="{{ globalProps | dump }}">
    <noscript>Please enable JavaScript in your browser to see the content.</noscript>
  </div>

  <script nonce="{{ cspNonce }}" src="{{ getAssetPath('runtime.js') }}"></script>
  <script nonce="{{ cspNonce }}" src="{{ getAssetPath('shared.js') }}"></script>
  <script nonce="{{ cspNonce }}" src="{{ getAssetPath('datahub.js') }}"></script>
{% endblock %}
