{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}
{% from '_macros/details-container/macro.njk' import DetailsContainer %}
{% from "_macros/form.njk" import FormGroup, Fieldset, TextField, AddAnother, Link, FormSubHeading, MultipleChoiceField, PreviouslySelected, HiddenField, DateFieldset, DateField, Typeahead, UneditableField %}
{% from "_macros/form.njk" import EntitySearchForm, Form, MultiStepForm with context %}
{% from "_macros/common.njk" import LocalHeader with context %}
{% from "_macros/common.njk" import Message, MessageList, Pagination, LocalNav, Progress, FromNow, AnswersSummary, HiddenContent, TabbedLocalNav %}
{% from "_macros/collection.njk" import CollectionContent, CollectionFilters %}
{% from "_macros/entity.njk" import MetaList %}
{% from "datahub-header/component/header.njk" import datahubHeader %}

{% if IS_XHR %}
  {% extends "./xhr.njk" %}
{% else %}
  {% extends "template.njk" %}
{% endif %}

{% set pageTitle = [getPageTitle() if getPageTitle, 'DIT Data Hub'] | removeNilAndEmpty | flatten | join(' - ') %}
{%- set titleDefault = 'Department for International Trade' -%}
{%- set htmlClasses = 'no-js' -%}

{% block pageTitle %}
  {{ pageTitle or titleDefault }}
{% endblock %}

{% block head %}
  {#
  The base tag is needed for react-router's basename configuration.
  The basePath is set in the spa-fallback middleware which is applied per route.
  #}
  {% if basePath -%}
    <base href="{{ basePath }}" />
  {% endif -%}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="version" content="{{ APP_VERSION }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% if description -%}
    <meta name="description" content="{{ description }}">
  {% endif -%}

  {% if CANONICAL_URL %}
    <link rel="canonical" href="{{ CANONICAL_URL }}">
  {% endif %}

  <!--[if IE]>
  <link rel="shortcut icon" href="{{ getAssetPath('images/favicon.ico') }}" type="image/x-icon"><![endif]-->
  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <link rel="apple-touch-icon" href="{{ getAssetPath('images/apple-touch-icon.png') }}">
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
  <link rel="icon" href="{{ getAssetPath('images/favicon-192x192.png') }}" type="image/png">

  <!-- opengraph -->
  <meta property="og:url" content="{{ CANONICAL_URL }}">
  <meta property="og:site_name" content="{{ [siteTitle, serviceTitle] | removeNilAndEmpty | join(' ') }}">
  <meta property="og:title" content="{{ title | default(titleDefault) }}">
  {% if description -%}
    <meta property="og:description" content="{{ description }}">
  {% endif -%}
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_GB">
  <meta property="og:image" content="{{ getAssetPath('images/opengraph-image.png') }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="1200">

  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:domain" content="{{ BASE_URL }}">
  <meta name="twitter:title" content="{{ title | default(titleDefault) }}">
  {% if description -%}
    <meta name="twitter:description" content="{{ description }}">
  {% endif -%}

  <!-- styles -->
  <link href="{{ getAssetPath('styles.css') }}" media="screen, print" rel="stylesheet">

  <!-- Google Tag Manager (GTM) -->
  {% include "_includes/google-tag-manager-snippet.njk" %}

  <script>
    (function (d) {d.className = d.className.replace (/\bno-js\b/, 'js-enabled')}) (document.documentElement)
  </script>

  <!--[if lt IE 9]>
  <script src="{{ getAssetPath('html5shiv.min.js') }}"></script>
  <![endif]-->

{% endblock %}

{% block bodyStart %}
  {% include "_includes/google-tag-manager-no-script.njk" %}

  <div class="notification-banner u-js-hidden u-print-hide" id="global-cookies-banner" role="alert">
    <p class="notification-banner__inner">
      GOV.UK uses cookies to make the site simpler.
      <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>
    </p>
  </div>
  <nav role="navigation"> 
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  </nav>
{% endblock %}

{% block skipLink %}
{% endblock %}

{% block header %}
  {{ datahubHeader( PERMITTED_APPLICATIONS, {
      crmApps: ALLOWED_APPS,
      active: ACTIVE_KEY,
      fluid: false,
      user: user,
      domains: {
        datahub: '/'
      }
    })
  }}

  {% block local_header %}
    {% set pageTitle = getPageTitle() if getPageTitle %}
    {% set heading = heading or pageTitle[0] %}
    {{ LocalHeader({ heading: heading, modifier: 'light-banner' }) }}
  {% endblock %}

{% endblock %}

{% block content %}
  {% block local_nav %}{% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" data-auto-id="bodyMainContent">
      {% block body_main_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block bodyEnd %}
  <div id="react-app" data-props="{{ globalProps | dump }}">
    <noscript>Please enable JavaScript in your browser to see the content.</noscript>
  </div>

  <!--[if gt IE 8]><!-->
  <script src="{{ getAssetPath('app.js') }}"></script>
  <script src="{{ getAssetPath('react-app.js') }}"></script>
  <!--<![endif]-->
{% endblock %}
