@import "../../settings/colours";

.incomplete {

  padding-left: 10px;
  border-left: 5px solid $error-colour;

  .error-message {
    color: $error-colour;
    font-weight: bold;
    padding: 10px 0 20px;
  }

  .form-group--incomplete {
    .form-control {
      border: 4px solid $error-colour;
    }
  }

}
