{% extends "./template.njk" %}

{% block main_grid_right_column %}

  {% call DetailsContainer({ heading: 'Contact details' }) %}
    {% component 'key-value-table', variant='striped', items=contactDetails, id='contact-details', features=features %}

    {% if not contact.archived %}
      <p>
        <a href="/contacts/{{id}}/edit" class="govuk-button govuk-button--secondary">Edit contact</a>
      </p>
    {% endif %}
  {% endcall %}

  {% if not contact.archived %}
    {% call DetailsContainer({ heading: 'Archive contact' }) %}
      <p>Archive this contact if it is no longer required or active.</p>

      {% component 'archive-form', {
        label: 'Archive reason',
        options: reasonForArchiveOptions,
        optionsPrefix: reasonForArchiveOptionsPrefix,
        csrfToken: csrfToken,
        error: form.errors.reason,
        url: '/contacts/' + contact.id + '/archive'
      } %}
    {% endcall %}
  {% endif %}

{% endblock %}
