{% extends "./_layout.njk" %}


{% block main_grid_right_column %}
  {% include "_includes/messages.njk" %}

  <h2 class="heading-medium">Contact Details</h2>
  {{ keyvaluetable(
      contactDetails,
      stripey=true,
      labels=contactDetailsLabels,
      keyorder=contactDetailsDisplayOrder,
      id="contact-details",
      shownull=true)
  }}

  {% if not contact.archived %}
    <p>
      <a href="/contacts/{{id}}/edit" class="button">Edit contact details</a>
    </p>

    <h2 class="heading-medium">Archive contact</h2>
    <p>Archive this contact if it is no longer required or active.</p>

    {% component 'archive-form', {
      label: 'Archive reason',
      options: reasonForArchiveOptions,
      csrfToken: csrfToken,
      error: form.errors.reason,
      url: '/contacts/' + contact.id + '/archive'
    } %}
  {% endif %}
{% endblock %}
