{% extends "./_layout.njk" %}

{% block local_header %}
  {% set headingBefore %}
    <a href="{{companyUrl}}">{{contact.company.name}}</a>
  {% endset %}

  {{
    LocalHeader({
      headingBefore: headingBefore,
      heading: 'Edit contact' if formData.id else 'Add contact'
    })
  }}
{% endblock %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}
  {% call Form({
    buttonText: 'Save',
    errors: errors,
    hiddenFields: {
      company: formData.company,
      id: formData.id
    }
  }) %}

    {{ TextField({
      name: 'first_name',
      label: 'First name',
      value: formData.first_name,
      error: errors.messages.first_name
    }) }}

    {{ TextField({
      name: 'last_name',
      label: 'Last name',
      value: formData.last_name,
      error: errors.messages.last_name
    }) }}

    {{ TextField({
      name: 'job_title',
      label: 'Job title',
      value: formData.job_title,
      error: errors.messages.job_title
    }) }}

    {{ MultipleChoiceField({
      name: 'primary',
      type: 'radio',
      label: 'Is this person a primary contact?',
      modifier: 'inline',
      value: formData.primary,
      error: errors.messages.primary,
      options: [
        { label: 'Yes', value: 'yes' },
        { label: 'No', value: 'no' }
      ]
    }) }}

    {{ TextField({
      name: 'telephone_countrycode',
      label: 'Telephone country code',
      value: formData.telephone_countrycode,
      error: errors.messages.telephone_countrycode
    }) }}

    {{ TextField({
      name: 'telephone_number',
      label: 'Telephone number',
      value: formData.telephone_number,
      error: errors.messages.telephone_number
    }) }}

    {{ TextField({
      name: 'email',
      label: 'Email',
      value: formData.email,
      error: errors.messages.email
    }) }}

    {{ MultipleChoiceField({
      name: 'address_same_as_company',
      type: 'radio',
      label: 'Is the contact’s address the same as the company address?',
      modifier: 'inline',
      value: formData.address_same_as_company,
      error: errors.messages.address_same_as_company,
      options: [
        { label: 'Yes', value: 'yes' },
        { label: 'No', value: 'no' }
      ]
    }) }}

    {# TODO: Refactor postcode look up logic #}
    {% call Fieldset({
      legend: 'Contact address',
      modifier: 'subfield',
      class: 'lookup-address-js',
      condition: {
        name: 'address_same_as_company',
        value: 'no'
      }
    }) %}
      <div class="u-no-js-hidden">
        <div class="c-form-group c-form-group--inline">
          <label class="c-form-group__label" for="postcodeLookup">
            <span class="c-form-group__label-text">Postcode look up</span>
          </label>
          <input id="field-postcode-lookup" class="c-form-control postcode-lookup-value postcode-lookup-field" autoComplete="off">
          <button class="button button-secondary postcode-lookup-button" type="button">Find UK address</button>
        </div>

        <div class="c-form-group form-group--address-suggestions">
          <label class="c-form-group__label" for="field-postcode-address-suggestions">
            <span class="c-form-group__label-text">Select an address from the drop down</span>
          </label>
          <select class="c-form-control" id="field-postcode-address-suggestions">
            <option>Please enter a postcode to lookup your address</option>
          </select>
        </div>
      </div>

      {{ TextField({
        name: 'address_1',
        label: 'Business and street',
        value: formData.address_1,
        error: errors.messages.address_1,
        optional: true
      }) }}

      {{ TextField({
        name: 'address_2',
        label: 'Second line of address',
        value: formData.address_2,
        error: errors.messages.address_2,
        isLabelHidden: true,
        optional: true
      }) }}

      {{ TextField({
        name: 'address_town',
        label: 'Town or city',
        value: formData.address_town,
        error: errors.messages.address_town,
        optional: true
      }) }}

      {{ TextField({
        name: 'address_county',
        label: 'County',
        value: formData.address_county,
        error: errors.messages.address_county,
        optional: true
      }) }}

      {{ TextField({
        name: 'address_postcode',
        label: 'Postcode',
        class: 'u-js-hidden',
        value: formData.address_postcode,
        error: errors.messages.address_postcode,
        optional: true
      }) }}

      {{ MultipleChoiceField({
        name: 'address_country',
        label: 'Country',
        value: formData.address_country,
        error: errors.messages.address_country,
        initialOption: 'Select country',
        options: countryOptions
      }) }}
    {% endcall %}

    {{ TextField({
      name: 'telephone_alternative',
      label: 'Alternative telephone number',
      value: formData.telephone_alternative,
      error: errors.messages.telephone_alternative,
      optional: true
    }) }}

    {{ TextField({
      name: 'email_alternative',
      label: 'Alternative email',
      value: formData.email_alternative,
      error: errors.messages.email_alternative,
      optional: true
    }) }}

    {{ TextField({
      type: 'textarea',
      name: 'notes',
      label: 'Notes',
      value: formData.notes,
      error: errors.messages.notes,
      optional: true
    }) }}
  {% endcall %}
{% endblock %}
