{% extends "./template.njk" %}

{% block main_grid_right_column %}
  <h2 class="govuk-heading-m">Contact interactions</h2>
  <p>
    An interaction could be a meeting, call, email or another activity where you have been in touch with a contact.
  </p>

  {% block xhr_content %}
    <article id="xhr-outlet">
      {{
        CollectionContent(results | assignCopy({
          countLabel: 'interaction',
          actionButtons: actionButtons,
          sortForm: assign({}, sortForm, {action: CURRENT_PATH}),
          query: QUERY
        }))
      }}
    </article>
  {% endblock %}

{% endblock %}
