{% extends "./_layout.njk" %}

{% set addButton %}
  <a class="button button-secondary" href="/interactions/create/1?contact={{ contact.id }}">Add interaction</a>
{% endset %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Contact interactions</h2>
  <p>
    An interaction could be a meeting, call, email or another activity where you have been in touch with a contact.
  </p>
  {{
    Collection(interactions | assignCopy({
      countLabel: 'interaction',
      summaryActionsHTML: addButton,
      sortForm: sortForm,
      query: QUERY
    }))
  }}
{% endblock %}
