{% extends "_layouts/two-column.njk" %}

{% block main_grid_left_column %}
  {{
    CollectionFilters({
      query: QUERY,
      filtersFields: filtersFields
    })
  }}
{% endblock %}

{% block main_grid_right_column %}
  {{
    Collection(searchResults | assign({
      countLabel: 'contact',
      sortForm: sortForm,
      selectedFilters: selectedFilters,
      highlightTerm: searchTerm,
      query: QUERY
    }))
  }}
{% endblock %}
