{% extends "_layouts/two-column.njk" %}
{% from "_macros/address.njk" import addressFormatter %}

{% block body_main_header_content %}
  {{ EntitySearchForm({
    inputName: 'term',
    modifier: 'global',
    action: '/search/company',
    searchTerm: searchTerm,
    searchType: searchType,
    inputLabel: 'Search for company name or contact',
    aggregations: searchEntityResultsData
  }) }}
{% endblock %}


{% block main_grid_left_column %}
  &nbsp; {# // TODO filters #}
{% endblock %}
