{% extends "_layouts/two-column.njk" %}

{% block local_header %}
  {% call LocalHeader({ modifier: 'dark-banner' }) %}
    {{ EntitySearchForm({
      inputName: 'term',
      modifier: 'global',
      searchTerm: searchTerm,
      entityType: searchEntity,
      inputLabel: 'Search for company, contact, investment project or OMIS order',
      aggregations: results.aggregations
    }) }}
  {% endcall %}
{% endblock %}


{% block main_grid_right_column %}
  {% if results %}
    {% block actions %}{% endblock %}

    {% block search_results_summary %}
      {% component 'results-summary', {
        resultType: searchEntity | replace('_', ' '),
        total: results.count,
        searchTerm: searchTerm
      } %}
    {% endblock %}

    {% block search_results %}{% endblock %}

    {{ Pagination(results.pagination) }}
  {% endif %}
{% endblock %}
