{% extends '_layouts/search.njk' %}

{% block main_grid_right_column %}
  {{
    Collection(results | assign({
      sort: sort,
      highlightTerm: searchTerm,
      countLabel: 'investment project',
      query: QUERY
    }))
  }}
{% endblock %}
