{% extends "_layouts/collection.njk" %}

{% block collection_results %}
  {% set summaryActionsHTML %}
    <a class="button button--secondary" href="/omis/create">Add order</a>
  {% endset %}

  {{ CollectionContent(results | assign({
    countLabel: countLabel,
    sortForm: assign({}, sortForm, { action: CURRENT_PATH }),
    selectedFilters: selectedFilters,
    highlightTerm: highlightTerm,
    query: QUERY,
    summaryActionsHTML: summaryActionsHTML
  })) }}
{% endblock %}
