{% extends "_layouts/two-column.njk" %}

{% block main_grid_right_column %}
  {{
    Results(results | assign({
      el: 'header',
      countLabel: 'order',
      sort: sort,
      query: QUERY
    }))
  }}
{% endblock %}
