{% extends "_layouts/two-column.njk" %}

{% block main_grid_left_column %}
  {{
    CollectionFilters({
      query: QUERY,
      filtersFields: filtersFields,
      action: CURRENT_PATH
    })
  }}
{% endblock %}

{% block main_grid_right_column %}
  {{
    Collection(results | assign({
      countLabel: 'order',
      sortForm: assign({}, sortForm, {action: CURRENT_PATH}),
      selectedFilters: selectedFilters,
      query: QUERY
    }))
  }}
{% endblock %}
