{% extends "_layouts/template.njk" %}

{% block content %}
  <div class="govuk-grid-column-full">
      {% component 'react-slot', {
        id: 'orders-collection',
        props: props
      }
      %}
  </div>
{% endblock %}
