{% extends '_layouts/datahub-base.njk' %}

{% from "_macros/dev.njk" import Example %}

{% block body_main_content %}
  {% if incompleteFields %}
    {% call Message({
      type: 'error',
      element: 'div'
    }) %}
      <p>To preview a quote you must complete the following:</p>

      <ul class="list-disc">
        {% for stepUrl, stepData in incompleteFields %}
          {% for field in stepData.errors %}
            <li>
              <a href="/omis/{{ order.id }}/edit{{ stepUrl }}?returnUrl=/omis/{{ order.id }}/quote#field-{{ field }}">
                {{ translate('errors.quote.' + field) }}
              </a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endcall %}
  {% endif %}

  {% if quote %}
    {% if order.status === 'quote_awaiting_acceptance' %}
      {% set expiryLabel = 'Expire' + ('d' if quote.expired else 's') %}
    {% else %}
      {% set expiryLabel = 'Will expire' %}
    {% endif %}

    {{ MetaList({
      items: [
        { label: expiryLabel, value: quote.expires_on, type: 'fromNow' }
      ],
      itemModifier: 'stacked'
    }) }}

    {{ MetaList({
      items: [
        { label: 'Sent on', value: quote.created_on, type: 'datetime' },
        { label: 'Sent by', value: quote.created_by if quote.created_on }
      ],
      itemModifier: 'stacked'
    }) }}

    {{ MetaList({
      items: [
        { label: 'Cancelled on', value: quote.cancelled_on, type: 'datetime' },
        { label: 'Cancelled by', value: quote.cancelled_by },
        { label: 'Accepted on', value: quote.accepted_on, type: 'datetime' },
        { label: 'Accepted by', value: quote.accepted_by }
      ],
      itemModifier: 'stacked'
    }) }}

    {% if quote.content %}
      {% call Example(tabTitle = '') %}
        <div class="l-markdown">
          {% markdown %}
            {{ quote.content }}
          {% endmarkdown %}
        </div>
      {% endcall %}
    {% endif %}

    {% if order.status in ['draft', 'quote_awaiting_acceptance'] %}
      {% if destructive %}
        {{ Message({
          type: 'error',
          text: 'Editing the order whilst it is out for acceptance will invalidate the
          current quote and the client will no longer be able to accept it.'
        }) }}
      {% endif %}
    {% endif %}

    <p>The quote should be reviewed by your manager before being sent.</p>
  {% endif %}

  {{ Form(quoteForm) }}

  <h2 class="heading-medium">What happens next</h2>

  <ul class="list-disc">
    <li>An email with a link to this quote will be sent to the client for acceptance</li>
  </ul>
{% endblock %}
