{% extends "./_layouts/view.njk" %}

{% set companyLink %}
  <a href="/companies/{{ values.company.id }}">{{ values.company.name }}</a>
{% endset %}
{% set contactLink %}
  <a href="/contacts/{{ values.contact.id }}">{{ values.contact.name }}</a>
{% endset %}

{% block body_main_content %}
  {% if not order.editable %}
    {% call Message({ type: 'info', element: 'div' }) %}
      <p>You cannot edit the order whilst a quote is awaiting acceptance.</p>
      <p>You must <a href="quote">cancel the quote</a> to edit the order.</p>
    {% endcall %}
  {% endif %}

  {{ AnswersSummary({
    heading: 'Client details',
    actions: [{
      url: 'edit/client-details' if order.editable
    }],
    items: [{
      label: 'Company',
      value: companyLink
    }, {
      label: 'Contact',
      value: contactLink
    }]
  }) }}

  {{ AnswersSummary({
    heading: 'Market (country)',
    items: [values.primary_market.name]
  }) }}

  {{ Message({
    type: 'muted',
    text: 'The market cannot be changed. If you have chosen the wrong market you’ll have to cancel the order and create a new one.'
  }) }}

  {% call AnswersSummary({
    heading: 'Advisers in the market',
    actions: [{
      url: 'edit/assignees' if order.editable,
      label: 'Add or remove'
    }, {
      url: 'edit/assignee-time' if values.assignees.length and order.editable,
      label: 'Edit time'
    }]
  }) %}
    <tbody>
      {% for assignee in values.assignees %}
        <tr>
          <th class="c-answers-summary__title" scope="row">
            {{ assignee.adviser.name }} {{ '(you)' if assignee.adviser.id === user.id }}
            {% if assignee.is_lead %}
              <span class="c-badge">Lead adviser</span>
            {% endif %}
          </th>
          <td class="c-answers-summary__content c-answers-summary__control">
            {% if not assignee.is_lead %}
              {% call Form ({
                action: 'edit/lead-assignee',
                hideFormActions: true,
                hiddenFields: {
                  adviserId: assignee.adviser.id,
                  orderId: order.id
                }
              }) %}
                <button type="submit" class="button button--link button--compact">Set as lead adviser</button>
              {% endcall %}
            {% endif %}
          </td>
          <td class="c-answers-summary__content c-answers-summary__content--number">
            {{ assignee.estimated_time  | humanizeDuration if assignee.estimated_time else 'No time estimated' }}
          </td>
        </tr>
      {% else %}
        <tr>
          <td class="c-answers-summary__content c-answers-summary__content--muted" colspan="3">None added</td>
        </tr>
      {% endfor %}
    </tbody>

    {% if values.estimatedTimeSum and values.assignees.length %}
      <tfoot>
        <tr>
          <td class="c-answers-summary__footer" colspan="3">
            <span class="c-answers-summary__footer-value">{{ values.estimatedTimeSum | humanizeDuration }}</span> total estimated time
          </td>
        </tr>
      </tfoot>
    {% endif %}
  {% endcall %}

  {{ AnswersSummary({
    heading: 'Advisers in the UK',
    actions: [{
      url: 'edit/subscribers' if order.editable,
      label: 'Add or remove'
    }],
    items: values.subscribers | map('name') if values.subscribers.length,
    fallbackText: 'None added'
  }) }}

  {{ AnswersSummary({
    heading: 'Work description',
    actions: [{
      url: 'edit/work-description' if order.editable
    }],
    items: [{
      label: 'Delivery date',
      value: values.delivery_date | formatDate if values.delivery_date,
      fallbackText: 'Not set'
    }, {
      label: 'Service type' | pluralise(values.service_types.length),
      value: values.service_types | map('name') | join(', ') if values.service_types.length,
      fallbackText: 'None selected'
    }, {
      label: 'Sector',
      value: values.sector.name,
      fallbackText: 'Not selected'
    }, {
      label: 'Description of the activity',
      value: values.description,
      fallbackText: 'Not added'
    }, {
      label: 'Contacts not to approach',
      value: values.contacts_not_to_approach,
      fallbackText: 'None added'
    }, {
      label: 'Existing representatives',
      value: values.existing_agents
    }, {
      label: 'Permission to approach contacts',
      value: values.permission_to_approach_contacts
    }, {
      label: 'Production information',
      value: values.product_info
    }, {
      label: 'Further information',
      value: values.further_info
    }]
  }) }}

  {% if values.vat_verified === true %}
    {% set verifiedState = translate('fields.vat_verified.options.valid') %}
  {% elif values.vat_verified === false %}
    {% set verifiedState = translate('fields.vat_verified.options.invalid') %}
  {% else %}
    {% set verifiedState = translate('fields.vat_verified.options.unverified') %}
  {% endif %}

  {% set billingContact = [
    values.billing_contact_name,
    values.billing_email,
    values.billing_phone
  ] | removeNilAndEmpty | join('<br>') %}

  {% set billingAddress = [
    values.billing_address_1,
    values.billing_address_2,
    values.billing_address_town,
    values.billing_address_county,
    values.billing_address_postcode,
    values.billing_address_country.name
  ] | removeNilAndEmpty %}

  {% set registeredAddress = [
    company.registered_address_1,
    company.registered_address_2,
    company.registered_address_town,
    company.registered_address_county,
    company.registered_address_postcode,
    company.registered_address_country.name
  ] | removeNilAndEmpty %}

  {% set tradingAddress = [
    company.trading_address_1,
    company.trading_address_2,
    company.trading_address_town,
    company.trading_address_county,
    company.trading_address_postcode,
    company.trading_address_country.name
  ] | removeNilAndEmpty %}

  {% set companyAddress = tradingAddress if tradingAddress|length else registeredAddress %}

  {{ AnswersSummary({
    heading: 'Invoice details',
    actions: [{
      url: 'edit/payment' if order.editable
    }],
    items: [{
      label: 'VAT category',
      value: translate('fields.vat_status.options.' + values.vat_status) if values.vat_status,
      fallbackText: 'Not set'
    }, {
      label: 'VAT number',
      value: values.vat_number + ' (' + verifiedState + ')' if values.vat_number
    }, {
      label: 'Purchase Order (PO) number',
      value: values.po_number,
      fallbackText: 'Not added'
    }, {
      label: 'Billing contact',
      value: billingContact
    }, {
      label: 'Billing address',
      value: billingAddress | join(', ') if billingAddress|length else companyAddress | join(', '),
      fallbackText: 'Not added'
    }]
  }) }}

  {% if not billingAddress | length %}
    {% call Message({ type: 'muted' }) %}
      The company's {{ 'trading' if tradingAddress|length else 'registered' }} address is currently being used for the invoice.
    {% endcall %}
  {% endif %}

{% endblock %}
