@import "../../settings";
@import "../../tools/mixins/addons";

.c-entity-search--global {
  .c-form-group {
    max-width: none;
  }
}

.c-entity-search__aggregations {
  margin-top: $default-spacing-unit;
}

.c-entity-search__aggregations-item {
  display: inline-block;
  padding: $default-spacing-unit * 0.5;
  white-space: nowrap;
  cursor: default;
}

.c-entity-search__aggregations-count {
  margin-left: 5px;
}

.c-entity-search__aggregations-item.is-active {
  background-color: $white;
}
