@import "../../settings/colours";
@import "../../tools/mixins";

.form-sub-heading {
  width: 100%;
  border-bottom: 1px solid $grey-5;
  margin-bottom: -5px;
  display: flex;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-top: $default-spacing-unit * 2.5;
  }

  h1,
  h2 {
    margin-bottom: $default-spacing-unit * .3;
    flex-grow: 1;
  }

  h1 {
    @include bold-font(24);
  }

  h2 {
    @include bold-font(20);
    text-align: right;
  }

}
