@import "../../settings";

.c-form-group {
  max-width: 40em;
}

.c-form-group__label {
  display: table;
  line-height: 1.1;
  margin-bottom: 10px;

  * + * {
    margin-top: $default-spacing-unit / 2;
  }
}

// Ensure legend is inside the fieldset
// sass-lint:disable no-qualifying-elements
legend.c-form-group__label {
  float: left;
  width: 100%;
}

.c-form-group__label-text {
  font-weight: 600;
}

.c-form-group__hint {
  color: $grey-1;
  display: block;
}

.c-form-group__error-message {
  color: $error-colour;
  font-weight: 600;
  display: block;
}

// States
.c-form-group.has-error {
  border-left: 5px solid $error-colour;
  padding-left: $default-spacing-unit;
}

// Modifiers
.c-form-group--subfield {
  border-left: 5px solid $grey-2;
  margin-left: $default-spacing-unit;

  &,
  &.has-error {
    padding-left: ($default-spacing-unit * 2) - 4;
  }
}
