@import "../../settings";

.c-form-group {
  max-width: 40em;

  .c-form-fieldset__legend + & {
    margin-top: 0;
  }
}

.c-form-group__inner {
  position: relative;
}

.c-form-group__label {
  display: table;
  line-height: 1.1;
  margin-bottom: 10px;

  * + * {
    margin-top: $default-spacing-unit / 2;
  }
}

.c-form-group__label-text {
  font-weight: 600;
}

.c-form-group__hint {
  color: $grey-1;
  display: block;
}

.c-form-group__error-message {
  color: $error-colour;
  font-weight: 600;
  display: block;
}

// States
.c-form-group.has-error {
  border-left: 5px solid $error-colour;
  padding-left: $default-spacing-unit;
}

// Modifiers
.c-form-group--subfield {
  border-left: 5px solid $grey-2;
  margin-left: $default-spacing-unit;

  &,
  &.has-error {
    padding-left: ($default-spacing-unit * 2) - 4;
  }
}

.c-form-group--inline {
  @include media(tablet) {
    vertical-align: top;

    &,
    .c-form-group__inner {
      display: inline-block;
    }

    .c-form-group__label:not(legend) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: $default-spacing-unit / 2;
    }

    .c-form-control,
    .c-multiple-choice {
      width: auto;
      display: inline-block;
      margin-top: 0;
    }

    .c-multiple-choice {
      margin-right: $default-spacing-unit;
    }

    & + & {
      margin-left: $default-spacing-unit;
      margin-top: 0;
    }
  }
}
