@import "../../settings";

.c-form-errors {
  border: 5px solid $error-colour;
  padding: $default-spacing-unit;
  max-width: 40em;
  margin-bottom: $default-spacing-unit * 2;

  &:focus {
    outline: 3px solid $focus-colour;
  }
}

.c-form-errors__heading {
  margin-top: 0;
}

.c-form-errors__summary:last-child {
  margin-bottom: 0;
}

.c-form-errors__list {
  font-weight: 600;
  list-style: square;
  padding-left: 1em;
  color: $error-colour;

  a {
    color: $error-colour;
  }
}

.c-form-errors__list-item {
  margin-top: 5px;
}
