@import "../../settings";

.c-form-control {
  appearance: none;
  border: 2px solid $text-colour;
  background-color: $white;
  display: inline-block;
  height: 2em;
  padding: 0 ($default-spacing-unit / 2);
  font-size: 1em;
  outline: 0;

  &:focus {
    box-shadow: 0 0 0 3px $focus-colour;
  }

  &[type="text"],
  &[type="search"],
  &[type="password"] {
    width: 100%;
  }

  &::placeholder {
    color: $grey-2;
  }
}

// sass-lint:disable no-qualifying-elements
textarea.c-form-control {
  min-height: 8em;
  max-height: 50vh;
  padding-top: $default-spacing-unit / 2;
  padding-bottom: $default-spacing-unit / 2;
  width: 100%;
  max-width: 100%;
}

select.c-form-control {
  width: 100%;
  border-radius: 0;
  appearance: none;
  background: $white url("../../../images/icon-triangle.svg") no-repeat right 8px top 50%;
  background-size: .8em;
  padding-right: $default-spacing-unit * 2;

  &::-ms-expand {
    display: none;
  }

  // IE9
  @media all and (min-width:0\0) and (min-resolution:.001dpcm) {
    & {
      background-image: none;
      padding: 0 !important;
    }
  }
}

.c-form-control.has-error {
  border-color: $error-colour;
}

.c-form-control--medium {
  max-width: 15em;
}

.c-form-control--short {
  max-width: 10em;
}

.c-form-control--shorter {
  max-width: 4em;
}

.c-form-control--shortest {
  max-width: 2.6em;
}
