@import "../../settings";

.c-multiple-choice {
  position: relative;
  clear: left;
}

.c-multiple-choice__input {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 2em;
  height: 2em;
  opacity: 0;

  &[type="checkbox"] + .c-multiple-choice__label::after {
    border-width: 0 0 .3em .3em;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    width: 22px;
    height: 13px;
  }

  &[type="radio"] + .c-multiple-choice__label {
    &::before,
    &::after {
      border-radius: 100%;
    }
  }

  + .c-multiple-choice__label {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      border: 2px solid $text-colour;
    }

    &::before {
      height: 2em;
      width: 2em;
    }

    &::after {
      height: 0;
      width: 0;
      border-width: 10px;
      left: 6px;
      top: 6px;
      visibility: hidden;

      @include media(tablet) {
        top: 9px;
        left: 9px;
      }
    }
  }

  &:checked + .c-multiple-choice__label::after {
    visibility: visible;
  }

  &:focus + .c-multiple-choice__label::before {
    box-shadow: 0 0 0 4px $focus-colour;
  }
}

.c-multiple-choice__label {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  padding: ($default-spacing-unit / 2) ($default-spacing-unit / 2) ($default-spacing-unit / 2) ($default-spacing-unit * 3);
  line-height: 1.2;
}

.c-multiple-choice__hint {
  display: block;
  margin-top: 5px;
  color: $grey-1;
}
