@import "../../settings";

.c-multiple-choice {
  position: relative;
  clear: left;
}

@mixin _scale-input($font-size) {
  $input-size: $font-size * 2;

  width: $input-size;
  height: $input-size;

  &[type="checkbox"] + .c-multiple-choice__label::after {
    border-width: 0 0 5px 5px;
    width: round($input-size / 1.7);
    height: round($input-size / 3);
  }

  & + .c-multiple-choice__label {
    &::before {
      height: $input-size;
      width: $input-size;
    }

    &::after {
      border: ceil($font-size / 2) solid $text-colour;
      left: floor($font-size / 2);
      top: floor($font-size / 2);
    }
  }
}

.c-multiple-choice__input {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  opacity: 0;

  &[type="checkbox"] + .c-multiple-choice__label::after {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }

  &[type="radio"] + .c-multiple-choice__label {
    &::before,
    &::after {
      border-radius: 100%;
    }
  }

  & + .c-multiple-choice__label {
    &::before,
    &::after {
      content: "";
      position: absolute;
      margin: auto;
    }

    &::before {
      border: 2px solid $text-colour;
      top: 0;
      left: 0;
    }

    &::after {
      height: 0;
      width: 0;
      visibility: hidden;
    }
  }

  &:checked + .c-multiple-choice__label::after {
    visibility: visible;
  }

  &:focus + .c-multiple-choice__label::before {
    box-shadow: 0 0 0 4px $focus-colour;
  }
}

.c-multiple-choice__label {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  padding: ($default-spacing-unit / 2) ($default-spacing-unit / 2) ($default-spacing-unit / 2) ($default-spacing-unit * 3);
  line-height: 1.2;
}

.c-multiple-choice__hint {
  display: block;
  margin-top: 5px;
  color: $grey-1;
}

.c-multiple-choice__input {
  @include _scale-input(19px);
}

// Modifiers

.c-form-group--small {
  font-size: 16px;

  .c-multiple-choice__input {
    @include _scale-input(16px);
  }

  .c-multiple-choice__label {
    padding-left: round($default-spacing-unit * 3 * (16 / 19));
  }
}
