.multiselect {
  color: $text-colour;
}

.multiselect__content {
  width: 100%;
}

.multiselect__placeholder {
  color: $black;
  margin-bottom: 0;
  padding-top: 0;
}

.multiselect__content-wrapper {
  border: 1px solid $grey-1;
  border-top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  margin-bottom: 0;
  padding: 0;
  min-height: auto;
  line-height: 2;
}

.multiselect__tags {
  border: 1px solid $black;
  border-radius: 0;
  font-size: 1em;
  padding: 0 $default-spacing-unit * 0.5;
  min-height: auto;
}

.multiselect__tag {
  font-size: 14px;
  background: $highlight-colour;
  border-radius: 0;
  color: $text-colour;
  margin: 0 $default-spacing-unit * 0.5 0 0;
  overflow: initial;
  white-space: normal;
  line-height: 1.4;
}

.multiselect__input:focus,
.multiselect__single:focus {
  box-shadow: none;
}

.multiselect--active {
  box-shadow: 0 0 0 3px $focus-colour;
}

.multiselect__option {
  border-bottom: 1px solid $grey-2;
  white-space: normal;
  width: 100%;
  line-height: 24px;

  .highlight {
    font-weight: 600;
  }
}

.multiselect__option--highlight,
.multiselect__option--highlight::after {
  background: $govuk-blue;
}

.multiselect__tag-icon {
  &::after {
    color: $text-colour;
  }

  &:focus,
  &:hover {
    background: $grey-2;
    border-radius: 0;

    &::after {
      color: $red;
    }
  }
}

.multiselect__option-label {
  margin-bottom: $default-spacing-unit * 0.25;
}

.c-form-group--no-filter .multiselect__tags {
  border-width: 2px;
}


.multiselect__spinner {
  background: transparent;
  height: 2em;
  @include media(desktop) {
    height: 2.5em;
  }

  &::after {
    z-index: 1;
  }
}

.c-form-group--no-filter .multiselect__placeholder,
.c-form-group--no-filter .multiselect__single,
.c-form-group--no-filter .multiselect__input {
  font-size: 16px;

  &:focus {
    font-size: 16px;
  }

  @include media (tablet) {
    font-size: 19px;
    &:focus {
      font-size: 19px;
    }
  }
}
