{% extends "_layouts/two-column.njk" %}

{% block local_header %}
  {{
    LocalHeader({
      heading: 'Edit company' if formData.id else 'Add company',
      breadcrumbs: BREADCRUMBS,
      modifier: 'light-banner'
    })
  }}
{% endblock %}
