{% extends "_layouts/two-column.njk" %}

{% block body_main_header_content %}
  <h1 class="page-heading">
    {% if formData.id %}
      Edit company
    {% else %}
      Add company
    {% endif %}
  </h1>
{% endblock %}
