{% extends "./_layout-edit.njk" %}

{% block main_grid_right_column %}
  <div class="key-value key-value--vertical">
    <div id="business-type" class="key-value__key form-label-bold">Business type
      <a href="/companies/add-step-1" class="button-link">Change</a>
    </div>
    <div class="key-value__value" aria-labelledby="business-type">{{ companyTypeOptions[businessType] }}</div>
  </div>

  {{ EntitySearchForm({
    inputName: 'term',
    inputLabel: 'Find the parent company’s Companies House record',
    inputPlaceholder: 'Search for company',
    inputHint: 'Search for the registered company name, company number or address',
    searchTerm: searchTerm,
    isLabelHidden: false,
    hiddenFields: {
      business_type: businessType
    },
    action: '/companies/add-step-2'
  }) }}

  {% if results | length %}
    {{
      Collection(results | assign({
        highlightTerm: searchTerm,
        countLabel: 'company',
        listModifier: 'block-links',
        query: QUERY
      }))
    }}

    {{ Message({
      type: 'muted',
      text: 'If you can’t find the company you’re looking for, try a different search term, check the company’s website or any email correspondence that contains company registration details'
    }) }}

    {{ Pagination(companies.pagination) }}

  {% endif %}
{% endblock %}
