{% extends "./_layout-edit.njk" %}

{% block main_heading %}
  <h1 class="page-heading">Add company</h1>
{% endblock %}

{% block main_grid_right_column %}
  {% call Form({ buttonText: 'Continue', errors: errors }) %}
    {{ MultipleChoiceField({
      type: 'radio',
      name: 'business_type',
      label: 'Company type',
      value: company.business_type,
      error: errors.messages.business_type,
      options: [
        {
          value: 'ltd',
          label: 'UK private or public limited company',
          hint: 'Must be a company registered with Companies House'
        }, {
          value: 'ukother',
          label: 'Other type of UK organisation',
          hint: 'UK organisation not registered with Companies House',
          children: [
            MultipleChoiceField({
              name: 'business_type_uk_other',
              label: 'Type of organisation',
              error: errors.messages.business_type_uk_other,
              value: company.business_type_uk_other,
              options: ukOtherCompanyOptions,
              initialOption: 'Select type',
              modifier: 'subfield',
              condition: {
                name: 'business_type',
                value: 'ukother'
              }
            })
          ]
        }, {
          value: 'foreign',
          label: 'Foreign organisation',
          children: [
            MultipleChoiceField({
              name: 'business_type_for_other',
              label: 'Type of organisation',
              error: errors.messages.business_type_for_other,
              value: company.business_type_for_other,
              options: foreignOtherCompanyOptions,
              initialOption: 'Select type',
              modifier: 'subfield',
              condition: {
                name: 'business_type',
                value: 'foreign'
              }
            })
          ]
        }
      ]
    }) }}
  {% endcall %}
{% endblock %}
