{% extends "./_layout-view.njk" %}


{% block main_grid_right_column %}
  {{ EntitySearchForm({
    inputName: 'term',
    inputLabel: inputLabel,
    inputPlaceholder: 'Search for company',
    inputHint: 'Search for the registered company name, company number or address',
    searchTerm: searchTerm,
    isLabelHidden: false,
    action: '/companies/' + companyId + '/details/global-headquarters/add'
  }) }}

  {{
    Collection(results | assign({
      highlightTerm: searchTerm,
      countLabel: 'company',
      listModifier: 'block-links',
      query: QUERY
    }))
  }}

  {{ Message({
    type: 'muted',
    text: 'If you can’t find the company you’re looking for, try a different search term, check the company’s website or any email correspondence that contains company registration details'
  }) }}

  {{ Pagination(companies.pagination) }}

{% endblock %}
