{% extends "_layouts/template.njk" %}

{% macro AddressCell(meta, address) %}
  <td>
    {{
      MetaList({
        items: meta,
        modifier: 'stacked',
        itemModifier: 'stacked'
      })
    }}
    <ul>
      {% for element in address %}
        <li>{{ element }}</li>
      {% endfor %}
    </ul>
  </td>
{% endmacro %}

{% block local_header %}
  {% call LocalHeader({ heading: 'Business details' }) %}{% endcall %}
{% endblock %}

{% block body_main_content %}
  <p>This page shows information about this business and how it is related to other businesses</p>

  {% if company.duns_number %}
    {{ govukDetails({
      summaryText: 'Where does information on this page come from?',
      html: '<p>
          The information on this page that cannot be edited comes from <a href="https://www.dnb.co.uk/about-us/data-cloud.html" target="_blank">Dun & Bradstreet</a>. This is an external and verified source. The information is automatically updated. <a href="audit">View the audit history</a>.
        </p>
        <p>
          If you think the information is incomplete or incorrect, <a href="/support">get in touch using the support form</a>.
        </p>'
    }) }}
  {% endif %}

  <h2 class="govuk-heading-m govuk-!-margin-top-9">{{ company.name }} is known as</h2>

  {% component 'key-value-table', items=knownAsDetails %}


  <h2 class="govuk-heading-m govuk-!-margin-top-9">Global Account Manager – One List</h2>

  {% component 'key-value-table', items=oneListDetails %}

  <p>
    <a href="advisers">See all advisers on the core team</a>
  </p>


  <h2 class="govuk-heading-m govuk-!-margin-top-9">Business hierarchy</h2>

  {% component 'key-value-table', items=businessHierarchyDetails %}


  <h2 class="govuk-heading-m govuk-!-margin-top-9">DIT sector</h2>

  <table class="table--key-value">
    <tbody>
    {% for sector in sectorDetails %}
      <tr>
        <td>{{ sector }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


  {% if regionDetails %}
    <h2 class="govuk-heading-m govuk-!-margin-top-9">DIT region</h2>

    <table class="table--key-value">
      <tbody>
      <tr>
        <td>{{ regionDetails }}</td>
      </tr>
      </tbody>
    </table>
  {% endif %}


  <h2 class="govuk-heading-m govuk-!-margin-top-9">Addresses</h2>

  <table class="table--key-value">
    <tbody>
    <tr>
      {% if addressesDetails.trading.address %}
        {{ AddressCell(addressesDetails.trading.meta, addressesDetails.trading.address) }}
      {% endif %}
      {% if addressesDetails.registered.address %}
        {{ AddressCell(addressesDetails.registered.meta, addressesDetails.registered.address) }}
      {% endif %}
    </tr>
    </tbody>
  </table>


  <h2 class="govuk-heading-m govuk-!-margin-top-9">Additional business information</h2>

  {% component 'key-value-table', items=additionalInformationDetails %}


  {% if archivedDocumentPath %}
  <h2 class="govuk-heading-m govuk-!-margin-top-9">Documents from CDMS</h2>

  <table class="table--key-value">
    <tbody>
    <tr>
      <td>
        <a href="{{ ARCHIVED_DOCUMENT_BASE_URL }}{{ archivedDocumentPath }}" aria-labelledby="external-link-label">
          View files and documents
        </a>
        <span id="external-link-label">(will open another website)</span>
      </td>
    </tr>
    </tbody>
  </table>
  {% endif %}

{% endblock %}
