{% extends "_layouts/template.njk" %}

{% set editUrl = '/companies/' + company.id + '/edit' if not company.duns_number and not company.archived %}

{% macro AddressCell(address, isRegistered) %}
  <td>
    {% if isRegistered %}
      {{
        MetaList({
          items: [
            {
              value: 'Registered',
              label: 'Type',
              type: 'badge'
            }
          ],
          modifier: 'stacked',
          itemModifier: 'stacked'
        })
      }}
    {% endif %}
    <ul>
      {% if address.line_1 %}<li>{{ address.line_1 }}</li>{% endif %}
      {% if address.line_2 %}<li>{{ address.line_2 }}</li>{% endif %}
      {% if address.town %}<li>{{ address.town }}</li>{% endif %}
      {% if address.county %}<li>{{ address.county }}</li>{% endif %}
      {% if address.postcode %}<li>{{ address.postcode }}</li>{% endif %}
      {% if address.country %}<li>{{ address.country.name }}</li>{% endif %}
    </ul>
  </td>
{% endmacro %}

{% block local_header %}
  {% call LocalHeader({ heading: 'Business details' }) %}{% endcall %}
{% endblock %}

{% block body_main_content %}
  <p>
    This page shows information about this business and how it is related to other businesses<br />
    Changes made to this information can be found on the <a href="audit">Audit trail page</a>
  </p>

  {% if company.archived %}
    {% call Message({ type: 'info' }) %}
      This company was archived on {{company.archived_on | formatDate}} by {{company.archived_by.first_name}} {{company.archived_by.last_name}}. <br>
      <strong>Reason:</strong> {{company.archived_reason}}<br>
      <br>
      <a href="/companies/{{company.id}}/unarchive">Unarchive</a>
    {% endcall %}
  {% endif %}

  {% if company.duns_number %}
    {{ govukDetails({
      summaryText: 'Where does information on this page come from?',
      html: '<p>
          The information on this page that cannot be edited comes from <a href="https://www.dnb.co.uk/about-us/data-cloud.html" target="_blank">Dun & Bradstreet</a>. This is an external and verified source. The information is automatically updated. <a href="audit">View the audit history</a>.
        </p>
        <p>
          If you think the information is incomplete or incorrect, <a href="/support">get in touch using the support form</a>.
        </p>',
      attributes: {
        'data-auto-id': 'businessDetailsWhereDoesInformation'
      }
    }) }}
  {% endif %}

  {% call DetailsContainer({ heading: 'About ' + company.name, editUrl: editUrl, dataAutoId: 'aboutDetailsContainer' }) %}
    {% component 'key-value-table', items=aboutDetails, dataAutoId='aboutDetails' %}
  {% endcall %}

  {% call DetailsContainer({ heading: 'Addresses', editUrl: editUrl, dataAutoId: 'addressesDetailsContainer' }) %}
    <table class="table--key-value">
      <tbody>
        <tr>
          {{ AddressCell(company.address) }}

          {% if company.registered_address %}
            {{ AddressCell(company.registered_address, true) }}
          {% endif %}
        </tr>
      </tbody>
    </table>
  {% endcall %}

  {% if regionDetails %}
    {% call DetailsContainer({ heading: 'DIT region', editUrl: editUrl, dataAutoId: 'regionDetailsContainer' }) %}
      <table class="table--key-value">
        <tbody>
          <tr>
            <td>{{ regionDetails }}</td>
          </tr>
        </tbody>
      </table>
    {% endcall %}
  {% endif %}

  {% call DetailsContainer({ heading: 'DIT sector', editUrl: editUrl, dataAutoId: 'sectorDetailsContainer' }) %}
    <table class="table--key-value">
      <tbody>
      {% for sector in sectorDetails %}
        <tr>
          <td>{{ sector }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endcall %}

  {% if oneListDetails %}
    {% call DetailsContainer({ heading: 'Global Account Manager – One List', editUrl: editUrl, dataAutoId: 'oneListDetailsContainer' }) %}
      {% component 'key-value-table', items=oneListDetails, dataAutoId='oneListDetails' %}

      <p>
        <a href="advisers">See all advisers on the core team</a>
      </p>
    {% endcall %}
  {% endif %}

  {% call DetailsContainer({ heading: 'Business hierarchy', editUrl: editUrl, dataAutoId: 'businessHierarchyDetailsContainer' }) %}
    {% component 'key-value-table', items=businessHierarchyDetails, dataAutoId='businessHierarchyDetails' %}
  {% endcall %}

  {% if archivedDocumentPath %}
    {% call DetailsContainer({ heading: 'Documents from CDMS', dataAutoId: 'documentsDetailsContainer' }) %}
      <table class="table--key-value">
        <tbody>
        <tr>
          <td>
            <a href="{{ ARCHIVED_DOCUMENT_BASE_URL }}{{ archivedDocumentPath }}" aria-labelledby="external-link-label">View files and documents</a>
            <span id="external-link-label">(will open another website)</span>
          </td>
        </tr>
        </tbody>
      </table>
    {% endcall %}
  {% endif %}

  {% if not company.archived and not company.duns_number %}
    {% call DetailsContainer({ heading: 'Archive company', dataAutoId: 'archiveCompanyContainer' }) %}
      <p>Archive this company if it is no longer required or active.</p>

      {% component 'archive-form', {
        label: 'Archive reason',
        options: ['Company is dissolved'],
        csrfToken: csrfToken,
        error: form.errors.reason,
        url: '/companies/' + company.id + '/archive'
      } %}
    {% endcall %}
  {% endif %}

{% endblock %}
