{% extends "./_layout-view.njk" %}

{% block main_grid_right_column %}
  {% set addProjectButton %}
    <a id="add-contact-link" class="button button-secondary" href="{{addContactUrl}}">Add contact</a>
  {% endset %}

  <h2 class="heading-medium">Contacts</h2>

  {{ Collection({
    id: 'contact-list',
    items: activeContacts,
    count: activeContacts.length,
    countLabel: 'active contact',
    summaryActionsHTML: addProjectButton
  }) }}

  {% if contacts.length == 0 and contactsArchived.length == 0 %}
    <p id="no-contact-warning" class="infostrip">There are no contacts at this time. <a href="{{addContactUrl}}">Add a new contact</a></p>
  {% endif %}

  {% if archivedContacts | length %}
    {{ Collection({
      id: 'archived-contact-list',
      items: archivedContacts,
      count: archivedContacts.length,
      countLabel: 'archived contact'
    }) }}
  {% endif %}
{% endblock %}
