{% extends "./_layout-view.njk" %}

{% block main_grid_right_column %}
  {% set addProjectButton %}
    <a id="add-contact-link" class="button button-secondary" href="{{addContactUrl}}">Add contact</a>
  {% endset %}

  <h2 class="heading-medium">Contacts</h2>

  {{ CollectionFilters({
      query: QUERY,
      filtersFields: filtersFields,
      action: CURRENT_PATH
    })
  }}

  {{ Collection(contactResults | assign({
      countLabel: 'contact',
      sortForm: assign({}, sortForm, {action: CURRENT_PATH}),
      selectedFilters: selectedFilters,
      query: QUERY,
      action: CURRENT_PATH,
      summaryActionsHTML: addProjectButton
    }))
  }}
{% endblock %}
