{% extends "./_layout-view.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">
    {% if company.headquarter_type.name === 'ghq' %}
      Global headquarters summary
    {% else %}
      Company summary
    {% endif %}
  </h2>

  {% if chDetails %}
    {% call Message({ type: 'muted', element: 'div' }) %}
      {% component 'key-value-table', items=chDetails %}
      <p>Powered by data from <strong>Companies House</strong></p>
    {% endcall %}
  {% endif %}

  {% if companyDetails %}
    {% component 'key-value-table', variant='striped', items=companyDetails %}
  {% endif %}

  {% if company.id %}
    {% if not company.archived %}
      <p><a href="/companies/{{company.id}}/edit" class="button button--secondary">Edit company details</a></p>
    {% endif %}
  {% else %}
    <p><a href="/companies/add/{{company.company_number}}" class="button">Add company</a></p>
  {% endif %}

  {% if company.classification %}
    <div class="section">
      <h2 class="heading-medium">Global Account Manager – One List</h2>
      {% component 'key-value-table', variant='striped', items=accountManagementDetails %}

      {# when the "companies-advisers" flag check is removed then the HiddenContent block should also be removed #}
      {% if features['companies-advisers'] %}
        <p>
          <a href="advisers">See all advisers on the core team</a>
        </p>
      {% else %}
        {% call HiddenContent({ summary: 'Need to edit the Global Account Manager information?' }) %}
          {% call Message({ type: 'muted' }) %}
            If you need to change the One List tier or Global Account Manager for this company,
            go to the <a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/strategic-relationship-account-management/">Digital Workspace</a>
            or email <a href="mailto:{{oneListEmail}}">{{oneListEmail}}</a>.
          {% endcall %}
        {% endcall %}
      {% endif %}

    </div>
  {% endif %}

  {% if company.id and not company.archived %}
    <h2 class="heading-medium">Archive company</h2>
    <p>Archive this company if it is no longer required or active.</p>

    {% component 'archive-form', {
      label: 'Archive reason',
      options: ['Company is dissolved'],
      csrfToken: csrfToken,
      error: form.errors.reason,
      url: '/companies/' + company.id + '/archive'
    } %}
  {% endif %}
{% endblock %}
