{% extends "./_layout-view.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Company summary</h2>

  {% if chDetails %}
    <div class="dark-panel">
      {% component 'key-value-table', variant='readonly', items=chDetails %}
      <p class="footnote">Powered by data from <strong>Companies House</strong></p>
    </div>
  {% endif %}

  {% if companyDetails %}
    {% component 'key-value-table', variant='striped', items=companyDetails %}
  {% endif %}

  {% if company.id %}
    <p><a href="/companies/{{company.id}}/edit" class="button button--secondary">Edit</a></p>
  {% else %}
    <p><a href="/companies/add/{{company.company_number}}" class="button">Add</a></p>
  {% endif %}

  <div class="section">
    <h2 class="heading-medium">Account management</h2>
    {% component 'key-value-table', variant='striped', items=accountManagementDetails %}
    <p><a href="/companies/{{company.id}}/account-management/edit" class="button button--secondary">Edit</a></p>
  </div>

  {% if company.id and not company.archived %}
    <h2 class="heading-medium">Archive company</h2>
    <p>Archive this company if it is no longer required or active.</p>

    {% component 'archive-form', {
      label: 'Archive reason',
      options: ['Company is dissolved'],
      csrfToken: csrfToken,
      error: form.errors.reason,
      url: '/companies/' + company.id + '/archive'
    } %}
  {% endif %}
{% endblock %}
