{% extends "./_layout-edit.njk" %}

{% block main_grid_right_column %}
  {{ super() }}

  {{ errorPanel( errors, labels=companyDetailsLabels ) }}
  <div class="section">
    <div class="for-control key-value key-value--vertical">
      <div id="business-type" class="key-value__key form-label-bold">Business type
        <a href="/company/add-step-1" class="button-link">Change</a>
      </div>
      <div class="key-value__value" aria-labelledby="business-type">UK Ltd Company</div>
    </div>
  </div>

  <div class="section">
    {% if chDetails %}
      {{ keyvaluetable(chDetails, labels=chDetailsLabels, keyorder=chDetailsDisplayOrder, class="table--small", id="ch-details") }}
      <div class="table_footnote">Data from <strong>Companies House</strong></div>
    {% endif %}
  </div>

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="company_number" value="{{formData.company_number}}">
    <input type="hidden" name="business_type" value="{{formData.business_type}}">
    <input type="hidden" name="uk_based" value="yes">
    <input type="hidden" name="name" value="{{formData.name}}">
    <input type="hidden" name="registered_address_1" value="{{formData.registered_address_1}}">
    <input type="hidden" name="registered_address_2" value="{{formData.registered_address_2}}">
    <input type="hidden" name="registered_address_town" value="{{formData.registered_address_town}}">
    <input type="hidden" name="registered_address_county" value="{{formData.registered_address_county}}">
    <input type="hidden" name="registered_address_postcode" value="{{formData.registered_address_postcode}}">
    <input type="hidden" name="registered_address_country" value="{{formData.registered_address_country}}">
    {{ textbox("alias", label="Trading name (optional)", value=formData.alias, error=errors.alias) }}

    <div class="form-group">
      <div class="form-label-bold">Trading address (optional)</div>
      <button id="add-trading-address" class="button-secondary{%if showTradingAddress == true %}u-hidden{% endif %}" type="button">Add trading address</button>
      <button id="remove-trading-address" class="button-secondary{%if showTradingAddress == false %} u-hidden{% endif %}" type="button">Remove trading address</button>
    </div>

    <fieldset id="trading-address-wrapper"
      class="fieldset--address lookup-address-js{%if showTradingAddress == false %} u-hidden{% endif %}">
      <div class="key-value key-value--vertical form-group">
        <div id="trading-address-contry-label" class="key-value__key form-label-bold">Country</div>
        <div class="key-value__value" aria-labelledby="trading-address-contry-label">United Kingdom</div>
      </div>

      <div class="form-group form-group--postcode">{# hide for none js #}
        <label class="form-label-bold">Postcode</label>
        <input class="form-control postcode-lookup-value postcode-lookup-field" autoComplete="off" value="">
        <button class="button button-secondary postcode-lookup-button" type="button">Find UK address</button>
      </div>
      {# dropdown of suggestions #}
      <div class="form-group form-group--address-suggestions">
        <label class="form-label-bold">Select an address from the drop down</label>
        <select class="form-control">
        <option value="">Please enter a postcode to lookup your address</option>
        </select>
      </div>

      {{ textbox("trading_address_1", label="Business and street (optional)", value=formData.trading_address_1, error=errors.trading_address_1) }}
      {{ textbox("trading_address_2", value=formData.trading_address_2, error=errors.trading_address_2) }}
      {{ textbox("trading_address_town", label="Town or city (optional)", value=formData.trading_address_town, error=errors.trading_address_town) }}
      {{ textbox("trading_address_county", label="County (optional)", value=formData.trading_address_county, error=errors.trading_address_county) }}
      {{ textbox("trading_address_postcode", label="Postcode (optional)", value=formData.trading_address_postcode, error=errors.trading_address_postcode) }}
      {{ dropdown("trading_address_country", label="Country", emptyLabel="Pick a value", value=formData.trading_address_country, options=countryOptions, errors=trading_address_country)}}
    </fieldset>

    {{ dropdown("uk_region", label="UK region", emptyLabel="Pick a value", value=formData.uk_region, options=regionOptions, error=errors.uk_region) }}
    <fieldset class="form-group form-group__checkbox-group" id="headquarters-wrapper">
      <legend class="form-label-bold">Is this a headquarters?</legend>
      <label
        class="block-label selection-button-radio{% if not formData.headquarter_type or formData.headquarter_type == '' %} selected{% endif %}">
        <input name="headquarters" type="radio" value="" {% if not formData.headquarter_type or formData.headquarter_type == '' %} checked{% endif %}>
        Not a headquarters
      </label>
      {% for option in headquarterOptions %}
        <label class="block-label selection-button-radio {% if option.id == formData.headquarter_type %}selected{% endif %}">
          <input name="headquarters" type="radio" value="{{option.id}}" {% if option.id == formData.headquarter_type %}checked{% endif %}>
          {{ hqLabels[option.name] }}
        </label>
      {% endfor %}
    </fieldset>
    {{ dropdown("sector", label="Sector", emptyLabel="Pick a value", value=formData.sector, options=sectorOptions, error=errors.sector) }}
    {{ textbox("website", label="Website (optional)", value=formData.website, error=errors.website) }}
    {{ textarea("description", label="Business description (optional)", value=formData.description, error=errors.description) }}
    {{ dropdown("employee_range", label="Number of employees (optional)", emptyLabel="Pick a value", value=formData.employee_range, options=employeeOptions, error=errors.employee_range) }}
    {{ dropdown("turnover_range", label="Annual turnover (optional)", emptyLabel="Pick a value", value=formData.turnover_range, options=turnoverOptions, error=errors.turnover_range) }}

    {% if formData.id %}
      {{ save() }}
    {% else %}
      {{ save(buttonText="Save and create") }}
    {% endif %}
  </form>
{% endblock %}
