{% extends "./_layout-edit.njk" %}

{% block main_grid_right_column %}
  {{ super() }}

  {{ errorPanel( errors, labels=companyDetailsLabels ) }}
  <div class="section">
    <div class="for-control key-value key-value--vertical">
      <div id="business-type" class="key-value__key form-label-bold">Business type
        <a href="/company/add-step-1" class="button-link">Change</a>
      </div>
      <div class="key-value__value" aria-labelledby="business-type">Foreign {{businessTypeName}}</div>
    </div>
  </div>

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="business_type" value="{{formData.business_type}}">
    <input type="hidden" name="uk_based" value="no">
    <input type="hidden" name="id" value="{{formData.id}}">

    {{ textbox("name", label="Name", value=formData.name, error=errors.name) }}

    {{ textbox("alias", label="Trading name (optional)", value=formData.alias, error=errors.alias) }}

    <fieldset id="registered-address-wrapper" class="fieldset--address">
      <div class="form-group"><legend class="form-label-bold">Primary address</legend></div>
      {{ textbox("registered_address_1", label="Business and street (optional)", value=formData.registered_address_1, error=errors.registered_address_1) }}
      {{ textbox("registered_address_2", value=formData.registered_address_2, error=errors.registered_address_2) }}
      {{ textbox("registered_address_town", label="Town or city (optional)", value=formData.registered_address_town, error=errors.registered_address_town) }}
      {{ textbox("registered_address_county", label="County (optional)", value=formData.registered_address_county, error=errors.registered_address_county) }}
      {{ textbox("registered_address_postcode", label="Postcode (optional)", value=formData.registered_address_postcode, error=errors.registered_address_postcode) }}
      {{ dropdown("registered_address_country", label="Country", emptyLabel="Select a country", options=countryOptions, value=formData.registered_address_country, error=errors.registered_address_country) }}
    </fieldset>

    <div class="form-group">
      <div class="form-label-bold">Trading address (optional)</div>
      <button id="add-trading-address" class="button-secondary{%if showTradingAddress == true %}hidden{% endif %}" type="button">Add trading address</button>
      <button id="remove-trading-address" class="button-secondary{%if showTradingAddress == false %} hidden{% endif %}" type="button">Remove trading address</button>
    </div>

    <fieldset id="trading-address-wrapper" class="fieldset--address{%if showTradingAddress == false %} hidden{% endif %}">
      {{ textbox("trading_address_1", label="Business and street (optional)", value=formData.trading_address_1, error=errors.trading_address_1) }}
      {{ textbox("trading_address_2", value=formData.trading_address_2, error=errors.trading_address_2) }}
      {{ textbox("trading_address_town", label="Town or city (optional)", value=formData.trading_address_town, error=errors.trading_address_town) }}
      {{ textbox("trading_address_county", label="County (optional)", value=formData.trading_address_county, error=errors.trading_address_county) }}
      {{ textbox("trading_address_postcode", label="Postcode (optional)", value=formData.trading_address_postcode, error=errors.trading_address_postcode) }}
      {{ dropdown("trading_address_country", label="Country", emptyLabel="Select a country", options=countryOptions, value=formData.trading_address_country, error=errors.trading_address_country) }}
    </fieldset>

    <fieldset class="form-group form-group__checkbox-group" id="headquarters-wrapper">
      <legend class="form-label-bold">Is this a headquarters?</legend>
      <label
        class="block-label selection-button-radio{% if not formData.headquarter_type or formData.headquarter_type == '' %} selected{% endif %}">
        <input name="headquarters" type="radio" value="" {% if not formData.headquarter_type or formData.headquarter_type == '' %} checked{% endif %}>
        Not a headquarters
      </label>
      {% for option in headquarterOptions %}
        <label class="block-label selection-button-radio {% if option.id == formData.headquarter_type %}selected{% endif %}">
          <input name="headquarters" type="radio" value="{{option.id}}" {% if option.id == formData.headquarter_type %}checked{% endif %}>
          {{ hqLabels[option.name] }}
        </label>
      {% endfor %}
    </fieldset>
    {{ dropdown("sector", label="Sector", emptyLabel="Pick a value", value=formData.sector, options=sectorOptions, error=errors.sector) }}
    {{ textbox("website", label="Website (optional)", value=formData.website, error=errors.website) }}
    {{ textarea("description", label="Business description (optional)", value=formData.description, error=errors.description) }}
    {{ dropdown("employee_range", label="Number of employees (optional)", emptyLabel="Pick a value", value=formData.employee_range, options=employeeOptions, error=errors.employee_range) }}
    {{ dropdown("turnover_range", label="Annual turnover (optional)", emptyLabel="Pick a value", value=formData.turnover_range, options=turnoverOptions, error=errors.turnover_range) }}

    {% if formData.id %}
      {{ save() }}
    {% else %}
      {{ save(buttonText="Save and create") }}
    {% endif %}
  </form>
{% endblock %}
