{% extends "_layouts/template.njk" %}

{% set lookupButton %}
  <button class="govuk-button govuk-button--secondary postcode-lookup-button" type="button">Find UK address</button>
{% endset %}

{% set isEditing = true if company.id else false %}
{% set returnLink = '/companies/' + company.id + '/business-details' if isEditing else '/companies/add-step-1' %}

{% block body_main_content %}
  {% if businessTypeLabel %}
    {{ UneditableField({
      name: 'business_type',
      label: 'Business type',
      value: businessTypeLabel,
      url: null if company else '/companies/add-step-1'
    }) }}
  {% endif %}

  {% if chDetails %}
    {# TODO Do we even still need this? It's not currently being displayed (Bug?) #}
    {% call Message({ type: 'muted', element: 'div' }) %}
      {% component 'key-value-table', items=chDetails %}
      <p>Powered by data from <strong>Companies House</strong></p>
    {% endcall %}
  {% endif %}

  {% call Form({
    buttonText: 'Save and return' if isEditing else 'Add company',
    returnLink: returnLink,
    returnText: 'Return without saving' if isEditing else 'Back',
    actionExtension: {
        country : 'non-uk' if isForeign else 'uk'
    },
    errors: {
      messages: errors
    },
    hiddenFields: {
      uk_based: 'no' if isForeign else 'yes',
      business_type: formData.business_type,
      id: company.id
    }
  }) %}
    {% if companiesHouseRecord %}
      <input type="hidden" name="name" value="{{ formData.name }}" data-auto-id="companiesHouseName">
      <input type="hidden" name="company_number" value="{{ formData.company_number }}" data-auto-id="companiesHouseNumber">
      <input type="hidden" name="registered_address_1" value="{{ formData.registered_address_1 }}" data-auto-id="companiesHouseAddress1">
      <input type="hidden" name="registered_address_2" value="{{ formData.registered_address_2 }}" data-auto-id="companiesHouseAddress2">
      <input type="hidden" name="registered_address_town" value="{{ formData.registered_address_town }}" data-auto-id="companiesHouseAddressTown">
      <input type="hidden" name="registered_address_county" value="{{ formData.registered_address_county }}" data-auto-id="companiesHouseAddressCounty">
      <input type="hidden" name="registered_address_postcode" value="{{ formData.registered_address_postcode }}" data-auto-id="companiesHouseAddressPostcode">
      <input type="hidden" name="registered_address_country" value="{{ formData.registered_address_country }}" data-auto-id="companiesHouseAddressCountry">
    {% else %}

      {% if not isEditing %}
        {{ TextField({
          name: 'name',
          label: 'Name',
          value: formData.name,
          error: errors.name
        }) }}
      {% endif %}

    {% endif %}

    {{ TextField({
      name: 'trading_names',
      label: 'Trading name',
      optional: true,
      value: formData.trading_names,
      error: errors.trading_names
    }) }}

    {% if formData.company_number and not showCompanyNumberForUkBranch %}
      {{ UneditableField({
        name: 'selected_company_number',
        label: 'Companies House number',
        value: formData.company_number
      }) }}
    {% endif %}

    {% if not isForeign %}
      {{ TextField({
        name: 'vat_number',
        label: 'VAT number',
        optional: true,
        value: formData.vat_number,
        error: errors.vat_number
      }) }}
    {% endif %}

    {{ MultipleChoiceField({
      type: 'radio',
      name: 'turnover_range',
      label: 'Annual turnover',
      optional: true,
      options: options.turnovers,
      value: formData.turnover_range,
      error: errors.turnover_range
    }) }}

    {{ MultipleChoiceField({
      type: 'radio',
      name: 'employee_range',
      label: 'Number of employees',
      optional: true,
      options: options.employees,
      value: formData.employee_range,
      error: errors.employee_range
    }) }}

    {{ TextField({
      name: 'website',
      label: 'Website',
      optional: true,
      value: formData.website,
      error: errors.website
    }) }}

    {{ TextField({
      name: 'description',
      label: 'Business description',
      optional: true,
      value: formData.description,
      error: errors.description
    }) }}

    {# Address #}
    {% call Fieldset({ legend: 'Address', attributes: { 'data-auto-id': 'address' } }) %}
      <p>This should be the address for this particular office of the business. If you need to record activity or a contact for a different address, please add a new company record to Data Hub.</p>

      <div id="trading-address-wrapper" class="lookup-address-js">
        {% if not isForeign %}
          <span class="u-no-js-hidden">
            {{ TextField({
              name: 'address_pcode_lookup',
              label: 'Postcode',
              modifier: ['short', 'PostcodeLookup'],
              innerHTML: lookupButton,
              value: formData.registered_address_postcode if not isEditing
            }) }}

            {{ MultipleChoiceField({
              name: 'address_pcode_result',
              label: 'Select an address',
              initialOption: 'Enter a postcode to lookup your address',
              modifier: 'PostcodeLookupResult'
            }) }}
          </span>
        {% endif %}

        {{ TextField({
          name: 'address_1',
          label: 'Address line one',
          value: formData.address_1 if isEditing or formData.address_1 else formData.registered_address_1,
          error: errors.address_1
        }) }}

        {{ TextField({
          name: 'address_2',
          label: 'Address line two',
          optional: true,
          value: formData.address_2 if isEditing or formData.address_2 else formData.registered_address_2,
          error: errors.address_2
        }) }}

        {{ TextField({
          name: 'address_town',
          label: 'Town or city',
          value: formData.address_town if isEditing or formData.address_town else formData.registered_address_town,
          error: errors.address_town
        }) }}

        {{ TextField({
          name: 'address_county',
          label: 'County',
          optional: true,
          value: formData.address_county if isEditing or formData.address_county else formData.registered_address_county,
          error: errors.address_county
        }) }}

        {{ TextField({
          name: 'address_postcode',
          label: 'Postcode',
          optional: true,
          value: formData.address_postcode if isEditing or formData.address_postcode else formData.registered_address_postcode,
          error: errors.address_postcode,
          modifier: 'short'
        }) }}

        {% if not isForeign %}
          {{ UneditableField({
            name: 'selected_address_country',
            label: 'Country',
            value: 'United Kingdom'
          }) }}

          <input type="hidden" name="address_country" value="{{ formData.address_country if isEditing or formData.address_country else formData.registered_address_country }}">
        {% else %}
          {{ MultipleChoiceField({
            name: 'address_country',
            label: 'Country',
            disabled: true if not isForeign else false,
            initialOption: '-- Select country --',
            options: options.foreignCountries,
            value: formData.address_country,
            error: errors.address_country
          }) }}
        {% endif %}
      </div>
    {% endcall %}


    {% if not companiesHouseRecord %}
      {% if showCompanyNumberForUkBranch %}
        {{ TextField({
          name: 'company_number',
          label: 'BR Companies House number',
          value: formData.company_number,
          error: errors.company_number
        }) }}
      {% endif %}

      {# Registered address #}
      {% if company.registered_address %}
        {% call Fieldset({
          legend: 'Registered address',
          attributes: { 'data-auto-id': 'registeredAddress' }
        }) %}
          <p>A registered office address is a legal requirement of all limited companies and Limited Liability
            Partnerships (LLPs) incorporated in the UK. Its purpose is to provide Companies House, HMRC and other
            relevant government bodies with an official address for delivering statutory mail and legal notices.</p>

          <ul>
            {% if company.registered_address.line_1 %}<li>{{ company.registered_address.line_1 }}</li>{% endif %}
            {% if company.registered_address.line_2 %}<li>{{ company.registered_address.line_2 }}</li>{% endif %}
            {% if company.registered_address.town %}<li>{{ company.registered_address.town }}</li>{% endif %}
            {% if company.registered_address.county %}<li>{{ company.registered_address.county }}</li>{% endif %}
            {% if company.registered_address.postcode %}<li>{{ company.registered_address.postcode }}</li>{% endif %}
            {% if company.registered_address.country %}<li>{{ company.registered_address.country.name }}</li>{% endif %}
          </ul>

        {% endcall %}

      {% endif %}

    {% endif %}

    {# DIT region #}
    {% if not isForeign %}
      {{ MultipleChoiceField({
        name: 'uk_region',
        label: 'DIT region',
        initialOption: '-- Select DIT region --',
        options: options.regions,
        value: formData.uk_region,
        error: errors.uk_region
      }) }}
    {% endif %}

    {# DIT sector #}
    {% if isOnOneList %}
      {{ UneditableField({
        name: 'sector',
        label: 'Sector',
        value: companyDetails['Sector']
      }) }}

      {{ govukDetails({
        summaryText: 'Need to edit the sector?',
        html: 'If you need to change the sector for a company on the One List, please email <a href="mailto:' + oneListEmail + '">' + oneListEmail + '</a>.',
        attributes: {
          'data-auto-id': 'needToEditTheSector'
        }
      }) }}
    {% else %}
      {{ MultipleChoiceField({
        name: 'sector',
        label: 'DIT sector',
        initialOption: '-- Select DIT sector --',
        options: options.sectors,
        value: formData.sector,
        error: errors.sector
      }) }}
    {% endif %}

    {# Business hierarchy #}
    {% if isOnOneList %}
      {{ UneditableField({
        name: 'headquarter_type',
        label: 'Business hierarchy',
        value: companyDetails['Headquarter type']
      }) }}

      {{ govukDetails({
        summaryText: 'Need to edit the headquarter type?',
        html: 'If you need to change the headquarter type for a company on the One List, please email <a href="mailto:' + oneListEmail + '">' + oneListEmail + '</a>.',
        attributes: {
          'data-auto-id': 'needToEditTheHeadquarterType'
        }
      }) }}
    {% else %}
      {{ MultipleChoiceField({
        type: 'radio',
        name: 'headquarter_type',
        label: 'Business hierarchy',
        options: options.headquarters,
        value: formData.headquarter_type,
        error: errors.headquarter_type
      }) }}
    {% endif %}

  {% endcall %}
{% endblock %}
