{% extends "./_layout-edit.njk" %}

{% block local_header %}
  {{ LocalHeader({
    heading: 'Edit export markets',
    modifier: 'light-banner'
  }) }}
{% endblock %}

{% block main_grid_right_column %}
  {% call Form({
    buttonText: 'Update',
    returnLink: '/companies/' + company.id + '/exports',
    hiddenFields: {
      id: company.id
    }
  }) %}
    {{ MultipleChoiceField({
      name: 'export_experience_category',
      label: exportDetailsLabels.exportExperienceCategory,
      value: formData.export_experience_category,
      options: exportExperienceCategories,
      initialOption: '-- Select category --'
    }) }}

    {# TODO: Make these work without JavaScript #}
    {% set exportCountries = formData.export_to_countries if formData.export_to_countries.length else ['']%}
    <div class="c-form-group js-AddItems" data-item-selector=".c-form-group--AddItems">
      <label class="c-form-group__label">
        <span class="c-form-group__label-text">
          Select a market this company currently exports to (optional)
        </span>
      </label>

      {% for country in exportCountries %}
        {{ MultipleChoiceField({
          name: 'export_to_countries',
          label: 'Select a market this company currently exports to',
          value: country,
          options: countryOptions,
          initialOption: '-- Select country --',
          idSuffix: loop.index,
          optional: true,
          isLabelHidden: true,
          modifier: ['compact', 'AddItems']
        }) }}
      {% endfor %}
    </div>

    {# TODO: Make these work without JavaScript #}
    {% set futureCountries = formData.future_interest_countries if formData.future_interest_countries.length else ['']%}
    <div class="c-form-group js-AddItems" data-item-selector=".c-form-group--AddItems">
      <label class="c-form-group__label">
        <span class="c-form-group__label-text">
          Future markets of interest (optional)
        </span>
      </label>

      {% for country in futureCountries %}
        {{ MultipleChoiceField({
          name: 'future_interest_countries',
          label: 'Future markets of interest',
          value: country,
          options: countryOptions,
          initialOption: '-- Select country --',
          idSuffix: loop.index,
          optional: true,
          isLabelHidden: true,
          modifier: ['compact', 'AddItems']
        }) }}
      {% endfor %}
    </div>
  {% endcall %}
{% endblock %}
