{% extends "./template.njk" %}

{% block body_main_content %}

  {% call DetailsContainer({ heading: 'Exports' }) %}
    {% component 'key-value-table', items=exportDetails %}

    {% if not company.archived %}
      <p class="actions">
        <a href="/companies/{{company.id}}/exports/edit" class="govuk-button govuk-button--secondary">Edit export markets</a>
      </p>
    {% endif %}
  {% endcall %}

  {% call DetailsContainer({ heading: 'Export wins' }) %}
    <p><a href="http://www.exportwins.service.trade.gov.uk/">Record your win</a> on our export wins site.<p>
  {% endcall %}

{% endblock %}
