{% extends "./template.njk" %}

{% from "details/macro.njk" import govukDetails %}

{% block body_main_content %}

  {% call DetailsContainer({ heading: 'Exports' }) %}
    {% component 'key-value-table', items=exportDetails %}

    {% set exportPotentialText %}
      <p>
        The export potential score is a prediction of a company's likelihood of exporting, and was originally created for the <a href="{{ findExportersUrl }}" target="_blank">Find Exporters tool</a> (opens in a new window). DIT's data science team compared all HMRC export information with the features of all UK companies to find patterns; they then repeatedly tested their model against a subset of known-good data to improve it. The scores are as follows:
      </p>

      <ol class="govuk-list">
      {% for item in exportPotentials %}
        <li><strong>{{ item.text }}</strong> - {{ item.description }}</li>
      {% endfor %}
      </ol>

      <p>
        We are continuing to improve the algorithm so please do share your feedback or let us know of any anomalies through the <a href="{{ feedbackLink }}">support channel</a>.
      </p>
    {% endset %}

    {{ govukDetails({
      summaryText: 'What is export potential?',
      text: exportPotentialText | safe
    }) }}

    {% if not company.archived %}
      <p class="actions">
        <a href="/companies/{{company.id}}/exports/edit" class="govuk-button govuk-button--secondary">Edit export markets</a>
      </p>
    {% endif %}
  {% endcall %}


  {% call DetailsContainer({ heading: 'Export wins' }) %}
    <p><a href="http://www.exportwins.service.trade.gov.uk/">Record your win</a> on our export wins site.<p>
  {% endcall %}

{% endblock %}
