{% extends "./_layout-edit.njk" %}

{% block main_grid_right_column %}
  {{ super() }}

  <h2 class="heading-medium">Add export market(s)</h2>

  {{ errorPanel( errors, labels=exportDetailsLabels ) }}

  <form method="POST">
    <input type="hidden" name="id" value="{{company.id}}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    {# TODO: Make these work without JavaScript #}
    <div class="js-AddItems">
      {% set exportCountries = export_to_countries if export_to_countries.length else ['']%}

      {% for country in exportCountries %}
        {{ dropdown("export_to_countries",
          label="Select a market this company currently exports to (optional)",
          class="js-AddItems__item",
          emptyLabel="Select country",
          value=country,
          id="export_to_countries_" + loop.index,
          options=countryOptions)
        }}
      {% endfor %}
    </div>

    {# TODO: Make these work without JavaScript #}
    <div class="js-AddItems">
      {% set futureCountries = future_interest_countries if future_interest_countries.length else ['']%}

      {% for country in futureCountries %}
        {{ dropdown("future_interest_countries",
          label="Future markets of interest (optional)",
          class="js-AddItems__item",
          emptyLabel="Select country",
          value=country,
          id="future_interest_countries_" + loop.index,
          options=countryOptions)
        }}
      {% endfor %}
    </div>

    {{ save(backUrl = "/companies/" + company.id + "/exports") }}
  </form>
{% endblock %}
