{% extends "./_layout-view.njk" %}

{% set addButton %}
  <a class="button button-secondary" href="/interactions/create?company={{company.id}}">Add interaction</a>
{% endset %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Company interactions</h2>

  {% if company.contacts.length %}
    <p>
      An interaction could be a meeting, call, email or another activity where you have been in touch with a company.
    </p>

    {{
      Collection(interactions | assignCopy({
        countLabel: 'interaction',
        summaryActionsHTML: addButton,
        sortForm: sortForm,
        query: QUERY
      }))
    }}
  {% else %}
    {% call Message({ type: 'info' }) %}
      You currently have no contacts for this company. To add an interaction you must first <a href="/contacts/create?company={{company.id}}">add a contact</a>.
    {% endcall %}
  {% endif %}
{% endblock %}
