{% extends "./_layout-view.njk" %}


{% block main_grid_right_column %}
  {{ super() }}

  <div class="split-header">
    <h2 class="heading-medium">{{ projects.count }} investment {{ 'project' | pluralise(projects.count) }}</h2>
    <a class="button button-secondary" href="/investment-projects/create/1?client-company={{ company.id }}">Add investment project</a>
  </div>

  {% if projects.results %}
    <ol class="c-entity-list">
      {% for project in projects.results %}
        <li class="c-entity-list__item">
          <h2 class="c-entity-list__item-header">
            <a href="/investment-projects/{{ project.id }}">{{ project.name}}</a>
          </h2>

          <dl class="metadata-list">
            <dt class="metadata-list__term">Land date</dt>
            <dd class="metadata-list__value">{{ project.estimated_land_date | formatDate('MMM YYYY') }}</dd>

            <dt class="metadata-list__term u-visually-hidden">Type of investment</dt>
            <dd class="metadata-list__value">{{ project.investment_type.name }}</dd>

            <dt class="metadata-list__term u-visually-hidden">Stage</dt>
            <dd class="metadata-list__value">{{ project.stage.name }}</dd>

            <dt class="metadata-list__term u-visually-hidden">Sector</dt>
            <dd class="metadata-list__value">{{ project.sector.name }}</dd>
          </dl>
        </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endblock %}
