{% extends "./_layout-view.njk" %}

{% set addProjectButton %}
  <a class="button button-secondary" href="/investment-projects/create/{{ company.id }}">Add investment project</a>
{% endset %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Investment projects</h2>

  {{
    Collection(results | assignCopy({
      sort: sort,
      countLabel: 'project',
      query: QUERY,
      summaryActionsHTML: addProjectButton
    }))
  }}
{% endblock %}
