{% extends "_layouts/template.njk" %}

{% block local_header %}
  {% call LocalHeader({ heading: heading }) %}{% endcall %}
{% endblock %}

{% block body_main_content %}

  {% set summaryActionsHTML %}
    <a id="return-to-subsidiaries-list" class="govuk-button govuk-button--secondary" href="{{'/companies/' + company.id + '/subsidiaries'}}">Back</a>
  {% endset %}

  {{ EntitySearchForm({
    inputName: 'term',
    inputLabel: 'Search and select a subsidiary',
    inputPlaceholder: 'Search for company',
    inputHint: 'Search for the registered company name, company number or address',
    searchTerm: searchTerm,
    isLabelHidden: false,
    action: '/companies/' + company.id + '/hierarchies/subsidiaries/search'
  }) }}

  {{ CollectionContent(results | assign({
    highlightTerm: searchTerm,
    countLabel: 'company',
    query: QUERY,
    actionButtons: actionButtons
  })) }}

  {{ Message({
    type: 'muted',
    text: 'If you can’t find the company you’re looking for, try a different search term, check the company’s website or any email correspondence that contains company registration details'
  }) }}

  {{ Pagination(companies.pagination) }}

{% endblock %}
