{% extends "_layouts/two-column.njk" %}

{% block main_grid_left_column %}
  {{
    CollectionFilters({
      query: QUERY,
      filtersFields: filtersFields
    })
  }}
{% endblock %}

{% block main_grid_right_column %}
  {% set addCompanyButton %}
    <a id="add-contact-link" class="button button-secondary" href="/companies/add-step-1">Add company</a>
  {% endset %}

  {{
    Collection(searchResults | assign({
      countLabel: 'company',
      sortForm: sortForm,
      selectedFilters: selectedFilters,
      highlightTerm: searchTerm,
      query: QUERY,
      summaryActionsHTML: addCompanyButton
    }))
  }}
{% endblock %}
