{% extends "./_layout-view.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Orders (OMIS)</h2>

  {{
    CollectionContent(results | assignCopy({
      sort: sort,
      countLabel: 'order',
      query: QUERY,
      actionButtons: actionButtons
    }))
  }}
{% endblock %}
