{% extends "_layouts/template.njk" %}

{% block local_header %}
  {% set action %}
    <form action="/companies/{{ company.id }}/manage-company-list?_csrf={{ csrfToken }}" method="post">
      <input type="hidden" value="{{ company.id }}"/>
      {% if isCompanyAlreadyAdded %}
        <button type="submit" name="action" value="remove" class="govuk-button govuk-button--secondary">
          Remove from my list
        </button>
      {% else %}
        {% if not company.archived %}
          <button type="submit" name="action" value="add" class="govuk-button govuk-button--secondary">
            Add to my list
          </button>
        {% endif %}
      {% endif %}
    </form>
  {% endset %}
  {% if features.companies_create_list %}
    {% set action %}
      <a href="/companies/{{ company.id }}/lists/create" class="govuk-button govuk-button--secondary">Add to my lists</a>
    {% endset %}
  {% endif %}

  {% call LocalHeader({
    heading: company.name,
    actions: action,
    modifier: 'light-banner',
    fullWidthContent: true
  }) %}
    <p class="c-local-header__heading-after">{{ company.address | formatAddress }}</p>
    {% set isGlobalHQ = true if company.headquarter_type and company.headquarter_type.name == 'ghq' %}
    {% if company.is_global_ultimate or isGlobalHQ %}
      <div class="c-meta-list">
        <div class="c-meta-list__item">
          <span class="c-badge">{{ "Ultimate" if company.is_global_ultimate else "Global" }} HQ</span>
        </div>
      </div>
    {% endif %}

    {% if company.one_list_group_tier %}
      <div class="c-local-header__description">
        <p>This is an account managed company (One List {{ company.one_list_group_tier.name }})</p>
        <p>
          Global Account Manager: {{ company.one_list_group_global_account_manager.name }}
          <a href="/companies/{{ company.id }}/advisers">View core team</a>
        </p>
      </div>
    {% endif %}

    <p>
      <a href="/companies/{{ company.id }}/business-details">View full business details</a>
    </p>
  {% endcall %}

  {% if company.archived %}
    <div class="govuk-width-container govuk-!-margin-top-2">
      {% call Message({ type: 'info ' }) %}
        This company was archived on {{ company.archived_on | formatDate }}
        by {{ company.archived_by.first_name }} {{ company.archived_by.last_name }}.
        <br>
        <strong>Reason:</strong> {{ company.archived_reason }}<br>
        <br>
        <a href="/companies/{{ company.id }}/unarchive">Unarchive</a>
      {% endcall %}
    </div>
  {% endif %}

  {% if company.pending_dnb_investigation %}
    <div class="govuk-width-container govuk-!-margin-top-2">
      {% call Message({ type: 'info ', element: 'div' }) %}
        This company record is based on information that has not yet been validated. This information is currently
        being checked by the Data Hub support team.
      {% endcall %}
    </div>
  {% endif %}

{% endblock %}

{% block local_nav %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ TabbedLocalNav({ items: localNavItems }) }}
    </div>
  </div>
{% endblock %}
