{% extends "_layouts/full-column.njk" %}

{% block local_header %}
  {%
    call LocalHeader({
      heading: 'Timeline',
      modifier: 'light-banner'
    })
  %}
  {% endcall %}
{% endblock %}

{% block main_column %}

  {{ CollectionContent(timeline) }}

{% endblock %}
