{% macro subnavigation(company, active) %}
  <nav class='sub-navigation govuk-form-group'>
    <ol>
      <li class="{{ 'active' if active === 'investment-projects' }}">
        <a href="/companies/{{company.id}}/investments/projects">
          Investment projects
        </a>
      </li>
      <li class="{{ 'active' if active === 'large-capital-profile' }}">
        <a href="/companies/{{company.id}}/investments/large-capital-profile">
          Large capital profile
        </a>
      </li>
      <li class="{{ 'active' if active === 'growth-capital-profile' }}">
        <a href="/companies/{{company.id}}/investments/growth-capital-profile">
          Growth capital profile
        </a>
      </li>
    </ol>
  </nav>
{% endmacro %}
