{% call Form({
  buttonText: 'Save',
  buttonDataAttr: 'investorDetailsSave',
  returnText: 'Cancel',
  returnLink: '/companies/' + company.id + '/investments/large-capital-profile',
  action: '/companies/' + company.id + '/investments/large-capital-profile/update',
  hiddenFields: { id: company.id }
}) %}

  <p>Investor details: UI components go here...</p>

{% endcall %}


