<ul class="task-list">
  {{ taskListItem({ name: 'Investor type', value: profile.investorDetails.investorType.text }) }}
  {{ taskListItem({ name: 'Global assets under management', value: profile.investorDetails.globalAssetsUnderManagement.value }) }}
  {{ taskListItem({ name: 'Investable capital', value: profile.investorDetails.investableCapital.value }) }}
  {{ taskListItem({ name: 'Investor description', value: profile.investorDetails.investorDescription.value }) }}
  {{ taskListItem({ name: 'Has this investor cleared the required checks within the last 12 months?', value: profile.investorDetails.requiredChecks.value }) }}
</ul>

{% call Form({
  buttonText: 'Edit',
  hiddenFields: { editing: sections.INVESTOR_DETAILS },
  buttonDataAttr: 'investorDetailsEdit',
  disableFormAction: profile.editing === sections.INVESTOR_REQUIREMENTS or profile.editing === sections.LOCATION,
  action: '/companies/' + company.id + '/investments/large-capital-profile/edit'
})
%}
{%- endcall %}
