<ul class="task-list">
  {{ taskListItem({ name: 'UK locations of interest' }) }}
  {{ taskListItem({ name: 'Other countries the investor is considering' }) }}
  {{ taskListItem({ name: 'Notes on investor\'s location preferences' }) }}
</ul>

{% call Form({
  buttonText: 'Edit',
  buttonDataAttr: 'edit-location',
  hiddenFields: { edit: 'location' },
  disableFormAction: edit === 'details' or edit === 'requirements',
  action: '/companies/' + company.id + '/investments/large-capital-profile/edit'
  })
%}
{%- endcall %}
