<ul class="task-list">
  {{ taskListItem({ name: 'UK locations of interest' }) }}
  {{ taskListItem({ name: 'Other countries the investor is considering' }) }}
  {{ taskListItem({ name: 'Notes on investor\'s location preferences' }) }}
</ul>

{% call Form({
  buttonText: 'Edit',
  buttonDataAttr: 'locationEdit',
  hiddenFields: { editing: sections.LOCATION },
  disableFormAction: profile.editing === sections.INVESTOR_DETAILS or profile.editing === sections.INVESTOR_REQUIREMENTS ,
  action: '/companies/' + company.id + '/investments/large-capital-profile/edit'
  })
%}
{%- endcall %}
