{% call Form({
  buttonText: 'Save',
  buttonDataAttr: 'locationSave',
  returnText: 'Cancel',
  class: 'location-edit',
  returnLink: '/companies/' + company.id + '/investments/large-capital-profile',
  action: '/companies/' + company.id + '/investments/large-capital-profile/update',
  hiddenFields: {
    profileId: profile.id,
    editing: profile.editing
  }
}) %}

    {{
    govukTextarea({
      name: 'notes_on_locations',
      label: {
        text: "Notes on investor's location preferences"
      },
      attributes: {
        'data-auto-id': 'notesOnLocations'
      },
      value: profile.location.notes_on_locations
    })
  }}

{% endcall %}
