{% call Form({
  buttonText: 'Save',
  buttonDataAttr: 'locationSave',
  returnText: 'Cancel',
  class: 'location-edit',
  returnLink: '/companies/' + company.id + '/investments/large-capital-profile',
  action: '/companies/' + company.id + '/investments/large-capital-profile/update',
  hiddenFields: {
    profileId: profile.id,
    editing: profile.editing
  }
}) %}

  {{
    AddAnother({
      buttonName: 'uk_region_locations',
      name: 'uk_region_locations',
      label: 'UK locations of interest',
      attributes: {
        'data-test': 'ukRegionLocations'
      },
      value: profile.location.uk_region_locations.value,
      children: [{
        macroName: 'MultipleChoiceField',
        name: 'uk_region_locations',
        label: 'UK locations of interest',
        isLabelHidden: true,
        optional: true,
        initialOption: '-- Select region --',
        options: profile.location.uk_region_locations.items
      }]
    })
  }}

  {{
    AddAnother({
      buttonName: 'other_countries_being_considered',
      name: 'other_countries_being_considered',
      label: 'Other countries the investor is considering',
      attributes: {
        'data-test': 'otherCountriesBeingConsidered'
      },
      value: profile.location.other_countries_being_considered.value,
      children: [{
        macroName: 'MultipleChoiceField',
        name: 'other_countries_being_considered',
        label: 'Other countries the investor is considering',
        isLabelHidden: true,
        optional: true,
        initialOption: '-- Select country --',
        options: profile.location.other_countries_being_considered.items
      }]
    })
  }}

  {{
    govukTextarea({
      name: 'notes_on_locations',
      label: {
        text: "Notes on investor's location preferences"
      },
      attributes: {
        'data-test': 'notesOnLocations'
      },
      value: profile.location.notes_on_locations
    })
  }}


{% endcall %}
