{% from "companies/apps/investments/macros/navigation.njk" import subnavigation %}

{% extends "../../../../views/template.njk" %}

{% block body_main_content %}

  {{ subnavigation(company, 'large-capital-profile') }}

  {% component 'react-slot', {
      id: 'company-large-capital-profile',
      props: props
      }
    %}
{% endblock %}
