{% from "companies/apps/investments/macros/navigation.njk" import subnavigation %}
{% from "companies/apps/investments/macros/details/details.njk" import details %}
{% from "companies/apps/investments/macros/tasklist/tasklist.njk" import taskListItem %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}

{% extends "../../../../views/template.njk" %}

{% block body_main_content %}

  {{ subnavigation(company, 'large-capital-profile') }}

  <h2 class="govuk-heading-m">Large capital investor profile</h2>

  {% if profile  %}
    <div class="large-capital-profile">
      {% call details({
        summaryText: 'Investor details',
        incompleteFields: profile.investorDetails.incompleteFields,
        open: profile.editing === sections.INVESTOR_DETAILS
      }) -%}

        {% if profile.editing === sections.INVESTOR_DETAILS %}
          {% include "./details-edit.njk" %}
        {% else %}
          {% include "./details.njk" %}
        {% endif %}
      {%- endcall %}

      {% call details({
        summaryText: 'Investor requirements',
        incompleteFields: profile.investorRequirements.incompleteFields,
        open: profile.editing === sections.INVESTOR_REQUIREMENTS
      }) -%}

        {% if profile.editing === sections.INVESTOR_REQUIREMENTS %}
          {% include "./requirements-edit.njk" %}
        {% else %}
          {% include "./requirements.njk" %}
        {% endif %}
      {%- endcall %}

      {% call details({
        summaryText: 'Location',
        incompleteFields: profile.location.incompleteFields,
        open: profile.editing === sections.LOCATION}) -%}

        {% if profile.editing === sections.LOCATION %}
          {% include "./location-edit.njk" %}
        {% else %}
          {% include "./location.njk" %}
        {% endif %}
      {%- endcall %}

    </div>
  {% else %}
    {% call Form({
      buttonText: 'Create a profile',
      hiddenFields: { id: company.id },
      buttonDataAttr: 'createAProfile',
      action: '/companies/' + company.id + '/investments/large-capital-profile/create'
    })
    %}
    {%- endcall %}
  {% endif %}
{% endblock %}
