{% call Form({
  buttonText: 'Save',
  returnText: 'Cancel',
  buttonDataAttr: 'investorRequirementsSave',
  returnLink: '/companies/' + company.id + '/investments/large-capital-profile',
  action: '/companies/' + company.id + '/investments/large-capital-profile/update',
  hiddenFields: {
    profileId: profile.profile.id,
    editing: profile.editing
  }
}) %}

  <p>Investor requirements: UI components go here...</p>

{% endcall %}


