{% call Form({
  buttonText: 'Save',
  returnText: 'Cancel',
  class: 'investor-requirements-edit',
  buttonDataAttr: 'investorRequirementsSave',
  returnLink: '/companies/' + company.id + '/investments/large-capital-profile',
  action: '/companies/' + company.id + '/investments/large-capital-profile/update',
  hiddenFields: {
    profileId: profile.id,
    editing: profile.editing
  }
}) %}

  {{
    govukCheckboxes({
      name: "dealTicketSizes",
      classes: 'deal-ticket-sizes',
      fieldset: {
        attributes: {
          'data-test': 'dealTicketSizes'
        },
        legend: {
          text: "Deal ticket size",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: profile.investorRequirements.dealTicketSizes.items
    })
  }}

  <div class="govuk-form-group asset-classes-of-interest" data-test="assetClasses">

    <span class="label">Asset classes of interest</span>

    {{
      govukCheckboxes({
        name: "energyAndInfrastructure",
        classes: 'energy-and-infrastructure',
        fieldset: {
          legend: {
            text: "Energy and Infrastructure",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: profile.investorRequirements.assetClasses.energyAndInfrastructure.items
      })
    }}

    {{
      govukCheckboxes({
        name: "realEstate",
        classes: 'real-estate',
        fieldset: {
          legend: {
            text: "Real estate",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: profile.investorRequirements.assetClasses.realEstate.items
      })
    }}

    <p class="notice">If the asset class you wish to select is not shown above, then please request it from
      <span>capitalinvestment@trade.gov.uk</span>
    </p>

  </div>

  {{
    govukCheckboxes({
      name: "investmentTypes",
      classes: 'types-of-investment',
      fieldset: {
        attributes: {
          'data-test': 'investmentTypes'
        },
        legend: {
          text: "Types of investment",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: profile.investorRequirements.investmentTypes.items
    })
  }}

  {{
    govukRadios({
      name: 'minimumReturnRate',
      fieldset: {
        attributes: {
          'data-test': 'minimumReturnRate'
        },
        legend: {
          text: 'Minimum return rate',
          classes: 'govuk-fieldset__legend--s'
        }
      },
      items: profile.investorRequirements.minimumReturnRate.items
    })
  }}

  {{
    govukCheckboxes({
      name: "timeHorizons",
      classes: 'time-horizon',
      fieldset: {
        attributes: {
          'data-test': 'timeHorizons'
        },
        legend: {
          text: "Time horizon / tenor",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: profile.investorRequirements.timeHorizons.items
    })
  }}

  {{
    govukCheckboxes({
      name: 'restrictions',
      classes: 'restrictions',
      fieldset: {
        attributes: {
          'data-test': 'restrictions'
        },
        legend: {
          text: 'Restrictions / conditions',
          classes: 'govuk-fieldset__legend--s'
        }
      },
      items: profile.investorRequirements.restrictions.items
    })
  }}

  {{
    govukCheckboxes({
      name: 'constructionRisks',
      classes: 'construction-risk',
      fieldset: {
        attributes: {
          'data-test': 'constructionRisks'
        },
        legend: {
          text: 'Construction risk',
          classes: 'govuk-fieldset__legend--s'
        }
      },
      items: profile.investorRequirements.constructionRisks.items
    })
  }}

  {{
    govukRadios({
      name: 'minimumEquityPercentage',
      fieldset: {
        attributes: {
          'data-test': 'minimumEquityPercentage'
        },
        legend: {
          text: 'Minimum equity percentage',
          classes: 'govuk-fieldset__legend--s'
        }
      },
      items: profile.investorRequirements.minimumEquityPercentage.items
    })
  }}

  {{
    govukCheckboxes({
      name: 'desiredDealRoles',
      classes: 'construction-risk',
      fieldset: {
        attributes: {
          'data-test': 'desiredDealRoles'
        },
        legend: {
          text: 'Desired deal role',
          classes: 'govuk-fieldset__legend--s'
        }
      },
      items: profile.investorRequirements.desiredDealRoles.items
    })
  }}

{% endcall %}
