<ul class="task-list">
  {{ taskListItem({ name: 'Deal ticket size', value: profile.investorRequirements.dealTicketSizes.value, key: 'name' }) }}
  {{ taskListItem({ name: 'Asset classes of interest' }) }}
  {{ taskListItem({ name: 'Types of investment',  value: profile.investorRequirements.investmentTypes.value, key: 'name' }) }}
  {{ taskListItem({ name: 'Minimum return rate' }) }}
  {{ taskListItem({ name: 'Time horizon / tenor', value: profile.investorRequirements.timeHorizons.value, key: 'name' }) }}
  {{ taskListItem({ name: 'Restrictions / conditions', value: profile.investorRequirements.restrictions.value, key: 'name' }) }}
  {{ taskListItem({ name: 'Construction risk', value: profile.investorRequirements.constructionRisks.value, key: 'name' }) }}
  {{ taskListItem({ name: 'Minimum equity percentage' }) }}
  {{ taskListItem({ name: 'Desired deal role', value: profile.investorRequirements.desiredDealRoles.value, key: 'name' }) }}
</ul>

{% call Form({
  buttonText: 'Edit',
  buttonDataAttr: 'investorRequirementsEdit',
  hiddenFields: { editing: sections.INVESTOR_REQUIREMENTS },
  disableFormAction: profile.editing === sections.INVESTOR_DETAILS or profile.editing === sections.LOCATION,
  action: '/companies/' + company.id + '/investments/large-capital-profile/edit'
})
%}
{%- endcall %}
