{% extends "_layouts/datahub-base.njk" %}

{% block body_main_header_content %}
  <h1 class="heading-xlarge record-title">Service delivery details</h1>
{% endblock %}

{% block body_main_content %}
  {{ keyvaluetable(serviceDeliveryDetails, stripey=true, labels=serviceDeliveryLabels, keyorder=serviceDeliveryDisplayOrder) }}
  <a class="button" href="/servicedelivery/{{serviceDelivery.id}}/edit">Edit service delivery details</a>
{% endblock %}
