{% extends "_layouts/two-column.njk" %}

{% block main_grid_right_column %}
  {{ keyvaluetable(serviceDeliveryDetails, stripey=true, labels=serviceDeliveryLabels, keyorder=serviceDeliveryDisplayOrder) }}
  <a class="button button-secondary" href="/service-deliveries/{{serviceDelivery.id}}/edit">Edit service delivery details</a>
{% endblock %}
