{% extends "_layouts/two-column.njk" %}

{% block body_main_content %}
  {% if serviceDelivery.company.name %}
    {% set companyLink %}
      <a href="{{ companyUrl }}">{{ serviceDelivery.company.name }}</a>
    {% endset %}
    {% set contactLink %}
      <a href="/contacts/{{ serviceDelivery.contact.id }}">{{ serviceDelivery.contact.name }}</a>
    {% endset %}

    {{ MetaList({
      items: [
        { label: 'Contact', value: contactLink | safe } if serviceDelivery.contact.name,
        { label: 'Company', value: companyLink | safe } if serviceDelivery.company.name,
        { label: 'Interaction type', value: 'Service delivery' }
      ],
      itemModifier: 'stacked'
    }) }}
  {% endif %}

  {{ Form(serviceDeliveryForm) }}
{% endblock %}
