$images-dir: "/images/";

@import "_deprecated/trade-elements";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "settings";
@import "tools";
@import "generic";
@import "elements";
@import "objects";
@import "components";
@import "trumps";

//// application specific (deprecated)
@import "_deprecated/address";
@import "_deprecated/card";
@import "_deprecated/country-list";
@import "_deprecated/dashboard";
@import "_deprecated/flash";
@import "_deprecated/errors";
@import "_deprecated/search";
@import "_deprecated/shame";
@import "_deprecated/splitheader";
@import "_deprecated/tables";

.table--readonly {
  border-left-width: 5px;
}
