$images-dir: "/images/";

@import "_deprecated/trade-elements";

@import "~accessible-autocomplete/src/autocomplete.css";

.autocomplete__dropdown-arrow-down {
  z-index: auto;
}

.autocomplete__option-title {
  font-weight: 700;
}
.autocomplete__option-meta {
  display: block;
}

@import "settings";
@import "tools";
@import "generic";
@import "layout";
@import "elements";
@import "objects";
@import "components";
@import "trumps";

//// application specific (deprecated)
@import "_deprecated/dashboard";
@import "_deprecated/shame";
