<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBT Export Wins</title>
    <style nonce="{{ cspNonce }}" >
      html, body {
        font-family: Arial,"Helvetica Neue",sans-serif;
        font-size: 19px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        padding: 0;
      }
    </style>
    {% include "_includes/google-tag-manager-snippet.njk" %}
  </head>
  <body>
    {% include "_includes/csp-nonce.njk" %}
    <div id="react-app">
      <noscript>Please enable JavaScript in your browser to see the content.</noscript>
    </div>

    <!--[if gt IE 8]><!-->
    <script src="{{ getAssetPath('export-win-review.js') }}"></script>
    <!--<![endif]-->
  </body>
</html>
