{% extends "./_layout-view.njk" %}

{% from "_macros/entity/entity-list.njk" import EntityList %}

{% block main_grid_right_column %}

  <h2 class="heading-medium">Advisers on the core team</h2>

    {% if company.global_headquarters.name %}
      <p>This company is a subsidiary of the {{company.global_headquarters.name}}, an account managed company on the One List ({{company.one_list_group_tier.name}})</p>
    {% else %}
      <p>This is an account managed company on the One List ({{company.one_list_group_tier.name}})</p>
    {% endif %}

    {% component 'data-table', {
      variant: 'equal-columns',
      columns: columns.global_account_manager,
      data: coreTeam.accountManagers
    } %}

    {% component 'data-table', {
      variant: 'equal-columns',
      columns: columns.adviser_core_team,
      data: coreTeam.teamMembers
    } %}

  {% call HiddenContent({ summary: 'Need to find out more, or edit the core team or One List tier information?' }) %}
    {% call Message({ type: 'muted' }) %}
      For more information, or if you need to change the One List tier or account management team for this company,
      go to the <a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/strategic-relationship-account-management/">Digital
      Workspace</a>
      or email <a href="mailto:{{oneListEmail}}">{{oneListEmail}}</a>
    {% endcall %}
  {% endcall %}
{% endblock %}
