{% extends "./template.njk" %}

{% block main_grid_right_column %}

  {% call DetailsContainer({ heading: 'Global headquarters summary' if company.headquarter_type.name === 'ghq' else 'Company summary' }) %}
    {% if chDetails %}
      {% call Message({ type: 'muted', element: 'div' }) %}
      {% component 'key-value-table', items=chDetails %}
        <p>Powered by data from <strong>Companies House</strong></p>
      {% endcall %}
    {% endif %}

    {% if companyDetails %}
      {% component 'key-value-table', variant='striped', items=companyDetails %}
    {% endif %}

    {% if company.id %}
      {% if not company.archived %}
        {% if company.duns_number %}
          {% call HiddenContent({ summary: 'Why can I not edit the company information?' }) %}
            {% call Message({ type: 'muted' }) %}
              Information for this company comes from an external and verified source. The information is automatically updated.
              If you think the information is incomplete or incorrect, get in touch <a href="/support">using the support form</a>
            {% endcall %}
          {% endcall %}
        {% else %}
          <p><a href="/companies/{{company.id}}/edit" class="button button--secondary">Edit company details</a></p>
        {% endif %}
      {% endif %}
    {% else %}
      <p><a href="/companies/add/{{company.company_number}}" class="button">Add company</a></p>
    {% endif %}
  {% endcall %}

  {% if company.one_list_group_tier %}
    {% call DetailsContainer({ heading: 'Global Account Manager – One List' }) %}
      {% component 'key-value-table', items=accountManagementDetails, variant='striped' %}

      <p>
        <a href="advisers">See all advisers on the core team</a>
      </p>

    {% endcall %}
  {% endif %}

  {% if not company.archived and not company.duns_number %}
    {% call DetailsContainer({ heading: 'Archive company' }) %}
      <p>Archive this company if it is no longer required or active.</p>

      {% component 'archive-form', {
        label: 'Archive reason',
        options: ['Company is dissolved'],
        csrfToken: csrfToken,
        error: form.errors.reason,
        url: '/companies/' + company.id + '/archive'
      } %}
    {% endcall %}
  {% endif %}
{% endblock %}
