{% extends "./template.njk" %}

{% block main_grid_right_column %}

  {% if company.archived or company.duns_number %}
    <details role="group">
      <summary role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="details__summary">
          Why can I not link a subsidiary?
        </span>
      </summary>
      <div class="details__content" id="details-content-0" aria-hidden="false">
        {% if company.archived %}
          <p class="c-message c-message--muted">Subsidiaries cannot be linked to an archived company.
          <a href="/companies/{{company.id}}/unarchive">Click here to unarchive</a>
        {% endif %}
        {% if company.duns_number %}
          <p class="c-message c-message--muted">Subsidiaries cannot be linked to a Dun & Bradstreet company.
        {% endif %}
        </p>
      </div>
    </details>
  {% endif %}

  {{ CollectionContent(subsidiaries) }}
{% endblock %}
