{% extends "./template.njk" %}

{% block main_grid_right_column %}

  {% if company.duns_number %}
    {{ govukDetails({
      summaryText: 'Why can I not link a subsidiary?',
      html: 'Subsidiaries cannot be linked to a Dun & Bradstreet company.',
      attributes: {
        'data-auto-id': 'subsidiariesWhyDunAndBradstreet'
      }
    }) }}
  {% endif %}

  {% if company.archived %}
    {{ govukDetails({
      summaryText: 'Why can I not link a subsidiary?',
      html: 'Subsidiaries cannot be linked to an archived company.
        <a href="/companies/' + company.id + '/unarchive">Click here to unarchive</a>',
      attributes: {
        'data-auto-id': 'subsidiariesWhyArchived'
      }
    }) }}
  {% endif %}

  {{ CollectionContent(subsidiaries) }}

{% endblock %}
