{% if contact.archived %}
  <p class="infostrip">
    This contact has been archived on {{contact.archived_on | formatDate}} by {{contact.archived_by.first_name}} {{contact.archived_by.last_name}}.<br>
    <strong>Reason:</strong> {{contact.archived_reason}}<br>
    <br>
    <a href="/contact/{{contact.id}}/unarchive">Unarchive</a>
  </p>
{% else %}
  <div class="archive-panel js-hidden">
    <p class="hidden archive-panel__show-button" aria-hidden="true">
      <a href="#">Archive Contact</a>
    </p>
    <form action="/contact/{{contact.id}}/archive" class="section archive-panel__form" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="form-group {% if query.archiveerror %}form-group-error{% endif %}" id="archived_reason-wrapper">
        <label class="form-label-bold" for="archived_reason">Reason for archiving contact</label>
        <select class="form-control" name="archived_reason">
          <option value="">Select a value</option>
          {% for option in reasonForArchiveOptions %}
            <option value="{{option}}">{{option}}</option>
          {% endfor %}
          <option value="Other">Other</option>
        </select>
      </div>
      {{ trade.textbox("archived_reason_other", label="Other") }}
      {{ trade.save(buttonText="Archive", backUrl="/contact/{{contact.id}}/details") }}
    </form>
  </div>
{% endif %}
