{% extends "./index.html" %}
{% import "macros/trade.html" as trade %}

{% block tabmain %}
  <h2 class="heading-medium">Contact Details</h2>
  {{ trade.keyvaluetable(
      contactDetails,
      stripey=true,
      labels=contactDetailsLabels,
      keyorder=contactDetailsDisplayOrder,
      id="contact-details",
      shownull=true)
  }}

  {% if not contact.archived %}
    <p>
      <a href="/contact/{{id}}/edit" class="button button-secondary">Edit contact details</a>
    </p>
  {% endif %}
{% endblock %}
