{% extends "./index.njk" %}
{% import "macros/trade.html" as trade %}

{% block tabmain %}
<h2 class="heading-medium">Contact interactions</h2>
{% if interactions.length %}
  <ul id="interaction-list" class="lined-list">
    {% for interaction in interactions %}
    <li class="lined-list__item">
      <div class="card card--expandable" id="{{interaction.id}}">
        <a class="card__title" href="{{interaction.url}}">{{interaction.subject}}</a>
        <div class="split-data">
          <div>
            <div class="card__metadata">
              <strong>Type:</strong>
              {{interaction.interaction_type}}
            </div>
            <div class="card__metadata">
              <strong>Adviser:</strong>
              {{interaction.advisor | safe}}
            </div>
            <div class="card__metadata">
              <strong>Adviser team:</strong>
              {{interaction.dit_team}}
            </div>
          </div>
          <div>
            <div class="card__metadata">
              <strong>Date:</strong>
              {{interaction.date}}
            </div>
          </div>
        </div>
        <div class="card__subsection">
          <table class="table--key-value table--plain">
            <tbody>
              <tr>
                <th>Service offer</th>
                <td>{{interaction.service}}</td>
              </tr>
              <tr>
                <th>Interaction notes</th>
                <td>{{interaction.notes | safe}}</td>
              </tr>
            </tbody>
          </table>
          <p><a class="button button-secondary" href="{{interaction.url}}">View interaction details</a></p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <script src="/javascripts/expandable-card.bundle.js"></script>
{% else %}
  <p id="no-interaction-warning" class="infostrip">You currently have no interactions for this contact.</p>
{% endif %}

<p class="actions">
  <a id="add-interaction-link" class="button button-secondary" href="{{addInteractionUrl}}">Add new interaction</a>
</p>

{% endblock %}
