{% call Form(form | assign({
  buttonText: 'Save',
  returnLink: '/investment-projects/' + investmentStatus.id + '/interactions',
  hiddenFields: {
    investment_project: investmentStatus.id
  }
})) %}
  {{ MultipleChoiceField({
    name: 'interaction_type',
    label: form.labels.interaction_type,
    error: form.errors.messages.interaction_type,
    value: form.state.interaction_type,
    options: form.options.interactionTypes,
    initialOption: '-- Select interaction type --'
  }) }}

  {{ TextField({
    name: 'subject',
    label: form.labels.subject,
    error: form.errors.messages.subject,
    value: form.state.subject
  }) }}

  {{ TextField({
    name: 'notes',
    label: form.labels.notes,
    type: 'textarea',
    error: form.errors.messages.notes,
    value: form.state.notes
  }) }}

  {{ DateFieldset({
    name: 'date',
    label: form.labels.date,
    error: form.errors.messages.date,
    value: {
      year: form.state.date_year,
      month: form.state.date_month,
      day: form.state.date_day
    }
  }) }}

  {{ MultipleChoiceField({
    name: 'contact',
    label: form.labels.contact,
    optional: form.errors.messages.contact,
    value: form.state.contact,
    options: form.options.contacts,
    initialOption: '-- Select contact --'
  }) }}

  {{ MultipleChoiceField({
    name: 'dit_adviser',
    label: form.labels.dit_adviser,
    error: form.errors.messages.dit_adviser,
    value: form.state.dit_adviser,
    options: form.options.advisers,
    initialOption: '-- Select adviser --'
  }) }}

  {{ MultipleChoiceField({
    name: 'service',
    label: form.labels.service,
    error: form.errors.messages.service,
    value: form.state.service.id,
    options: form.options.serviceTypes,
    initialOption: '-- Select service --'
  }) }}

  {{ MultipleChoiceField({
    name: 'dit_team',
    label: form.labels.dit_team,
    error: form.errors.messages.dit_team,
    value: form.state.dit_team.id,
    options: form.options.teams,
    initialOption: '-- Select team --'
  }) }}
{% endcall %}
