{% extends "../_layout.njk" %}

{% block main_heading %}
  {% include "_includes/messages.njk" %}
  {{ super() }}
{% endblock %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Investment Interactions</h2>
  <div class="action-bar">
    <a href="interactions/create" class="button">Add interaction</a>
  </div>
  <p>
    An interaction could be a meeting, call, email or another activity associated with this investment.
  </p>

  {% if interactions | length %}
    <ul class="details-list">

      {% for interaction in interactions %}

        {# TODO this ideally needs to be set in the API layer #}
        {% set interactionDetailsUrl = 'interactions/' + interaction.id + '/edit' %}

        <li class="details-list__item">
          <div class="js-details-expandable" id="{{ interaction.id }}">
            <a class="details-list__item-heading js-details-heading" href="{{ interactionDetailsUrl }}">
              {{ interaction.subject }}
            </a>
            <dl>
              <div class="details-list__item-section">
                <dt class="details-list__item-title">Type:</dt>
                <dd class="details-list__item-description">{{ interaction.interaction_type }}</dd>
              </div>
              <div class="details-list__item-section">
                <dt class="details-list__item-title">Adviser:</dt>
                <dd class="details-list__item-description">{{ interaction.adviser | safe }}</dd>
              </div>
              <div class="details-list__item-section">
                <dt class="details-list__item-title">Adviser team:</dt>
                <dd class="details-list__item-description">{{ interaction.dit_team }}</dd>
              </div>
              <div class="details-list__item-section">
                <dt class="details-list__item-title">Contact:</dt>
                <dd class="details-list__item-description">{{ interaction.contact | safe }}</dd>
              </div>
              <div class="details-list__item-section">
                <dt class="details-list__item-title">Date:</dt>
                <dd class="details-list__item-description">{{ interaction.date }}</dd>
              </div>
            </dl>
            <div class="js-details-reveal">
              <dl>
                <div class="details-list__item-section">
                  <dt class="details-list__item-title">Interaction notes:</dt>
                  <dd class="details-list__item-description">{{ interaction.notes | safe }}</dd>
                </div>
              </dl>
              <p><a class="button button-secondary" href="{{ interactionDetailsUrl }}">Edit Interaction</a></p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="infostrip">You currently have no interactions for this company.</p>
  {% endif %}
{% endblock %}
