{% from "./collection/collection-content.njk" import CollectionContent %}
{% from "./collection/collection-download.njk" import CollectionDownload %}
{% from "./collection/collection-filters.njk" import CollectionFilters %}

{% set CollectionContent = CollectionContent %}
{% set CollectionDownload = CollectionDownload %}
{% set CollectionFilters = CollectionFilters %}
