{% from "./collection/collection-content.njk" import CollectionContent %}
{% from "./collection/collection-filters.njk" import CollectionFilters %}

{% set CollectionContent = CollectionContent %}
{% set CollectionFilters = CollectionFilters %}
