{% from "./common/answers-summary.njk" import AnswersSummary %}
{% from "./common/from-now.njk" import FromNow %}
{% from "./common/global-nav.njk" import GlobalNav %}
{% from "./common/local-header.njk" import LocalHeader with context %}
{% from "./common/local-nav.njk" import LocalNav %}
{% from "./common/pagination.njk" import Pagination %}
{% from "./common/progress.njk" import Progress %}

{% set AnswersSummary = AnswersSummary %}
{% set FromNow = FromNow %}
{% set GlobalNav = GlobalNav %}
{% set FromNow = FromNow %}
{% set LocalHeader = LocalHeader %}
{% set LocalNav = LocalNav %}
{% set Pagination = Pagination %}
{% set Progress = Progress %}
