{% from "./common/local-header.njk" import LocalHeader with context %}
{% from "./common/local-nav.njk" import LocalNav %}
{% from "./common/pagination.njk" import Pagination %}
{% from "./common/messages.njk" import Message, MessageList %}
{% from "./common/tabbed-local-nav.njk" import TabbedLocalNav %}

{% set LocalHeader = LocalHeader %}
{% set LocalNav = LocalNav %}
{% set Pagination = Pagination %}
{% set Message = Message %}
{% set MessageList = MessageList %}
{% set TabbedLocalNav = TabbedLocalNav %}

