{% macro Example(title, isWide = false) %}
  <article class="example {{ 'example--wide' if isWide }}" {% if title %}id="{{ title | urlencode }}"{% endif %}>
    <header class="example__header">
      {% if title %}
        <h3 class="example__title">{{ title }}</h3>
      {% endif %}
    </header>
    <div class="example__preview">
      {{ caller() }}
    </div>
  </article>
{% endmacro %}
