{##
 # Render entity component
 # @param {object} props
 # @param {string} props.id - entity id
 # @param {string} props.name - entity name
 # @param {string} props.type - entity type (e.g. 'date' to format dates)
 # @param {array}  [props.metaBadges{}] - an array of metadata item objects
 # @param {array}  [props.metaItems{}] - an array of metadata item objects
 # @param {string} [props.highlightTerm] - text to use to apply highlight filter
 #}
{% macro Entity (props) %}
  {% if props.name and props.id and props.type %}
    {% set metaBadges = props.meta | filter(['isBadge', true]) %}
    {% set metaItems = props.meta | filter(['isBadge', false]) %}

    <div class="c-entity c-entity--{{ props.type }}">
      {% if props.code %}
        <div class="c-entity__code">{{ props.code | highlight(props.highlightTerm, true) }}</div>
      {% endif %}

      <div class="c-entity__header">
        <h3 class="c-entity__title">
          <a href="/{{ props.type | pluralise }}/{{ props.id }}">{{ props.name | highlight(props.highlightTerm) }}</a>
        </h3>

        {% if metaBadges | length %}
          <div class="c-entity__badges">
            {% for metaBadge in metaBadges %}
              {{ MetaItem(metaBadge | assign({ highlightTerm: props.highlightTerm })) }}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {% if metaItems | length %}
        <div class="c-entity__content">
          {% for metaItem in metaItems %}
            {{ MetaItem(metaItem| assign({ highlightTerm: props.highlightTerm })) }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{##
 # Render meta data item
 # @param {object} props
 # @param {string} props.label - metadata item label
 # @param {string} props.data - metadata item data
 # @param {string} props.data.id - API data id
 # @param {string} props.data.name - API data label
 # @param {string} [props.type] - value type (e.g. 'date' to format dates)
 # @param {string} [props.url] - link URL
 # @param {string} [props.isSelected] - whether the anchor should be have 'is-selected' state
 # @param {string} [props.isInert] - whether the value should be inert even if it has URL
 # @param {string} [props.isBadge] - whether the the CSS c-badge component should be applied to anchor
 # @param {string} [props.isLabelHidden=false] - whether the label should be visually hidden
 # @param {string} [props.badgeModifier] - modifier for badge link if isBadge=true
 # @param {string} [props.highlightTerm] - text to use to apply highlight filter
 #}
{% macro MetaItem (props) %}
  {% set badgeModifier = props.badgeModifier | concat('') | reverse | join(' c-badge--') if props.badgeModifier %}
  {% set isLabelHidden = props.isLabelHidden | default(false) %}
  {% set itemValueClass = 'c-badge ' + badgeModifier if props.isBadge else 'c-meta-item__value'%}
  {% if props.name and 'date' in props.name %}
    {% set metaItemValue = props.value | formatDate('MMMM D, YYYY')  %}
  {% else %}
    {% set metaItemValue = props.value.name | default(props.value) %}
  {% endif %}

  {% if props.label and metaItemValue %}
    <div class="c-meta-item">
      {% if props.label %}
        <span class="c-meta-item__label {{ 'u-visually-hidden' if isLabelHidden or props.isBadge}}">
          {{ props.label }}:
        </span>
      {% endif %}
      {% if props.url and not props.isInert %}
        <a
          class="js-xhr {{ itemValueClass }} {{ 'is-selected' if props.isSelected }}"
          href="{{ props.url }}"
        >
          {{- metaItemValue  | highlight(props.highlightTerm, true) -}}
        </a>
      {% else %}
        <span class="{{ itemValueClass }}">{{ metaItemValue | highlight(props.highlightTerm, true) }}</span>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
