{##
 # Render entity component
 # @param {object} props
 # @param {string} props.name - entity name
 # @param {string} props.type - entity type (e.g. 'date' to format dates)
 # @param {string} [props.id] - entity id, used to create a link to the entity if provided
 # @param {string} [props.url] - entity URL, defaults to props.urlPrefix + props.id
 # @param {string} [props.urlPrefix] - base URL for linking to an entity, by default it will pluralise props.type
 # @param {array}  [props.metaBadges{}] - an array of metadata item objects
 # @param {array}  [props.metaItems{}] - an array of metadata item objects
 # @param {string} [props.highlightTerm] - text to use to apply highlight filter
 # @param {sting|array} [props.contentMetaModifier] - A modified to apply to metadata to control it's display
 #}
{% macro Entity (props) %}
  {% if props.name and props.type %}
    {% set urlPrefix = props.urlPrefix or props.type | pluralise + '/' %}
    {% set url = props.url | default('/' + urlPrefix + props.id) %}
    {% set metaBadges = props.meta | filter(['type', 'badge']) %}
    {% set contentMetaModifier = props.contentMetaModifier| default(['inline', 'split']) %}
    {% set metaItems = props.meta
      | reject(['type', 'badge'])
    %}
    {% set highlightedName = props.name | highlight(props.highlightTerm) %}

    <div class="c-entity c-entity--{{ props.type }}">
      {% if props.code %}
        <div class="c-entity__code">{{ props.code | highlight(props.highlightTerm, true) }}</div>
      {% endif %}

      <div class="c-entity__header">
        <h3 class="c-entity__title">
          {% if props.id %}
            <a href="{{ url }}">{{ highlightedName }}</a>
          {% else %}
            {{ highlightedName }}
          {% endif %}
        </h3>

        {% if metaBadges | length %}
          <div class="c-entity__badges">
            {{
              MetaList({
                items: metaBadges,
                highlightTerm: props.highlightTerm
              })
            }}
          </div>
        {% endif %}
      </div>

      {% if metaItems | length %}
        <div class="c-entity__content">
          {{
            MetaList({
              items: metaItems,
              highlightTerm: props.highlightTerm,
              modifier: contentMetaModifier
            })
          }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{##
 # Render meta data item
 # @param {object} props
 # @param {string} props.label - metadata item label
 # @param {string} props.data - metadata item data
 # @param {string} props.data.id - API data id
 # @param {string} props.data.name - API data label
 # @param {string} [props.type] - value type (e.g. 'date' to format dates)
 # @param {string} [props.url] - link URL
 # @param {string} [props.isSelected] - whether the anchor should be have 'is-selected' state
 # @param {string} [props.isInert] - whether the value should be inert even if it has URL
 # @param {string} [props.isLabelHidden=false] - whether the label should be visually hidden
 # @param {string} [props.badgeModifier] - modifier for badge
 # @param {string} [props.highlightTerm] - text to use to apply highlight filter
 #}
{% macro _MetaItem (props) %}
  {% set badgeModifier = props.badgeModifier | concat('') | reverse | join(' c-badge--') if props.badgeModifier %}
  {% set isLabelHidden = props.isLabelHidden | default(false) %}
  {% set itemValueClass = 'c-badge ' + badgeModifier if props.type === 'badge' else 'c-meta-list__item-value'%}

  {% if props.type %}
    {% if props.type === 'date' %}
      {% set date = props.value | formatDate %}
    {% elif props.type === 'datetime' %}
      {% set date = props.value | formatDateTime %}
    {% endif %}
  {% endif %}

  {% set metaItemValue = date or props.value.name | default(props.value)  %}

  {% if metaItemValue %}
    <div class="{{ 'c-meta-list__item' | applyClassModifiers(props.modifier) }}">
      {% if props.label %}
        <span class="c-meta-list__item-label {{ 'u-visually-hidden' if isLabelHidden or props.type === 'badge' }}">
          {{ props.label }}
        </span>
      {% endif %}
      {% if props.url and not props.isInert %}
        <a
          class="js-xhr {{ itemValueClass }} {{ 'is-selected' if props.isSelected }}"
          href="{{ props.url }}"
        >
          {{- metaItemValue  | highlight(props.highlightTerm, true) -}}
        </a>
      {% else %}
        <span class="{{ itemValueClass }}">{{ metaItemValue | highlight(props.highlightTerm, true) }}</span>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{##
 # Render meta list
 # @param {object} props
 # @param {array}  props.items - meta items
 # @param {string, array} [props.modifier] - meta container modifier (e.g. inline)
 #}
{% macro MetaList (props) %}
  {% set modifier = props.modifier | concat('') | reverse | join(' c-meta-list--') if props.modifier %}

  {% if props.items | length %}
    <div class="c-meta-list {{ modifier }}">
      {% for metaItem in props.items %}
        {{ _MetaItem(metaItem | assign({ highlightTerm: props.highlightTerm, modifier: props.itemModifier })) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
