{#
This is a set-up of Google Tag Manager for internal users,
who are assumed that they have given consent for using
Google Analytics cookies.
#}
{% if GOOGLE_TAG_MANAGER_KEY %}
{% include "_includes/google-tag-manager/gtag-definition.njk" %}
<script nonce='{{ cspNonce }}'>
  {# We can't use gtag for these, we must use dataLayer directly #}
  dataLayer.push({
    userId: '{{user.id}}',
    userUserId: '{{user.sso_user_id}}',
  })

  if ('{{userFeatureGTMEvent}}') {
    dataLayer.push({
      name: '{{userFeatureGTMEvent.name}}',
      event: '{{userFeatureGTMEvent.event}}',
    })
  }
</script>
{% include "_includes/google-tag-manager/snippet.njk" %}
{% endif %}
