# Documentation: https://dependabot.com/docs/config-file

version: 1
update_configs:
  - package_manager: javascript
    directory: "/"
    update_schedule: live
    default_reviewers:
      - datahub-fed
    ignored_updates:
      - match:
        dependency_name: "govuk-frontend"
        dependency_name: "govuk-colours"
