{% extends "_layouts/template.njk" %}

{% block local_header %}
  {% call LocalHeader({ heading: heading }) %}{% endcall %}
{% endblock %}

{% block body_main_content %}
  <p>Copy that explains what to do / what to look for.</p>

{% endblock %}
