{% extends "_layouts/two-column.njk" %}


{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}

  <h2 class="heading-medium">Client company</h2>

  <table class="table--key-value">
    <tbody>
      <tr>
        <td>{{ company.name }}</td>
      </tr>
      <tr>
        <td>{{ company.registered_address_country.name }}</td>
      </tr>
      <tr>
        <td>{{ companyInvestments.count|default('No', true) }} investment {{ 'project' | pluralise(companyInvestments.count) }} in the UK</td>
      </tr>
      {% if company.classification %}
        <tr>
          <td>{{ company.classification.name }}</td>
        </tr>
      {% endif %}
      {% if company.one_list_account_owner %}
        <tr>
          <td>
            Relationship manager: {{ company.one_list_account_owner.first_name }} {{ company.one_list_account_owner.last_name }}
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  {% if showSearch or searchTerm %}

    <h2 class="heading-medium">Find the source of foreign equity investment</h2>

    {{ EntitySearchForm({
      inputName: 'term',
      inputLabel: 'Search for company name',
      searchTerm: searchTerm
    }) }}

    {% if searchResult %}
      {{
        Collection(searchResult | assign({
          highlightTerm: searchTerm,
          countLabel: 'company',
          hasBlockLinks: true,
          query: QUERY
        }))
      }}

      {% call Message({ type: 'muted' }) %}
        If you can’t find the company you’re looking for,
        <a href="/companies/add-step-1">add a new company</a>. Unfortunately you will lose your progress.
      {% endcall %}
    {% endif %}

  {% elseif company %}

    {{
      Form(form | assign({
        buttonText: 'Continue',
        hiddenFields: {
          company_id: company.id
        },
        children: [
          {
            macroName: 'MultipleChoiceField',
            type: 'radio',
            name: 'is_equity_source',
            label: 'Will this company be the source of foreign equity investment?',
            modifier: 'inline',
            error: form.errors.messages.is_equity_source,
            options: [
              {
                value: 'true',
                label: 'Yes'
              }, {
                value: 'false',
                label: 'No'
              }
            ]
          }
        ]
      }))
    }}
  {% endif %}

{% endblock %}
