{% extends "_layouts/two-column.njk" %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}

  <h2 class="heading-medium" id="fdi">FDI project</h2>
  <ul class="list-disc">
    <li>
      <p>
        Is there a foreign direct investor involved in the Project and is the global HQ of the company based outside the
        UK?
      </p>
    </li>
    <li>
      <p>
        Is there a new (additional) financial investment being made in the UK as a result of the Project?
      </p>
    </li>
    <li>
      <p>
        Is there a UK Foreign Direct Enterprise established in the UK with at least 10% foreign ownership?
      </p>
    </li>
    <li>
      <p>
        Will the UK foreign direct enterprise be involved in a business (commercial) activity in the UK which is
        expected to last at least 3 years?
      </p>
    </li>
    <li>
      <p>
        Is there at least 1 new job created as a result of the Project (or safeguarded jobs for Retentions or M&As)?
      </p>
    </li>
    <li>
      <p>
        If a Retention or M&A project is being claimed, is there evidence that the UK jobs were at risk?
      </p>
    </li>
  </ul>

  <h2 class="heading-medium" id="non-fdi">Non-FDI project</h2>
  <ul class="list-disc">
    <li>
      <p>
        Is there a foreign investor/partner involved in the project?
      </p>
    </li>
    <li>
      <p>
        Is it clear who is the UK recipient organisation in the proposed collaboration and partnership project?
      </p>
    </li>
    <li>
      <p>
        Is the R&D Collaboration or partnership aimed at creating (or validating) new to the world technology, products
        or services that will lead to creation (or testing) new intellectual property (IP) in the UK?
      </p>
    </li>
    <li>
      <p>
        Will there be a new IP created (or validated) by the R&D collaboration or partnership be registered or used in
        the UK?
      </p>
    </li>
    <li>
      <ul>
        <li>
          <p>
            Will the project create or maintain (directly or indirectly) at least 1 job in the UK partner organisation
            for a duration of at least 6 months?
          </p>
        </li>
        <li>
          <p>OR</p>
        </li>
        <li>
          <p>
            Is there additional financial support from the foreign partner which will ensure the continuation of the R&D
            Collaboration or partnership project in the UK site for a minimum of 6 months?
          </p>
        </li>
      </ul>
    </li>
  </ul>

{% endblock %}
