{% extends "_layouts/two-column.njk" %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}

  <h2 class="heading-medium">Client company</h2>

  <table class="table--key-value">
    <tbody>
    <tr>
      <td>{{ company.name }}</td>
    </tr>
    <tr>
      <td>{{ company.registered_address_country.name }}</td>
    </tr>
    <tr>
      <td>{{ companyInvestments.count|default('No', true) }} investment {{ 'project' | pluralise(companyInvestments.count) }} in the UK</td>
    </tr>
    {% if company.classification %}
      <tr>
        <td>{{ company.classification.name }}</td>
      </tr>
    {% endif %}
    {% if company.one_list_account_owner %}
      <tr>
        <td>
          Relationship manager: {{ company.one_list_account_owner.first_name }} {{ company.one_list_account_owner.last_name }}
        </td>
      </tr>
    {% endif %}
    </tbody>
  </table>

  {% set fdiHintLink %}
    <a href="/investment-projects/create/investment-type/info#fdi" target="info">Is this an FDI project?</a>
  {% endset %}

  {% set nonFdiHintLink %}
    <a href="/investment-projects/create/investment-type/info#non-fdi" target="info">Is this is a Non-FDI project?</a>
  {% endset %}

  {% set investmentOptions = [
      {
        value: form.options.investmentTypesObj.fdi.value,
        label: form.options.investmentTypesObj.fdi.label,
        hint: fdiHintLink | safe,
        children:  [
          MultipleChoiceField({
            name: 'fdi_type',
            label: 'Type of foreign direct investment (FDI)',
            error: form.errors.messages['fdi_type'],
            value: form.state['fdi_type'],
            options: form.options.fdi,
            initialOption: '-- Select an FDI type --',
            condition: {
              name: 'investment_type',
              value: form.options.investmentTypesObj.fdi.value
            },
            modifier: 'subfield'
          })
        ]
      }, {
        value: form.options.investmentTypesObj.non_fdi.value,
        label: form.options.investmentTypesObj.non_fdi.label,
        hint: nonFdiHintLink | safe,
        children:  [
          MultipleChoiceField({
            name: 'non_fdi_type',
            label: 'Type of non-foreign direct investment (Non-FDI)',
            error: form.errors.messages['non_fdi_type'],
            value: form.state['non_fdi_type'],
            options: form.options.nonFdi,
            initialOption: '-- Select a Non-FDI type --',
            condition: {
              name: 'investment_type',
              value: form.options.investmentTypesObj.non_fdi.value
            },
            modifier: 'subfield'
          })
        ]
      }
    ]
  %}



  {% if company.uk_based %}
    {% set commitmentToInvestHintLink %}
      <a href="/investment-projects/create/investment-type/info#commitment-to-invest" target="info">Is this a Commitment to invest project?</a>
    {% endset %}

    {% set investmentOptions = investmentOptions.concat([
        {
          value: form.options.investmentTypesObj.commitment_to_invest.value,
          label: form.options.investmentTypesObj.commitment_to_invest.label,
          hint: commitmentToInvestHintLink | safe
        }
      ])
    %}
  {% endif %}

  {% call Form(form | assign({
    buttonText: 'Continue',
    hiddenFields: {
      company_id: company.id
    }
  })) %}

    {{ MultipleChoiceField({
        type: 'radio',
        name: 'investment_type',
        label: 'Type of investment',
        value: form.state['investment_type'],
        error: form.errors.messages['investment_type'],
        options: investmentOptions
      })
    }}

  {% endcall %}

{% endblock %}
