{% extends "_layouts/two-column.njk" %}


{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}

  {% if equityCompany %}
    <h2 class="heading-medium">Source of foreign equity investment</h2>

    <table class="table--key-value">
      <tbody>
        <tr>
          <td>{{ equityCompany.name }}</td>
        </tr>
        <tr>
          <td>{{ equityCompany.registered_address_country.name }}</td>
        </tr>
        <tr>
          <td>{{ equityCompanyInvestments.count|default('No', true) }} investment {{ 'project' | pluralise(equityCompanyInvestments.count) }} in the UK</td>
        </tr>
      </tbody>
    </table>


    <h2 class="heading-medium">Investment type</h2>

    <table class="table--key-value">
      <tbody>
        <tr>
          <td>{{ form.options.investmentDetails.investment_type.label }}:
            {% if form.options.investmentDetails.fdi_type  %}
              {{ form.options.investmentDetails.fdi_type.label }}
            {% elseif form.options.investmentDetails.non_fdi_type %}
              {{ form.options.investmentDetails.non_fdi_type.label }}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>

  {% endif %}

  {% include '../_details-form.njk' %}
{% endblock %}
