{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "Sandbox": true,
    "state": true,
    "_": true
  },
  "rules": {
    "no-var": 0,
    "func-names": 0,
    "global-require": 0
  }
}
