{
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "module"
  },
  "env": {
    "es6": false,
    "node": true
  },
  "globals": {
    "Sandbox": true,
    "state": true,
    "_": true
  },
  "rules": {
    "no-var": 0,
    "func-names": 0,
    "global-require": 0
  }
}
