{% extends "../../../views/template.njk" %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Evidence</h2>
  <table class="table--striped">
    <tr>
      <th>
        Verification criteria
      </th>
      <th>
        Comment
      </th>
      <th>
        &nbsp;
      </th>
      <th>
        &nbsp;
      </th>
    </tr>

    {% for item in evidence.results %}
      <tr>
        <td>
            <ul class="table__list">
              {% for tag in item.tags %}
                <li class="table__list-item" data-id="{{ tag.id }}">{{ tag.name }}</li>
              {% endfor %}
            </ul>
        </td>
        <td>
          {{ item.comment }}
        </td>
        <td>
          {% if item.status == 'virus_scanned' %}
            {% if item.av_clean %}
              <a href="{{ paths.projects }}/{{ item.investment_project.id }}/evidence/{{ item.id }}/download">Download</a>
            {% else %}
              <span class="c-message--error">The file did not pass virus scanning</span>
            {% endif %}
          {% elif item.status == 'not_virus_scanned' %}
            <span>File not virus scanned</span>
          {% elif item.status == 'virus_scanning_scheduled' %}
            <span>Virus scanning scheduled</span>
          {% elif item.status == 'virus_scanning_in_progress' %}
            <span>File is being scanned</span>
          {% elif item.status == 'virus_scanning_failed' %}
            <span class="c-message--error">Virus scanning failed</span>
          {% else %}
            <span class="c-message--error">Virus scanning failed</span>
          {% endif %}
        </td>
        <td>
          <a href="{{ paths.projects }}/{{ item.investment_project.id }}/evidence/{{ item.id }}/delete">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <br>
  <a href="evidence/add-new" class="govuk-button">Add new evidence</a>
{% endblock %}
