{% extends "layouts/ukti.njk" %}

{% block main %}
  <h1 class="heading-medium error">{{ statusCode }}</h1>
  <p>{{ statusMessage }}</p>

  {% if devErrorDetail %}
    <dl class="stack-trace">
      <dt class="stack-trace__heading">{{ devErrorDetail.message }}</dt>
      <dd class="stack-trace__details">{{ devErrorDetail.stack }}</dd>
    </dl>
  {% endif %}
{% endblock %}
