{% extends "_layouts/datahub-base.njk" %}

{% block body_main_header_content %}
  <h2 class="heading-xlarge">Your profile</h2>
{% endblock %}

{% block body_main_content %}
  <table class="table-detail">
    <tbody>
    <tr>
      <th width="30%">Username</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th width="30%">Name</th>
      <td>{{ user.name }}</td>
    </tr>
    </tbody>
  </table>
{% endblock %}
