@import "../settings/colours";
@import "../settings/layout";
@import "../tools/mixins/conditionals";

// TODO: remove qualifier
span.phase-badge {
  @include bold-font(14);
  background-color: $govuk-blue;
  color: $white;
  cursor: default;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 ($default-spacing-unit / 2) 0 0;
  padding: 3px 5px;
  vertical-align: top;

  @include media(tablet) {
    line-height: 1;
  }
}
