@import "../settings/colours";
@import "../settings/layout";
@import "../tools/functions/typography";

.results-list {
  list-style: none;
}

.results-list__item {
  border: solid $grey-2;
  border-width: 0 0 1px;
  padding: 0 0 ($gutter / 2);

  &:first-child {
    border-top-width: 1px;
  }
}

.results-list__link {
  border: 1px solid $grey-2;
  display: block;
  margin-top: -1px;
  padding: 0 ($gutter / 2) ($gutter / 2);
  text-decoration: none;

  &:hover,
  &:focus {
    background: $grey-4;
    border-color: $grey-1;
  }
}

.results-list__item-header {
  @include core-font(20);
  color: $link-colour;
  margin: ($gutter / 2) 0 ($gutter / 4);
  text-decoration: underline;
}
