@import '../settings/colours';
@import '../settings/layout';
@import '../tools/mixins/layout';

.status-bar {
  @extend %contain-floats;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 8px solid $grey-2;

    @media(min-width: 640px) {
      left: $gutter-half;
    }
  }
}

.status-bar__section {
  &:first-child {
    @include media(tablet) {
      padding-left: $gutter-half + $gutter-two-thirds;
    }
  }

  dt {
    @include visually-hidden;
  }

  dd {
    margin: 5px 0;
  }
}

.status-bar__section-title {
  font-weight: 700;
}
