{% from "./form-group.njk" import FormGroup %}
{% from "./text-field.njk" import TextField %}
{% from "./multiple-choice-field.njk" import MultipleChoiceField %}

{##
 # Render a collection for multiple fields for add another functionality
 # @param {object} props - An object containing field properties
 # @param {array} [props.value] - Input values
 #}
{% macro AddAnother(props) %}
  {% set fieldId = 'field-' + props.name + ('-' + props.idSuffix if props.idSuffix) if props.name %}

  {% call FormGroup(props | assign({ fieldId: fieldId })) %}
    <div class="js-AddItems" data-item-selector=".c-form-group--AddItems">
      {% for individualValue in props.value %}
        {{ renderAsMacro(props.children, { value: individualValue, modifier: 'AddItems' }) }}
      {% endfor %}

      {{ renderAsMacro(props.children, { modifier: 'AddItems' } ) }}

      <p class="c-form-group c-form-group--compact">
        <input
          class="button button-secondary js-AddItems__add"
          type="submit"
          name="{{ props.buttonName }}"
          value="Add another"
          data-persist-values="true" />
      </p>
    </div>
  {% endcall %}
{% endmacro %}
