{% from "./form-group.njk" import FormGroup %}
{% from "./text-field.njk" import TextField %}

{##
 # Render form group date pattern with Year, Month and corresponding label and error message
 # @param {object} props - An object containing field properties
 # @param {string} props.name - Field name
 # @param {string} props.label - Field label
 # @param {string} [props.hint] - Field hint
 # @param {string} [props.error] - Field error
 # @param {string} [props.value] - Input values
 #}
{% macro DateFieldset(props) %}
  {% set fieldId = 'field-' + props.name if props.name %}

  {% call FormGroup(props | assign({ fieldId: fieldId, element: 'fieldset', modifier: 'inline' })) %}
    {% for key, value in props.value %}
      {% set name =  props.name + '_' + key %}
      {{ TextField({
        modifier: ['inline', 'soft', 'shorter' if key == 'year' else 'shortest'],
        name: name,
        value: value,
        label: key | capitalize
      }) }}
    {% endfor %}
  {% endcall %}
{% endmacro %}
