{% from "./form.njk" import Form with context %}
{% from "./text-field.njk" import TextField %}

{##
 # Render entity search form
 # @param {object} props - A form object
 # @param {string} props.action - Form action url
 # @param {string, array} [props.modifier] - Search form modifier (e.g. global)
 # @param {string} [props.entityType=company] - Search entity type
 # @param {object} [props.hiddenFields] - Custom fields to be added as hidden inputs
 # @param {array} [props.aggregations] - Search aggregations summary
 #}
{% macro EntitySearchForm(props) %}
  {% set isLabelHidden = props.isLabelHidden | default(true) %}
  {% set entityType = props.entityType | default('company') %}

  {% call Form(props | assign({
    class: 'c-entity-search' | applyClassModifiers(props.modifier),
    role: 'search',
    hideFormActions: true,
    entityType: entityType
  })) %}


    {% if props.aggregations|length %}
      <nav class="c-entity-search__aggregations" aria-label="search results aggregation options">
        <ul>
          {% for item in props.aggregations %}
            {% set isCurrentPage = item.entity === props.entityType %}
            <li class="c-entity-search__aggregations-item {{ 'is-active' if isCurrentPage }}">
              <span class="u-visually-hidden">Search results</span>
              {% if isCurrentPage %}
                <span>{{ item.text }}<span>
              {% else %}
                <a class="c-entity-search__aggregations-link" href="{{ urls.search.type(item.path) }}?term={{ props.searchTerm }}" >{{ item.text }}</a>
              {% endif %}
              <span class="c-entity-search__aggregations-count">({{ item.count | formatNumber }})</span>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  {% endcall %}
{% endmacro %}
