{##
 # Render form errors summary
 # @param {object} errors - A form error object
 # @param {string} errors.summary - A helpful summary
 # @param {object} errors.messages - A dictionary of errors with field name as key and message as value
 # @param {object} errors.nonField - An array of non field errros to display
 #}
{% macro ErrorSummary(errors) %}
  {% if errors.messages | length or errors.summary or errors.nonField %}
    <div class="c-error-summary js-ErrorSummary" role="alert" data-test="form-alert">
      <h1 class="c-error-summary__heading heading-medium" data-test="form-alert-heading">
        There was a problem submitting this form
      </h1>
      {% if errors.nonField %}
        <ul class="c-error-summary__non-field" data-test="form-alert-non-field-errors">
          {% for str in errors.nonField %}
            <li class="c-error-summary__non-field__message">{{ str }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if errors.summary %}
        <p class="c-error-summary__summary">{{ errors.summary }}</p>
      {% endif %}
      {% if errors.messages | length %}
        <ul class="c-error-summary__list" data-test="form-alert-field-errors">
          {% for name, message in errors.messages %}
            {% set label = errors.fieldLabels[name] %}
            <li class="c-error-summary__list-item" data-test="form-alert-field-error-{{ name }}">
              {% if label %}
                <span class="c-error-summary__field-name">{{ label }}</span>
              {% endif %}
              <a href="#group-field-{{ name }}" class="c-error-summary__error-text">{{ message }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
