{##
 # Render input field (form-control)
 # @param {object} props - An object containing field properties
 # @param {string} props.name - Field name
 # @param {string} props.fieldId - Field id
 # @param {string} [props.type] - Field type
 # @param {string} [props.class] - Field class name
 # @param {string} [props.value] - Initial value to set
 # @param {string} [props.placeholder] - Field placeholder
 # @param {string, array} [props.modifier] - form-control modifier
 # @param {string} [props.error] - Mark form-control with error
 # @param {object} [props.data] - data attributes to add to control
 #}
{% macro Input(props) %}
  <input
    name="{{ props.name }}"
    type="{{ props.type if props.type else 'text' }}"
    id="{{ props.fieldId }}"
    {% if props.placeholder %}placeholder="{{ props.placeholder }}"{% endif %}
    value="{{ props.value }}"
    class="{{ 'c-form-control' | applyClassModifiers(props.modifier) }} {{ 'has-error' if props.error }} {{ props.class }}"
    {% if props.autofocus %}autofocus{% endif %}
    {% if props.hint %}aria-describedby="hint-{{ props.fieldId }}"{% endif %}
    {% for key, value in props.data %}
      data-{{ key }}="{{ value | escape }}"
    {% endfor %}
  >
{% endmacro %}
