{% macro Search(props) %}
  <Search
    entity="{{ props.entity }}"
    name="{{ props.name }}"
    label="{{ props.label }}"
    placeholder="{{props.placeholder}}"
    teamdata="{{ props.options | dump }}"
    value="{{ props.selectedOptions | dump }}"
  ></Search>
{% endmacro %}
