{% macro SmartMultipleChoice(props) %}
  <smart-multiple-choice
    entity="{{ props.entity }}"
    name="{{ props.name }}"
    label="{{ props.label }}"
    value="{{ props.value }}"
  ></smart-multiple-choice>
{% endmacro %}
