@import '../environment/settings/colours';
@import '../environment/tools/mixins/layout';

.notification-banner {
  background-color: $light-blue-25;
}

.notification-banner--js-hidden {
  .js-enabled & {
    display: none;
  }
}

.notification-banner__inner {
  @include site-width-container;
  padding: ($baseline-grid-unit * 2) 0;
}
