{% extends "_layouts/datahub-base.njk" %}

{% block local_header %}
  {{ LocalHeader({ heading: 'Sign in' }) }}
{% endblock %}

{% block body_main_content %}
  {{ Form(signInForm | assign({ class: 'qa-sign-in-form' })) }}
{% endblock %}
