{% extends "layouts/ukti-search-header.html" %}
{% import "macros/trade.html" as trade %}

{% block main %}
{{ formData | log | safe }}
  {% if query.contactId %}
    {% set backUrl="/contact-interactions/" + query.contactId %}
    <a class="back-link" href="{{backUrl}}">Back to contact interactions</a>
  {% elseif query.companyId %}
    {% set backUrl="/company-interactions/" + query.companyId %}
    <a class="back-link" href="{{backUrl}}">Back to company interactions</a>
  {% endif %}

  <h1 class="heading-xlarge">Add new interaction</h2>
  {{ trade.errorPanel( errors, labels=labels ) }}
  <form method="POST">
    <input type="hidden" name="interaction_type" value="{{formData.interaction_type}}"/>
    <input type="hidden" name="company" value="{{formData.company}}"/>
    <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
    {% if formData.id %}
      <input type="hidden" name="id" value="{{formData.id}}"/>
    {% endif %}

    <div class='form-group' id="company-wrapper">
      <div class='form-label-bold'>Company</div>
      <strong>{{ company.name }}</strong>
    </div>

    <div class='form-group'>
      <div class='form-label-bold'>Interaction type</div>
      <strong>{{ interaction_type.name }}</strong>
    </div>

    {{ trade.textbox("subject",
      label=labels.subject,
      value=formData.subject,
      error=errors.subject)
    }}

    {{ trade.textarea("notes",
      label=labels.notes,
      value=formData.notes,
      error=errors.notes
    ) }}

    {{ trade.autocomplete("contact",
      label=labels.contact,
      emptyLabel="Pick a contact",
      hint="Please start typing to search for a contact",
      value=formData.contact,
      error=errors.contact,
      options=contacts)
    }}

    {{ trade.date('date', label=labels.date, value=formData.date ) }}

    {{ trade.autocomplete('dit_advisor',
      label=labels.dit_advisor,
      value=formData.dit_advisor,
      displayvalue=dit_advisor.name,
      hint="Please start typing to search for an adviser",
      error=errors.dit_advisor,
      autofocus=false,
      url='/api/accountmanagerlookup?term=')
    }}

    {{ trade.autocomplete("service",
      label="Service offer",
      emptyLabel="Pick a service",
      hint="Please start typing to search for a service",
      value=formData.service,
      error=errors.service,
      options=serviceOfferOptions)
    }}

    {{ trade.autocomplete("dit_team",
      label="Service provider",
      emptyLabel="Pick a provider",
      hint="Please start typing to search for a provider",
      value=formData.dit_team,
      error=errors.dit_team,
      options=serviceProviderOptions)
    }}


    {{ trade.save(backUrl) }}
  </form>
{% endblock %}
