{% extends "_layouts/datahub-base.njk" %}

{% block body_main_header_content %}
  <h1 class="heading-xlarge">Report a problem or leave feedback</h1>
{% endblock %}

{% block body_main_content %}
  {{ errorPanel(errors) }}

  {% if messages.success.length %}
    <div class="flash-message success-message">
      <p class="flash-message-content">
        {% for message in messages.success %}
          {{ message }}<br>
        {% endfor %}
      </p>
    </div>
  {% endif %}

  {{ errorPanel( messages.formErrors ) }}

  <form action="{{ action }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ textbox('title', label="Title", hint="A brief summary of your feedback/problem", error=errors.title, autofocus=true, value=data.title) }}
    {{ textarea('description', label="Description", hint="If you were having a problem, explain what you did, what happened and what you expected to happen. If you want to provide feedback or a suggestion, describe it here.", error=errors.steps, autofocus=true, value=data.steps) }}
    {{ textbox('email', label="Email", hint="If you wish to be contacted, please provide your email address",error=errors.name, autofocus=true, value=data.name) }}
    {{ textbox('browser', label="Web browser", hint="The name of the web browser and version you were using", error=errors.browser, autofocus=true, value=data.browser) }}

    <div id="type-wrapper" class="inline form-group {% if errors.type %}error{% endif %}">
      <fieldset>
        <legend>
          <span class="form-label-bold">Problem or feedback?</span>
          {% if errors.type %}<span class="error-message">{{ errors.type }}</span>{% endif %}
        </legend>
        <label class="block-label selection-button-radio" for="bug">
          <input
            id="bug"
            type="radio"
            name="type"
            value="bug"
          >
          Problem
        </label>
        <label class="block-label selection-button-radio" for="feedback">
          <input
            id="feedback"
            type="radio"
            name="type"
            value="feedback"
          >
          Feedback
        </label>
      </fieldset>
    </div>

    {{ save(backUrl=referer, buttonText='Send') }}
  </form>
{% endblock %}
