{% extends "_layouts/datahub-base.njk" %}

{% block body_main_header_content %}
  <h1 class="heading-xlarge">Thank you</h1>
{% endblock %}

{% block body_main_content %}
  {% set br = joiner('<br>') %}

  {% if messages.error.length %}
    <div class="flash-message error-message">
      <p class="flash-message-content">
        {% for message in messages.error %}
            {{ br() | safe }}{{ message }}
        {% endfor %}
      </p>
    </div>
  {% endif %}

  {% if messages.success.length %}
    <div class="flash-message success-message">
      <p class="flash-message-content">
        {% for message in messages.success %}
            {{ br() | safe }}{{ message }}
        {% endfor %}
      </p>
    </div>
  {% endif %}
{% endblock %}



