{##
 # Family: Control
 #
 # @param {string}       variant  Type of choice (radio|checkbox)
 # @param {string}       label    Label for the form elements
 # @param {string}       name     Name for the form group
 # @param {array}        children List of options to display
 #
 # @param {string}       [hint]     Hint text for the field
 # @param {bool}         [inline]   Whether to display the choices inline
 # @param {string|array} [value]    The current value. Used to determine whether to precheck a field
 # @param {string}       [error]    Whether to display an error on the field
 # @param {bool}         [optional] Whether the field is optional or not
 #
 # @return {string} HTML for multiple choice options
 #
 # @example
 #   {% component 'form-multiple-choice', {
 #     type:  'radio',
 #     label: 'Which option is your favourite?',
 #     name:  'favourites',
 #     children: [{
 #       label: 'Option 1',
 #       value: 'one'
 #     }, {
 #       label: 'Option 2',
 #       value: 'two'
 #     }]
 #   } %}
 #}

{% set hintId  = 'hint-' + name %}
{% set variant = variant | default('radio') %}
{% set value   = '' if value == null else value | string %}

<fieldset class="form-group{{ ' inline' if inline }}{{ ' error' if error }}">
  <legend class="form-label-bold" id="group-{{ name }}">
    {{ label }} {% if optional %}(optional){% endif %}
    {% if hint %}
      <span class="form-hint" id="{{ hintId }}">{{ hint }}</span>
    {% endif %}
  </legend>

  {% for option in children %}
    {% set inputValue = option.value if 'value' in option else option.label %}
    {% set inputId = ['input', name, loop.index] | join('--') %}

    {% if variant == 'checkbox' %}
      {% set isSelected = (inputValue in value) %}
    {% else %}
      {% set isSelected = (inputValue == value) %}
    {% endif %}

    <label
      for="{{ inputId }}"
      class="block-label selection-button-{{ variant }}{{ ' selected' if isSelected }}"
    >
      {{ option.label }}
      <input
        type="{{ variant }}"
        name="{{ name }}"
        id="{{ inputId }}"
        value="{{ inputValue }}"
        {% if isSelected %}
          checked="checked"
        {% endif %}
        {% if hint %}
          aria-describedby="{{ hintId }}"
        {% endif %}
      >
    </label>
  {% endfor %}
</fieldset>
