{##
 # @param {string} projectCode Project code
 #
 # @param {string} [stageName] Name of project stage
 # @param {string} [valuation] Valuation status
 #
 # @return {string} HTML for project status
 #
 # @example
 #   {% component 'investment-status', {
 #     projectCode: 'DHP-0000001
 #     stageName: 'Prospect'
 #   } %}
 #}

{% if projectCode %}
  <div class="status-bar grid-row">
    <dl class="status-bar__section column-one-quarter">
      <dt>Project code</dt>
      <dd class="status-bar__section-title">
        {{ projectCode }}
      </dd>
    </dl>
    {% if stageName or valuation %}
      <dl class="status-bar__section column-one-quarter">
        {% if stageName %}
          <dt>Stage</dt>
          <dd class="status-bar__section-title">
            {{ stageName }} stage
          </dd>
        {% endif %}
        {% if valuation %}
          <dt>Valuation</dt>
          <dd>
            {{ valuation }}
          </dd>
        {% endif %}
      </dl>
    {% endif %}
  </div>
{% endif %}
