{% from "details/macro.njk" import govukDetails %}

{##
 # @param {object} items An object of items with label as key
 #
 # @param {string} [variant] A table
 #
 # @return {string} HTML for key/value table
 #
 # @example
 #   {% component 'key-value-table', variant='striped', items={
 #     'Key #1: '80%',
 #     'Key #2: '20%'
 #   } %}
 #}

{% macro link(data) %}
  <a href="{{ data.url }}"
    {% if data.hintId %} aria-labelledby="{{ data.hintId }}"{% endif %}
    {% if data.newWindow %} target="_blank"{% endif %}
    {% if data.test %} data-test="{{ data.test }}"{% endif %}
    >
    {{- data.name -}}
  </a>
  {% if data.hint %}
    <span {% if data.hintId %}id="{{ data.hintId }}"{% endif %}>
      {{- data.hint -}}
    </span>
  {% endif  %}
{% endmacro %}

{% macro paragraph(data) %}
  <p>
    {% for item in data.value %}
      {{ renderItem(item.value) }}
    {% endfor %}
  </p>
{% endmacro %}

{% macro details(data) %}
  <div class="table__details">
    <span class="table__details-name">{{ data.name }}</span>
    <div class="table__details-content">
      {{ govukDetails({
        classes: 'govuk-details--table-cell',
        summaryText: data.details.summaryText,
        text: data.details.text
      }) }}
    </div>
  </div>
{% endmacro %}

{% macro error(data) %}
  <span class="c-message--error">{{ data.name }}</span>
{% endmacro %}

{% macro renderItem(data) %}
  {% if data.url %}
    {{ link(data) }}
  {% elif data.type === 'currency' %}
    {{ data.name | formatCurrency }}
  {% elif data.type === 'date' %}
    {{ data.name | formatDate }}
  {% elif data.type === 'number' %}
    {{ data.name | formatNumber }}
  {% elif data.type === 'details' %}
    {{ details(data) }}
  {% elif data.type === 'address' %}
    {{ data.address | formatAddress }}
  {% elif data.type === 'error' %}
    {{ error(data) }}
  {% elif data.type === 'paragraph' %}
    {{ paragraph(data) }}
  {% else %}
    {{ data.name or data | escapeHtml | safe }}
  {% endif %}
{% endmacro %}

{% if items | length %}
  <table class="table--key-value{{ ' table--' + variant if variant }}"
    {% if dataAutoId %}
      data-auto-id="{{ dataAutoId }}"
    {% endif %}
  >
    <tbody>
      {% for label, data in items %}
        <tr>
          <th>{{ label }}</th>
          <td>
            {% if data | isArray %}
              <ul>
                {% for item in data %}
                  <li>{{ renderItem(item) }}</li>
                {% endfor %}
              </ul>
            {% else %}
              {{ renderItem(data) }}
            {% endif %}

            {% if data.actions %}
              <span class="table__actions">
                {% for item in data.actions %}
                  <a class="table__action" href="{{ item.url }}">{{ item.label }}</a>
                {% endfor %}
              </span>
            {% endif %}

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
