{##
 # @param {object} items An object of items with label as key
 #
 # @param {string} [variant] A table
 #
 # @return {string} HTML for key/value table
 #
 # @example
 #   {% component 'key-value-table', variant='striped', items={
 #     'Key #1: '80%',
 #     'Key #2: '20%'
 #   } %}
 #}

{% macro link(url, name, newWindow, hintId, hint) %}
  <a href="{{ url }}"
    {% if hintId %} aria-labelledby="{{ hintId }}"{% endif %}
    {% if newWindow %} target="_blank"{% endif %}
    >
    {{- name -}}
  </a>
  {% if hint %}
    <span {% if hintId %}id="{{ hintId }}"{% endif %}>
      {{- hint -}}
    </span>
  {% endif  %}
{% endmacro %}

{% if items|length %}
  <table class="table--key-value{{ ' table--' + variant if variant }}">
    <tbody>
      {% for label, data in items %}
        {% set id = data.id %}
        <tr>
          <th>{{ label }}</th>
          <td>
            {% if data | isArray %}
              <ul>
               {% for item in data | removeNilAndEmpty %}
                 {% if item.type == 'document' %}
                  <li>
                     {% if item.status == 'av_clean' %}
                       <a href="{{ item.href }}">{{ item.message }}</a>
                     {% elif item.status == 'scan_failed' %}
                       <span class="c-message--error">{{ item.message }}</span>
                     {% else %}
                       {{ item.message }}
                     {% endif %}
                  </li>
                 {% else %}
                   {% if item.url %}
                     <li>{{ link(item.url, item.name, item.newWindow, item.hintId, item.hint) }}</li>
                   {% else %}
                     <li>{{ item }}</li>
                   {% endif %}
                 {% endif %}
               {% endfor %}
              </ul>
            {% elif data | isPlainObject %}
              {% if data.url %}
                {{ link(data.url, data.name, data.newWindow, data.hintId, data.hint) }}
              {% elif data.type == "date" %}
                {{ data.name | formatDate }}
              {% elif data.type == "currency" %}
                {{ data.name | formatCurrency }}
              {% else %}
                {{ data.name }}
              {% endif %}
            {% else %}
              {{ data }}
            {% endif %}

            {% if data.actions %}
              <span class="table__actions">
                {% for item in data.actions %}
                  <a class="table__action" href="{{ item.url }}">{{ item.label }}</a>
                {% endfor %}
              </span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
