{##
 # @param {object} messages - An object containing types as a key and a list
 #                             of messages as an array
 #
 # @return {string} HTML for messages
 #
 # @example
 #   {% component 'messages', {
 #     messages: {
 #       error: ['Error message'],
 #       info: ['An info message']
 #     }
 #   } %}
 #}

{% if messages|length %}
  <ul class="c-messages js-Messages" tabindex="-1" role="alert">
    {% for type, typeMessages in messages %}
      {% for message in typeMessages %}
        <li class="c-messages__item{{ ' c-messages__item--' + type if type }}">
          {{ message }}
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
