{##
 # @param {string}    id         The react slot element ID to mount the component to
 # @param {string[]}  classes    Classes for the wrapping div
 #
 # @example
 # {% component 'react-slot', {
 #    id: 'react-mount-my-companies',
 #    classes: 'gov-uk-column-one-third',
      model: data
 #  } %}
 #
##}
<div id="{{id}}" class="{{classes}}" data-model="{{ model }}">
  <noscript> Please enable Javascript in your browser to view this section. <noscript>
</div>
