{##
 # @param {array} searchEntityResults Search entity aggregations array
 # @param {string} searchType Search type used for result link creation
 # @param {string} searchTerm Search term used for result link creation
 #
 # @return {string} HTML for search bar
 #
 # @example
 #  {% component 'search-nav', {
 #    searchEntityResults: [{count:1, text:"Companies", entity:"company"}],
 #    searchType: "company",
 #    searchTerm: "example search term"
 #  } %}
 #}

{% if searchEntityResults | length %}
  <ul class="search-nav">
    {% for searchEntityResult in searchEntityResults %}
      {% set isCurrentPage = searchEntityResult.entity === searchType %}

      <li class="search-nav__item{{ ' search-nav__item--selected' if isCurrentPage }}">
        {% if isCurrentPage %}
          {{ searchEntityResult.text }}
        {% else %}
          <a href="/search/{{ searchEntityResult.entity }}?term={{ searchTerm }}">
            {{ searchEntityResult.text }}
          </a>
        {% endif %}
        <span class="search-nav__item-count">({{ searchEntityResult.count | formatNumber }})</span>
      </li>
    {% endfor %}
  </ul>
{% endif %}
