@import "../../settings/colours";
@import "../../tools/mixins/layout";
@import "../../tools/mixins/typography";

.global-header {
  background-color: $black;
  color: $white;
}

.global-header__inner {
  @include clearfix;
  @include site-width-container;
  padding: ($baseline-grid-unit * 3) 0;
}

.global-header__site-title {
  word-spacing: -4px;

  @include media(tablet) {
    float: left;
  }

  .phase-badge {
    margin-top: 5px;
  }
}

.global-header__logo {
  border-bottom: 1px solid transparent;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0 $default-spacing-unit 0 0;

  &:hover,
  &:visited,
  &:focus {
    color: inherit;
    background-color: transparent;
  }

  &:hover {
    border-color: inherit;
  }
}

.global-header__site-name {
  @include bold-font(36);
  letter-spacing: 1px;
  line-height: .9;

  @include media(tablet) {
    line-height: .9;
    font-size: 30px;
  }
}

.global-header__service-name {
  @include core-font(24);
  color: inherit;
  line-height: .9;
  margin-left: $baseline-grid-unit * 2;

  @include media(tablet) {
    line-height: .9;
  }
}
