@import "../../settings";

.main-content {
  position: relative;
  z-index: 1;
  background-color: $white;
  min-height: 60vh;
  flex-grow: 1;
}

.main-content__header {
  background-color: $grey-4;
}

.main-content__header--dark {
  background-color: $grey-3;
}

.main-content__inner {
  padding-top: $default-spacing-unit * 2;
  padding-bottom: $default-spacing-unit * 4;
}
