@import "../../settings";

.main-content {
  background-color: $white;
  min-height: 60vh;
  flex-grow: 1;
}

.main-content__inner {
  padding-top: $default-spacing-unit * 2;
  padding-bottom: $default-spacing-unit * 4;
}
