{
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
    "proxyquire": true,
    "sinon": true,
    "rootPath": true,
    "globalReq": true,
    "globalRes": true
  },
  "rules": {
    "no-unused-expressions": 0
  }
}
