{% extends "layouts/ukti.njk" %}

{% import "macros/trade.html" as trade %}

{% block main %}
  {% block heading %}
    <h1 class="visually-hidden">Investment details</h1>
    <h2 class="page-heading">
      {{ project.name }}
    </h2>
  {% endblock %}

  {% block projectStatus %}
    {% component 'project-status', project %}
  {% endblock %}

  <div class="grid-row">
    {% block localNav %}
      <nav class="local-nav column-one-quarter">
        {% for item in localNavItems %}
          <a href="/investment/{{project.id}}/{{ item.slug }}" class="local-nav__link{% if currentNavItem == item.slug %} is-active{% endif %}">
            {{ item.label }}
          </a>
        {% endfor %}
      </nav>
    {% endblock %}

    {% block mainContent %}
    {% endblock %}
  </div>

  <script src="/javascripts/investment.bundle.js"></script>
{% endblock %}
