{% extends "_base.njk" %}

{% block body_main_content %}
  {% block heading %}
    <h1 class="visually-hidden">Investment details</h1>
    <h2 class="page-heading">{{ projectMeta.name }}</h2>
  {% endblock %}

  {% block projectStatus %}
    {% component 'project-status', projectMeta %}
  {% endblock %}

  <div class="grid-row">
    {% block localNav %}
      <nav class="local-nav column-one-quarter">
        {% for item in localNavItems %}
          <a
            href="/investment/{{ projectMeta.id }}/{{ item.slug }}"
            class="local-nav__link{% if currentNavItem == item.slug %} is-active{% endif %}"
          >
            {{ item.label }}
          </a>
        {% endfor %}
      </nav>
    {% endblock %}

    <article class="column-three-quarters">
      {% block mainContent %}{% endblock %}
    </article>
  </div>
{% endblock %}

{% block body %}
  {{ super() }}
  <script src="/javascripts/investment.bundle.js"></script>
{% endblock %}
