{% extends "layouts/ukti.html" %}

{% block main %}

  {% import "macros/trade.html" as trade %}
  {% import "./investment_macros.html" as local %}

  <div class="column-three-quarters">
    <h1 class="page-heading">Create an investment project</h1>

    {% if messages.info.length %}
      {% for message in messages.info %}
        <p class="infostrip">{{message}}</p>
      {% endfor %}
    {% endif %}

    {{ trade.errorPanel( errors ) }}

    <h2 class="heading-medium">Source of foreign equity investment</h2>
    {{ trade.keyvaluetable(
    investmentDisplay,
    stripey=true,
    labels=investmentBriefDetails,
    keyorder=investmentDetailsDisplayOrder,
    id="investment-details")
    }}


    {#<form action="/investment/{{ id }}/create" method="post">#}
    <h2 class="heading-medium"></h2>

    <input type="hidden" name="company" value="{{ id }}">

    {{ trade.dropdown("client_contact",
    label="Client contact for this project",
    emptyLabel=" ",
    value='',
    error='',
    options=lcontacts,
    class="select-autocomplete-js")
    }}

    {{ local.inlineradio("amcrm", "client-rel-reveal", "client-rev-reveal", label='Are you the Client Relationship Manager for this project?') }}

    {#{{ trade.textbox("client_relationship_manager", label="Client Relationship Manager", class="hidden panel", id="client_relationship_manager") }}#}

    {{ trade.dropdown("client_relationship_manager",
    label="Client Relationship Manager",
    emptyLabel=" ",
    value='',
    error='',
    options=ladvisors,
    class="hidden panel select-autocomplete-js")
    }}

    {{ local.inlineradio("amreferralsource", "referral-src-reveal", "referral-src-reveal", label='Are you the Referral Source for this project?') }}

    {{ trade.dropdown("referral_source_manager",
    label="Referral Source Manager",
    emptyLabel=" ",
    value='',
    error='',
    options=ladvisors,
    class="hidden panel select-autocomplete-js")
    }}

    {{ trade.dropdown("referral_source_main", label="Project referral source activity", emptyLabel="Pick a value", options=topLevelReferralSource) }}

    {{ trade.dropdown("referral_source_sub", label="Project referral source activity",  class="panel hidden", emptyLabel="Pick a value", options=topLevelReferralSource) }}

    {{ trade.textbox("eventbox", label="Event", class="hidden panel", id="eventbox") }}


    <fieldset id="inv-fdi-type" name="fdis">
      <legend class="form-label-bold">Type of investment</legend>

      <label class="block-label selection-button-radio" for="fdi">
        <input type="radio" id="radio-fdi" name="fdi" value="Yes">FDI
      </label>

      {{ trade.dropdown("fdi_type", label="Type of foreign direct investment (FDI)", class="panel hidden", emptyLabel="Pick a value", options=fdi) }}

      <label class="block-label selection-button-radio" for="nonfdi">
        <input type="radio" id="radio-nonfdi" name="nonfdi" value="Yes">non-FDI
      </label>

      {{ trade.dropdown("nonfdi_type", label="Non-FDI programme options", class="panel hidden", emptyLabel="Pick a value", options=nonfdi) }}

      <label class="block-label selection-button-radio" for="commitment_to_invest">
        <input type="radio" id="radio-commitment" name="commitment_to_invest" value="Yes">Commitment to Invest
      </label>

    </fieldset>

    {{ trade.dropdown("sector", label="Primary sector", emptyLabel="Pick a value", options=sectors) }}

    {{ trade.dropdown("subsector", label="Sub sector", emptyLabel="Pick a value", options=sectors, class="panel hidden") }}

    {{ trade.dropdown("business_activity", label="Business activity of this investment project", emptyLabel="Pick a value", options=businessActivities) }}

    <div class="clickable" id="inv-add-business-activity">Add another business activity</div>

    {{ trade.textbox("addbusiness", label="Business Activity", class="hidden panel", id="inv-add-activity-textbox") }}

    <div class="form-group readonly afterfloat" id="inv-project-wrapper">
      <label class="form-label-bold" for="invprojname">
        Project name
      </label>
      {{  investmentDisplay.company_name }} <input id="invprojname" class="form-control" name="invprojname" type="text">
    </div>


    {{ trade.textarea("project_description", label="Project description", hint="", value="", id="inv-desc") }}

    {{ local.inlineradio("ndasigned", "inv-nda-signed", "noformgroup", label='Have we signed a Non-Disclosure Agreement (NDA) with the client?') }}


    <div id="invsubnda" class="panel hybridformgroup">
      {{ local.inlineradio("inv-nda-unsigned", class="hidden", label='Can this project be shared with our local UK partners?') }}
      {{ trade.textarea("anonymous_description", label="Anonymous description to be shared with partners", hint="Do not include and company names or contact details", value="", id="canshare-text", class="panel hidden noformgroup") }}
      {{ trade.textarea("maynotshare", label="Please decribe why this project may not be shared with partners", hint="", value="", id="cannotshare-text", class="panel hidden noformgroup") }}

    </div>

    <h3 class="heading-small">Estimated Land Date</h3>
    <p>When activities planned under the investment project will have fully commenced.</p>
    <div id="mmyyyyycontrol" class="inv-month-year-date-control">
      <div class="inv-month">
        MM<br>
        <input type="text" id="land_month" size="2" class="form-control">
      </div>
      <div class="inv-year">
        YYYY<br><input type="text" id="land_year" size="4" class="form-control">
      </div>

      <div class='save-bar afterfloat'>
        <button class='button button--save' type='submit' id="isforeigncontinue" onclick="window.location.href='https://marvelapp.com/1dc2cgc/screen/24721102'">Save and create</button>

        {#<button class='button button--save' type='submit' id="isforeigncontinue">Save and create</button>#}
        <a class='button-link button--cancel js-button-cancel' href='#' id='isforeigncancel'>Cancel</a>
      </div>
    </div>
    {#</form>#}
  </div>

  <script src="/javascripts/common.js"></script>
  <script src="/javascripts/createinvestment.bundle.js"></script>


{% endblock %}
