{% extends "investment/_layout.njk" %}

{% macro renderButton(endpoint, label, isSecondary) %}
  <p>
    <a href="/investment/{{ investmentProject.meta.id }}/edit-{{ endpoint }}" class="button{{ '-secondary' if isSecondary }}">
      {{ label }}
    </a>
  </p>
{% endmacro %}

{% block main_grid_right_column %}
  <h2 class="heading-medium">Investment project summary</h2>
  {% component 'key-value-table', items=investmentProject.details|removeNilAndEmpty, variant='striped' %}
  {{ renderButton('details', 'Edit summary', true) }}

  <h2 class="heading-medium">Value</h2>
  {% if investmentProject.value | removeNilAndEmpty | length %}
    {% component 'key-value-table', items=investmentProject.value, variant='striped' %}
    {{ renderButton('value', 'Edit value', true) }}
  {% else %}
    {{ renderButton('value', 'Add value') }}
  {% endif %}

  <h2 class="heading-medium">Requirements and location</h2>
  {% if investmentProject.requirements | removeNilAndEmpty | length %}
    {% component 'key-value-table', items=investmentProject.requirements, variant='striped' %}
    {{ renderButton('requirements', 'Edit requirements', true) }}
  {% else %}
    {{ renderButton('requirements', 'Add requirements') }}
  {% endif %}

  <h2 class="heading-medium">Referral source</h2>
  {% component 'key-value-table', {
    items: {
      'Activity': null,
      'Event': null,
      'Adviser': null
    },
    variant: 'striped'
  } %}
{% endblock %}
