{% extends "layouts/ukti.html" %}

{% block main %}
<!-- investment/index -->
{% import "macros/trade.html" as trade %}

{% import "./investment_macros.html" as local %}


<h1 class="page-heading">Create an investment project</h1>

<h2 class="heading-medium">Client summary</h2>

{{ trade.keyvaluetable(
investmentDisplay,
stripey=true,
labels=investmentBriefDetails,
keyorder=investmentDetailsDisplayOrder,
id="investment-details")
}}

{%  if foreign %}




  <div id="foreignradiocontainer" class="{% if not foreign %}hidden{% endif %}">


    {{ local.inlineradio("isforeign", "isforeign", "", label='Will this company be the source of foreign equity investment?') }}


    <div class='save-bar'>
      <button class='button button--save' type='submit' id="isforeigncontinue">Continue</button>
      <a class='button-link button--cancel js-button-cancel' href='#' id='isforeigncancel'>Cancel</a>
    </div>
  </div>
{%  endif %}
<div id="sbcontainer" class="{%  if foreign %}hidden{% endif %}">
<h1 class="heading-small">Source of foreign investment</h1>
<form class="searchbar tightertopmargin" action="/search" method="get" role="search">
  <div class="searchbar__wrapper">
    <input class="searchbar__input form-control" id="inv-search" type="search" name="term" value="" placeholder="Search for company name or contact">
    <input class="searchbar__submit" type="submit" value="Search">
  </div>
</form>
</div>
<div id="inv-results" class="invresults hidden"></div>

  <p class="infostrip hidden" id="new_co_nagger">If you can’t find the company you’re looking for, <a href="/company/add-step-1/">create a new company</a>. Unfortunately you will lose your progress.</p>

  <script src="/javascripts/investment.bundle.js"></script>

{% endblock %}}
