{% extends "investment/_layout.njk" %}
{% import "macros/trade.html" as trade %}

{% block main_heading %}
  <h1 class="page-heading">Add new investment project</h1>
{% endblock %}

{% block main_grid_left_column %}{% endblock %}

{% block main_grid_right_column %}
  {% if clientCompany %}
    <h2 class="heading-medium">Client company</h2>

    <table class="table--key-value">
      <tbody>
        <tr>
          <td>{{ clientCompany.name }}</td>
        </tr>
        <tr>
          <td>{{ clientCompany.registered_address_country.name }}</td>
        </tr>
        <tr>
          <td>{{ clientCompanyInvestments.count|default('No', true) }} investment project{{ 's' if clientCompanyInvestments.count != 1 }} in the UK</td>
        </tr>
        {% if clientCompany.classification %}
          <tr>
            <td>{{ clientCompany.classification.name }}</td>
          </tr>
        {% endif %}
        {% if clientCompany.one_list_account_owner %}
          <tr>
            <td>
              Relationship manager: {{ clientCompany.one_list_account_owner.first_name }} {{ clientCompany.one_list_account_owner.last_name }}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  {% endif %}

  {% if showSearch or searchTerm %}

    <h2 class="heading-medium">Find the source of foreign equity investment</h2>

    <form class="searchbar" action="" method="get" role="search">
      <input type="hidden" name="client-company" value="{{ clientCompany.id }}">

      <div class="form-group">
        <label class="form-label-bold" for="search-q">Search for company name</label>

        <div class="searchbar__wrapper">
          <input class="searchbar__input form-control" id="search-q" type="search" name="q" value="{{ searchTerm }}" placeholder="Search for company name">
          <input class="searchbar__submit" type="submit" value="Search">
        </div>
      </div>
    </form>

    {% if searchResult %}

      {% component 'results-summary', {
        resultType: 'company',
        pluralisedResultType: 'companies',
        total: searchResult.count,
        searchTerm: searchTerm
      } %}

      {% if searchResult.count > 0 %}
        <ol class="results-list results-list--block">
          {% for result in searchResult.results %}
            <li class="search-result">
              <a href="/investment/create?equity-company={{ result.id }}" class="search-result__link">
                <h3 class="search-result__title">{{ result.name | highlight(searchTerm) }}</h3>

                <dl class="metadata-list">
                  <dt class="metadata-list__term">Registered address</dt>
                  <dd class="metadata-list__value metadata-list__value--block">
                    {% set comma = joiner() %}
                    {% for part in [result.registered_address_1, result.registered_address_2, result.registered_address_town, result.registered_address_postcode] -%}
                      {% if part -%}
                        {%- set address = part -%}

                        {{ comma() }}
                        {% if loop.last -%}
                          {{ address | upper }}
                        {% else -%}
                          {{ address | capitalize }}
                        {%- endif %}
                      {%- endif %}
                    {%- endfor %}
                  </dd>
                  <dt class="metadata-list__term">Registered country</dt>
                  <dd class="metadata-list__value">{{ result.registered_address_country.name }}</dd>
                  {% if result.investments %}
                    <dt class="metadata-list__term">Investments in the UK</dt>
                    <dd class="metadata-list__value">{{ result.investments.count|default('No', true) }} investment project{{ 's' if result.investments.count != 1 }}</dd>
                  {% endif %}
                  {% if result.classification %}
                    <dt class="metadata-list__term">Classification</dt>
                    <dd class="metadata-list__value">tier one{{ result.classification }}</dd>
                  {% endif %}
                  {% if result.one_list_account_owner %}
                    <dt class="metadata-list__term metadata-list__term--visible">Relationship manager</dt>
                    <dd class="metadata-list__value">bob something{{ result.one_list_account_owner.first_name }} {{ result.one_list_account_owner.last_name }}</dd>
                  {% endif %}
                </dl>
              </a>
            </li>
          {% endfor %}
        </ol>
      {% endif %}

      {% component 'pagination', {
        pages: pagination
      } %}

      <p class="infostrip">If you can’t find the company you’re looking for, <a href="/company/add-step-1">add a new compay</a>. Unfortunately you will lose your progress.</p>
    {% endif %}

  {% elseif clientCompany %}

    <form class="section archive-panel__form" method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input type="hidden" name="client-company" value="{{ clientCompany.id }}">

      <fieldset id="client-equity-source-options" class="form-group inline {% if errors.isEquitySource %}error{% endif %}">
        <legend class="form-label-bold">
          Will this company be the source of foreign equity investment?
          {% if errors.isEquitySource %}
            <span class="error-message">{{ errors.isEquitySource }}</span>
          {% endif %}
        </legend>

        <label class="block-label selection-button-radio" for="equity-source-yes">
          <input id="equity-source-yes" type="radio" name="is-equity-source" value="true">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="equity-source-no">
          <input id="equity-source-no" type="radio" name="is-equity-source" value="false">
          No
        </label>
      </fieldset>

      {{ trade.save(buttonText="Continue") }}
    </form>

  {% else %}

    <p class="flash flash--info">
      Client company is required
    </p>

  {% endif %}

{% endblock %}
