{% extends "layouts/ukti_template.html" %}

{% set homepage_url = "/" %}
{% block service_name %}Datahub{% endblock %}

{% block head_styles %}
<!-- This is a test -->
<link href="{{ asset_path | default('/') }}css/application.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block head_script %}
 {% if user %}
    <script>
      if (!window.DIT) window.DIT = {};
      window.DIT.user = {{ user | stringify | safe }};
    </script>
  {% endif %}
    <script src="{{ asset_path }}javascripts/common.js?{{ startTime }}"></script>
{% endblock %}

{% block content %}
  {% if user and user.name %}
    <div class="login-bar">
      <div class="login-links login-links-left">
        <a href="/">Home</a>
      </div>
      <div class="login-links login-links-right">
        <span class="user-name">{{ user.name }}:</span><a href="/myaccount">My account</a>
        |
        <a href="/login/signout">Sign out</a>
      </div>
    </div>
  {% endif %}
  <div class="container">
    {% block main %}{% endblock %}
  </div>
{% endblock %}
