{% extends "layouts/ukti_template.html" %}

{% set homepage_url = "/" %}
{% block service_name %}Data Hub{% endblock %}

{% block head_styles %}
<link href="{{ asset_path | default('/') }}css/application.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block head_script %}
  {% include "_includes/google-tag-manager-snippet.njk" %}

  {% if user %}
    <script>
      if (!window.DIT) window.DIT = {};
      window.DIT.user = {{ user | stringify | safe }};
    </script>
  {% endif %}

  <script src="{{ asset_path }}javascripts/common.js?{{ startTime }}"></script>
{% endblock %}

{% block body_start %}
  {% include "_includes/google-tag-manager-no-script.njk" %}
{% endblock %}

{% block content %}
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="/support/bug">feedback</a> will help us to improve it.</span>
    </p>
  </div>
    <div class="login-bar">
      <div class="login-links login-links-left">
        <a href="/">Home</a>
      </div>
    {% if user and user.name %}
      <div class="login-links login-links-right">
        <span class="user-name">{{ user.name }}:</span><a href="/myaccount">My account</a>
        |
        <a href="/login/signout">Sign out</a>
      </div>
    {% endif %}
    </div>
  <div class="container">
    {% block main %}{% endblock %}
  </div>
{% endblock %}

{% block body_end_scripts %}
  <script src="{{ asset_path }}javascripts/app.bundle.js?{{ startTime }}"></script>
{% endblock %}
