<div>
  <div id="facets" class="facets hidden">
    <h3 class="heading heading-small filter-title">Filter by:</h3>

    {% for facet, options in result.facets %}
      {% if options.length > 1 %}
        <div class="govuk-option-select js-collapsible">
          <div class="option-select-label">
            {{ facet }}
            <span class="controls">
              <span class="clear-filter-button js-clear-filter">clear</span>
              <i class="collapse-filter fa fa-chevron-up js-collapse-filter"></i>
            </span>
          </div>

          <div class="options-container">
            <div class="js-auto-height-inner">
              {% for option in options %}
                <label class="facet-value-label">
                  {% if option.checked == true %}
                    <input
                      class="facet-option"
                      name="{{ option.name }}"
                      type="checkbox"
                      checked="true"
                      value="{{ option.value }}"
                    >
                  {% else %}
                    <input
                      class="facet-option"
                      name="{{ option.name }}"
                      type="checkbox"
                      value="{{ option.value }}"
                    >
                  {% endif %}
                  {{ option.label }}
                </label>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
&nbsp;</div>
