{% extends "layouts/_base-two-column.njk" %}
{% import "macros/trade.html" as trade %}

{% block main_heading %}
  {{ trade.searchbar('term', label="Search companies and contacts", value=result.term) }}
{% endblock %}

{% block main_grid_left_column %}
  <div class="filters">
    {% include "search/_facets.njk" %}
  </div>
{% endblock %}

{% block main_grid_right_column %}
  <div class="button-bar button-bar--top">
    <a
      class="button button-secondary"
      href="/company/add-step-1/">
      Add new company
    </a>
  </div>

  {% include "search/_results.njk" %}
{% endblock %}

{% block main_footer %}
  <div class="pagination">
    <div>
      {% for page in pagination %}
        {% if page.currentPage == true %}
          <div class="pagination__page">{{ page.label }}</div>
        {% else %}
          <a href="/search?{{ page.link }}" class="pagination__page">{{ page.label }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block body %}
  {{ super() }}
  <script src="{{ asset_path }}javascripts/search.bundle.js?{{ startTime }}"></script>
{% endblock %}
