{% from "companies/apps/investments/macros/navigation.njk" import subnavigation %}

{{ subnavigation(company, 'investment-projects') }}

{% block body_main_content %}
  {% component 'react-slot', {
    id: 'company-projects-collection',
    props: props
  } %}

{% endblock %}
