{% extends "../template.njk" %}

{% block main_grid_right_column %}

  {% call DetailsContainer({ heading: 'Client relationship management' }) %}
    {% component 'data-table', {
      columns: clientRelationshipManagementLabels.view,
      data: clientRelationshipManagementData
    } %}
    <a href="edit-client-relationship-management" class="govuk-button govuk-button--secondary">Change</a>
  {% endcall %}

  {% call DetailsContainer({ heading: 'Project management' }) %}
    {% if stage == 'Prospect' %}
      {{ Message({
        type: 'muted',
        text: 'Will be assigned during "Assign PM" stage.'
      }) }}
    {% elif projectManagementData %}
      {% component 'data-table', {
        columns: projectManagementLabels.view,
        data: projectManagementData
      } %}
      <p><a href="edit-project-management" class="govuk-button govuk-button--secondary">Change</a></p>
    {% else %}
      {{ Message({
        type: 'muted',
        text: 'Once both a Project Manager and a Project Assurance have been assigned, the project will move to "Active" stage.'
      }) }}
      <p><a href="edit-project-management" class="govuk-button">Assign</a></p>
    {% endif %}
  {% endcall %}

  {% call DetailsContainer({ heading: 'Project specialist and team members' }) %}
    {% component 'data-table', {
      columns: teamMembersLabels.view,
      data: teamMembersData
    } %}

    <a href="edit-team-members" class="govuk-button govuk-button--secondary">Change</a>
  {% endcall %}

  {% call DetailsContainer({ heading: 'Success verifier' }) %}
    {{ Message({
      type: 'muted',
      text: 'Will be assigned during "Verify win" stage.'
    }) }}
  {% endcall %}

{% endblock %}
