{% extends "../template.njk" %}

{% block main_grid_right_column %}
  <h2 
    class="govuk-heading-m"
    data-test="assign-team-members-header"
  >
    Assign project specialist and team members
  </h2>

  {% call Form(form) %}
    <div class="js-AddItems"
      data-item-selector=".c-form-fieldset"
      data-item-name="team member"
      data-can-remove-all
         data-add-button-type="typeahead"
    >
      <div>
        {% for teamMember in form.fields.teamMembers %}
          {% call Fieldset({ legend: 'Team member' }) %}
            {{ Typeahead({
              name: 'adviser',
              entity: 'adviser',
              placeholder: 'Search team member',
              multipleSelect: false,
              classes: 'c-form-group c-form-group--no-filter',
              label: form.labels.adviser,
              isLabelHidden: true,
              options: teamMember.options,
              value: teamMember.adviser,
              idSuffix: loop.index,
              initialOption: '-- Select an adviser --'
            }) }}

            {{ TextField({
              name: 'role',
              label: form.labels.role,
              value: teamMember.role,
              idSuffix: loop.index0,
              inputData: form.inputData,
              error: form.errors.messages['role-' + loop.index0]
            }) }}
          {% endcall %}
        {% endfor %}
      </div>
    </div>
  {% endcall %}
{% endblock %}
