@import "../settings/colours";
@import "../settings/layout";
@import "../tools/mixins/typography";

.list-unstyled,
.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline li {
  margin-right: 1em;
  display: inline-block;
}

.list-lined li {
  border-bottom: 1px solid $border-colour;
  padding: ($gutter / 2) ($gutter / 2) ($gutter / 2) 0;

  &:first-child {
    border-top: 1px solid $border-colour;
  }
}

.list-disc {
  list-style: disc outside;
  padding-left: 1em;
}

.list-spaced {
  * + & {
    margin-top: $default-spacing-unit * 2;
  }

  li + li {
    margin-top: $default-spacing-unit / 2;
  }
}

.list-links {
  &-item {
    margin: $default-spacing-unit * 2 0;
  }
}

.event-list {
  list-style: none;
  padding: 0;
}

.event-list__item {
  border: 2px solid $border-colour; // grey 3
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(3);
  position: relative;
  margin-left: govuk-spacing(6);

  dl {
    margin-bottom: 0;
  }

  .govuk-summary-list__row:last-of-type {
    .govuk-summary-list__key,
    .govuk-summary-list__value {
      border-bottom: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 36px;
    left: -35px;
    border: 5px solid $border-colour; // grey 3
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 10;
    background: $white;
    box-sizing: content-box;
  }

  &::after {
    content: "";
    border-left: 3px solid $border-colour;
    height: 120%;
    position: absolute;
    top: 36px;
    left: -26px;
  }

  &:last-of-type::after {
    border-color: $white;
  }
}

.event-list__item__heading {
  margin-top: 0;
  margin-bottom: govuk-spacing(3);
  color: $grey-1; // #6f777b
}

.event-list__item__heading__recede {
  @include _type-setting(-1, 400);
}

@media (min-width: 40.0625em) {
  .event-list__item .govuk-summary-list__key {
    width: 45%;
  }
}

