@import "../settings/colours";
@import "../settings/layout";

.list-unstyled,
.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline li {
  margin-right: 1em;
  display: inline-block;
}

.list-lined li {
  border-bottom: 1px solid $border-colour;
  padding: ($gutter / 2) ($gutter / 2) ($gutter / 2) 0;

  &:first-child {
    border-top: 1px solid $border-colour;
  }
}

.list-disc {
  list-style: disc outside;
  padding-left: 1em;
}

.list-spaced {
  * + & {
    margin-top: $default-spacing-unit * 2;
  }

  li + li {
    margin-top: $default-spacing-unit / 2;
  }
}

.list-links {
  &-item {
    margin: $default-spacing-unit * 2 0;
  }
}

.event-list {
  list-style: none;
  padding: 0;
}

.event-list__item {
  border: 2px solid $border-colour; // grey 3
  padding: .7894em; // .9375em; off 19
  margin-bottom: .7894em; // .9375em; 15px
  position: relative;
  margin-left: 1.5789em; // 1.875em  30px

  .govuk-summary-list__row:last-of-type {
    .govuk-summary-list__key,
    .govuk-summary-list__value {
      border-bottom: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 1.8947em; // 1.0625em;  36px
    left: -1.8421em; // -2.1875em;  -35px
    display: inline-block;
    border: 5px solid $border-colour; // grey 3
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 10;
    background: $white;
    box-sizing: content-box;
  }

  &::after {
    content: "";
    border-left: 3px solid $border-colour;
    height: 120%;
    display: inline-block;
    position: absolute;
    top: 1.8947em; //1.0625em;  36px
    left: -1.42105em;
  }

  &:last-of-type::after {
    border-color: $white;
  }
}

.event-list__item__heading {
  margin-top: 0;
  margin-bottom: .9375em;
  color: $grey-1; // #6f777b
}

.event-list__item__heading__recede {
  font-weight: 400;
}

@media (min-width: 40.0625em) {
  .event-list__item .govuk-summary-list__key {
    width: 45%;
  }
}

