@import "../../../../assets/stylesheets/settings";
@import "../../../../assets/stylesheets/tools";

.c-collection__header-row {
  @include clearfix;
  @include core-font(16);
  padding-bottom: ($default-spacing-unit / 2);

  &:first-child {
    border-bottom: 5px solid $text-colour;
  }

  &:not(first-child) {
    padding-top: ($default-spacing-unit / 2);
    border-bottom: 1px solid $grey-2;
  }
}

.c-collection__header-intro {
  @include core-font(24);
  display: inline-block;
  margin: 0;
}

.c-collection__header-actions {
  @include media(tablet) {
    float: right;

    * + * {
      margin-left: $default-spacing-unit;
    }
  }
}

.c-collection__result-count {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

// Export button

.c-collection__export-message {
  color: $black;
  line-height: $default-spacing-unit * 2;
}

// Filter summary

.c-collection__filter-summary {
  clear: both;
}

.c-collection__filter-tag {
  display: inline-block;
  position: relative;
  border-style: solid;
  border-color: $grey-6;
  background-color: #F3F2F1;
  border-width: 1px;
  border-radius: 5px;
  margin-right: $default-spacing-unit / 2;
  margin-top: $default-spacing-unit / 2;
  padding: 0 ($default-spacing-unit / 2);
  cursor: default;
}

.c-collection__filter-label {
  color: $grey-6;

  &::after {
    content: ":";
  }
}

.c-collection__filter-value {
  font-weight: 600;
}

.c-collection__filter-remove {
  position: absolute;
  top: $baseline-grid-unit;
  right: $baseline-grid-unit;
  text-decoration: none;
  float: right;
  font-size: 24px;
  line-height: .7;

  &:link,
  &:visited {
    color: $text-colour;
  }

  &:hover {
    color: $red;
  }
}

.c-collection__filter-remove-all {
  display: inline-block;
  line-height: 1.2;
  margin-top: $default-spacing-unit / 2;
  margin-bottom: $default-spacing-unit / 2;

  &:link,
  &:visited {
    color: $link-colour;
  }
}

.c-collection__pagination-summary {
  color: $grey-1;
  line-height: $default-spacing-unit * 2;
}

.c-collection__sort-form {
  margin-top: $default-spacing-unit / 2;
  display: flex;

  .c-form-group--inline {
    display: flex;
    align-items: center;
  }

  .c-form-group__label {
    margin-bottom: 0;
    margin-right: $default-spacing-unit / 2;
  }

  @include media(tablet) {
    margin-top: 0;
    float: right;
  }

  .govuk-button {
    margin-left: $default-spacing-unit / 2;
    margin-bottom: 2px;
  }
}

.c-collection__total-cost {
  padding-top: $default-spacing-unit / 2;

  .c-collection__total-cost__value{
    font-weight: 600;
  }
}
