@import "~govuk-frontend/helpers/all";
@import "~govuk-frontend/settings/all";

.c-collection__header-row {
  @include govuk-font($size: 16);

  padding: govuk-spacing(2) 0 govuk-spacing(2) 0;
  border-bottom: 1px solid govuk-colour("grey-2");

  &:first-child {
    border-bottom: govuk-spacing(1) solid $govuk-text-colour;
  }

  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
}

.c-collection__header-intro {
  @include govuk-font($size: 24);
}

.c-collection__result-count {
  @include govuk-font($size: 36, $weight: bold, $line-height: 1);
}

.c-collection__header-actions {
  margin-top: govuk-spacing(2);
  margin-left: auto;

  @include govuk-media-query($from: tablet) {
    margin-top: 0;
  }
}

.c-collection__summary {
  width: 100%;
}

.c-collection__filter-tag {
  margin: govuk-spacing(2) govuk-spacing(2) govuk-spacing(2) 0;
  display: inline-block;
}

.c-collection__filter-label {
  color: govuk-colour("grey-1");

  &::after {
    content: ":";
  }
}

.c-collection__filter-value {
  @include govuk-font($size: 16, $weight: bold);
}

.c-collection__filter-remove-all {
  margin-left: govuk-spacing(2);
  display: inline-block;

  &:link,
  &:visited {
    color: $govuk-link-colour;
  }
}

.c-collection__sort-form {
  margin-top: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    margin-top: 0;
  }

  .c-form-group--inline {
    display: flex;
    align-items: center;
  }

  .c-form-group__label-text {
    margin-right: govuk-spacing(1);
    margin-bottom: 0;
  }
}
