.govuk-details--dit {
  margin: 0;
  padding-top: 8px;
  border-top: 2px solid #d3d3d3;

  .govuk-details__summary:focus {
    outline: none;
    background: none;
  }

  .govuk-details__summary:before {
    top: -31px;
  }

  .govuk-details__summary {
    @include govuk-responsive-padding(8, "left");
    display: flex;
    flex-direction: column;
  }

  .govuk-details__summary-text {
    font-size: 18px;
    text-decoration: none;
  }

  .incomplete-fields {
    font-size: 16px;
    color: $dit-colour;
  }

  .govuk-details__text {
    margin-top: 20px;
    padding: 0;
    border-left: 0;

    select {
      width: 100%;
    }
  }

  @include govuk-media-query($from: tablet) {
    padding-top: 25px;
    padding-bottom: 20px;

    .govuk-details__summary-text {
      font-size: 24px;
    }

    .incomplete-fields {
      font-size: 18px;
    }

    .govuk-details__summary {
      flex-direction: row;
      justify-content: space-between;
    }

    .govuk-details__summary:before {
      top: 0;
    }

    .govuk-details__summary:before {
      border-width: 10px 0 10px 15px;
    }

    &[open] > .govuk-details__summary:before {
      border-width: 15px 10px 0 10px;
    }
  }
}
