{% from "companies/apps/investments/macros/navigation.njk" import subnavigation %}

{{ subnavigation(company, 'growth-capital-profile') }}

<h2 class="govuk-heading-m">Growth capital investor profile</h2>

{% if companyProfile  %}
  <pre>{{ companyProfile | dump(2) }}</pre>
{% else %}
  <button class="govuk-button">Create a profile</button>
{% endif %}
